[2019-03-15 15:10] yegor256 commented on #736
@rultor release, tag is `0.26.16`

[2019-03-15 15:11] rultor commented on #736
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18307-473323644)

[2019-03-15 15:26] rultor commented on #736
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18307-473323644) (spent 15min)

[code]

[2019-03-15 15:28] yegor256 commented on #736
@rultor release, tag is `0.26.16`

[2019-03-15 15:29] rultor commented on #736
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18307-473330830)

[2019-03-15 15:47] rultor commented on #736
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18307-473330830) (took me 15min)

[2019-03-15 16:21] #736 closed

[2019-03-15 16:22] yegor256 opened #737 "JournaledEntrance is mixing all wallets in one log"
We should split them up

[2019-03-15 16:37] 0crat commented on #736
Job `gh:zold-io/zold#736` is not assigned, can't get performer

[2019-03-15 16:38] 0crat commented on #736
This job is not in scope

[2019-03-15 16:43] strogiyotec commented on #733
Was fixed , https://github.com/zold-io/zold/commit/ef61254725682f25b2364bbadfd8df091d56bee3

[2019-03-15 16:43] #733 closed

[2019-03-15 17:00] 0crat commented on #733
Job `gh:zold-io/zold#733` is not assigned, can't get performer

[2019-03-15 17:00] 0crat commented on #733
This job is not in scope

[2019-03-15 17:49] yegor256 commented on #737
@rultor release, tag is `0.26.17`

[2019-03-15 17:50] rultor commented on #737
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18309-473382868)

[2019-03-15 17:56] rultor commented on #737
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18309-473382868) (spent 6min)

[code]

[2019-03-15 18:01] yegor256 commented on #737
@rultor release, tag is `0.26.17`

[2019-03-15 18:03] rultor commented on #737
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18309-473387252)

[2019-03-15 18:19] rultor commented on #737
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18309-473387252) (took me 14min)

[2019-03-18 10:32] #737 closed

[2019-03-18 10:49] 0crat commented on #737
Job `gh:zold-io/zold#737` is not assigned, can't get performer

[2019-03-18 10:49] 0crat commented on #737
This job is not in scope

[2019-03-18 12:08] yegor256 commented on #735
@rultor release, tag is `0.26.18`

[2019-03-18 12:10] rultor commented on #735
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18330-473883808)

[2019-03-18 12:27] rultor commented on #735
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18330-473883808) (took me 15min)

[2019-03-18 19:02] yegor256 opened #738 "--trusted"
Let's make it possible to trust a list of wallets, during merge, to avoid endless recursion.

[2019-03-18 19:40] yegor256 commented on #738
@rultor release, tag is `0.26.19`

[2019-03-18 19:41] rultor commented on #738
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18337-474070435)

[2019-03-18 19:55] rultor commented on #738
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18337-474070435) (spent 13min)

[code]

[2019-03-18 19:58] yegor256 commented on #738
@rultor release, tag is `0.26.19`

[2019-03-18 19:59] rultor commented on #738
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18337-474076973)

[2019-03-18 20:14] rultor commented on #738
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18337-474076973) (spent 14min)

[code]

[2019-03-18 20:15] yegor256 commented on #738
@rultor release, tag is `0.26.19`

[2019-03-18 20:17] rultor commented on #738
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18337-474082963)

[2019-03-18 20:35] rultor commented on #738
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18337-474082963) (took me 15min)

[2019-03-18 20:37] #738 closed

[2019-03-18 20:55] 0crat commented on #738
Job `gh:zold-io/zold#738` is not assigned, can't get performer

[2019-03-18 20:55] 0crat commented on #738
This job is not in scope

[2019-03-19 06:28] yegor256 opened #739 "--trusted-file"
Let's make it possible to list all trusted wallets in a temporary file

[2019-03-19 07:25] yegor256 commented on #739
@rultor release, tag is `0.29.20`

[2019-03-19 07:27] rultor commented on #739
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18343-474227304)

[2019-03-19 07:40] rultor commented on #739
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18343-474227304) (spent 13min)

[code]

[2019-03-19 08:18] yegor256 commented on #739
@rultor release, tag is `0.29.20`

[2019-03-19 08:19] rultor commented on #739
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18343-474240556)

[2019-03-19 08:36] rultor commented on #739
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18343-474240556) (took me 15min)

[2019-03-19 08:57] #739 closed

[2019-03-19 09:15] 0crat commented on #739
Job `gh:zold-io/zold#739` is not assigned, can't get performer

[2019-03-19 09:15] 0crat commented on #739
This job is not in scope

[2019-03-19 10:08] yegor256 opened #740 "trusted overflow"
We put too many of them there

[2019-03-19 12:01] yegor256 commented on #740
@rultor release, tag is `0.26.21`

[2019-03-19 12:03] rultor commented on #740
@yegor256 Invalid release tag `0.26.21` specified. There is already a release `0.29.20` newer than the given release in this repository.

[2019-03-19 12:03] rultor commented on #740
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-03-19 12:17] yegor256 commented on #740
@rultor release, tag is `0.29.21`

[2019-03-19 12:19] rultor commented on #740
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18344-474338075)

[2019-03-19 12:24] rultor commented on #740
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18344-474338075) (spent 5min)

[code]

[2019-03-19 12:25] yegor256 commented on #740
@rultor release, tag is `0.29.21`

[2019-03-19 12:28] rultor commented on #740
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18344-474340388)

[2019-03-19 12:33] rultor commented on #740
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18344-474340388) (spent 5min)

[code]

[2019-03-19 12:37] yegor256 commented on #740
@rultor release, tag is `0.29.21`

[2019-03-19 12:39] rultor commented on #740
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18344-474344069)

[2019-03-19 12:53] rultor commented on #740
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18344-474344069) (spent 14min)

[code]

[2019-03-19 12:54] yegor256 commented on #740
@rultor release, tag is `0.29.21`

[2019-03-19 12:56] rultor commented on #740
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18344-474350648)

[2019-03-19 13:16] rultor commented on #740
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18344-474350648) (took me 17min)

[2019-03-19 13:42] #740 closed

[2019-03-19 13:42] yegor256 opened #741 "larger trusted-max"
Let's increase it up to 256

[2019-03-19 14:01] 0crat commented on #740
Job `gh:zold-io/zold#740` is not assigned, can't get performer

[2019-03-19 14:02] 0crat commented on #740
This job is not in scope

[2019-03-19 14:10] yegor256 commented on #741
@rultor release, tag is `0.29.22`

[2019-03-19 14:12] rultor commented on #741
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18347-474387368)

[2019-03-19 14:34] rultor commented on #741
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18347-474387368) (took me 16min)

[2019-03-19 16:18] #741 closed

[2019-03-19 16:18] yegor256 opened #742 "--baseline"
Let's get it back, for non-masters only

[2019-03-19 16:41] 0crat commented on #741
This job is not in scope

[2019-03-19 16:41] 0crat commented on #741
Job `gh:zold-io/zold#741` is not assigned, can't get performer

[2019-03-19 17:19] yegor256 commented on #742
@rultor release, tag is `0.29.23`

[2019-03-19 17:21] rultor commented on #742
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18350-474477898)

[2019-03-19 17:41] rultor commented on #742
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18350-474477898) (took me 16min)

[2019-03-19 17:42] #742 closed

[2019-03-19 17:53] yegor256 opened #743 "--depth for the MERGE"
Let's make it configurable

[2019-03-19 18:02] 0crat commented on #742
Job `gh:zold-io/zold#742` is not assigned, can't get performer

[2019-03-19 18:02] 0crat commented on #742
This job is not in scope

[2019-03-20 07:23] yegor256 commented on #743
@rultor release, tag is `0.29.24`

[2019-03-20 07:24] rultor commented on #743
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18353-474716084)

[2019-03-20 07:42] rultor commented on #743
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18353-474716084) (took me 16min)

[2019-03-20 07:44] #743 closed

[2019-03-20 08:00] 0crat commented on #743
Job `gh:zold-io/zold#743` is not assigned, can't get performer

[2019-03-20 08:00] 0crat commented on #743
This job is not in scope

[2019-03-20 11:27] yegor256 opened #744 "--edge-baseline"
Let's make it possible to baseline without masters

[2019-03-20 11:49] yegor256 commented on #744
@rultor release, tag is `0.29.25`

[2019-03-20 11:50] rultor commented on #744
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18354-474796633)

[2019-03-20 12:08] rultor commented on #744
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18354-474796633) (took me 16min)

[2019-03-20 14:14] #744 closed

[2019-03-20 14:37] 0crat commented on #744
Job `gh:zold-io/zold#744` is not assigned, can't get performer

[2019-03-20 14:39] 0crat commented on #744
This job is not in scope

[2019-03-20 15:56] yegor256 commented on #735
@rultor release, tag is `0.29.26`

[2019-03-20 15:57] rultor commented on #735
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18330-474899198)

[2019-03-20 16:18] rultor commented on #735
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18330-474899198) (took me 16min)

[2019-03-20 17:10] yegor256 commented on #735
@rultor release, tag is `0.29.27`

[2019-03-20 17:12] rultor commented on #735
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18330-474936473)

[2019-03-20 17:38] rultor commented on #735
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18330-474936473) (took me 16min)

[2019-03-21 05:26] #735 closed

[2019-03-21 05:27] yegor256 opened #745 "when Referer is present the server returns 403"
When `Referer` HTTP header is present in the request, the response is always 403. Why? Let's create a unit test to reproduce the problem, and fix it.

[2019-03-21 05:34] golyalpha commented on #745
@yegor256 Note that it's not whenever `Referer` header is present, but whenever it is present *and* it doesn't match with whatever's in the `Host` header. At least that is my assumption, since I can't reliably check because of HTTPS throwing a certificate error when I change the `Host`, and the alternative to it checking with the `Host` header is having the proper domain in the code, or in the env

[2019-03-21 05:35] 0crat commented on #745
Job [#745](https://github.com/zold-io/zold/issues/745) is now in scope, role is `DEV`

[2019-03-21 05:39] yegor256 commented on #745
@0crat assign @golyalpha

[2019-03-21 05:40] yegor256 commented on #745
@golyalpha I would suggest to create a new test method in `test_front.rb` and try to reproduce the issue. Then find a way to fix it.

[2019-03-21 05:42] golyalpha commented on #745
@yegor256 Thanks for the suggestion, will do.

[2019-03-21 05:44] 0crat commented on #735
Job `gh:zold-io/zold#735` is not assigned, can't get performer

[2019-03-21 05:44] 0crat commented on #745
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-21 05:48] 0crat commented on #735
This job is not in scope

[2019-03-21 05:53] 0crat commented on #745
@yegor256 The job [#745](https://github.com/zold-io/zold/issues/745) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1a2ad5ba-4165-49ad-85e1-ac7c7f329c26); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-03-21 05:55] 0crat commented on #745
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-21 05:56] 0crat commented on #291
The job [#291](https://github.com/zold-io/zold/issues/291) assigned to @alhadhrami[/z](https://www.0crat.com/u/alhadhrami), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1de24e61-8e6e-465c-b4be-6690921391fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-21 06:02] 0crat commented on #325
The job [#325](https://github.com/zold-io/zold/issues/325) assigned to @alhadhrami[/z](https://www.0crat.com/u/alhadhrami), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/9a77c93e-49b5-4832-a30a-7e637965ee0e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-21 06:12] 0crat commented on #343
The job [#343](https://github.com/zold-io/zold/issues/343) assigned to @alhadhrami[/z](https://www.0crat.com/u/alhadhrami), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/a3f179b9-cafe-49e7-b603-6d79c4ed4412); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-21 06:16] 0crat commented on #363
The job [#363](https://github.com/zold-io/zold/issues/363) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/8626a870-50dd-431d-ac74-48d541f06799); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-03-21 06:23] 0crat commented on #366
The job [#366](https://github.com/zold-io/zold/issues/366) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1201cc31-4434-4847-b44d-ee801f1bc099); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-03-22 12:45] 0crat commented on #365
The job [#365](https://github.com/zold-io/zold/issues/365) assigned to @sereshqua[/z](https://www.0crat.com/u/sereshqua), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/d5d6a9ab-0fd1-4fac-9d2d-72319d5ce31e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-03-22 12:50] sereshqua commented on #365
@yegor256 could you please unassign `DEV` role from me? I am a `QA`. When I applied to the project, the TG bot had wrong format of apply command and I did not know that I would have to specify a role in there.

Please see:

<img width="422" alt="Screenshot 2019-03-22 at 14 49 59" src="https://user-images.githubusercontent.com/10097808/54823846-c3d5c580-4cb1-11e9-8d74-647b9d3140b6.png">

[2019-03-22 12:56] 0crat commented on #360
The job [#360](https://github.com/zold-io/zold/issues/360) assigned to @sereshqua[/z](https://www.0crat.com/u/sereshqua), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/f0f0ed43-f6cc-4b5d-b028-5bd42e41b396); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-03-22 12:56] 0crat commented on #360
Job `gh:zold-io/zold#360` already assigned to @sereshqua, can't assign to @sereshqua

[2019-03-22 12:56] 0crat commented on #413
The job [#413](https://github.com/zold-io/zold/issues/413) assigned to @sereshqua[/z](https://www.0crat.com/u/sereshqua), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/75e13a18-6895-4189-9280-8da96c6f2db4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-03-22 14:14] alhadhrami commented on #291
@0crat refuse

[2019-03-22 14:14] alhadhrami commented on #325
@0crat refuse

[2019-03-22 14:14] alhadhrami commented on #343
@0crat refuse

[2019-03-22 14:15] 0crat commented on #325
@alhadhrami The user @alhadhrami[/z](https://www.0crat.com/u/alhadhrami) resigned from [#325](https://github.com/zold-io/zold/issues/325), please stop working. Reason for job resignation: Order was cancelled

[2019-03-22 14:16] 0crat commented on #291
@alhadhrami The user @alhadhrami[/z](https://www.0crat.com/u/alhadhrami) resigned from [#291](https://github.com/zold-io/zold/issues/291), please stop working. Reason for job resignation: Order was cancelled

[2019-03-22 14:16] 0crat commented on #325
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @alhadhrami[/z](https://www.0crat.com/u/alhadhrami)

[2019-03-22 14:16] 0crat commented on #291
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @alhadhrami[/z](https://www.0crat.com/u/alhadhrami)

[2019-03-22 14:28] sereshqua commented on #360
@yegor256 could you please unassign `DEV` role from me? I am a `QA`. When I applied to the project, the TG bot had wrong format of apply command and I did not know that I would have to specify a role in there.

Please see:

<img width="422" alt="Screenshot 2019-03-22 at 14 49 59" src="https://user-images.githubusercontent.com/10097808/54823846-c3d5c580-4cb1-11e9-8d74-647b9d3140b6.png">

[2019-03-22 14:29] sereshqua commented on #413
@yegor256 could you please unassign `DEV` role from me? I am a `QA`. When I applied to the project, the TG bot had wrong format of apply command and I did not know that I would have to specify a role in there.

Please see:

<img width="422" alt="Screenshot 2019-03-22 at 14 49 59" src="https://user-images.githubusercontent.com/10097808/54823846-c3d5c580-4cb1-11e9-8d74-647b9d3140b6.png">

[2019-03-23 11:26] strogiyotec commented on #713
I have tried this option
[code]
This is the content of farm file
[code]
5c960e27=2019-03-23T10:44:55Z(time)
1000=4097(port)
Prefix is
[code]
Suffix is **QV322W**
**SHA-256(prefix sufix) = c16e57b843dd8bc32a7a66e1189b2718155a9b61f4a8cfec355eeea658f02d00**

Now it work

[2019-03-23 11:26] #713 closed

[2019-03-23 11:45] 0crat commented on #713
Job `gh:zold-io/zold#713` is not assigned, can't get performer

[2019-03-23 11:46] 0crat commented on #713
This job is not in scope

[2019-03-24 14:09] lastk commented on #248
@0crat resign

[2019-03-24 14:10] 0crat commented on #248
@lastk The user @lastk[/z](https://www.0crat.com/u/lastk) resigned from [#248](https://github.com/zold-io/zold/issues/248), please stop working. Reason for job resignation: Order was cancelled

[2019-03-24 14:10] 0crat commented on #248
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lastk[/z](https://www.0crat.com/u/lastk)

[2019-03-25 15:28] yegor256 commented on #413
@0crat refuse

[2019-03-25 15:28] yegor256 commented on #360
@0crat refuse

[2019-03-25 15:28] yegor256 commented on #365
@0crat refuse

[2019-03-25 15:29] 0crat commented on #413
@yegor256 The user @sereshqua[/z](https://www.0crat.com/u/sereshqua) resigned from [#413](https://github.com/zold-io/zold/issues/413), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 15:29] 0crat commented on #360
@yegor256 The user @sereshqua[/z](https://www.0crat.com/u/sereshqua) resigned from [#360](https://github.com/zold-io/zold/issues/360), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 15:55] yegor256 commented on #688
@AlexisGarra решили не делать этого, только время потратим.

[2019-03-25 15:55] #688 closed

[2019-03-25 15:56] yegor256 commented on #676
@denis-konovalyenko  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-25 15:56] #676 closed

[2019-03-25 15:57] #522 closed

[2019-03-25 15:58] yegor256 commented on #595
@dapi we don't want to completely reject Windows. We need to find a way to build Zold for Windows. That's why Appveyor will stay.

[2019-03-25 15:58] #595 closed

[2019-03-25 16:00] yegor256 commented on #653
don't see a reason for this anymore

[2019-03-25 16:00] #653 closed

[2019-03-25 16:02] yegor256 commented on #429
@emilianodellacasa I don't see any performance issues at the moment. If we see them in the future, we should move to Java natively, not Ruby+Java, I believe. Or maybe some other language, like Go.

[2019-03-25 16:02] #429 closed

[2019-03-25 16:04] yegor256 commented on #354
@0crat refuse

[2019-03-25 16:05] yegor256 commented on #354
@botanicus I don't think we should do that. The `iterate` method doesn't just list remote nodes, but executes a block in multiple threads, which is not what a Ruby default `each` is supposed to do, right? Let's stay with a non-conventional `iterate`. I made it this way intentionally.

[2019-03-25 16:05] #354 closed

[2019-03-25 16:06] yegor256 commented on #248
@0crat refuse

[2019-03-25 16:06] yegor256 commented on #248
@lastk this is done already

[2019-03-25 16:06] #248 closed

[2019-03-25 16:06] yegor256 commented on #256
@0crat refuse

[2019-03-25 16:06] yegor256 commented on #256
@theterminalguy this is done already

[2019-03-25 16:06] yegor256 commented on #275
@0crat refuse

[2019-03-25 16:06] yegor256 commented on #275
@vl3 this is done already

[2019-03-25 16:06] #275 closed

[2019-03-25 16:07] yegor256 commented on #343
@0crat refuse

[2019-03-25 16:07] yegor256 commented on #343
@alhadhrami this is not required anymore

[2019-03-25 16:07] #343 closed

[2019-03-25 16:07] yegor256 commented on #138
@0crat refuse

[2019-03-25 16:08] yegor256 commented on #138
@oltdaniel this is not possible anymore, thanks to the `--legacy` option

[2019-03-25 16:08] #138 closed

[2019-03-25 16:09] yegor256 commented on #144
@vizotov this ticket belongs to this repo now: https://github.com/zold-io/zold-score Please, re-submit it there.

[2019-03-25 16:09] #144 closed

[2019-03-25 16:09] yegor256 commented on #158
@0crat refuse

[2019-03-25 16:10] yegor256 commented on #158
@vl3 this is done already

[2019-03-25 16:10] #158 closed

[2019-03-25 16:10] yegor256 commented on #100
@biboran it's done, check the README file

[2019-03-25 16:10] #100 closed

[2019-03-25 16:14] yegor256 commented on #52
@0crat refuse

[2019-03-25 16:14] yegor256 commented on #52
@theterminalguy it's fixed already

[2019-03-25 16:14] #52 closed

[2019-03-25 16:15] yegor256 commented on #325
@liligga it's fixed already

[2019-03-25 16:15] #325 closed

[2019-03-25 16:16] #256 closed

[2019-03-25 16:16] #84 closed

[2019-03-25 16:19] yegor256 commented on #684
@strogiyotec fixed in https://github.com/zold-io/papers/commit/21a09ae49fefcd52473cb7bf9c8342faf37c66e0

[2019-03-25 16:19] #684 closed

[2019-03-25 16:22] yegor256 commented on #470
@liligga this task is indeed too big, we can't implement it. We should go class by class, when information is indeed required. When you see a specific place where information is missing, create a ticket.

[2019-03-25 16:22] #470 closed

[2019-03-25 16:29] 0crat commented on #354
@yegor256 The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#354](https://github.com/zold-io/zold/issues/354), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 16:35] 0crat commented on #248
@yegor256 Job `gh:zold-io/zold#248` is not assigned, can't get performer

[2019-03-25 16:35] 0crat commented on #688
Job `gh:zold-io/zold#688` is not assigned, can't get performer

[2019-03-25 16:39] 0crat commented on #522
Job `gh:zold-io/zold#522` is not assigned, can't get performer

[2019-03-25 16:39] 0crat commented on #595
Job `gh:zold-io/zold#595` is not assigned, can't get performer

[2019-03-25 16:39] 0crat commented on #275
@yegor256 The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#275](https://github.com/zold-io/zold/issues/275), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 16:40] 0crat commented on #256
@yegor256 The user @theterminalguy[/z](https://www.0crat.com/u/theterminalguy) resigned from [#256](https://github.com/zold-io/zold/issues/256), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 16:40] 0crat commented on #653
Job `gh:zold-io/zold#653` is not assigned, can't get performer

[2019-03-25 16:40] 0crat commented on #343
@alhadhrami The user @alhadhrami[/z](https://www.0crat.com/u/alhadhrami) resigned from [#343](https://github.com/zold-io/zold/issues/343), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 16:42] 0crat commented on #343
@yegor256 Job `gh:zold-io/zold#343` is not assigned, can't get performer

[2019-03-25 16:42] 0crat commented on #429
Job `gh:zold-io/zold#429` is not assigned, can't get performer

[2019-03-25 16:42] 0crat commented on #138
@yegor256 The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#138](https://github.com/zold-io/zold/issues/138), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 16:43] 0crat commented on #248
Job `gh:zold-io/zold#248` is not assigned, can't get performer

[2019-03-25 16:43] 0crat commented on #158
@yegor256 The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#158](https://github.com/zold-io/zold/issues/158), please stop working. Reason for job resignation: Order was cancelled

[2019-03-25 16:43] 0crat commented on #354
Job `gh:zold-io/zold#354` is not assigned, can't get performer

[2019-03-25 16:43] 0crat commented on #688
This job is not in scope

[2019-03-25 16:43] 0crat commented on #595
This job is not in scope

[2019-03-25 16:43] 0crat commented on #100
Job `gh:zold-io/zold#100` is not assigned, can't get performer

[2019-03-25 16:43] 0crat commented on #275
Job `gh:zold-io/zold#275` is not assigned, can't get performer

[2019-03-25 16:43] 0crat commented on #676
This job is not in scope

[2019-03-25 16:44] 0crat commented on #138
Job `gh:zold-io/zold#138` is not assigned, can't get performer

[2019-03-25 16:44] 0crat commented on #158
Job `gh:zold-io/zold#158` is not assigned, can't get performer

[2019-03-25 16:44] 0crat commented on #144
Job `gh:zold-io/zold#144` is not assigned, can't get performer

[2019-03-25 16:44] 0crat commented on #522
The job [#522](https://github.com/zold-io/zold/issues/522) is now out of scope

[2019-03-25 16:44] 0crat commented on #52
Job `gh:zold-io/zold#52` is not assigned, can't get performer

[2019-03-25 16:44] 0crat commented on #653
The job [#653](https://github.com/zold-io/zold/issues/653) is now out of scope

[2019-03-25 16:44] 0crat commented on #325
Job `gh:zold-io/zold#325` is not assigned, can't get performer

[2019-03-25 16:44] 0crat commented on #429
The job [#429](https://github.com/zold-io/zold/issues/429) is now out of scope

[2019-03-25 16:44] 0crat commented on #256
Job `gh:zold-io/zold#256` is not assigned, can't get performer

[2019-03-25 16:46] 0crat commented on #354
The job [#354](https://github.com/zold-io/zold/issues/354) is now out of scope

[2019-03-25 16:46] 0crat commented on #248
The job [#248](https://github.com/zold-io/zold/issues/248) is now out of scope

[2019-03-25 16:47] 0crat commented on #343
The job [#343](https://github.com/zold-io/zold/issues/343) is now out of scope

[2019-03-25 16:47] 0crat commented on #684
Job `gh:zold-io/zold#684` is not assigned, can't get performer

[2019-03-25 16:47] 0crat commented on #84
Job `gh:zold-io/zold#84` is not assigned, can't get performer

[2019-03-25 16:47] 0crat commented on #275
The job [#275](https://github.com/zold-io/zold/issues/275) is now out of scope

[2019-03-25 16:47] 0crat commented on #158
The job [#158](https://github.com/zold-io/zold/issues/158) is now out of scope

[2019-03-25 16:47] 0crat commented on #138
The job [#138](https://github.com/zold-io/zold/issues/138) is now out of scope

[2019-03-25 16:47] 0crat commented on #100
This job is not in scope

[2019-03-25 16:47] 0crat commented on #470
Job `gh:zold-io/zold#470` is not assigned, can't get performer

[2019-03-25 16:47] 0crat commented on #144
This job is not in scope

[2019-03-25 16:47] 0crat commented on #325
The job [#325](https://github.com/zold-io/zold/issues/325) is now out of scope

[2019-03-25 16:47] 0crat commented on #256
The job [#256](https://github.com/zold-io/zold/issues/256) is now out of scope

[2019-03-25 16:47] 0crat commented on #84
This job is not in scope

[2019-03-25 16:47] 0crat commented on #52
The job [#52](https://github.com/zold-io/zold/issues/52) is now out of scope

[2019-03-25 16:47] 0crat commented on #343
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @alhadhrami[/z](https://www.0crat.com/u/alhadhrami)

[2019-03-25 16:48] 0crat commented on #684
This job is not in scope

[2019-03-25 16:48] 0crat commented on #470
The job [#470](https://github.com/zold-io/zold/issues/470) is now out of scope

[2019-03-26 05:09] sereshqua commented on #365
@yegor256 this job is still in my agenda for some reason

[2019-03-26 05:10] 0crat commented on #365
@yegor256 The user @sereshqua[/z](https://www.0crat.com/u/sereshqua) resigned from [#365](https://github.com/zold-io/zold/issues/365), please stop working. Reason for job resignation: Order was cancelled

[2019-03-26 06:37] 0crat commented on #745
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-26 06:38] 0crat commented on #366
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-26 06:38] 0crat commented on #363
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-26 10:09] golyalpha commented on #366
@yegor256 Do I understand correctly, from the referrencing issues, that this task can now be worked on?

[2019-03-31 11:01] golyalpha commented on #366
@0crat refuse

[2019-03-31 11:05] 0crat commented on #366
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#366](https://github.com/zold-io/zold/issues/366), please stop working. Reason for job resignation: Order was cancelled

[2019-03-31 11:08] 0crat commented on #366
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-03-31 18:25] golyalpha commented on #363
@0crat waiting on merge of #747

[2019-03-31 18:26] 0crat commented on #363
@golyalpha The impediment for [#363](https://github.com/zold-io/zold/issues/363) was registered successfully by @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-03-31 18:37] golyalpha commented on #745
@yegor256 I can't seem to find the endpoint for /rate.json
I know this is likely an issue relating to all endpoints, but, how would you like me to proceed?

[2019-03-31 18:37] golyalpha commented on #745
@0crat waiting on response

[2019-03-31 18:42] 0crat commented on #745
@golyalpha The impediment for [#745](https://github.com/zold-io/zold/issues/745) was registered successfully by @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-03-31 20:34] golyalpha opened #748 "Change default node port"
The default port used by the `zold node` command is an IANA registered port with an assigned protocol, as seen [here](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=4096).

We should change the default port to something else, to prevent conflicts, especially since this port already has an official use.

We can, in fact, use one of the ports from

[2019-03-31 20:34] 0crat commented on #748
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-02 18:16] paulodamaso opened #749 "Zold is telling that will pay PayPal fees, but don't"
Zold web wallet interface is telling us that will pay the fees on my retrieval:

But looking at paypal ledger:
[code]

Looks like I'm being charged for the fees

[2019-04-02 18:16] 0crat commented on #749
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-02 18:16] 0crat commented on #749
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-02 18:21] ebercamargo commented on #749
@paulodamaso this happened me too, I thought it would be normal, but it's not ...

[2019-04-03 03:36] aivinog1 opened #750 "Apply recommended community standards."
As described in this page: https://github.com/zold-io/zold/community the project now is not fully compatible with open source standards. May be worth to apply those standards that developers can integrate in the project more quickly?

[2019-04-03 03:36] 0crat commented on #750
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-03 03:36] 0crat commented on #750
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-09 17:26] lastk opened #751 "Change ruby version at CI ( appveyor )"
At this moment, CI is unable to run tests because `Gemfile` and `ruby-version` both use ruby `2.6` as you can see in this log:

[code]

[2019-04-09 17:26] 0crat commented on #751
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-11 03:50] yegor256 commented on #749
@paulodamaso please submit it here: https://github.com/zold-io/wts.zold.io/issues

[2019-04-11 03:50] #749 closed

[2019-04-11 04:11] 0crat commented on #749
Job `gh:zold-io/zold#749` is not assigned, can't get performer

[2019-04-11 04:12] 0crat commented on #749
This job is not in scope

[2019-04-13 08:50] strogiyotec opened #752 "How to add all available remote node"
I have a question about ``` remote ``` command , as I see from source code of remote.rb the only way to add new remote node is to manually provide host and port of new remote . Does zold provide some way to add all available remote nodes that I miss in my remote file ?

[2019-04-13 08:50] 0crat commented on #752
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-13 08:50] 0crat commented on #752
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-13 08:55] strogiyotec commented on #752
I have seen an answer , you need to use zold remote update

[2019-04-13 08:55] #752 closed

[2019-04-13 09:12] 0crat commented on #752
Job `gh:zold-io/zold#752` is not assigned, can't get performer

[2019-04-13 09:12] 0crat commented on #752
This job is not in scope

[2019-04-18 17:42] yegor256 commented on #751
@lastk just change the version in `appveyor.yml` config file.

[2019-04-18 19:08] lastk commented on #751
I did it before open the ticket, but didnt work. maybe they dont have this version available in there yet? I tried the same pattern If i remember correctly using `26` instead of `25`

[2019-04-26 09:05] emilianodellacasa opened #754 "Recursive Error 65280 when alias param contains wrong character"
Wehn starting a zold node I used a character that wasn't permitted.

The log file contains a legit error message, however zold doesn't terminate correctly: instead, it keeps on failing with following error message:

[code]

In that case, I think the process should just stop

[2019-04-26 09:05] 0crat commented on #754
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-26 09:05] 0crat commented on #754
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-05 06:59] yegor256 commented on #750
@aivinog1 done, thanks for bringing this up

[2019-05-05 06:59] #750 closed

[2019-05-05 07:16] 0crat commented on #750
Job `gh:zold-io/zold#750` is not assigned, can't get performer

[2019-05-05 07:17] 0crat commented on #750
This job is not in scope

[2019-05-05 17:54] 0crat commented on #722
The job [#722](https://github.com/zold-io/zold/issues/722) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/940ac08c-03d3-4011-8703-ff9863f27383); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-05-05 17:54] 0crat commented on #693
Job [#693](https://github.com/zold-io/zold/issues/693) is now in scope, role is `DEV`

[2019-05-05 17:54] 0crat commented on #722
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-05 17:56] 0crat commented on #722
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-05-05 17:56] 0crat commented on #693
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @strogiyotec[/z](https://www.0crat.com/u/strogiyotec)

[2019-05-05 17:58] yegor256 commented on #651
@0crat assign @v-kolesnikov

[2019-05-05 17:59] yegor256 commented on #610
@0crat assign @v-kolesnikov

[2019-05-05 18:02] 0crat commented on #610
@yegor256 The job [#610](https://github.com/zold-io/zold/issues/610) assigned to @v-kolesnikov[/z](https://www.0crat.com/u/v-kolesnikov), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/f508b4a5-196b-4b73-9d35-100187d79056); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-05 18:02] 0crat commented on #651
@yegor256 The job [#651](https://github.com/zold-io/zold/issues/651) assigned to @v-kolesnikov[/z](https://www.0crat.com/u/v-kolesnikov), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/84d76fbc-856d-46e0-8ea5-6d7477200958); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-05 18:02] 0crat commented on #651
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-05 18:02] 0crat commented on #610
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-08 01:18] v-kolesnikov commented on #610
@yegor256 So, I took a look at this issue and related code. Well... I see some key points in which the changes may be made. But I would ask you before:

 - Why don't just log all the things to `STDOUT` by default and do nothing anymore?
  In case if node owner wants to keep node logs it can be achieved by platform's capabilities on which the node is running. It is a simple, lightweight, UNIX-like

[2019-05-09 12:20] denis-konovalyenko commented on #610
@yegor256 , @v-kolesnikov , I think it would be nice to have the logging to the `STDOUT`.

However, if this is not the way to go, then it would probably be all right to relax the `--nohup-log-truncate` option default limit of `1024 * 1024` a bit (how about `1024 * 1024 * 64`?) and let users configure what they want (data volumes or logging services).

[2019-05-09 20:11] yegor256 commented on #610
@denis-konovalyenko it's better to ask questions in separate tickets. If you have suggestions for design improvements, submit new tickets.

[2019-05-09 20:21] denis-konovalyenko commented on #610
@yegor256 , do I understand you correctly that I should ignore any further questions/discussions here despite the fact that the issue was created by me?

[2019-05-10 05:31] yegor256 commented on #610
@denis-konovalyenko you should only focus on the discussion relevant to your question. Actually, you should not discuss, but _protect_ your idea. Check this article: https://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html We are not here to have a nice chat. We are here to decide who is right, you or @v-kolesnikov. Your job is to prove that you are right. Everything else, which is not

[2019-05-10 08:48] denis-konovalyenko commented on #610
@yegor256 , thank you for your reply and the reference for reading!

Actually, I do not care who is right or wrong, as the only meaningful thing for me is the user experience we are trying to improve or not here. And if someone else offers a better alternative, why should I be so stubborn and prevent that alternative from going live?

Once again, I do not quite get what was irrelevant in my messag

[2019-05-11 19:06] vzurauskas opened #756 "X axis in rate graph (and others?) is wrong"
BTC/ZLD exchange rate has been raised to 0.00028120 on May 10, however the [rate graph](https://wts.zold.io/rate) shows that it reached this number on May 1. Yesterday it showed a different day (don't remember, but I think it was April 30). Looks like the graph is shifted by ~10 days to the left.

Attaching a screenshot since the graph keeps changing every day.

![image](https://user-images.github

[2019-05-11 19:06] 0crat commented on #756
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-11 19:06] 0crat commented on #756
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-14 12:10] yegor256 commented on #754
@emilianodellacasa well, this is by design. If you start it with `--nohup`, it restarts itself on __any__ failure.

[2019-05-14 12:10] #754 closed

[2019-05-14 12:17] yegor256 opened #757 "journal size in the front page"
Let's show it.

[2019-05-14 12:27] 0crat commented on #754
Job `gh:zold-io/zold#754` is not assigned, can't get performer

[2019-05-14 12:28] 0crat commented on #754
This job is not in scope

[2019-05-14 14:25] #757 closed

[2019-05-14 14:25] yegor256 opened #758 "masters don't dominate enough in conflicts in Patch"
Let's reproduce and fix.

[2019-05-14 14:44] 0crat commented on #757
Job `gh:zold-io/zold#757` is not assigned, can't get performer

[2019-05-14 14:45] 0crat commented on #757
This job is not in scope

[2019-05-14 15:19] yegor256 commented on #758
@rultor release, tag is `0.29.28`

[2019-05-14 15:21] rultor commented on #758
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18891-492283573)

[2019-05-14 15:41] rultor commented on #758
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18891-492283573) (took me 15min)

[2019-05-14 15:50] #758 closed

[2019-05-14 16:07] 0crat commented on #758
Job `gh:zold-io/zold#758` is not assigned, can't get performer

[2019-05-14 16:07] 0crat commented on #758
This job is not in scope

[2019-05-15 10:46] v-kolesnikov commented on #610
I got a point of @yegor256 and will defense "logging to STDOUT" in separated issue.

@denis-konovalyenko What kind of documentation you mean? Option is documented in the default style (as the code around): https://github.com/zold-io/zold/pull/755/files#diff-68c77400c4ecc5cde2ae1bb977f754d1R120

Do you have any question about my current solution? If not, let's merge PR and close the issue please.

[2019-05-15 13:46] denis-konovalyenko commented on #610
@v-kolesnikov , I meant to make a note on that somewhere in the scope of the [How to start a node](https://github.com/zold-io/zold#how-to-start-a-node) README section.

As for your solution, I think I am not a reviewer of your pull request (By the way, have you forgotten to mention this issue in your pull request? If you make so, your PR will be visible here then).

[2019-05-18 09:54] theautobot opened #759 "let's create a nice webpage for Zold node instead of 0.0.0.0:4096's json"
let's create a nice looking webpage for each Zold node.
as a result 0.0.0.0:4096 should produce a webpage instead of json.

[2019-05-18 09:54] 0crat commented on #759
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-18 09:54] 0crat commented on #759
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-18 22:48] amorenew opened #760 "Internal server error while making a payment between GitHub account & Mobile number"
**Describe the bug**
I want to pay from my GitHub wallet to the mobile wallet but I got an error

**To Reproduce**
Steps to reproduce the behavior:
1-Login by GitHub account to the web wallet
2-Click on pay button
3-Enter the key gap, mobile number, amount and details.
4-Click pay then you will see a white page with error: "Internal server error"

**Expected behavior**
I expect the payment to be s

[2019-05-18 22:48] 0crat commented on #760
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-18 22:48] 0crat commented on #760
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-19 07:09] Protagores opened #761 "Add fiat cash out method alternative to PayPal (maybe TransferWise?)"
As stated already in zerocracy/farm#1320, PayPal is not available in certain countries, and it also contains hidden currency conversion fees which can become quite large for those who don’t live in the United States and, consequently, don’t have USD as their state currency. A more optimal way of cashing out to fiat for such users is desirable.

One of the possible ways is by using TransferWise bor

[2019-05-19 07:10] 0crat commented on #761
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-19 07:10] 0crat commented on #761
@protagores[/z](https://www.0crat.com/u/protagores) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-20 16:13] yegor256 commented on #748
@golyalpha good point, thanks!

[2019-05-20 16:14] yegor256 opened #762 "The node 0.0.0.0:4096 is not responding"
[code]

[2019-05-20 16:22] 0crat commented on #748
Job [#748](https://github.com/zold-io/zold/issues/748) is now in scope, role is `DEV`

[2019-05-20 16:37] 0crat commented on #656
Job [#656](https://github.com/zold-io/zold/issues/656) is now in scope, role is `DEV`

[2019-05-20 16:37] 0crat commented on #709
Job [#709](https://github.com/zold-io/zold/issues/709) is now in scope, role is `DEV`

[2019-05-20 16:37] 0crat commented on #748
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.46.11](https://github.com/zerocracy/farm): CID: [15fbc3b4-1a04-4fde-b973-61399a015570](https://www.0crat.com/footprint/CAZPZR9FS/15fbc3b4-1a04-4fde-b973-61399a015570), Type: "Job was added to WBS"

[2019-05-20 16:48] 0crat commented on #709
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.46.11](https://github.com/zerocracy/farm): CID: [5107cba1-e7be-45a9-9752-38361789b44e](https://www.0crat.com/footprint/CAZPZR9FS/5107cba1-e7be-45a9-9752-38361789b44e), Type: "Job was added to WBS"

[2019-05-20 16:48] 0crat commented on #709
Thanks for your contribution, @shekelme[/z](https://www.0crat.com/u/shekelme)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-05-20 16:55] 0crat commented on #762
The job [#762](https://github.com/zold-io/zold/issues/762) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1ab8f104-47e6-421f-9912-b2c85a1cc2af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-05-20 16:55] 0crat commented on #748
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-05-20 16:59] 0crat commented on #762
Job `gh:zold-io/zold#762` already assigned to @yegor256, can't assign to @yegor256

[2019-05-20 17:00] 0crat commented on #762
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-20 17:01] 0crat commented on #656
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2019-05-20 17:04] 0crat commented on #762
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-20 17:04] 0crat commented on #762
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-20 17:45] yegor256 commented on #762
@rultor release, tag is `0.29.29`

[2019-05-20 17:46] rultor commented on #762
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18950-494085168)

[2019-05-20 18:06] rultor commented on #762
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18950-494085168) (took me 16min)

[2019-05-20 18:06] #762 closed

[2019-05-20 18:25] 0crat commented on #762
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-20 18:26] 0crat commented on #762
The job [#762](https://github.com/zold-io/zold/issues/762) is now out of scope

[2019-05-20 18:29] 0crat commented on #762
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-21 15:25] yegor256 opened #763 "Masqueraded host 0.0.0.0"
[code]

[2019-05-21 15:26] 0crat commented on #763
The job [#763](https://github.com/zold-io/zold/issues/763) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/c4007784-89f0-4949-971f-51a925980235); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-05-21 15:26] 0crat commented on #763
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-21 15:26] 0crat commented on #763
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-21 15:26] 0crat commented on #763
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-21 15:50] yegor256 commented on #763
@rultor release, tag is `0.29.30`

[2019-05-21 15:53] rultor commented on #763
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18965-494449250)

[2019-05-21 16:09] rultor commented on #763
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18965-494449250) (spent 15min)

[code]

[2019-05-21 16:14] yegor256 commented on #763
@rultor release, tag is `0.29.30`

[2019-05-21 16:16] rultor commented on #763
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18965-494458261)

[2019-05-21 16:48] rultor commented on #763
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18965-494458261) (took me 15min)

[2019-05-21 16:55] #763 closed

[2019-05-21 17:14] 0crat commented on #763
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-21 17:15] 0crat commented on #763
The job [#763](https://github.com/zold-io/zold/issues/763) is now out of scope

[2019-05-21 17:15] 0crat commented on #763
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-28 12:28] yegor256 opened #764 "--legacy-hours"
Let's make it possible to configure legacy interval.

[2019-05-28 12:28] 0crat commented on #764
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.3](https://github.com/zerocracy/farm): Issue: zold-io/zold#764, Action: `opened`

[2019-05-28 13:33] paulodamaso opened #765 "Sold zolds, did not received cash"
I've sold my zolds but they weren't added to my paypal account (screeshots taken on 28/05/2019 10:31 UTC -3):

![image](https://user-images.githubusercontent.com/33915433/58481867-a69af880-8133-11e9-8d04-e73aae97d9f5.png)

![image](https://user-images.githubusercontent.com/33915433/58481896-b4e91480-8133-11e9-9f3d-e86be67e6e7f.png)

[2019-05-28 13:34] 0crat commented on #765
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-28 13:34] 0crat commented on #765
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 13:43] yegor256 commented on #765
@paulodamaso can you please post here the Job ID you see in the description of the transaction

[2019-06-16 22:11] v-kolesnikov commented on #651
@yegor256 I sent #766 as a solution for this issue.

[2019-06-24 23:04] shuhikari opened #767 "Cannot access zold wallet - Internal error at 0.35.31"
**Describe the bug**
Cannot access my zold wallet through [wts.zold.io](http://wts.zold.io)

**To Reproduce**
Steps to reproduce the behavior:
1. Try to open [wts.zold.io](http://wts.zold.io)
2. Then, click on login
3. Login with github
4. See error

**Expected behavior**
The website should open normally and show the wallet's info

**Desktop (please complete the following information):**
 - OS: Ma

[2019-06-24 23:04] 0crat commented on #767
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-24 23:04] 0crat commented on #767
@shuhikari[/z](https://www.0crat.com/u/shuhikari) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-25 05:33] aivinog1 opened #768 "Let's think about monitoring system."
**Is your feature request related to a problem? Please describe.**
For example, this issue: #767 has not fixed after many hours. And this can be found much earlier (before actual users faces this problem).

**Describe the solution you'd like**
I was thinking about some monitoring system, that can see that connection is opened (for example do a simple `select`). If the DB connection is closed(timeo

[2019-06-25 05:33] 0crat commented on #768
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-25 05:33] 0crat commented on #768
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-03 16:51] yegor256 opened #769 "let's migrate to Loog logging"
Let's remove `Zold::Log` class and use `Loog` instead, from [this gem](https://github.com/yegor256/loog).

[2019-07-03 17:12] 0crat commented on #769
Job [#769](https://github.com/zold-io/zold/issues/769) is now in scope, role is `DEV`

[2019-07-03 17:37] 0crat commented on #769
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-04 12:09] yegor256 commented on #768
@aivinog1 we already have a Telegram chat for that: https://t.me/zold_wts

[2019-07-04 12:09] #768 closed

[2019-07-04 15:08] 0crat commented on #768
Job `gh:zold-io/zold#768` is not assigned, can't get performer

[2019-07-04 15:17] 0crat commented on #768
This job is not in scope

[2019-07-07 09:42] yegor256 opened #770 "filter out 127.0.0.1"
`127.0.0.1` is in the list of remotes

[2019-07-07 09:42] yegor256 opened #771 "filter out 127.0.0.1"
`127.0.0.1` is in the list of remotes

[2019-07-07 09:42] #770 closed

[2019-07-07 10:51] 0crat commented on #771
Job [#771](https://github.com/zold-io/zold/issues/771) is now in scope, role is `DEV`

[2019-07-07 10:52] 0crat commented on #770
Job `gh:zold-io/zold#770` is not assigned, can't get performer

[2019-07-07 10:54] 0crat commented on #770
This job is not in scope

[2019-07-07 10:58] 0crat commented on #771
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-10 08:17] #344 closed

[2019-07-10 09:32] 0crat commented on #344
Job `gh:zold-io/zold#344` is not assigned, can't get performer

[2019-07-10 09:34] 0crat commented on #344
This job is not in scope

[2019-07-11 03:27] aivinog1 commented on #751
@yegor256 and @lastk according to this: https://www.appveyor.com/docs/windows-images-software/#ruby  they don't have a 2.6.0 Ruby in their VMs. So, maybe worth to close this ticket and create another one to update a Ruby version in the project? Or needs to disable Appveyor CI and create a task to enable it's later.

[2019-07-14 19:28] yegor256 commented on #751
@aivinog1 @lastk this is a bummer. Let's just disable Appveyor.

[2019-07-14 19:28] #751 closed

[2019-07-14 19:47] 0crat commented on #751
Job `gh:zold-io/zold#751` is not assigned, can't get performer

[2019-07-14 19:48] 0crat commented on #751
This job is not in scope

[2019-07-20 07:21] aivinog1 opened #772 "A zold sign-up bonus is failed."
**Describe the bug**
I see that I don't have a sign-up bonus. See that message in telegram's https://t.me/zold_wts channel (https://t.me/zold_wts/5581):

I think in this situation Zold must have a debt to me and keep trying to return this debt.

**To Reproduce**
Steps to reproduce the behavior:
1. Check that the wallet, where new user's sing up is hosted, has a less then 0.26ZLD (this is the amoun

[2019-07-20 07:21] 0crat commented on #772
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-29 11:59] yegor256 opened #773 "Homebrew tap"
Would be great to have a tap for Homebrew, to enable this on Mac:

[code]

And then

[code]

[2019-08-25 16:43] scristalli opened #774 "Bonus not distributed every hour"
According to https://blog.zold.io/2018/08/14/hosting-bonuses.html:

However, in the Telegram channel only 2 bonuses have been notified today.

[2019-08-25 16:43] 0crat commented on #774
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-25 16:43] 0crat commented on #774
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-04 16:50] scristalli commented on #774
@yegor256, is this in scope? Is it an issue of the bot not notifying every distribution, or are the distributions not happening?

[2019-09-30 15:20] yegor256 commented on #506
@rultor release, tag is `0.29.31`

[2019-09-30 15:22] rultor commented on #506
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20466-536612218)

[2019-09-30 15:40] rultor commented on #506
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20466-536612218) (took me 16min)

[2019-09-30 15:40] #506 closed

[2019-09-30 15:59] 0crat commented on #506
Job `gh:zold-io/zold#506` is not assigned, can't get performer

[2019-09-30 15:59] 0crat commented on #506
The job [#506](https://github.com/zold-io/zold/issues/506) is now out of scope

[2019-10-01 07:22] yegor256 opened #775 "let's show public IP of each node"
Let's show in the front JSON.

[2019-10-01 08:09] yegor256 opened #776 "let's show checksum in the JSON front"
let's do it

[2019-10-01 08:11] yegor256 commented on #776
@rultor release, tag is `0.29.32`

[2019-10-01 08:12] rultor commented on #776
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20474-536922094)

[2019-10-01 08:26] rultor commented on #776
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20474-536922094) (spent 14min)

[code]

[2019-10-01 08:28] yegor256 commented on #776
@rultor release, tag is `0.29.32`

[2019-10-01 08:29] rultor commented on #776
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20474-536928221)

[2019-10-01 08:36] rultor commented on #776
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20474-536928221) (spent 7min)

[code]

[2019-10-05 08:33] yegor256 commented on #776
@rultor release, tag is `0.29.32`

[2019-10-05 08:34] rultor commented on #776
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20474-538629863)

[2019-10-05 08:52] rultor commented on #776
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20474-538629863) (took me 16min)

[2019-10-05 08:53] #776 closed

[2019-10-05 09:10] 0crat commented on #776
Job `gh:zold-io/zold#776` is not assigned, can't get performer

[2019-10-05 09:10] 0crat commented on #776
This job is not in scope

[2019-10-10 08:30] yegor256 commented on #774
@scristalli we distribute bonuses only when we have enough funds for that. However, this may not be the case every hour. See this paper for more details: http://papers.zold.io/fin-model.pdf

[2019-10-10 08:30] #774 closed

[2019-10-28 18:25] mohamednizar opened #777 "Appvoyer build is borken , due to openssl installation fail"
During the appvoyer build the openssl could not be able to intall, We need to fix as its blocker for other tasks.

see the logs : https://ci.appveyor.com/project/yegor256/zold-jhx6b/builds/25235836

[2019-12-22 07:59] dgroup opened #780 "extconf.rb:97:in `<main>': OpenSSL library could not be found. You might want to use --with-openssl-dir=<dir> option to specify the prefix where OpenSSL is installed. (RuntimeError)"
**Describe the bug**
[code]
The installation steps seem needs to be changed for OSX.

**To Reproduce**
https://github.com/zold-io/zold/blob/master/INSTALL.md#osx
[code]
Output
[code]
**Expected behavior**
Zold is installed.

**Desktop (please complete the following information):**
 - OS: `Darwin osx 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X

[2019-12-22 07:59] 0crat commented on #780
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-22 07:59] 0crat commented on #780
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-23 13:08] yegor256 commented on #780
@dgroup try this:

[code]

[2019-12-24 00:29] dgroup commented on #780
@yegor256
[code]
Done, now the command `gem install --no-ri --no-rdoc zold` gives
[code]

[2019-12-28 08:53] dgroup commented on #780
Seems this https://github.com/mongodb/mongo-php-driver/issues/523 may help
[code]

[2019-12-28 13:04] dgroup opened #781 "Extract the primitive objects like Size, Age, Log, Args to the separate gem for CLI application development using Ruby"
**Is your feature request related to a problem? Please describe.**
https://www.yegor256.com/2018/09/05/monolithic-repositories.html

**Describe the solution you'd like**
Extract the primitive objects like Size, Age, Log, Args to the separate gem for CLI application development using Ruby.

**Describe alternatives you've considered**
Add a dependency to `zold`, `zold-score` which is wrong in case i

[2019-12-28 13:04] 0crat commented on #781
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-28 13:04] 0crat commented on #781
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-28 13:04] #780 closed

[2019-12-28 13:24] 0crat commented on #780
This job is not in scope

[2019-12-28 13:24] 0crat commented on #780
Job `gh:zold-io/zold#780` is not assigned, can't get performer

[2019-12-28 13:42] dgroup opened #782 "Which tool/plugin/gem is using for license injection/maintenance within the project files?"
I think this information should be present in the contribution guide.

[2019-12-28 13:42] 0crat commented on #782
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-28 13:42] 0crat commented on #782
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-28 13:44] yegor256 commented on #782
@dgroup there is no plugin. We just copy paste the license header from file to file

[2019-12-28 13:44] #782 closed

[2019-12-28 13:47] dgroup commented on #782
Found this gem https://github.com/barrydrink/LicenceInjector
but due to poor documentation its isn't easy to use.

[2019-12-28 14:04] 0crat commented on #782
Job `gh:zold-io/zold#782` is not assigned, can't get performer

[2019-12-28 14:04] 0crat commented on #782
This job is not in scope

[2020-01-15 10:04] dgroup commented on #782
RubyMine by default has no 'Copyright' plugin, however after installation and restart it became available.
https://plugins.jetbrains.com/plugin/88-copyright/

[2020-02-10 11:47] mohamednizar opened #783 "Payment not recive to the paypal"
![Screenshot from 2020-02-10 17-16-30](https://user-images.githubusercontent.com/8711284/74147423-2bc62f00-4c29-11ea-972f-ab310cc62318.png)

[2020-02-10 11:48] 0crat commented on #783
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-10 11:48] 0crat commented on #783
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-11 18:25] fanifieiev opened #784 "Failed to pay via WTS"
I am receiving the following message:
`We tried to pay your debt of $6.14, but failed (Failed to pay: Failed to pay via WTS: job=df8bcec7-8221-45bf-80df-c9e34d6addaa error=No nodes out of 20 have the wallet 215c0341d7c40599; run 'zold remote update' and try again; most probably your wallet is lost by Zold network; it is recommended to log in to wts.zold.io and click Restart at the top menu; a new

[2020-02-11 18:26] 0crat commented on #784
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-11 18:26] 0crat commented on #784
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-20 06:12] yegor256 opened #785 "taxes are not calculated correctly"

[2020-02-20 07:03] yegor256 commented on #785
@rultor release, tag is `0.29.33`

[2020-02-20 07:05] rultor commented on #785
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21394-588649279)

[2020-02-20 07:27] rultor commented on #785
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21394-588649279) (took me 17min)

[2020-02-20 07:37] #785 closed

[2020-02-20 08:11] 0crat commented on #785
Job `gh:zold-io/zold#785` is not assigned, can't get performer

[2020-02-20 08:19] 0crat commented on #785
This job is not in scope

[2020-02-27 22:10] HDouss opened #786 "Difference between bind-port and port options"
It is not clear what the difference between these two options are when starting a node: bind-port and port. In addition, the log is wrong or confusing.
I can start a node by:
`zold node --threads 0 --invoice xx@xx --host 127.0.0.1 --standalone --port 80 --bind-port 8080`
and I see:
`Starting up the web front at http://127.0.0.1:80...`
but I can only make requests to http://127.0.0.1:8080

[2020-02-27 22:10] 0crat commented on #786
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-27 22:10] 0crat commented on #786
@hdouss[/z](https://www.0crat.com/u/hdouss) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-04-11 09:06] victornoel opened #787 "Getting lots of warning when running zold"
**Describe the bug**

Everytime I run zold, its output always starts with:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. install zold with ruby 2.7.0 `gem install zold`
2. run zold `zold --help`

**Expected behavior**

No warnings.

[2020-04-11 09:06] 0crat commented on #787
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-04-11 12:31] victornoel opened #788 "How to retrieve locally my WTS wallet?"
**Is your feature request related to a problem? Please describe.**

I would like to make a backup of my WTS wallet locally (mainly because I don't trust WTS completely for not loosing my money).

**Describe the solution you'd like**

Clear instructions on how to do that, and in particular how to run zold with the private key I retrieved from WTS.

[2020-04-11 12:32] 0crat commented on #788
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-04-25 00:01] vl3 commented on #529
@0crat refuse

[2020-04-25 00:53] 0crat commented on #529
@vl3 The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#529](https://github.com/zold-io/zold/issues/529), please stop working. Reason for job resignation: Order was cancelled

[2020-06-08 04:04] mohamednizar commented on #783
@botanicus , what will be the issue, if the transfer not possible this shouldn't be happened

[2020-06-27 05:25] golyalpha opened #790 "Exchanged ZLD to BTC, but no BTC has arrived"
Yesterday evening (about 8 hours ago now), I've tried to exchange some Zold for BTC, and while the Zold got sent off from my wallet, no BTC has arrived yet.

ZLD Wallet ID: 11d60619d8cbe9a3

[2020-06-27 05:25] 0crat commented on #790
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-06-27 07:38] golyalpha commented on #788
@victornoel
https://wts.zold.io/key to get the private key (you'll need the Keygap)

Then you'll need to generate the public key from the private key using `ssh-keygen -y -f .ssh/zold_key > .ssh/zold_key.pub`

Then, when using the zold CLI, there's a --private-key/--public-key flag, which you can use to specify what private/public key to use for the action.
Not sure if there's a way to change the

[2020-06-27 13:08] victornoel commented on #788
@golyalpha thank you for those informations, very useful.

@yegor256 what do you think about
- documenting this in the README
- add a way to change the keys being used by zold

[2020-08-05 07:03] yegor256 commented on #788
@victornoel maybe you can submit a PR for the README file of zold/wts.zold.io repo?

[2020-08-05 10:33] yegor256 commented on #786
@HDouss I added more details, in cdbf74a Better now?

[2020-08-05 13:18] HDouss commented on #786
@yegor256 yes it is better. Thanks.

[2020-08-05 13:18] #786 closed

[2020-08-05 14:03] 0crat commented on #786
Job `gh:zold-io/zold#786` is not assigned, can't get performer

[2020-08-08 20:35] Vatavuk opened #791 "Payment not received on coinbase"
Ive converted some zolds to bitcoin yesterday but I havent received money on coinbase.
Here is the log
`Zold gem version: 0.29.33/2
WTS version: 0.39.12
Current time is: 2020-08-07T16:11:46Z
Job ID: 0ea55b51-1dc0-493d-8407-7bf2997b836c
Login: vatavuk
Sending 0.0309744 bitcoins to 36PtTAEP5Q1mNBMwWm3sEwGEApizFHc1CX `

[2020-08-12 11:41] Vatavuk commented on #791
@yegor256 I've made another transaction of 1 zold, two days ago and haven't received bitcoins, please help

[2020-08-12 15:03] yegor256 commented on #791
@Vatavuk the last one was failed due to the bug: https://wts.zold.io/output?id=9f9b0e89-9fa1-4c97-bc56-5b8aac04d345 (will fix it soon)

[2020-08-12 19:44] Vatavuk commented on #791
@yegor256 what about the first transaction there was about 350$

[2020-08-13 19:54] yegor256 commented on #791
@Vatavuk do we have a ticket for it?

[2020-08-16 17:24] Vatavuk commented on #791
@yegor256 this is the ticket for that transaction

[2020-08-19 14:48] yegor256 commented on #791
@Vatavuk here is the log of the problem: https://wts.zold.io/job?id=0ea55b51-1dc0-493d-8407-7bf2997b836c

[2020-08-19 16:41] Vatavuk commented on #791
@yegor256 so the payment wasnt successful due to insuficient funds, but zolds were subtracted from my account nonetheless. Ive lost about 350$ in zolds, how can we retrieve it?

[2020-08-19 16:45] yegor256 commented on #791
@Vatavuk I will send them back to your Zold wallet now. I'm trying to find the reason of this bug.

[2020-08-19 18:28] Vatavuk commented on #791
@yegor256 ok, thx!

[2020-08-19 20:24] yegor256 commented on #791
@Vatavuk 105.84 ZLD is missing, right?

[2020-08-20 08:46] Vatavuk commented on #791
@yegor256 yes

[2020-08-21 04:30] yegor256 commented on #791
@Vatavuk I sent you zolds back. Still can't understand what was the problem, though. Let's keep the ticket open.

[2020-08-23 17:22] victornoel commented on #788
@yegor256 one last question: what is the name of the configuration file, I don't see this information in the README

[2020-08-23 17:28] yegor256 commented on #788
@victornoel it's `~/.zold`

[2020-08-25 15:44] victornoel opened #793 "Transfer from ZLD to BTC not received"
I converted ZLD to BTC from my WTS account, the transaction appears in my wallet (@victornoel) but I never received them.

Can you please fix it?

[2020-08-27 17:22] victornoel commented on #788
@yegor256 btw I've made a PR as discussed: #792

[2020-08-27 17:47] yegor256 commented on #788
@victornoel merged, thanks!

[2020-08-27 17:57] #788 closed

[2020-08-27 18:14] 0crat commented on #788
Job `gh:zold-io/zold#788` is not assigned, can't get performer

[2021-04-02 09:13] agrrh opened #795 "Are hosting bonuses occupied forever?"
**Describe the bug**

As docs says:

https://blog.zold.io/2018/08/14/hosting-bonuses.html

It seems that current situatuion leaves no chance for new node holder to get a payment in a weeks or months. There's number of nodes with score of 100+. Those blocks others from getting into "top" list. So there's no way for new node holder to get a reward unless old players leave network.

Probably newcomer

[2021-04-18 11:30] HDouss opened #796 "Not enough BTC funds but my zold wallet was debited"
Hello,
I tried to sell some of my zold and get BTC. In wts page, I can read "We can send up to 0.0154 BTC now".
When I tried to sell my zold, my wallet was debited, but I see in the transaction log:
"ERROR: Sibit::Error: Not enough funds to send 1,491,086s/$813.76, only 0s/$0.00 left"
Even the transaction fees was debited.

[2022-08-16 03:03] davvd opened #797 "new release is necessary"
The latest release is more than two years old. A new one would be great to have.

[2022-08-16 03:04] 0crat commented on #797
You @davvd[/z](https://www.0crat.com/u/davvd) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2022-08-16 04:43] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-16 04:44] rultor commented on #797
@davvd Thanks for your request. @yegor256 Please confirm this.

[2022-08-16 05:20] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-16 05:22] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1216159534)

[2022-08-16 05:23] rultor commented on #797
@davvd Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26524-1216159534) (spent 1min)

[code]

[2022-08-16 05:44] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-16 05:45] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1216174137)

[2022-08-16 05:47] rultor commented on #797
@davvd Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26524-1216174137) (spent 1min)

[code]

[2022-08-16 05:49] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-16 05:51] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1216177335)

[2022-08-16 05:52] rultor commented on #797
@davvd Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26524-1216177335) (spent 1min)

[code]

[2022-08-16 05:55] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-16 05:56] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1216180406)

[2022-08-16 05:58] rultor commented on #797
@davvd Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26524-1216180406) (spent 1min)

[code]

And then execute:

[code]

Put this into your `.rubocop.yml`.

[code]

More information: https://github.com/rubocop-hq/rubocop-performance
Post-install message from usagewatch:
* Linux version are covered for our test.
Thanks for installing!
Post-install message from usagewatch_e

[2022-08-17 06:32] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-17 06:33] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1217519474)

[2022-08-17 06:34] rultor commented on #797
@davvd Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26524-1217519474) (spent 1min)

[code]

And then execute:

[code]

Put this into your `.rubocop.yml`.

[code]

More information: https://github.com/rubocop-hq/rubocop-performance
Post-install message from usagewatch:
* Linux version are covered for our test.
Thanks for installing!
Post-install message from usagewatch_e

[2022-08-17 06:37] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-17 06:39] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1217523701)

[2022-08-17 06:41] rultor commented on #797
@davvd Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26524-1217523701) (spent 1min)

[code]

And then execute:

[code]

Put this into your `.rubocop.yml`.

[code]

More information: https://github.com/rubocop-hq/rubocop-performance
Post-install message from usagewatch:
* Linux version are covered for our test.
Thanks for installing!
Post-install message from usagewatch_e

[2022-08-17 06:43] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-17 06:44] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1217527218)

[2022-08-17 06:58] rultor commented on #797
@davvd Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26524-1217527218) (spent 14min)

[code]

[2022-08-18 02:26] davvd commented on #797
@rultor release tag = `0.29.34`

[2022-08-18 02:27] rultor commented on #797
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26524-1218919986)

[2022-08-18 02:44] rultor commented on #797
@davvd Done! FYI, the full log is [here](https://www.rultor.com/t/26524-1218919986) (took me 15min)

[2022-08-18 03:20] #797 closed

[2022-08-18 03:45] 0crat commented on #797
Job `gh:zold-io/zold#797` is not assigned, can't get performer

[2022-09-10 04:16] 0crat commented on #227
@yegor256[/z](https://www.0crat.com/u/yegor256) I see that you unassigned this issue; the order is still assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2022-09-10 04:46] 0crat commented on #420
@yegor256[/z](https://www.0crat.com/u/yegor256) I see that you unassigned this issue; the order is still assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2022-09-25 17:57] davvd opened #799 "Some new dependencies may be used"
Currently some dependencies are fixed and too old. We should upgrade them or let them be more flexible.

[2022-09-25 18:29] davvd commented on #799
@rultor release tag = `0.30.0`

[2022-09-25 18:30] rultor commented on #799
@davvd OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27091-1257251116)

[2022-09-25 18:52] rultor commented on #799
@davvd Done! FYI, the full log is [here](https://www.rultor.com/t/27091-1257251116) (took me 20min)

[2022-09-25 18:56] #799 closed

[2022-09-25 19:13] 0crat commented on #799
Job `gh:zold-io/zold#799` is not assigned, can't get performer

[2022-09-25 20:07] davvd opened #800 "new rubocop version"