[2018-07-03 08:45] yegor256 commented on #298
@emilianodellacasa how can it remove the node if it's already absent in the list?

[2018-07-03 08:47] yegor256 commented on #329
@0crat assign @botanicus

[2018-07-03 08:48] yegor256 commented on #292
@botanicus thanks!

[2018-07-03 08:48] #292 closed

[2018-07-03 08:48] 0crat commented on #329
@yegor256 The job [#329](https://github.com/zold-io/zold/issues/329) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1840848545); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-03 08:48] yegor256 commented on #285
@botanicus thanks!

[2018-07-03 08:48] #285 closed

[2018-07-03 08:49] 0crat commented on #329
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-03 08:55] yegor256 commented on #320
@0crat assign @botanicus

[2018-07-03 08:56] yegor256 commented on #57
@emilianodellacasa yes, this seems to be a bug on our side, sorry.

[2018-07-03 09:03] 0crat commented on #320
@yegor256 The job [#320](https://github.com/zold-io/zold/issues/320) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1840903020); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-03 09:05] 0crat commented on #292
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @botanicus[/z](https://www.0crat.com/u/botanicus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-03 09:05] 0crat commented on #320
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-03 09:05] 0crat commented on #320
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-03 09:05] 0crat commented on #292
The job [#292](https://github.com/zold-io/zold/issues/292) is now out of scope

[2018-07-03 09:05] 0crat commented on #285
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @botanicus[/z](https://www.0crat.com/u/botanicus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-03 09:05] 0crat commented on #285
The job [#285](https://github.com/zold-io/zold/issues/285) is now out of scope

[2018-07-03 09:37] 0crat commented on #158
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 09:37] 0crat commented on #157
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 09:38] ypshenychka commented on #292
@botanicus According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold/issues/292#issuecomment-400203997) by indicating an addressee in the beginning.

[2018-07-03 09:41] ypshenychka commented on #285
@0crat quality good

[2018-07-03 09:42] 0crat commented on #285
Order was finished, quality is "good": +38 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-03 09:43] 0crat commented on #285
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-03 10:32] emilianodellacasa commented on #98
@yegor256 Refactoring the whole code to dry-types require a great deal of work because there are many loosely coupled classes. I started by refactoring _score_ class but then another problem came in the _http_ class and others.

Since I have spent the budget of 30 minutes right now, I ask for 1 hour more to complete the task leaving with a stable code base (all test green) then I will add a _todo_

[2018-07-03 10:39] 0crat commented on #181
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 10:39] 0crat commented on #137
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 11:41] 0crat commented on #230
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 11:42] 0crat commented on #233
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 12:01] g4s8 commented on #89
@0crat status

[2018-07-03 12:05] 0crat commented on #89
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#89](https://github.com/zold-io/zold/issues/89) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) for [6days](h

[2018-07-03 12:14] yegor256 commented on #98
@0crat boost 4x

[2018-07-03 12:16] 0crat commented on #98
@yegor256 Boost 4x was set for [#98](https://github.com/zold-io/zold/issues/98)

[2018-07-03 12:16] 0crat commented on #98
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-03 12:31] 0crat commented on #109
The job [#109](https://github.com/zold-io/zold/issues/109) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1841230656); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-03 12:36] 0crat commented on #219
@mgrassotti[/z](https://www.0crat.com/u/mgrassotti) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 12:36] 0crat commented on #248
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 12:36] 0crat commented on #298
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 12:36] g4s8 commented on #306
@0crat status

[2018-07-03 12:37] 0crat commented on #306
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#306](https://github.com/zold-io/zold/issues/306) is [in scope](http://www.zerocracy.com/policy.html#14) for 5days
  * The role is `DEV`
  * The job is assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) for [5days

[2018-07-03 12:56] 0crat commented on #315
The job [#315](https://github.com/zold-io/zold/issues/315) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1841256117); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-03 13:05] 0crat commented on #324
The job [#324](https://github.com/zold-io/zold/issues/324) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1841303203); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-03 13:08] yegor256 commented on #326
@0crat assign @ledestin

[2018-07-03 13:09] 0crat commented on #326
@yegor256 The job [#326](https://github.com/zold-io/zold/issues/326) assigned to @ledestin[/z](https://www.0crat.com/u/ledestin), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1841308312); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-03 13:09] 0crat commented on #326
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-03 13:09] mgrassotti commented on #219
Hi @Dereek69 I tried to recreate the issue on a Windows 10 machine, but I can't.
The command `zold --verbose --trace create --public-key .ssh/id_rsa.pub` seems to work fine for me.

Can I ask how did you generated the ssh keys?
I would recommend the following steps:
1. Download & Install Git for Windows (https://gitforwindows.org/)

2. Add the path to `ssh-keygen` to your `PATH` environment variab

[2018-07-03 13:15] mgrassotti commented on #230
@yegor256 sorry should I be assigned on this?

[2018-07-03 13:15] 0crat commented on #230
@yegor256 The job [#230](https://github.com/zold-io/zold/issues/230) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1841315391); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-03 13:15] 0crat commented on #230
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-03 14:28] emilianodellacasa opened #334 "Do not throw exception in remote commands"
In many different points of the remote command's code we thrown an exception when there is an HTTP Error with the node:

[code]

It would be better not to throw the exception and log a message

[2018-07-03 14:29] 0crat commented on #334
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-03 15:37] emilianodellacasa commented on #306
PR #336

[2018-07-03 17:37] 0crat commented on #297
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 17:37] 0crat commented on #249
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 18:31] botanicus commented on #292
@ypshenychka fixed.

[2018-07-03 18:36] oltdaniel opened #337 "599 timeout - builds are filled with timeouts"
Somehow the nodes cause many 599 timeout responses. This slows down development and hurts actual system stability.

[2018-07-03 18:36] 0crat commented on #337
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-03 18:56] botanicus commented on #305
@emilianodellacasa definitely. Although I’m not sure whether it’s in the scope of this bug[1] as I’m new to the zerocracy process myself, I’ll defer to @yegor256 here.

[1] I’m not sure if it is, but opening a ticket for removing 1 line of code sounds like an overkill to me.

[2018-07-03 19:02] ypshenychka commented on #292
@botanicus Thank you

[2018-07-03 19:02] ypshenychka commented on #292
@0crat quality acceptable

[2018-07-03 19:04] 0crat commented on #292
Order was finished, quality is "acceptable": +30 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-03 19:04] 0crat commented on #292
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-03 19:21] yegor256 commented on #230
@mgrassotti yes, it's yours

[2018-07-03 19:21] yegor256 commented on #337
@oltdaniel are you talking about 599 errors during the build or in production? I didn't get the problem.

[2018-07-03 21:20] oltdaniel commented on #337
@yegor256 Somehow the fake node is closed before the request has been executed.

The error `599` will only be thrown if the client couldn't execute the request, here the node is closed.
https://travis-ci.org/zold-io/zold/builds/399767497#L2075

[2018-07-04 07:16] emilianodellacasa commented on #305
@botanicus I'll remove it right away

[2018-07-04 07:29] emilianodellacasa commented on #305
@botanicus  New PR in #339 sorry for the duplication @yegor256

[2018-07-04 08:02] ledestin opened #340 "Wallets checks in Entrance are useless"
See https://github.com/zold-io/zold/blob/master/lib/zold/node/entrance.rb#L39 and the next line. If you pass pass `nil` wallets to `Node`, these checks will not catch it. Why? Because `wallets` would be wrapped in `HungryWallets`.

[2018-07-04 08:05] 0crat commented on #340
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/zold#340, Action: `opened`

[2018-07-04 08:33] 0crat commented on #334
Job [#334](https://github.com/zold-io/zold/issues/334) is now in scope, role is `DEV`

[2018-07-04 08:33] 0crat commented on #220
@ledestin The impediment for [#220](https://github.com/zold-io/zold/issues/220) was registered successfully by @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-04 08:37] yegor256 commented on #337
@oltdaniel 599 is a fake response code we return when something goes wrong with the connection. So, it's a pretty legal situation. You should find a more specific place you complain about. Just saying that "599 is a problem" is not enough. 599 is a normal situation, which may happen time to time. Find a more specific situation/problem and report, please.

[2018-07-04 08:37] #337 closed

[2018-07-04 08:38] 0crat commented on #281
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#281](https://github.com/zold-io/zold/issues/281), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-04 08:38] 0crat commented on #281
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-07-04 08:45] ledestin opened #341 "Use regexp named match for better readabilty"
https://github.com/zold-io/zold/blob/master/lib/zold/upgrades.rb#L27 uses `match[1]`, which isn't as good as a named match of `match[:version]`.

[2018-07-04 08:45] 0crat commented on #341
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 08:46] #79 closed

[2018-07-04 08:46] 0pdd opened #342 "pay.rb:110-112: Extract message cretion into a separate..."
The puzzle `79-aed0d144` from #79 has to be resolved:

https://github.com/zold-io/zold/blob/1cd2134e7e24589160d688e3009d7f65754ee3e3/lib/zold/commands/pay.rb#L110-L112

The puzzle was created by rultor on 04-Jul-18.

Estimate: 40 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _

[2018-07-04 08:46] 0pdd commented on #79
@yegor256 the puzzle [#342](https://github.com/zold-io/zold/issues/342) is still not solved.

[2018-07-04 08:47] 0crat commented on #342
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 08:48] 0crat commented on #341
Job [#341](https://github.com/zold-io/zold/issues/341) is now in scope, role is `DEV`

[2018-07-04 08:48] 0crat commented on #342
Job [#342](https://github.com/zold-io/zold/issues/342) is now in scope, role is `DEV`

[2018-07-04 08:48] 0crat commented on #341
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-04 08:51] ledestin opened #343 "Documentation on how upgrade manager should work is missing"
I'm doing https://github.com/zold-io/zold/issues/327#issuecomment-401888675 and the documentation on how upgrade manager should work is missing. What is `the version file`, for one? And what are `correct upgrade scripts`?

[2018-07-04 08:51] 0crat commented on #343
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 08:52] ledestin commented on #327
@yegor256 documentation missing https://github.com/zold-io/zold/issues/343

[2018-07-04 08:52] ledestin commented on #327
@0crat wait

[2018-07-04 08:53] 0crat commented on #327
@ledestin The impediment for [#327](https://github.com/zold-io/zold/issues/327) was registered successfully by @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-04 08:53] 0crat commented on #337
Job `gh:zold-io/zold#337` is not assigned, can't get performer

[2018-07-04 08:53] 0crat commented on #337
The job is not in WBS, won't close the order

[2018-07-04 08:53] 0crat commented on #327
@ledestin Job [#327](https://github.com/zold-io/zold/issues/327) is not in the agenda of @ledestin[/z](https://www.0crat.com/u/ledestin), can't set impediment

[2018-07-04 08:57] ledestin commented on #340
@yegor256 isn't it still broken if somebody does that with Node?

[2018-07-04 09:01] 0crat commented on #340
Job `gh:zold-io/zold#340` is not assigned, can't get performer

[2018-07-04 09:01] 0crat commented on #340
The job is not in WBS, won't close the order

[2018-07-04 09:03] 0crat commented on #340
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 09:03] 0crat commented on #79
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2018-07-04 09:05] emilianodellacasa commented on #305
@botanicus  @yegor256 Everything should be ok now

[2018-07-04 09:11] mgrassotti commented on #314
hi @yegor256, sorry could you specify more _"If we fetch JSON that contains `network` that doesn't match what we have encapsulated"_ ? With _encapsulation_, do you mean initialization `Remote#new` at `lib/zold/remotes.rb:63`?

Where can we load a new network? Is that in `Fetch#new` at /Users/mateosky/dev/zold/lib/zold/commands/fetch.rb:41" ?

Thanks

[2018-07-04 09:31] emilianodellacasa commented on #298
@yegor256 ping

[2018-07-04 09:40] 0crat commented on #305
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 09:40] 0crat commented on #306
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 10:36] botanicus commented on #305
@emilianodellacasa perfect, thanks!

@yegor256 please close.

[2018-07-04 10:42] yegor256 commented on #340
@ledestin does what? `HungryWallets.new(nil)`? That will be the problem of `HungryWallets`. I don't understand the problem. Can you show the code that breaks now?

[2018-07-04 10:43] yegor256 commented on #343
@0crat assign @botanicus

[2018-07-04 10:43] yegor256 commented on #298
@emilianodellacasa what? :)

[2018-07-04 10:44] 0crat commented on #287
The user @liligga[/z](https://www.0crat.com/u/liligga) resigned from [#287](https://github.com/zold-io/zold/issues/287), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-04 10:44] 0crat commented on #287
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @liligga[/z](https://www.0crat.com/u/liligga)

[2018-07-04 10:44] yegor256 commented on #305
@botanicus why me? :) It's your ticket.

[2018-07-04 10:44] 0crat commented on #286
The user @liligga[/z](https://www.0crat.com/u/liligga) resigned from [#286](https://github.com/zold-io/zold/issues/286), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-04 10:44] 0crat commented on #286
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @liligga[/z](https://www.0crat.com/u/liligga)

[2018-07-04 10:45] 0crat commented on #343
@yegor256 The job [#343](https://github.com/zold-io/zold/issues/343) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1851045085); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-04 10:45] 0crat commented on #343
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-04 10:45] 0crat commented on #343
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-04 10:52] emilianodellacasa commented on #298
@yegor256 Sorry, Should have ping on PR #312 :-P

[2018-07-04 11:12] #305 closed

[2018-07-04 11:13] botanicus commented on #305
@yegor256 haha, fair enough :)) I thought it’s the `ARC` job. But yeah, makes sense.

Closed now.

[2018-07-04 11:17] mgrassotti opened #344 "Runtime debugger missing"
I cannot find any debugger inside the project. Is that a planned approach?
I would suggest to add `byebug` or `pry` as development_dependency in `zold.gemspec`.

[2018-07-04 11:17] 0crat commented on #344
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 11:21] botanicus commented on #344
Why a `development_dependency`? That’s for things like testing frameworks and the like.

In Gemfile? I think that wouldn’t hurt.

[2018-07-04 11:30] 0crat commented on #305
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-04 11:30] 0crat commented on #305
The job [#305](https://github.com/zold-io/zold/issues/305) is now out of scope

[2018-07-04 11:34] ypshenychka commented on #305
@emilianodellacasa According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold/issues/305#issuecomment-401308950) by indicating an addressee in the beginning.

[2018-07-04 11:35] mgrassotti commented on #344
Ok thanks @botanicus I added #345 for this

[2018-07-04 12:38] 0crat commented on #307
@mgrassotti[/z](https://www.0crat.com/u/mgrassotti) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 14:00] ypshenychka commented on #305
@emilianodellacasa Thanks

[2018-07-04 14:00] ypshenychka commented on #305
@0crat quality acceptable

[2018-07-04 14:01] 0crat commented on #305
Order was finished, quality is "acceptable": +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-04 14:03] 0crat commented on #305
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-04 14:10] 0crat commented on #341
The job [#341](https://github.com/zold-io/zold/issues/341) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1851414619); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-07-04 16:11] botanicus opened #346 "Review development dependencies"
We should keep our runtime dependencies requirements to the minimum.

Our gemspec has for instance `rubocop` as a runtime dependency.

Why? Will `bin/zold` refuse to start without rubocop?

There’s comment `has to stay there for Heroku` (See https://github.com/zold-io/zold/blob/master/zold.gemspec#L61). I don’t think it’s necessary, I have never seen it.

We can either:

- Use runtime dependencies

[2018-07-04 16:11] 0crat commented on #346
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 16:16] botanicus commented on #344
@mgrassotti by the way I can see why you proposed originally to add it as a `development_dependency`. For a reference only: we need to restructure our dependencies, I reported it here #346.

[2018-07-04 16:19] emilianodellacasa commented on #98
@yegor256 PR #347

[2018-07-04 16:48] mgrassotti commented on #307
@0crat I cannot close it until the related PR #316 is under review / unmerged

[2018-07-04 16:48] 0crat commented on #307
@mgrassotti Can't understand "I", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the

[2018-07-04 17:06] botanicus commented on #280
@yegor256 please close.

[2018-07-04 18:48] 0crat commented on #124
The user @mulev[/z](https://www.0crat.com/u/mulev) resigned from [#124](https://github.com/zold-io/zold/issues/124), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-04 18:48] 0crat commented on #124
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mulev[/z](https://www.0crat.com/u/mulev)

[2018-07-05 07:48] g4s8 commented on #98
@0crat status

[2018-07-05 07:48] 0crat commented on #98
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#98](https://github.com/zold-io/zold/issues/98) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) for [8days](h

[2018-07-05 08:46] ledestin commented on #340
@yegor256 the problem here is that the approach you're using doesn't work, at least in the `HungryWallets.new(nil)` case. If you ask me, this approach should be scrapped altogether and replaced with a generic `rescue` that prints the line that caused it, unless it's possible to understand which variable was used to cause a `NoMethodError`.

Showing example code would take too much time.

[2018-07-05 08:47] botanicus opened #348 "README doesn’t link any API documentation"
As a public library, we need to have:

1. API documentation online.
2. API documentation should be linked in the README, preferably as a badge (as in for example https://github.com/botanicus/hour-ruby#about).

There are number of services that we can use that integrate with GitHub via hooks.

[2018-07-05 08:47] ledestin commented on #340
@yegor256 if I understand you correctly, you're saying "it works in most cases, so it's ok"?

[2018-07-05 08:47] 0crat commented on #348
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-05 08:59] botanicus opened #349 "Discuss our documentation standard"
Currently the level of API documentation is very low. That’s a serious bug, the more serious so given Zerocracy model, where we work with a lot of developers and need them to start easily by themselves.

As a kick-off, this is what I’d consider an OK documented class https://github.com/botanicus/hour-ruby/blob/master/lib/hour.rb#L68

**To discuss:**
- What is the minimal documentation requirement

[2018-07-05 08:59] 0crat commented on #349
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-05 09:42] g4s8 opened #350 "Specify private/public key paths"
I have `~/.ssh/id_rsa` for not related to Zold purposes and I don't think that using same private key for different applications is a good security decision, also I want to import private key from wts.zold.io and don't want to override my existing `id_rsa` key.
I think user should be able to configure keys locations to store them in any place.

[2018-07-05 09:42] 0crat commented on #350
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-05 09:42] 0crat commented on #350
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-05 14:05] 0crat commented on #280
The user @botanicus[/z](https://www.0crat.com/u/botanicus) resigned from [#280](https://github.com/zold-io/zold/issues/280), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-05 14:05] 0crat commented on #280
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-05 15:37] 0crat commented on #314
@mgrassotti[/z](https://www.0crat.com/u/mgrassotti) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-05 16:08] yegor256 commented on #340
@ledestin no no, I just don't understand what this ticket is about what solution you are suggesting. Please, be more specific, and formulate it in this format: https://github.com/zold-io/zold/blob/master/.github/ISSUE_TEMPLATE.md

[2018-07-05 16:10] 0crat commented on #346
Job [#346](https://github.com/zold-io/zold/issues/346) is now in scope, role is `DEV`

[2018-07-05 16:11] yegor256 commented on #280
@0crat assign @botanicus

[2018-07-05 16:13] 0crat commented on #346
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-05 16:13] 0crat commented on #348
Job [#348](https://github.com/zold-io/zold/issues/348) is now in scope, role is `DEV`

[2018-07-05 16:13] 0crat commented on #280
@yegor256 The job [#280](https://github.com/zold-io/zold/issues/280) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1861616903); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-05 16:14] #280 closed

[2018-07-05 16:30] 0crat commented on #280
Job [#280](https://github.com/zold-io/zold/issues/280) is not in the agenda of @botanicus[/z](https://www.0crat.com/u/botanicus), can't inspect

[2018-07-05 16:30] 0crat commented on #280
The job [#280](https://github.com/zold-io/zold/issues/280) is now out of scope

[2018-07-05 16:42] 0crat commented on #349
Job `gh:zold-io/zold#349` is not assigned, can't get performer

[2018-07-05 16:42] 0crat commented on #349
The job is not in WBS, won't close the order

[2018-07-06 05:57] yegor256 commented on #350
@g4s8 you can do that with `--public-key` and `--private-key` command line options.

[2018-07-06 05:57] #350 closed

[2018-07-06 06:02] yegor256 commented on #344
@mgrassotti this is what I think about debugging: https://www.yegor256.com/2016/02/09/are-you-still-debugging.html I created the entire skeleton of Zold without any debugging. Are you sure we need it?

[2018-07-06 06:12] 0crat commented on #350
Job `gh:zold-io/zold#350` is not assigned, can't get performer

[2018-07-06 06:12] 0crat commented on #350
The job is not in WBS, won't close the order

[2018-07-06 08:49] mgrassotti commented on #344
@yegor256 I think unit tests are a good way to ensure the code is working _as expected_ or not. If you don't know what to expect because you don't know the code base, I think it is more expensive and time wasteful to write tests with a trial and error approach.

Furthermore, thank you for your coding suggestions but, isn't this project based on the idea "this is not a school"? So why are we discus

[2018-07-06 10:12] botanicus opened #352 "Make API doc coverage check part of the build process"
Currently the level of API documentation is very low. That’s a serious bug, the more serious so given Zerocracy model, where we work with a lot of developers and need them to start easily by themselves.

We need to make the coverage test part of the build process.

It might be a rubocop plugin.

Or possibly https://github.com/dkubb/yardstick

[2018-07-06 10:12] 0crat commented on #352
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-06 10:36] g4s8 commented on #280
@0crat status

[2018-07-06 10:37] 0crat commented on #280
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#280](https://github.com/zold-io/zold/issues/280) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 18hr
  * @botanicus[/z](https://www.0crat.com/u/botanicus) will rec

[2018-07-06 11:33] yegor256 commented on #344
@mgrassotti good point. OK, let's add the gem.

[2018-07-06 11:43] yegor256 commented on #352
@botanicus I believe we check coverage now, here: https://github.com/zold-io/zold/blob/master/.simplecov#L38 But the problem is that coverage information is not collected correctly at the moment. I'm not sure why but we have it reported already: https://github.com/zold-io/zold/issues/109

[2018-07-06 11:43] #352 closed

[2018-07-06 11:58] 0crat commented on #352
The job is not in WBS, won't close the order

[2018-07-06 11:58] 0crat commented on #352
Job `gh:zold-io/zold#352` is not assigned, can't get performer

[2018-07-06 12:03] mgrassotti commented on #344
@yegor256 thanks. Could you please review and/or merge #345 ?

[2018-07-06 12:06] mgrassotti commented on #307
@0crat status

[2018-07-06 12:07] 0crat commented on #307
@mgrassotti This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#307](https://github.com/zold-io/zold/issues/307) is [in scope](http://www.zerocracy.com/policy.html#14) for 8days
  * The role is `DEV`
  * The job is assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti) for [8days](http:/

[2018-07-06 12:09] mgrassotti commented on #307
@0crat out

[2018-07-06 12:09] 0crat commented on #307
@mgrassotti GitHub issue is still open, won't close

[2018-07-06 12:13] mgrassotti commented on #307
@yegor256 who is supposed to close the issue? The related PR is closed (#316) but I cannot close this

[2018-07-06 12:29] ypshenychka commented on #280
@0crat quality good

[2018-07-06 12:29] 0crat commented on #280
Order was finished, quality is "good": +38 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-06 12:30] 0crat commented on #280
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-06 12:47] 0crat commented on #79
The user @ledestin[/z](https://www.0crat.com/u/ledestin) resigned from [#79](https://github.com/zold-io/zold/issues/79), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-06 12:47] 0crat commented on #79
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-06 13:21] yegor256 commented on #307
@mgrassotti the author of the ticket, read this please: https://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2018-07-06 13:40] botanicus opened #354 "Refactor Remotes#iterate to comply with Ruby conventions"
The [Zold::Remotes#iterate](https://github.com/zold-io/zold/blob/master/lib/zold/remotes.rb#L177) method goes against Ruby conventions:

1. The base method should be named `#each` instead.
2. The `Enumerable` mixin should be used.
3. If we want to pass `farm`, I’d argue that we should be using `remotes.each.with_object(farm)`. We get the `#with_object` method from `Enumerable`, but we’ll need to e

[2018-07-06 13:40] 0crat commented on #354
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-06 13:46] mgrassotti commented on #307
@yegor256 ah ok thanks, sorry

[2018-07-06 13:46] mgrassotti commented on #307
@botanicus could you please close ticket if it is fine for you? Thanks

[2018-07-06 14:22] botanicus commented on #307
@mgrassotti closing now, thanks Matteo!

[2018-07-06 14:22] #307 closed

[2018-07-06 14:38] 0crat commented on #307
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.2](https://github.com/zerocracy/farm): CID: [1871426089](https://www.0crat.com/CAZPZR9FS/1871426089), Type: "Close job", Author: "botanicus"

[2018-07-06 14:38] 0crat commented on #307
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-06 14:38] 0crat commented on #307
The job [#307](https://github.com/zold-io/zold/issues/307) is now out of scope

[2018-07-06 14:59] botanicus commented on #320
@0crat wait

[2018-07-06 14:59] 0crat commented on #320
@botanicus The impediment for [#320](https://github.com/zold-io/zold/issues/320) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-06 15:11] ypshenychka commented on #307
@mgrassotti According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

None of your commits contain link to this issue. Please confirm you'll try to follow this rule next time.

[2018-07-06 15:16] mgrassotti commented on #307
@ypshenychka sure, I think that's the same as https://github.com/zold-io/zold/pull/316#issuecomment-402941898

[2018-07-06 15:17] botanicus opened #356 "Add guard for incremental testing"
When I save a file, I want the checks[1] _for that particular file_ to run. [Guard](https://github.com/guard/guard) is commonly used in the Ruby community exactly for that.

[1] Tests, rubocop and PDD.

**Rationale:** I found this increases my productivity and makes sure I don’t push broken stuff.

**Next steps:**
- Add the `guard` gem and possibly some `guard-minitest`If there is one.
- Run `guar

[2018-07-06 15:18] 0crat commented on #356
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-06 15:20] ypshenychka commented on #307
@mgrassotti Thanks, you're right. But you're going to be paid for this ticket, so I have to mention this rule here.

[2018-07-06 15:20] ypshenychka commented on #307
@0crat quality acceptable

[2018-07-06 15:23] 0crat commented on #307
Order was finished, quality is "acceptable": +30 point(s) just awarded to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti)

[2018-07-06 15:23] 0crat commented on #307
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-06 15:37] yegor256 commented on #356
@botanicus I don't understand how it works, but I'm not against it :) Let's try.

[2018-07-06 15:50] 0crat commented on #356
Job [#356](https://github.com/zold-io/zold/issues/356) is now in scope, role is `DEV`

[2018-07-06 15:53] 0crat commented on #356
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-06 15:53] 0crat commented on #354
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-06 16:49] yegor256 opened #357 "Zold::PROTOCOL"
Let's add a new global constant `Zold::PROTOCOL`, staying next to `VERSION`. This protocol should be visible in Front, in wallets, and in `bin/zold`. We should use it in `Upgrades`, instead of `VERSION`.

We just want our files to be readable not only by Ruby software, but by any others. Say, someone creates Java software that reads the same directory with the same files. The `version` information

[2018-07-06 16:50] yegor256 commented on #357
@0crat assign @botanicus

[2018-07-06 16:50] 0crat commented on #357
@yegor256 The job [#357](https://github.com/zold-io/zold/issues/357) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1871655780); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-06 16:50] yegor256 commented on #357
@botanicus see the motivation: https://github.com/zold-io/papers/issues/13

[2018-07-06 16:51] yegor256 commented on #357
@botanicus let's make sure we expose it in `X-Zold-Protocol` too, in `Front`

[2018-07-06 16:53] 0crat commented on #357
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-06 16:53] 0crat commented on #357
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-06 16:59] yegor256 opened #358 "file renaming upgrade"
Let's create the first upgrade script (for `Upgrades`), which will rename all wallets from their current names into `*.z` (thanks to https://github.com/zold-io/zold/issues/164). If we don't do that, all wallets will be lost by all nodes, the moment we launch a new version.

[2018-07-06 16:59] yegor256 commented on #358
@0crat assign @botanicus

[2018-07-06 17:00] 0crat commented on #358
@yegor256 The job [#358](https://github.com/zold-io/zold/issues/358) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1871664889); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-06 17:00] 0crat commented on #358
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-06 17:00] 0crat commented on #358
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-06 17:01] yegor256 opened #359 ""always" upgrades"
Let's make it possible to create "upgrade" scripts that are being executed always. Let's just name them without SemVer notation. Say, `cleanup.rb` should be executed on each `Upgrades.run`, no matter what is the version.

[2018-07-06 17:01] yegor256 commented on #359
@0crat assign @botanicus

[2018-07-06 17:04] 0crat commented on #359
@yegor256 The job [#359](https://github.com/zold-io/zold/issues/359) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1871707942); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-06 17:05] 0crat commented on #359
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-06 17:05] 0crat commented on #359
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-06 21:25] botanicus commented on #356
@yegor256 cool :) FYI here’s a demo https://m.youtube.com/watch?v=R0F32l0HSwk&t=137s

[2018-07-06 22:27] botanicus opened #360 "Tests files for commands are hard to read"
Many of our commands have many subcommands, but everything is tested in one test class.

_It makes it hard to see which tests are testing which subcommand._

In rSpec I’m used to nesting the `describe` blocks thus:

[code]

We should use this nesting, one way or the other with Minitest as well.

I’d suggest converting our specs to the [Minitest spec syntax](https://github.com/seattlerb/minitest#sp

[2018-07-06 22:36] ledestin commented on #79
@yegor256 no payment here?

[2018-07-06 23:28] botanicus opened #361 "Sporadic test failure"
[Build 584](https://travis-ci.org/zold-io/zold/builds/401092358) failed in `TestNode#test_push_and_fetch`.

I tested locally, everything worked, so I pushed an _empty_ commit and the [build 585](https://travis-ci.org/zold-io/zold/builds/401094104) has succeeded.

I have seen this one once before.

[2018-07-06 23:28] 0crat commented on #361
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-06 23:33] botanicus commented on #323
@0crat wait

[2018-07-06 23:33] 0crat commented on #323
@botanicus The impediment for [#323](https://github.com/zold-io/zold/issues/323) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-06 23:34] botanicus commented on #323
I’m putting this on hold _until #322_ is merged, otherwise we’ll get merge conflicts.

[2018-07-07 06:31] botanicus commented on #359
@0crat wait

[2018-07-07 06:31] 0crat commented on #359
@botanicus The impediment for [#359](https://github.com/zold-io/zold/issues/359) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-07 06:32] botanicus commented on #359
Waiting for #343 to be merged in to avoid merge issues.

[2018-07-07 06:35] botanicus commented on #358
@0crat wait

[2018-07-07 06:35] 0crat commented on #358
@botanicus The impediment for [#358](https://github.com/zold-io/zold/issues/358) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-07 06:35] botanicus commented on #358
Waiting for #351 to be merged in.

[2018-07-07 07:37] 0crat commented on #322
@botanicus[/z](https://www.0crat.com/u/botanicus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-07 09:54] botanicus opened #363 "Do not use Kernel#require_relative to load files in lib from test"
[code]

This is impractical and I believe `Kernel#require_relative` should never be used for loading files from a different logical chunk (here I mean lib vs. test).

What I think is better is to do `$LOAD_PATH.unshift('../../lib')` in `test/test__helper.rb` and then use `require 'zold/commands/pay'`.

[2018-07-07 09:54] 0crat commented on #363
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-07 10:12] mgrassotti commented on #219
Hi @Dereek69, could you please either comment or close the ticket? Thanks

[2018-07-07 10:12] botanicus opened #364 "README forgets to use bundle exec"
In the contribute section all the commands should be prefixed with `bundle exec`. Otherwise Bundler is not being used in the runtime, meaning `Gemfile.lock` is being totally ignored and Bundler is being used only to install the gems, but not to select the correct version at the runtime.

Does it matter?

Say we upgrade library xyz from version 1 to version 2. All the contributors have version 1 in

[2018-07-07 10:12] 0crat commented on #364
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-07 14:18] 0crat commented on #98
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#98](https://github.com/zold-io/zold/issues/98), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 14:19] 0crat commented on #98
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -60 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 14:34] 0crat commented on #124
The job [#124](https://github.com/zold-io/zold/issues/124) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1881436280); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-07-07 14:34] 0crat commented on #72
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#72](https://github.com/zold-io/zold/issues/72), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 14:34] 0crat commented on #72
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 14:39] 0crat commented on #61
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#61](https://github.com/zold-io/zold/issues/61), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 14:39] 0crat commented on #61
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 14:45] 0crat commented on #52
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#52](https://github.com/zold-io/zold/issues/52), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 14:45] 0crat commented on #52
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 14:54] 0crat commented on #51
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#51](https://github.com/zold-io/zold/issues/51), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 14:54] 0crat commented on #51
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 14:54] 0crat commented on #134
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#134](https://github.com/zold-io/zold/issues/134), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 14:54] 0crat commented on #134
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:04] 0crat commented on #149
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#149](https://github.com/zold-io/zold/issues/149), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:04] 0crat commented on #149
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:04] 0crat commented on #199
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#199](https://github.com/zold-io/zold/issues/199), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:04] 0crat commented on #199
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:12] 0crat commented on #202
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#202](https://github.com/zold-io/zold/issues/202), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:12] 0crat commented on #202
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:19] 0crat commented on #211
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#211](https://github.com/zold-io/zold/issues/211), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:19] 0crat commented on #211
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:19] 0crat commented on #214
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#214](https://github.com/zold-io/zold/issues/214), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:20] 0crat commented on #214
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:20] 0crat commented on #211
The score of @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) -315 is too low and will be reset: +315 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:34] 0crat commented on #176
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#176](https://github.com/zold-io/zold/issues/176), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:34] 0crat commented on #176
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:40] 0crat commented on #231
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#231](https://github.com/zold-io/zold/issues/231), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:40] 0crat commented on #231
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:47] 0crat commented on #235
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#235](https://github.com/zold-io/zold/issues/235), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:47] 0crat commented on #235
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 15:57] 0crat commented on #241
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#241](https://github.com/zold-io/zold/issues/241), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 15:57] 0crat commented on #241
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:01] 0crat commented on #256
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#256](https://github.com/zold-io/zold/issues/256), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:01] 0crat commented on #256
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:01] 0crat commented on #275
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#275](https://github.com/zold-io/zold/issues/275), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:01] 0crat commented on #275
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:06] 0crat commented on #276
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#276](https://github.com/zold-io/zold/issues/276), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:06] 0crat commented on #276
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:11] 0crat commented on #291
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#291](https://github.com/zold-io/zold/issues/291), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:11] 0crat commented on #291
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:17] 0crat commented on #107
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#107](https://github.com/zold-io/zold/issues/107), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:17] 0crat commented on #107
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:31] 0crat commented on #129
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#129](https://github.com/zold-io/zold/issues/129), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:31] 0crat commented on #129
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:33] g4s8 commented on #291
@0crat status

[2018-07-07 16:37] 0crat commented on #291
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#291](https://github.com/zold-io/zold/issues/291) is [in scope](http://www.zerocracy.com/policy.html#14) for 12days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not

[2018-07-07 16:37] 0crat commented on #130
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#130](https://github.com/zold-io/zold/issues/130), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:37] 0crat commented on #130
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 16:41] 0crat commented on #60
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#60](https://github.com/zold-io/zold/issues/60), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 16:41] 0crat commented on #60
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:01] 0crat commented on #57
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#57](https://github.com/zold-io/zold/issues/57), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:01] 0crat commented on #57
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:01] 0crat commented on #57
The score of @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) -480 is too low and will be reset: +480 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:11] 0crat commented on #55
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#55](https://github.com/zold-io/zold/issues/55), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:16] 0crat commented on #132
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#132](https://github.com/zold-io/zold/issues/132), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:16] 0crat commented on #132
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:21] 0crat commented on #138
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#138](https://github.com/zold-io/zold/issues/138), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:31] 0crat commented on #158
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#158](https://github.com/zold-io/zold/issues/158), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:31] 0crat commented on #158
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:38] 0crat commented on #157
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#157](https://github.com/zold-io/zold/issues/157), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:38] 0crat commented on #157
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:42] 0crat commented on #181
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#181](https://github.com/zold-io/zold/issues/181), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:42] 0crat commented on #181
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:48] 0crat commented on #137
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#137](https://github.com/zold-io/zold/issues/137), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 17:48] 0crat commented on #137
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 17:48] 0crat commented on #137
The score of @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) -270 is too low and will be reset: +270 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 18:05] 0crat commented on #233
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#233](https://github.com/zold-io/zold/issues/233), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 18:05] 0crat commented on #233
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 18:13] 0crat commented on #219
The user @mgrassotti[/z](https://www.0crat.com/u/mgrassotti) resigned from [#219](https://github.com/zold-io/zold/issues/219), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 18:13] 0crat commented on #219
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti)

[2018-07-07 18:14] 0crat commented on #248
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#248](https://github.com/zold-io/zold/issues/248), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 18:14] 0crat commented on #248
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 18:14] 0crat commented on #298
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#298](https://github.com/zold-io/zold/issues/298), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 18:21] 0crat commented on #298
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 18:21] 0crat commented on #297
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#297](https://github.com/zold-io/zold/issues/297), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-07 18:21] 0crat commented on #297
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-07 18:33] 0crat commented on #98
The job [#98](https://github.com/zold-io/zold/issues/98) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1881839451); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-07 22:40] 0crat commented on #361
Job [#361](https://github.com/zold-io/zold/issues/361) is now in scope, role is `DEV`

[2018-07-07 22:41] 0crat commented on #361
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-07 22:41] yegor256 commented on #79
@ledestin unfortunately :( The robot has no mercy

[2018-07-07 22:41] 0crat commented on #363
Job [#363](https://github.com/zold-io/zold/issues/363) is now in scope, role is `DEV`

[2018-07-07 22:41] 0crat commented on #363
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-07 22:45] 0pdd opened #365 "test_upgrades.rb:31-32: Uncomment, when you're ready to..."
The puzzle `327-60adc21c` from #327 has to be resolved:

https://github.com/zold-io/zold/blob/9398125decabd5d95589bbb7b055fc94b15a3adb/test/test_upgrades.rb#L31-L32

The puzzle was created by rultor on 07-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _rem

[2018-07-07 22:45] 0pdd opened #366 "test_upgrades.rb:44-46: Uncomment, when you're ready to..."
The puzzle `327-2e6b0869` from #327 has to be resolved:

https://github.com/zold-io/zold/blob/9398125decabd5d95589bbb7b055fc94b15a3adb/test/test_upgrades.rb#L44-L46

The puzzle was created by rultor on 07-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _rem

[2018-07-07 22:45] 0pdd commented on #285
@yegor256 4 puzzles [#326](https://github.com/zold-io/zold/issues/326), [#327](https://github.com/zold-io/zold/issues/327), [#365](https://github.com/zold-io/zold/issues/365), [#366](https://github.com/zold-io/zold/issues/366) are still not solved.

[2018-07-07 22:45] 0pdd commented on #327
@0pdd 2 puzzles [#365](https://github.com/zold-io/zold/issues/365), [#366](https://github.com/zold-io/zold/issues/366) are still not solved.

[2018-07-07 22:46] 0crat commented on #366
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-07 22:46] 0crat commented on #366
Job [#366](https://github.com/zold-io/zold/issues/366) is now in scope, role is `DEV`

[2018-07-07 22:46] 0crat commented on #365
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-07 22:46] 0crat commented on #365
Job [#365](https://github.com/zold-io/zold/issues/365) is now in scope, role is `DEV`

[2018-07-07 22:47] 0crat commented on #360
Job [#360](https://github.com/zold-io/zold/issues/360) is now in scope, role is `DEV`

[2018-07-07 22:48] 0crat commented on #360
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-07 22:48] 0crat commented on #364
Job [#364](https://github.com/zold-io/zold/issues/364) is now in scope, role is `DEV`

[2018-07-07 22:48] 0crat commented on #364
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-08 06:15] 0crat commented on #306
The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#306](https://github.com/zold-io/zold/issues/306), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-08 06:15] 0crat commented on #306
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-08 09:13] emilianodellacasa commented on #98
@yegor256 please assign this task back to me

[2018-07-08 09:14] emilianodellacasa commented on #306
@yegor256 please assign this task back to me

[2018-07-08 09:14] emilianodellacasa commented on #298
@yegor256 please assign this task back to me

[2018-07-08 09:15] emilianodellacasa commented on #297
@yegor256 please assign this task back to me

[2018-07-08 09:39] 0crat commented on #329
@botanicus[/z](https://www.0crat.com/u/botanicus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 09:40] 0crat commented on #321
The job [#321](https://github.com/zold-io/zold/issues/321) is now out of scope

[2018-07-08 12:37] 0crat commented on #109
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 13:36] 0crat commented on #315
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 13:37] 0crat commented on #324
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 13:37] 0crat commented on #326
@ledestin[/z](https://www.0crat.com/u/ledestin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 13:37] 0crat commented on #230
@mgrassotti[/z](https://www.0crat.com/u/mgrassotti) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 07:36] emilianodellacasa commented on #306
@yegor256 ping

[2018-07-09 09:05] liligga commented on #325
@yegor256 can you assign this to me?

[2018-07-09 09:34] emilianodellacasa commented on #341
@0crat wait

[2018-07-09 09:35] 0crat commented on #341
@emilianodellacasa The impediment for [#341](https://github.com/zold-io/zold/issues/341) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-09 09:35] emilianodellacasa commented on #124
@0crat wait

[2018-07-09 09:39] 0crat commented on #124
@emilianodellacasa The impediment for [#124](https://github.com/zold-io/zold/issues/124) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-09 10:44] ledestin commented on #79
@yegor256 but wasn't the PR merged before the robot decided it was too late?

[2018-07-09 10:59] yegor256 commented on #79
@ledestin PR has nothing to do with this decision. The robot doesn't know how many PRs are required here. Keep in mind that one task may require many PRs before it's closed. When the ticket is closed -- the job is closed and should be paid. Until then, the robot doesn't care about PRs.

[2018-07-09 11:06] ledestin commented on #79
@yegor256 well, it was closed before being merged.

[2018-07-09 11:38] 0crat commented on #343
@botanicus[/z](https://www.0crat.com/u/botanicus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 13:01] yegor256 commented on #79
@ledestin I didn't understand the last message. Who was closed and who was merged?

[2018-07-09 13:03] yegor256 commented on #325
@0crat assign @liligga

[2018-07-09 13:04] 0crat commented on #325
@yegor256 The job [#325](https://github.com/zold-io/zold/issues/325) assigned to @liligga[/z](https://www.0crat.com/u/liligga), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1901304826); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-09 13:04] 0crat commented on #325
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @liligga[/z](https://www.0crat.com/u/liligga) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-07-09 13:04] 0crat commented on #325
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-09 13:04] 0crat commented on #325
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-09 13:56] botanicus commented on #357
@0crat wait

[2018-07-09 13:56] botanicus commented on #357
Pausing the time counting since the request for merge has been waiting for 2 days already.

[2018-07-09 14:03] botanicus commented on #329
@0crat wait

[2018-07-09 14:04] botanicus commented on #329
Stopping the counter as an action from REV has been due for 3 days.

[2018-07-09 14:11] 0crat commented on #357
@botanicus The impediment for [#357](https://github.com/zold-io/zold/issues/357) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-09 14:12] 0crat commented on #329
@botanicus The impediment for [#329](https://github.com/zold-io/zold/issues/329) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-09 14:21] yegor256 commented on #358
@botanicus this one is the most critical now, please make it your high priority

[2018-07-09 14:24] yegor256 commented on #276
@0crat assign @botanicus

[2018-07-09 14:29] 0crat commented on #276
@yegor256 The job [#276](https://github.com/zold-io/zold/issues/276) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1901431514); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-09 14:29] 0crat commented on #276
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-09 14:45] yegor256 commented on #297
@0crat assign @emilianodellacasa

[2018-07-09 14:45] 0crat commented on #297
@yegor256 The job [#297](https://github.com/zold-io/zold/issues/297) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1901447780); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-07-09 14:45] yegor256 commented on #306
@0crat assign @emilianodellacasa

[2018-07-09 14:45] yegor256 commented on #98
@0crat assign @emilianodellacasa

[2018-07-09 14:46] 0crat commented on #297
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-09 14:46] 0crat commented on #306
@yegor256 The job [#306](https://github.com/zold-io/zold/issues/306) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1901448804); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-07-09 14:46] 0crat commented on #306
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-09 15:13] emilianodellacasa commented on #124
@yegor256 this is a duplictate  of #78 - I think it should be closed

[2018-07-09 17:10] yegor256 commented on #124
@0crat refuse

[2018-07-09 17:10] yegor256 commented on #124
@emilianodellacasa you are right, closing

[2018-07-09 17:10] #124 closed

[2018-07-09 17:10] 0crat commented on #124
@yegor256 The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#124](https://github.com/zold-io/zold/issues/124), please stop working. Reason for job resignation: Order was cancelled

[2018-07-09 17:30] 0crat commented on #124
Job `gh:zold-io/zold#124` is not assigned, can't get performer

[2018-07-09 17:30] 0crat commented on #124
The job [#124](https://github.com/zold-io/zold/issues/124) is now out of scope

[2018-07-09 17:52] botanicus opened #369 "Use PROTOCOL for upgrades rather than VERSION"
As per [Yegor's suggestion](https://github.com/zold-io/zold/pull/362#issuecomment-403505383).

I'm creating a separate issue, because the upgrade related stories are not all merged in.

[2018-07-09 17:52] 0crat commented on #369
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-09 18:14] botanicus commented on #358
@yegor256 so `PROTOCOL` will go from `1` to `2`, right?

[2018-07-09 18:21] yegor256 commented on #358
@botanicus correct, just integers

[2018-07-09 18:31] 0pdd opened #370 "front.rb:93-94: Test that the headers are being set..."
The puzzle `357-e0152e73` from #357 has to be resolved:

https://github.com/zold-io/zold/blob/c6043c247408166b77830d50024473cab05cf071/lib/zold/node/front.rb#L93-L94

The puzzle was created by James C Russell on 09-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzz

[2018-07-09 18:31] 0pdd commented on #357
@yegor256 the puzzle [#370](https://github.com/zold-io/zold/issues/370) is still not solved.

[2018-07-09 18:32] 0crat commented on #370
Job [#370](https://github.com/zold-io/zold/issues/370) is now in scope, role is `DEV`

[2018-07-09 18:32] 0crat commented on #370
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-09 18:41] 0crat commented on #369
The job is not in WBS, won't close the order

[2018-07-09 18:41] 0crat commented on #369
Job `gh:zold-io/zold#369` is not assigned, can't get performer

[2018-07-09 21:30] botanicus commented on #357
@yegor256 please close.

[2018-07-09 21:50] botanicus commented on #369
@yegor256

1. Already existing code: https://github.com/zold-io/zold/blob/master/lib/zold/upgrades.rb#L27
2. Code about to be merged https://github.com/zold-io/zold/pull/353

This is a valid request, please reopen.

[2018-07-09 22:16] botanicus opened #372 "Store wallets in user's HOME"
When I create a wallet, the wallet is created in the current directory. There's nothing wrong with that per-se, but in #358 we want to rename these wallets.

_But where do I find them?_

Currently, there's no way of doing so. It's reasonable to expect that the user could be in any location when calling the `zold` Command.

[code]

Besides [we cannot even reasonably determine what the wallets are](

[2018-07-09 22:16] 0crat commented on #372
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-10 04:33] yegor256 commented on #372
@botanicus well, we are trying to copy Git in our design, which is using _current directory_ when you run it. In order to find all wallets, just do `Wallets.new(dir).all`

[2018-07-10 04:33] #372 closed

[2018-07-10 04:34] yegor256 commented on #369
@botanicus each ticket has to be reported as a _bug_, explaining what's broken (!) and how it should be fixed. This one is a task, not a bug.

[2018-07-10 04:50] 0crat commented on #372
The job is not in WBS, won't close the order

[2018-07-10 04:50] 0crat commented on #372
Job `gh:zold-io/zold#372` is not assigned, can't get performer

[2018-07-10 04:58] yegor256 commented on #357
@botanicus thanks!

[2018-07-10 04:58] #357 closed

[2018-07-10 05:19] 0crat commented on #357
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @botanicus[/z](https://www.0crat.com/u/botanicus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-10 05:20] 0crat commented on #357
The job [#357](https://github.com/zold-io/zold/issues/357) is now out of scope

[2018-07-10 05:28] 0crat commented on #281
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.2](https://github.com/zerocracy/farm): Issue: zold-io/zold#281, Comment: 403704747

[2018-07-10 05:28] 0crat commented on #281
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.2](https://github.com/zerocracy/farm): Issue: zold-io/zold#281, Action: `created`

[2018-07-10 05:29] yegor256 commented on #281
@0crat assign me

[2018-07-10 05:32] 0crat commented on #281
@yegor256 The job [#281](https://github.com/zold-io/zold/issues/281) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1910530007); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-10 05:33] 0crat commented on #281
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 05:33] 0crat commented on #281
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 05:34] 0crat commented on #276
@yegor256 The job [#276](https://github.com/zold-io/zold/issues/276) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1910534085); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-10 05:37] 0crat commented on #276
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 05:37] 0crat commented on #276
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 07:19] yegor256 commented on #358
@0crat assign me

[2018-07-10 07:20] 0crat commented on #358
@yegor256 The job [#358](https://github.com/zold-io/zold/issues/358) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1910720182); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-10 07:21] 0crat commented on #358
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 07:21] 0crat commented on #358
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 08:13] ypshenychka commented on #357
@botanicus According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold/issues/357#issuecomment-403487890) by indicating an addressee in the beginning.

[2018-07-10 08:21] #276 closed

[2018-07-10 08:21] #281 closed

[2018-07-10 08:37] 0crat commented on #276
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 08:37] 0crat commented on #276
The job [#276](https://github.com/zold-io/zold/issues/276) is now out of scope

[2018-07-10 08:38] 0crat commented on #281
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 08:38] 0crat commented on #281
The job [#281](https://github.com/zold-io/zold/issues/281) is now out of scope

[2018-07-10 09:39] 0crat commented on #79
The job [#79](https://github.com/zold-io/zold/issues/79) is now out of scope

[2018-07-10 09:55] ledestin commented on #79
@yegor256 sorry, this issue was closed by rultor, and then a PR was merged. I suppose, it all happened because the puzzle wasn't removed.

[2018-07-10 10:23] botanicus commented on #357
@ypshenychka it's meant to anyone who reads the ticket, I don't have anyone specific in mind.

I can _not_ post thinks like that (and delete this one), but I believe it's good to inform the public (whoever's interested) about where things are.

[2018-07-10 10:42] g4s8 commented on #98
@0crat status

[2018-07-10 10:43] 0crat commented on #98
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#98](https://github.com/zold-io/zold/issues/98) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set

[2018-07-10 10:43] 0crat commented on #98
@yegor256 The job [#98](https://github.com/zold-io/zold/issues/98) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1911045120); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-07-10 10:44] 0crat commented on #98
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 10:49] 0crat commented on #89
The job [#89](https://github.com/zold-io/zold/issues/89) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1911051191); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-10 11:00] ypshenychka commented on #357
@botanicus We have to avoid noise in tickets. So please address this to someone (e.g. issue reporter, architect, 0crat).

[2018-07-10 11:05] g4s8 commented on #98
@0crat status

[2018-07-10 11:05] 0crat commented on #98
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#98](https://github.com/zold-io/zold/issues/98) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) for [22min](h

[2018-07-10 11:54] yegor256 commented on #358
@rultor release, tag is `0.14`

[2018-07-10 11:56] rultor commented on #358
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15288-403796109)

[2018-07-10 11:59] rultor commented on #358
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15288-403796109) (spent 3min)

[code]

[2018-07-10 12:02] yegor256 commented on #358
@rultor release, tag is `0.14.0`

[2018-07-10 12:04] rultor commented on #358
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15288-403797785)

[2018-07-10 12:14] rultor commented on #358
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15288-403797785) (spent 10min)

[code]

[2018-07-10 12:21] yegor256 commented on #358
@rultor release, tag is `0.14.1`

[2018-07-10 12:32] rultor commented on #358
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15288-403802487) (took me 8min)

[2018-07-10 12:33] #358 closed

[2018-07-10 12:49] 0crat commented on #358
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 12:49] 0crat commented on #358
The job [#358](https://github.com/zold-io/zold/issues/358) is now out of scope

[2018-07-10 13:07] yegor256 opened #374 "identical content is identified as different copies"
I can't understand how this can happen:

[code]

It's obvious that all four nodes returned exactly the same content of the wallet (3057 bytes). However, the forth node was identified as copy no.1 while the first three as copy no.2. How this could be? Let's try to reproduce in a test and fix.

[2018-07-10 13:08] 0crat commented on #374
Job [#374](https://github.com/zold-io/zold/issues/374) is now in scope, role is `DEV`

[2018-07-10 13:08] 0crat commented on #374
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 13:09] yegor256 opened #375 "show digest in front"
Wallet front must show its digest

[2018-07-10 13:49] yegor256 commented on #375
@rultor release, tag is `0.14.2`

[2018-07-10 13:50] rultor commented on #375
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15291-403828733)

[2018-07-10 13:56] rultor commented on #375
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15291-403828733) (took me 5min)

[2018-07-10 14:04] #375 closed

[2018-07-10 14:20] 0crat commented on #375
The job is not in WBS, won't close the order

[2018-07-10 14:20] 0crat commented on #375
Job `gh:zold-io/zold#375` is not assigned, can't get performer

[2018-07-10 14:42] 0crat commented on #314
The user @mgrassotti[/z](https://www.0crat.com/u/mgrassotti) resigned from [#314](https://github.com/zold-io/zold/issues/314), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-10 14:42] 0crat commented on #314
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti)

[2018-07-10 14:47] 0crat commented on #72
The job [#72](https://github.com/zold-io/zold/issues/72) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1911448389); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-10 15:24] yegor256 commented on #374
@rultor release, tag is `0.14.3`

[2018-07-10 15:32] rultor commented on #374
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15294-403863234) (spent 5min)

[code]

[2018-07-10 15:38] emilianodellacasa commented on #98
@yegor256 past boost has been lost (created an issue for that), could you please do it again? Thanks

[2018-07-11 06:57] 0crat commented on #61
The job [#61](https://github.com/zold-io/zold/issues/61) assigned to @jedediah[/z](https://www.0crat.com/u/jedediah), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1920668672); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-11 07:02] 0crat commented on #52
The job [#52](https://github.com/zold-io/zold/issues/52) assigned to @jedediah[/z](https://www.0crat.com/u/jedediah), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1920713725); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-11 07:06] 0crat commented on #51
The job [#51](https://github.com/zold-io/zold/issues/51) assigned to @jedediah[/z](https://www.0crat.com/u/jedediah), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1920718796); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-11 07:30] emilianodellacasa commented on #297
@yegor256 PR has been merged, could you please close this issue?

[2018-07-11 07:40] ypshenychka commented on #357
@botanicus ping

[2018-07-11 10:04] botanicus commented on #357
@ypshenychka OK, "noise" removed.

[2018-07-11 10:21] botanicus commented on #322
@0crat wait

[2018-07-11 10:21] 0crat commented on #322
@botanicus The impediment for [#322](https://github.com/zold-io/zold/issues/322) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-11 10:40] ypshenychka commented on #357
@botanicus What was the reason to remove the comment at all? It was explaining the reason of impediment. Now please add details to registered [impediment](https://github.com/zold-io/zold/issues/357#issuecomment-403487863) in accordance to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[2018-07-11 13:53] emilianodellacasa commented on #98
@yegor256 ping

[2018-07-11 13:54] emilianodellacasa commented on #297
@yegor256 ping

[2018-07-11 14:38] yegor256 commented on #297
@emilianodellacasa thanks!

[2018-07-11 14:38] #297 closed

[2018-07-11 14:39] yegor256 commented on #297
@emilianodellacasa for the future, when you ask the author to close the issue, explicitly mention the PR(s) where the problem was solved.

[2018-07-11 14:39] yegor256 commented on #98
@0crat boost 4x

[2018-07-11 14:39] 0crat commented on #98
@yegor256 Boost 4x was set for [#98](https://github.com/zold-io/zold/issues/98)

[2018-07-11 14:40] 0crat commented on #98
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 14:40] emilianodellacasa commented on #297
@yegor256 I certainly will, thanks!

[2018-07-11 14:54] #322 closed

[2018-07-11 14:54] 0pdd commented on #322
The puzzle `279-4664e37c` has disappeared from the source code, that's why I closed this issue.

[2018-07-11 14:54] 0pdd opened #377 "test_alias.rb:8-9: Implement the set command and unskip..."
The puzzle `322-7828612a` from #322 has to be resolved:

https://github.com/zold-io/zold/blob/cbbd0a2be4266c50ac1f57fa00d93a69b42d817c/test/commands/test_alias.rb#L8-L9

The puzzle was created by rultor on 11-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is

[2018-07-11 14:54] 0pdd opened #378 "test_alias.rb:20-21: Implement the remove command and..."
The puzzle `322-58c2b412` from #322 has to be resolved:

https://github.com/zold-io/zold/blob/cbbd0a2be4266c50ac1f57fa00d93a69b42d817c/test/commands/test_alias.rb#L20-L21

The puzzle was created by rultor on 11-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle i

[2018-07-11 14:54] 0pdd opened #379 "test_alias.rb:35-36: Implement the show command and..."
The puzzle `322-c77a5ea1` from #322 has to be resolved:

https://github.com/zold-io/zold/blob/cbbd0a2be4266c50ac1f57fa00d93a69b42d817c/test/commands/test_alias.rb#L35-L36

The puzzle was created by rultor on 11-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle i

[2018-07-11 14:54] 0crat commented on #297
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-11 14:54] 0pdd commented on #279
@yegor256 4 puzzles [#323](https://github.com/zold-io/zold/issues/323), [#377](https://github.com/zold-io/zold/issues/377), [#378](https://github.com/zold-io/zold/issues/378), [#379](https://github.com/zold-io/zold/issues/379) are still not solved; solved: [#322](https://github.com/zold-io/zold/issues/322).

[2018-07-11 14:54] 0pdd commented on #322
@0pdd 3 puzzles [#377](https://github.com/zold-io/zold/issues/377), [#378](https://github.com/zold-io/zold/issues/378), [#379](https://github.com/zold-io/zold/issues/379) are still not solved.

[2018-07-11 14:54] 0crat commented on #297
The job [#297](https://github.com/zold-io/zold/issues/297) is now out of scope

[2018-07-11 14:55] #374 closed

[2018-07-11 14:55] yegor256 opened #380 "wallet content may not be perfectly formatted"
Some nodes may return wallets that are not formatted correctly. Let's fix the formatting after received the wallet data.

[2018-07-11 14:55] 0crat commented on #379
Job [#379](https://github.com/zold-io/zold/issues/379) is now in scope, role is `DEV`

[2018-07-11 14:56] 0crat commented on #379
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-11 14:56] 0crat commented on #378
Job [#378](https://github.com/zold-io/zold/issues/378) is now in scope, role is `DEV`

[2018-07-11 14:56] 0crat commented on #378
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-11 14:56] 0crat commented on #377
Job [#377](https://github.com/zold-io/zold/issues/377) is now in scope, role is `DEV`

[2018-07-11 14:56] 0crat commented on #377
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-11 14:57] 0crat commented on #380
The job [#380](https://github.com/zold-io/zold/issues/380) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1921459655); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-11 14:57] 0crat commented on #380
Job `gh:zold-io/zold#380` already assigned to @yegor256, can't assign to @yegor256

[2018-07-11 14:58] 0crat commented on #380
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 14:58] 0crat commented on #380
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 14:58] 0crat commented on #380
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 15:10] 0crat commented on #322
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @botanicus[/z](https://www.0crat.com/u/botanicus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-11 15:10] 0crat commented on #322
The job [#322](https://github.com/zold-io/zold/issues/322) is now out of scope

[2018-07-11 15:13] 0crat commented on #374
Job `gh:zold-io/zold#374` is not assigned, can't get performer

[2018-07-11 15:13] 0crat commented on #374
The job [#374](https://github.com/zold-io/zold/issues/374) is now out of scope

[2018-07-11 16:18] yegor256 commented on #380
@rultor release, tag is `0.14.4`

[2018-07-11 16:18] rultor commented on #380
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15309-404228456)

[2018-07-11 16:26] yegor256 opened #381 "move bonus payments to WTS"
Let's move it there

[2018-07-11 16:31] #380 closed

[2018-07-11 16:32] 0crat commented on #381
The job [#381](https://github.com/zold-io/zold/issues/381) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1921634673); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-11 16:32] 0crat commented on #381
Job `gh:zold-io/zold#381` already assigned to @yegor256, can't assign to @yegor256

[2018-07-11 16:32] 0crat commented on #381
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 16:32] 0crat commented on #381
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 16:32] 0crat commented on #381
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 16:33] emilianodellacasa commented on #306
@0crat wait

[2018-07-11 16:33] 0crat commented on #306
@emilianodellacasa The impediment for [#306](https://github.com/zold-io/zold/issues/306) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-11 16:46] 0crat commented on #380
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 16:47] 0crat commented on #380
The job [#380](https://github.com/zold-io/zold/issues/380) is now out of scope

[2018-07-11 16:55] yegor256 commented on #381
@rultor release, tag is `0.14.5`

[2018-07-11 16:57] rultor commented on #381
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15310-404239541)

[2018-07-11 17:03] rultor commented on #381
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15310-404239541) (took me 5min)

[2018-07-11 17:06] #381 closed

[2018-07-11 17:22] 0crat commented on #381
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 17:22] 0crat commented on #381
The job [#381](https://github.com/zold-io/zold/issues/381) is now out of scope

[2018-07-11 17:26] yegor256 opened #382 "prefix building fails with special symbols"
If key contains `/` for example

[2018-07-11 17:55] yegor256 commented on #382
@rultor release, tag is `0.14.6`

[2018-07-11 17:56] rultor commented on #382
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15311-404257336)

[2018-07-11 18:02] rultor commented on #382
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15311-404257336) (took me 5min)

[2018-07-11 18:04] #382 closed

[2018-07-11 18:19] 0crat commented on #382
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 18:19] 0crat commented on #382
The job [#382](https://github.com/zold-io/zold/issues/382) is now out of scope

[2018-07-11 18:59] ypshenychka commented on #297
@0crat quality good

[2018-07-11 18:59] 0crat commented on #297
Order was finished, quality is "good": +38 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-11 19:00] 0crat commented on #297
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-11 19:01] ypshenychka commented on #322
@botanicus According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zold-io/zold/issues/322#issuecomment-404120260).

[2018-07-11 19:11] yegor256 opened #383 "spread_entrance should always spread what was visible"
Now it ignores the wallet if it wasn't modified. Let's spread anyway.

[2018-07-11 19:18] yegor256 commented on #383
@rultor release, tag is `0.14.7`

[2018-07-11 19:18] rultor commented on #383
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15313-404280978)

[2018-07-11 19:33] yegor256 opened #384 "remove non-production wallets on start"
Let's kill wallets that belong to another network, on start.

[2018-07-11 19:41] 0crat commented on #383
The job is not in WBS, won't close the order

[2018-07-11 19:41] 0crat commented on #383
Job `gh:zold-io/zold#383` is not assigned, can't get performer

[2018-07-11 19:44] 0pdd opened #385 "zold:141-143: This is a workaround, move this code into..."
The puzzle `384-9943eeb2` from #384 has to be resolved:

https://github.com/zold-io/zold/blob/9406401e7e48ae30e18550c258352456d5a533e3/bin/zold#L141-L143

The puzzle was created by Yegor Bugayenko on 11-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _remov

[2018-07-11 19:44] 0pdd commented on #384
@yegor256 the puzzle [#385](https://github.com/zold-io/zold/issues/385) is still not solved.

[2018-07-11 19:44] 0crat commented on #385
Job [#385](https://github.com/zold-io/zold/issues/385) is now in scope, role is `DEV`

[2018-07-11 19:44] 0crat commented on #385
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-11 19:50] yegor256 commented on #384
@rultor release, tag is `0.14.8`

[2018-07-11 19:52] rultor commented on #384
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15315-404289408)

[2018-07-11 19:58] rultor commented on #384
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15315-404289408) (took me 5min)

[2018-07-11 19:59] #384 closed

[2018-07-11 20:14] 0crat commented on #384
The job is not in WBS, won't close the order

[2018-07-11 20:14] 0crat commented on #384
Job `gh:zold-io/zold#384` is not assigned, can't get performer

[2018-07-11 20:26] DronMDF opened #386 "'zold push' require HTTP 200 instead of 202"
Rest API PUT /wallet/<id> should return 202 http status as it is written in WP.

Instead I see error:
[code]

[2018-07-11 22:21] llorllale opened #387 "Difference between FETCH and PULL"
Over at [zold-io/java-api](https://github.com/zold-io/java-api/issues/5#issuecomment-402911750) we're asking if there are supposed to be the semantic differences between the verbs "fetching" vs "pulling" a wallet? Do they have different meanings or are they the same concept?

Looking through the ruby code, I *think* `fetch` will just download all versions of your wallets from the network, whereas

[2018-07-11 22:21] 0crat commented on #387
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-11 22:21] 0crat commented on #387
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-12 05:18] yegor256 commented on #386
@DronMDF what is the version you are using? I don't see anywhere in our code where 202 is returned.

[2018-07-12 05:20] yegor256 commented on #387
@llorllale that's, right: FETCH will only download, while PULL will fetch and merge. Just like it works in Git.

[2018-07-12 05:20] #387 closed

[2018-07-12 05:37] 0crat commented on #387
The job is not in WBS, won't close the order

[2018-07-12 05:37] 0crat commented on #387
Job `gh:zold-io/zold#387` is not assigned, can't get performer

[2018-07-12 08:42] #329 closed

[2018-07-12 08:42] 0pdd commented on #329
The puzzle `292-3bcf6540` has disappeared from the source code, that's why I closed this issue.

[2018-07-12 08:42] 0pdd opened #388 "test_remote.rb:120-122: Verify that the nodes that are..."
The puzzle `329-08487f44` from #329 has to be resolved:

https://github.com/zold-io/zold/blob/3cd5cd12df2989c95aa02091d9f6aa5174aef5e2/test/commands/test_remote.rb#L120-L122

The puzzle was created by James C Russell on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of

[2018-07-12 08:42] 0pdd commented on #292
@yegor256 2 puzzles [#328](https://github.com/zold-io/zold/issues/328), [#388](https://github.com/zold-io/zold/issues/388) are still not solved; solved: [#329](https://github.com/zold-io/zold/issues/329).

[2018-07-12 08:42] 0pdd commented on #329
@0pdd the puzzle [#388](https://github.com/zold-io/zold/issues/388) is still not solved.

[2018-07-12 08:43] 0crat commented on #388
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 08:43] 0crat commented on #388
Job [#388](https://github.com/zold-io/zold/issues/388) is now in scope, role is `DEV`

[2018-07-12 08:59] 0crat commented on #329
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @botanicus[/z](https://www.0crat.com/u/botanicus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-12 08:59] 0crat commented on #329
The job [#329](https://github.com/zold-io/zold/issues/329) is now out of scope

[2018-07-12 10:52] liligga commented on #360
Is there a way to run a specific `describe` block(or an example group in other words) like in RSpec?

[2018-07-12 11:11] 0pdd opened #389 "test_node.rb:42-44: This test is failing from time to..."
The puzzle `306-7716d232` from #306 has to be resolved:

https://github.com/zold-io/zold/blob/d659e660c6df319f7f7135217d1fb10e5cf6b8c5/test/commands/test_node.rb#L42-L44

The puzzle was created by rultor on 12-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is

[2018-07-12 11:11] 0pdd commented on #306
@botanicus the puzzle [#389](https://github.com/zold-io/zold/issues/389) is still not solved.

[2018-07-12 11:12] 0crat commented on #389
Job [#389](https://github.com/zold-io/zold/issues/389) is now in scope, role is `DEV`

[2018-07-12 11:12] 0crat commented on #389
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 12:14] DronMDF commented on #386
I use alternative node implementation.

White paper require 202:
![image](https://user-images.githubusercontent.com/2982959/42632555-3b532bcc-85e6-11e8-8ccd-dffa2b676fcb.png)

[2018-07-12 13:51] liligga opened #390 "Optimize `Enumerable#find`"
I have noticed some usage of `find` in places like [here](https://github.com/zold-io/zold/blob/master/lib/zold/wallet.rb#L136)

          !txns.find { |t| t.id == id && t.bnf == bnf }.nil?

or [here](https://github.com/zold-io/zold/blob/master/lib/zold/wallet.rb#L127)

          dup = txns.find { |t| t.bnf == txn.bnf && t.id == txn.id }

Taking into account that this project is claimed as fast cry

[2018-07-12 13:51] 0crat commented on #390
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 13:51] 0crat commented on #390
@liligga[/z](https://www.0crat.com/u/liligga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-12 15:24] liligga commented on #390
Ok, I do realize this works with sorted arrays. What I was not sure about was if `bnf` and `id` of transactions are actually sorted. @yegor256 please close this issue if I am wrong.

[2018-07-12 15:32] emilianodellacasa opened #391 "Travis configuration to test against newer Ruby Version"
When working on issue #306 a problem has been seen with the docker container that Rultor is using for the merge part.

Apparently (https://github.com/yegor256/rultor/issues/1267) operators are not supported in _Gemfile_, whereas are correctly recognized by Travis.

When the above mentioned issue is solved, we should modify the Travis setting file to test everything against newer ruby versions, for

[2018-07-12 15:32] 0crat commented on #391
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 19:16] ypshenychka commented on #329
@botanicus According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold/issues/329#issuecomment-403490560) by indicating an addressee in the beginning.

[2018-07-12 21:09] DronMDF opened #392 "Invoice regexp is not complete"
Prefix part of invoice contain random choised symbol sequence from public key.
RSA public key can contain special characters. '+' and '/' and '=' for padding
Check regex not pass this symbols.

[code]

[2018-07-12 21:09] 0crat commented on #392
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 21:09] 0crat commented on #392
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-13 08:40] 0pdd opened #393 "http.rb:53-58: The following two statements are seen as..."
The puzzle `98-ed836320` from #98 has to be resolved:

https://github.com/zold-io/zold/blob/cdb06a0b8a2f2814c2aa933756e5db4c2d7063ab/lib/zold/http.rb#L53-L58

The puzzle was created by Emiliano Della Casa on 12-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle i

[2018-07-13 08:41] 0pdd opened #394 "type.rb:23-26: Right now only Score and Http classes have..."
The puzzle `98-a72851ba` from #98 has to be resolved:

https://github.com/zold-io/zold/blob/cdb06a0b8a2f2814c2aa933756e5db4c2d7063ab/lib/zold/type.rb#L23-L26

The puzzle was created by Emiliano Della Casa on 12-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle i

[2018-07-13 08:41] 0pdd commented on #98
@yegor256 2 puzzles [#393](https://github.com/zold-io/zold/issues/393), [#394](https://github.com/zold-io/zold/issues/394) are still not solved.

[2018-07-13 08:41] 0crat commented on #394
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-13 08:41] 0crat commented on #394
Job [#394](https://github.com/zold-io/zold/issues/394) is now in scope, role is `DEV`

[2018-07-13 08:41] 0crat commented on #393
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-13 08:42] 0crat commented on #393
Job [#393](https://github.com/zold-io/zold/issues/393) is now in scope, role is `DEV`

[2018-07-13 08:42] ypshenychka commented on #357
@botanicus ping

[2018-07-13 08:42] ypshenychka commented on #322
@botanicus ping

[2018-07-13 08:53] 0pdd commented on #327
The puzzle `285-214c18b0` has disappeared from the source code, that's why I closed this issue.

[2018-07-13 08:53] #327 closed

[2018-07-13 08:53] 0pdd commented on #285
@yegor256 3 puzzles [#326](https://github.com/zold-io/zold/issues/326), [#365](https://github.com/zold-io/zold/issues/365), [#366](https://github.com/zold-io/zold/issues/366) are still not solved; solved: [#327](https://github.com/zold-io/zold/issues/327).

[2018-07-13 09:08] 0crat commented on #327
Job [#327](https://github.com/zold-io/zold/issues/327) is not in the agenda of @ledestin[/z](https://www.0crat.com/u/ledestin), can't retrieve data and time of add

[2018-07-13 09:08] 0crat commented on #327
Job [#327](https://github.com/zold-io/zold/issues/327) is not in the agenda of @ledestin[/z](https://www.0crat.com/u/ledestin), can't inspect

[2018-07-13 09:08] 0crat commented on #327
The job [#327](https://github.com/zold-io/zold/issues/327) is now out of scope

[2018-07-13 09:54] yegor256 opened #395 ""history" is empty in most nodes"
For some reason "history" is almost empty in the majority of nodes.

[2018-07-13 12:31] 0crat commented on #109
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#109](https://github.com/zold-io/zold/issues/109), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-13 12:32] 0crat commented on #109
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-07-13 12:47] yegor256 opened #397 "front-end threads conflict with score counting threads"
Look at this page: http://www.zold.io/health.html You see that "ping" is huge for the majority of nodes, except `b1.zold.io`, which doesn't run any score calculating threads. We should find a way to isolate our front-end threads from score threads, to make sure the front end is always fast.

[2018-07-13 12:47] yegor256 commented on #397
@oltdaniel would you be interested to take a look?

[2018-07-13 12:57] 0crat commented on #315
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#315](https://github.com/zold-io/zold/issues/315), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-13 12:57] 0crat commented on #315
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-07-13 13:06] 0crat commented on #324
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#324](https://github.com/zold-io/zold/issues/324), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-13 13:06] 0crat commented on #324
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-07-13 13:12] 0crat commented on #326
The user @ledestin[/z](https://www.0crat.com/u/ledestin) resigned from [#326](https://github.com/zold-io/zold/issues/326), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-13 13:12] 0crat commented on #326
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-13 13:16] 0crat commented on #230
The user @mgrassotti[/z](https://www.0crat.com/u/mgrassotti) resigned from [#230](https://github.com/zold-io/zold/issues/230), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-13 13:17] 0crat commented on #230
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti)

[2018-07-14 07:17] ypshenychka commented on #357
@botanicus Please add details to the impediment.

[2018-07-14 07:18] ypshenychka commented on #322
@botanicus Please respond to the above [remark](https://github.com/zold-io/zold/issues/322#issuecomment-404276445)

[2018-07-14 10:40] pawlik opened #398 "Wallet not found, even though it was successfully pushed (from another machine)"
I created a wallet locally, and then did

[code]

On another server (digital ocean droplet) I get the info that the wallet is unknown by the node

[code]

I think, since the push was successful - new node should be able to fetch this wallet (?). The first successful push was already yesterday, and even today I can't start the node with this wallet ID.

[2018-07-14 10:40] 0crat commented on #398
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-14 10:40] 0crat commented on #398
@pawlik[/z](https://www.0crat.com/u/pawlik) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-14 12:45] 0crat commented on #343
The user @botanicus[/z](https://www.0crat.com/u/botanicus) resigned from [#343](https://github.com/zold-io/zold/issues/343), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-14 12:46] 0crat commented on #343
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-15 22:38] 0crat commented on #89
@mgrassotti[/z](https://www.0crat.com/u/mgrassotti) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-15 22:38] 0crat commented on #72
@mgrassotti[/z](https://www.0crat.com/u/mgrassotti) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 06:16] yegor256 commented on #395
@rultor release, tag is `0.14.9`

[2018-07-16 06:18] rultor commented on #395
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15365-405157024)

[2018-07-16 06:35] yegor256 commented on #392
@DronMDF this is intentional. Even though the RSA key may have special symbols, the invoice can't.

[2018-07-16 06:35] #392 closed

[2018-07-16 06:36] #390 closed

[2018-07-16 06:37] yegor256 commented on #298
@0crat assign me

[2018-07-16 06:53] #298 closed

[2018-07-16 06:53] yegor256 commented on #395
@rultor release, tag is `0.14.9`

[2018-07-16 06:54] yegor256 opened #399 "multi-threaded Remotes"
Let's use multiple threads, to speed things up

[2018-07-16 06:56] rultor commented on #395
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15365-405161774)

[2018-07-16 07:04] rultor commented on #395
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15365-405161774) (took me 8min)

[2018-07-16 07:16] ypshenychka commented on #322
@0crat quality acceptable

[2018-07-16 07:18] ypshenychka commented on #329
@botanicus ping

[2018-07-16 07:18] yegor256 commented on #399
@rultor release, tag is `0.14.10`

[2018-07-16 07:21] yegor256 commented on #399
@rultor release, tag is `0.14.10`

[2018-07-16 07:30] rultor commented on #399
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15366-405166117) (took me 6min)

[2018-07-16 07:49] DronMDF commented on #392
@yegor256 How to generate and check it?
Select all alfanumeric syms from RSA key and use this sequence?
Ok, this is possible.

[2018-07-16 07:59] #395 closed

[2018-07-16 07:59] yegor256 opened #400 "ruby version back to 2.3.1"
Most nodes have 2.3.1. 2.3.3 is not installed there, that's why our nodes don't start.

[2018-07-16 08:08] yegor256 commented on #400
@rultor release, tag is `0.14.11`

[2018-07-16 08:11] rultor commented on #400
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15369-405174697)

[2018-07-16 08:14] #399 closed

[2018-07-16 08:17] 0crat commented on #392
The job is not in WBS, won't close the order

[2018-07-16 08:17] 0crat commented on #392
Job `gh:zold-io/zold#392` is not assigned, can't get performer

[2018-07-16 08:17] 0crat commented on #390
The job is not in WBS, won't close the order

[2018-07-16 08:17] 0crat commented on #390
Job `gh:zold-io/zold#390` is not assigned, can't get performer

[2018-07-16 08:17] rultor commented on #400
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15369-405174697) (took me 6min)

[2018-07-16 08:17] 0crat commented on #298
Job `gh:zold-io/zold#298` is not assigned, can't get performer

[2018-07-16 08:17] #400 closed

[2018-07-16 08:19] 0crat commented on #395
Job `gh:zold-io/zold#395` is not assigned, can't get performer

[2018-07-16 08:20] 0crat commented on #395
The job [#395](https://github.com/zold-io/zold/issues/395) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1970814094); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-16 08:20] 0crat commented on #298
@yegor256 The job [#298](https://github.com/zold-io/zold/issues/298) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1970814103); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-16 08:20] 0crat commented on #298
@yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#298](https://github.com/zold-io/zold/issues/298), since the job is not in scope anymore

[2018-07-16 08:20] 0crat commented on #298
The job [#298](https://github.com/zold-io/zold/issues/298) is now out of scope

[2018-07-16 08:21] 0crat commented on #399
The job [#399](https://github.com/zold-io/zold/issues/399) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1970814108); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-16 08:22] 0crat commented on #395
@yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#395](https://github.com/zold-io/zold/issues/395), since the job is not in scope anymore

[2018-07-16 08:22] 0crat commented on #395
The job [#395](https://github.com/zold-io/zold/issues/395) is now out of scope

[2018-07-16 08:22] 0crat commented on #395
Job `gh:zold-io/zold#395` doesn't exist in WBS, can't create order

[2018-07-16 08:23] 0crat commented on #399
Job `gh:zold-io/zold#399` already assigned to @yegor256, can't assign to @yegor256

[2018-07-16 08:23] 0crat commented on #357
Order was finished, quality is "acceptable": +30 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-16 08:23] 0crat commented on #357
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-16 08:39] botanicus commented on #329
@ypshenychka done

[2018-07-16 08:46] ypshenychka commented on #329
@botanicus thanks

[2018-07-16 08:46] ypshenychka commented on #329
@0crat quality acceptable

[2018-07-16 09:54] 0crat commented on #400
The job is not in WBS, won't close the order

[2018-07-16 09:54] 0crat commented on #400
Job `gh:zold-io/zold#400` is not assigned, can't get performer

[2018-07-16 09:56] 0crat commented on #329
Order was finished, quality is "acceptable": +30 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-16 09:56] 0crat commented on #329
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-16 09:56] 0crat commented on #399
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-16 09:56] 0crat commented on #399
The job [#399](https://github.com/zold-io/zold/issues/399) is now out of scope

[2018-07-16 12:03] yegor256 opened #401 "show entrance average speed"
Let's show it in JSON

[2018-07-16 12:22] yegor256 commented on #401
@rultor release, tag is `0.14.12`

[2018-07-16 12:35] yegor256 commented on #401
@rultor release, tag is `0.14.12`

[2018-07-16 12:35] rultor commented on #401
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15375-405232823)

[2018-07-16 12:42] rultor commented on #401
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15375-405232823) (took me 6min)

[2018-07-16 12:44] #401 closed

[2018-07-16 13:00] 0crat commented on #401
Job `gh:zold-io/zold#401` is not assigned, can't get performer

[2018-07-16 13:00] 0crat commented on #401
The job is not in WBS, won't close the order

[2018-07-16 13:32] yegor256 commented on #392
@DronMDF yes, something like that. The algorithm is in `Prefixes` class.

[2018-07-16 13:38] 0crat commented on #61
@jedediah[/z](https://www.0crat.com/u/jedediah) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 13:38] 0crat commented on #52
@jedediah[/z](https://www.0crat.com/u/jedediah) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 13:38] 0crat commented on #51
@jedediah[/z](https://www.0crat.com/u/jedediah) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 14:12] yegor256 opened #402 "the queue is too long"
In most nodes the queue is too long.

[2018-07-16 14:50] yegor256 commented on #402
@rultor release, tag is `0.14.13`

[2018-07-16 14:51] rultor commented on #402
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15383-405273390)

[2018-07-16 14:51] yegor256 opened #403 "errors container"
Let's accumulate all exceptions in a node in some in-memory container and make them visible via HTTP. This will help us detect issues in the network easily.

[2018-07-16 15:01] rultor commented on #402
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15383-405273390) (took me 9min)

[2018-07-16 15:10] #402 closed

[2018-07-17 04:56] yegor256 opened #404 "pay taxes before making payments"
Let's pay taxes

[2018-07-17 07:57] emilianodellacasa commented on #306
@botanicus PR https://github.com/zold-io/zold/pull/336 has been successfully closed, please close this issue

[2018-07-17 08:18] yegor256 commented on #404
@rultor release, tag is `0.14.14`

[2018-07-17 08:19] rultor commented on #404
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15390-405499760)

[2018-07-17 08:30] #404 closed

[2018-07-17 08:45] 0crat commented on #404
The job is not in WBS, won't close the order

[2018-07-17 08:45] 0crat commented on #404
Job `gh:zold-io/zold#404` is not assigned, can't get performer

[2018-07-17 08:55] #306 closed

[2018-07-17 09:10] yegor256 opened #405 "remote select doesn't work with opts"
Let's fix

[2018-07-17 09:11] 0crat commented on #306
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-17 09:11] 0crat commented on #306
The job [#306](https://github.com/zold-io/zold/issues/306) is now out of scope

[2018-07-17 09:12] #405 closed

[2018-07-17 09:42] ypshenychka commented on #306
@emilianodellacasa According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold/issues/306#issuecomment-402200457) by indicating an addressee in the beginning.

[2018-07-17 09:43] ypshenychka commented on #306
@emilianodellacasa According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zold-io/zold/issues/306#issuecomment-404233149)

[2018-07-17 09:46] emilianodellacasa commented on #306
@ypshenychka Done, sorry for that

[2018-07-17 09:52] emilianodellacasa commented on #98
@yegor256 PR https://github.com/zold-io/zold/pull/347 has been closed, please close this issue

[2018-07-17 09:54] yegor256 opened #406 "ArgumentError: comparison of Fixnum with true failed"
[code]

[2018-07-17 09:56] ypshenychka commented on #306
@emilianodellacasa thank you

[2018-07-17 09:56] ypshenychka commented on #306
@0crat quality acceptable

[2018-07-17 09:57] yegor256 commented on #406
@rultor release, tag is `0.14.15`

[2018-07-17 09:58] 0crat commented on #306
Order was finished, quality is "acceptable": +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-17 09:58] 0crat commented on #306
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-17 09:59] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15392-405527770)

[2018-07-17 10:07] 0crat commented on #287
The job [#287](https://github.com/zold-io/zold/issues/287) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1981016258); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-07-17 10:08] rultor commented on #406
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15392-405527770) (took me 8min)

[2018-07-17 10:12] #406 closed

[2018-07-17 14:18] emilianodellacasa commented on #287
@yegor256 I think this issue should be assigned back to @liligga, he is still working on it on the PR

[2018-07-17 14:57] emilianodellacasa opened #408 "Default network value is "test""
After a fresh install of zold package, I tried running a node specifying my wallet id, but the error for all nodes was:

"The wallet 25e0819b40cf7eb6 is in network 'zold', while we are in 'test' in 7s;"

At the beginning, zold command gives me following informatino regarding my node:

Home directory: /opt/zold
Ruby version: 2.3.3
Zold gem version: 0.14.15
Zold protocol version: 2
Network ID: zold

[2018-07-17 14:57] 0crat commented on #408
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-17 15:14] emilianodellacasa commented on #98
@yegor256 ping

[2018-07-17 16:54] emilianodellacasa commented on #408
@yegor256 Here is the problem: https://github.com/zold-io/zold/blame/master/lib/zold/commands/fetch.rb#L65

When the network parameter is not passed to the command, "test" network is used. Either we should pass the param, or change the default value to "zold"

[2018-07-17 17:16] g4s8 commented on #98
@0crat status

[2018-07-17 17:16] 0crat commented on #98
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#98](https://github.com/zold-io/zold/issues/98) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) for [7days](h

[2018-07-18 06:18] 0crat commented on #408
Job [#408](https://github.com/zold-io/zold/issues/408) is now in scope, role is `DEV`

[2018-07-18 06:19] yegor256 commented on #98
@emilianodellacasa thanks!

[2018-07-18 06:19] #98 closed

[2018-07-18 06:19] 0crat commented on #408
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-18 06:20] yegor256 commented on #287
@emilianodellacasa well, if he asks so. Maybe he already abandoned the PR and doesn't want to work on this ticket.

[2018-07-18 06:35] 0crat commented on #98
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-18 06:35] 0crat commented on #98
The job [#98](https://github.com/zold-io/zold/issues/98) is now out of scope

[2018-07-18 07:33] ypshenychka commented on #98
@0crat quality good

[2018-07-18 07:37] 0crat commented on #98
Order was finished, quality is "good": +76 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-18 07:37] 0crat commented on #98
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-18 07:38] yegor256 opened #409 "NoMethodError: undefined method `in_debt?'"
[code]

[2018-07-18 07:41] 0crat commented on #314
The job [#314](https://github.com/zold-io/zold/issues/314) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1990748865); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-07-18 07:43] emilianodellacasa commented on #287
@0crat wait - Hold on until we know wheter @liligga is still working on this issue

[2018-07-18 07:45] liligga commented on #287
@yegor256 @emilianodellacasa no I did not abandon it. Strange that travis-ci hangs. Figured out how to do `patch` part. Going to finish soon today.
@emilianodellacasa  thanks

[2018-07-18 07:49] 0crat commented on #287
@emilianodellacasa The impediment for [#287](https://github.com/zold-io/zold/issues/287) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-18 07:49] 0crat commented on #408
The job [#408](https://github.com/zold-io/zold/issues/408) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1990755920); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-18 07:49] 0crat commented on #408
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-18 07:52] emilianodellacasa commented on #341
@ledestin ping

[2018-07-18 07:56] yegor256 commented on #408
@emilianodellacasa fixed

[2018-07-18 07:56] #408 closed

[2018-07-18 07:56] yegor256 commented on #409
@rultor release, tag is `0.14.16`

[2018-07-18 07:57] rultor commented on #409
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15400-405843667)

[2018-07-18 08:05] rultor commented on #409
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15400-405843667) (took me 7min)

[2018-07-18 08:14] 0crat commented on #408
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-18 08:14] 0crat commented on #408
The job [#408](https://github.com/zold-io/zold/issues/408) is now out of scope

[2018-07-18 08:35] #409 closed

[2018-07-18 08:50] 0crat commented on #409
Job `gh:zold-io/zold#409` is not assigned, can't get performer

[2018-07-18 08:50] 0crat commented on #409
The job is not in WBS, won't close the order

[2018-07-18 08:56] emilianodellacasa commented on #314
@yegor256 Isn't it what it's already happening _lib/zold/commands/fetch.rb:115_? We already are raising an exception in case we fetch a JSON with a different network

[2018-07-18 09:08] yegor256 opened #410 "--dump-errors"
Let's make it possible to see errors in log

[2018-07-18 09:16] emilianodellacasa commented on #394
@yegor256 Please assign this issue to me, to keep on working on the refactoring

[2018-07-18 09:18] yegor256 commented on #410
@rultor release, tag is `0.14.17`

[2018-07-18 09:19] rultor commented on #410
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15403-405867211)

[2018-07-18 09:30] rultor commented on #410
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15403-405867211) (spent 11min)

[code]

[2018-07-18 10:43] ledestin commented on #341
@emilianodellacasa it's not the only place, where `match[1]` was used.

[2018-07-18 10:43] #341 closed

[2018-07-18 10:59] 0crat commented on #341
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-18 10:59] 0crat commented on #341
The job [#341](https://github.com/zold-io/zold/issues/341) is now out of scope

[2018-07-18 11:13] #410 closed

[2018-07-18 11:17] ypshenychka commented on #341
@0crat quality good

[2018-07-18 11:31] 0crat commented on #315
The job [#315](https://github.com/zold-io/zold/issues/315) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1991141743); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-07-18 13:39] yegor256 commented on #394
@0crat assign @emilianodellacasa

[2018-07-18 13:40] yegor256 commented on #314
@0crat refuse

[2018-07-18 13:40] yegor256 commented on #314
@emilianodellacasa you are right, it's already implemented

[2018-07-18 13:40] #314 closed

[2018-07-18 13:40] 0crat commented on #394
@yegor256 The job [#394](https://github.com/zold-io/zold/issues/394) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1991351085); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-07-18 13:40] 0crat commented on #394
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-18 13:40] 0crat commented on #314
@yegor256 The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#314](https://github.com/zold-io/zold/issues/314), please stop working. Reason for job resignation: Order was cancelled

[2018-07-18 13:56] 0crat commented on #314
Job `gh:zold-io/zold#314` is not assigned, can't get performer

[2018-07-18 13:56] 0crat commented on #314
The job [#314](https://github.com/zold-io/zold/issues/314) is now out of scope

[2018-07-18 19:42] 0crat commented on #109
@mgrassotti[/z](https://www.0crat.com/u/mgrassotti) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-19 05:20] yegor256 opened #412 "run Front in a separate process"
Let's run it in a separate process

[2018-07-20 10:56] liligga opened #413 "Fix Txn.parse regexp when having big negative amounts"
The `Zold::Txn.parse` has the [following](https://github.com/zold-io/zold/blob/master/lib/zold/txn.rb#L115) line

              '(?<amount>[0-9a-f]{16})',

which restricts number of chars to 16 of the amount's hexnum value. Although in practice if amount exceeds `-(2**52)` the `Zold::Hexnum.to_s`  [here](https://github.com/zold-io/zold/blob/master/lib/zold/hexnum.rb#L41) and [here](https://github.

[2018-07-20 10:57] 0crat commented on #413
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-20 10:57] 0crat commented on #413
@liligga[/z](https://www.0crat.com/u/liligga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-21 05:50] 0crat commented on #109
The job [#109](https://github.com/zold-io/zold/issues/109) assigned to @theterminalguy[/z](https://www.0crat.com/u/theterminalguy), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2020558734); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-21 05:55] 0crat commented on #89
The job [#89](https://github.com/zold-io/zold/issues/89) assigned to @theterminalguy[/z](https://www.0crat.com/u/theterminalguy), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2020563784); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-21 06:00] 0crat commented on #72
The job [#72](https://github.com/zold-io/zold/issues/72) assigned to @theterminalguy[/z](https://www.0crat.com/u/theterminalguy), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2020568834); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-21 07:45] theterminalguy commented on #89
@0pdd close

[2018-07-21 07:46] theterminalguy commented on #89
@0pdd close #89

[2018-07-21 07:52] theterminalguy commented on #89
@yegor256 This has already been fixed on master, [see here](https://github.com/zold-io/zold/blob/master/test/test__helper.rb#L40). `cc:` @0pdd

Please confirm.

[2018-07-21 10:29] theterminalguy commented on #72
@yegor256 I tested this with a few test cases, this has also been fixed. I think you may want to get rid of the todo comments [here](https://github.com/zold-io/zold/blob/master/lib/zold/wallets.rb#L37)

[2018-07-21 17:36] theterminalguy commented on #109
@yegor256 the reason for the low test coverage is because SimpleCov is reporting lines that were not called in the test. I already checked this out and the coverage report is correct and really low. The only way we can hit a high test coverage is to write the test for the highlighted areas in the report.

[2018-07-21 22:33] theterminalguy commented on #370
@0crat status

[2018-07-21 22:35] 0crat commented on #370
@theterminalguy This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#370](https://github.com/zold-io/zold/issues/370) is [in scope](http://www.zerocracy.com/policy.html#14) for 12days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#

[2018-07-22 07:58] 0crat commented on #413
Job [#413](https://github.com/zold-io/zold/issues/413) is now in scope, role is `DEV`

[2018-07-22 07:58] yegor256 commented on #398
@pawlik I believe it's fixed. Try again and report a new issue if you still see the problem.

[2018-07-22 07:58] #398 closed

[2018-07-22 07:59] #397 closed

[2018-07-22 07:59] yegor256 commented on #397
It's a dup of #412

[2018-07-22 07:59] 0crat commented on #413
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @liligga[/z](https://www.0crat.com/u/liligga)

[2018-07-22 08:04] yegor256 commented on #130
done already

[2018-07-22 08:04] #130 closed

[2018-07-22 08:14] 0crat commented on #398
Job `gh:zold-io/zold#398` is not assigned, can't get performer

[2018-07-22 08:14] 0crat commented on #398
The job is not in WBS, won't close the order

[2018-07-22 08:14] 0crat commented on #397
Job `gh:zold-io/zold#397` is not assigned, can't get performer

[2018-07-22 08:14] 0crat commented on #397
The job is not in WBS, won't close the order

[2018-07-22 08:20] 0crat commented on #130
Job `gh:zold-io/zold#130` is not assigned, can't get performer

[2018-07-22 08:20] 0crat commented on #130
The job [#130](https://github.com/zold-io/zold/issues/130) is now out of scope

[2018-07-22 12:21] theterminalguy commented on #370
#414

[2018-07-23 00:35] theterminalguy commented on #72
@0crat close

[2018-07-23 00:40] 0crat commented on #72
@theterminalguy Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from

[2018-07-23 00:40] 0crat commented on #72
@yegor256 Job [#72](https://github.com/zold-io/zold/issues/72) is already in scope

[2018-07-23 06:44] theautobot opened #415 "transaction search online"
we need something like block browser in bitcoin.
a web page where people can list all transactions by wallet

[2018-07-23 06:44] 0crat commented on #415
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-23 06:44] 0crat commented on #415
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-23 11:38] 0crat commented on #315
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-23 14:39] 0crat commented on #394
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-24 05:41] 0crat commented on #89
Job `gh:zold-io/zold#89` is not assigned, can't get performer

[2018-07-24 05:41] 0crat commented on #89
The job [#89](https://github.com/zold-io/zold/issues/89) is now out of scope

[2018-07-24 05:42] 0crat commented on #415
Job `gh:zold-io/zold#415` is not assigned, can't get performer

[2018-07-24 05:42] 0crat commented on #415
The job is not in WBS, won't close the order

[2018-07-24 06:32] 0crat commented on #134
The job [#134](https://github.com/zold-io/zold/issues/134) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2050641168); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-24 06:37] 0crat commented on #149
The job [#149](https://github.com/zold-io/zold/issues/149) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2050646363); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-24 06:42] 0crat commented on #199
The job [#199](https://github.com/zold-io/zold/issues/199) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2050651426); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-24 08:04] emilianodellacasa commented on #394
This issue has been solved in PR #416 and #417

[2018-07-24 08:43] oltdaniel commented on #412
@yegor256 On my way home from vacation, will be available by tomorrow

[2018-07-24 13:40] emilianodellacasa commented on #287
@yegor256 please assign this to @liligga

[2018-07-24 13:40] emilianodellacasa commented on #287
@yegor256 Please assign this issue to @liligga

[2018-07-25 06:12] yegor256 commented on #412
@oltdaniel sounds cool, thanks

[2018-07-25 06:32] 0crat commented on #287
@yegor256 The job [#287](https://github.com/zold-io/zold/issues/287) assigned to @liligga[/z](https://www.0crat.com/u/liligga), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2060637001); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-25 06:32] 0crat commented on #287
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-25 06:47] 0crat commented on #324
The job [#324](https://github.com/zold-io/zold/issues/324) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2060657208); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-07-25 07:32] emilianodellacasa commented on #394
@yegor256 The old puzzle is gone, so as soon as you merge #417 this issue will be closed

[2018-07-25 15:55] emilianodellacasa commented on #181
@yegor256 Please assign this issue to me

[2018-07-26 06:37] 0crat commented on #109
@theterminalguy[/z](https://www.0crat.com/u/theterminalguy) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-26 06:37] 0crat commented on #72
@theterminalguy[/z](https://www.0crat.com/u/theterminalguy) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-26 07:25] emilianodellacasa opened #419 "Travis failing from time to time because of long test time"
Now that the test suite for Zold is growing, it happens from time to time that Travis gives the following error:

No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself.

This could be due to a slow process that is not giving output, so we should modify the travis script as suggested here:

https://stackoverflow.com/questi

[2018-07-26 07:37] emilianodellacasa opened #420 "Add pdd to check puzzle to Rakefile"
Pdd is part of the workflow in the Zold development, nad it is used both in Travis and rultor to check for puzzles and create issue accordingly. The puzzle format is very strict, so it happens that Travis fails because of a ill-formatted puzzle.

As it is good practice to run _rake_ always before pushing code to github and creating a PR, I suggest to modify the _Rakefile_ to add this command:

pdd

[2018-07-26 07:38] 0crat commented on #420
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-26 08:48] yegor256 commented on #181
@0crat assign @emilianodellacasa

[2018-07-26 08:56] 0pdd commented on #394
The puzzle `98-a72851ba` has disappeared from the source code, that's why I closed this issue.

[2018-07-26 08:56] #394 closed

[2018-07-26 08:56] 0pdd opened #421 "type.rb:23-27: Right now only Score, Http, Zold::Remotes..."
The puzzle `394-fda9e6d8` from #394 has to be resolved:

https://github.com/zold-io/zold/blob/5999af1a206993962b15b9d6ef634627ff98b01c/lib/zold/type.rb#L23-L27

The puzzle was created by rultor on 26-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _removed_

[2018-07-26 08:56] 0pdd commented on #98
@yegor256 2 puzzles [#393](https://github.com/zold-io/zold/issues/393), [#421](https://github.com/zold-io/zold/issues/421) are still not solved; solved: [#394](https://github.com/zold-io/zold/issues/394).

[2018-07-26 08:56] 0pdd commented on #394
@0pdd the puzzle [#421](https://github.com/zold-io/zold/issues/421) is still not solved.

[2018-07-26 08:59] 0crat commented on #421
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-26 08:59] 0crat commented on #181
@yegor256 The job [#181](https://github.com/zold-io/zold/issues/181) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2070855155); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-07-26 09:02] 0crat commented on #181
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-26 09:04] 0crat commented on #421
Job [#421](https://github.com/zold-io/zold/issues/421) is now in scope, role is `DEV`

[2018-07-26 09:05] 0crat commented on #202
The job [#202](https://github.com/zold-io/zold/issues/202) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2070904249); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-26 09:11] oltdaniel commented on #202
@yegor256 Fixed directory count or as many directories, as same characters in the different wallet id's?

[2018-07-26 09:16] 0crat commented on #394
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-26 09:19] 0crat commented on #394
The job [#394](https://github.com/zold-io/zold/issues/394) is now out of scope

[2018-07-26 09:22] emilianodellacasa commented on #315
@0crat wait - Pull request completed, waiting for review to be accepted

[2018-07-26 09:22] 0crat commented on #315
@emilianodellacasa The impediment for [#315](https://github.com/zold-io/zold/issues/315) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-26 09:35] ypshenychka commented on #394
@0crat quality good

[2018-07-26 09:35] 0crat commented on #211
The job [#211](https://github.com/zold-io/zold/issues/211) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2070935550); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-26 09:45] 0crat commented on #394
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-26 09:54] 0crat commented on #394
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-26 09:58] 0crat commented on #420
The job [#420](https://github.com/zold-io/zold/issues/420) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2070941678); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-26 09:58] 0crat commented on #420
Job `gh:zold-io/zold#420` already assigned to @yegor256, can't assign to @yegor256

[2018-07-26 09:58] 0crat commented on #420
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-26 09:58] 0crat commented on #420
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-26 09:58] 0crat commented on #214
The job [#214](https://github.com/zold-io/zold/issues/214) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2070955903); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-26 10:01] emilianodellacasa commented on #324
@ledestin Please close this issue, as it has been solved in PR #418

[2018-07-26 10:14] oltdaniel commented on #211
@yegor256 `unerror` is lowering the `errors` counter or is a totally new information of the remote in the remotes list?

[2018-07-26 10:56] oltdaniel opened #422 "test - http call fallback values"
Somehow, uncommenting the skip for [`test_front.rb#test_renders_wallet_pages`](https://github.com/zold-io/zold/blob/master/test/node/test_front.rb#L77) uses the port 80 for the following test urls, which should actually be different in the test cases, since the operating system choses reaming unused ports. The general port range for that is `:1000+`.

Found during the work on #214.

[code]

[code]

[2018-07-26 10:56] 0crat commented on #422
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-26 12:51] yegor256 commented on #412
@rultor release, tag is `0.14.18`

[2018-07-26 12:54] rultor commented on #412
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15488-408086683)

[2018-07-26 13:06] rultor commented on #412
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15488-408086683) (took me 11min)

[2018-07-26 13:50] 0crat commented on #422
Job [#422](https://github.com/zold-io/zold/issues/422) is now in scope, role is `DEV`

[2018-07-26 13:59] 0crat commented on #422
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-07-26 14:02] yegor256 opened #423 "NameError: undefined local variable or method `opts' for #<Zold::Taxes"
[code]

[2018-07-26 14:06] yegor256 opened #424 "separate process for score farming"
Let's try it

[2018-07-26 14:53] emilianodellacasa opened #425 "Test_renders_json failing"
In these last days I have seen test_renders_json in TestEntrance file failing. It should be fixed right away, as this is making development harder.

[2018-07-26 14:53] 0crat commented on #425
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-26 15:08] #423 closed

[2018-07-26 15:08] yegor256 commented on #423
fixed in #424

[2018-07-26 15:24] 0crat commented on #423
The job is not in WBS, won't close the order

[2018-07-26 15:24] 0crat commented on #423
Job `gh:zold-io/zold#423` is not assigned, can't get performer

[2018-07-26 19:10] yegor256 commented on #424
@rultor release, tag is `0.14.19`

[2018-07-26 19:12] rultor commented on #424
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15495-408203746)

[2018-07-26 19:31] 0crat commented on #231
The job [#231](https://github.com/zold-io/zold/issues/231) assigned to @kuxabeast[/z](https://www.0crat.com/u/kuxabeast), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2071932287); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-26 20:32] #424 closed

[2018-07-26 20:47] 0crat commented on #424
Job `gh:zold-io/zold#424` is not assigned, can't get performer

[2018-07-26 20:47] 0crat commented on #424
The job is not in WBS, won't close the order

[2018-07-27 05:17] yegor256 opened #426 "NoMethodError: undefined method `hex' for nil:NilClass"
[code]

[2018-07-27 05:37] yegor256 commented on #425
@emilianodellacasa how exactly it fails? Do you have a stacktrace?

[2018-07-27 07:00] yegor256 commented on #426
@rultor release, tag is `0.14.20`

[2018-07-27 07:00] rultor commented on #426
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15500-408330408)

[2018-07-27 07:13] rultor commented on #426
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15500-408330408) (took me 13min)

[2018-07-27 07:39] 0crat commented on #370
@theterminalguy[/z](https://www.0crat.com/u/theterminalguy) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-27 07:46] 0crat commented on #426
Job `gh:zold-io/zold#426` is not assigned, can't get performer

[2018-07-27 07:46] 0crat commented on #426
The job is not in WBS, won't close the order

[2018-07-27 08:01] emilianodellacasa commented on #425
@yegor256 It is not crashing, it is failing th assert:

Failure:
TestEntrance#test_renders_json [/home/zold/test/node/test_entrance.rb:68]:
Expected false to be truthy.

It refers to this check:

assert(e.to_json[:speed].positive?)

[2018-07-27 08:39] yegor256 opened #427 "NoMethodError: undefined method `amount'"
[code]

[2018-07-27 08:53] yegor256 commented on #427
@rultor release, tag is `0.14.21`

[2018-07-27 08:54] rultor commented on #427
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15502-408356108)

[2018-07-27 09:07] rultor commented on #427
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15502-408356108) (took me 13min)

[2018-07-27 09:12] emilianodellacasa commented on #249
@yegor256 please assign this issue to me

[2018-07-27 09:32] emilianodellacasa opened #429 "Move from MRI to JRuby"
As stated in one of the most recent [blog posts](https://blog.zold.io/2018/07/20/why-ruby.html), Ruby as been chosen as the programming language for Zold for its clearness, easyness to deploy and compactness.

However, one of the drawbacks of MRI is its slowness and the fact that is not taking advantage of multiple cores.

However, [Jruby](http://jruby.org/) seems to overcome these limitations. In

[2018-07-27 09:32] 0crat commented on #429
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-27 10:36] #427 closed

[2018-07-27 10:38] yegor256 commented on #425
@emilianodellacasa I can't reproduce it... Actually, never saw this test crashing. Maybe your machine is super fast? :)

[2018-07-27 10:41] 0crat commented on #429
Job [#429](https://github.com/zold-io/zold/issues/429) is now in scope, role is `DEV`

[2018-07-27 10:41] 0crat commented on #425
Job [#425](https://github.com/zold-io/zold/issues/425) is now in scope, role is `DEV`

[2018-07-27 11:12] 0crat commented on #429
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-27 11:16] 0crat commented on #427
Job `gh:zold-io/zold#427` is not assigned, can't get performer

[2018-07-27 11:16] 0crat commented on #427
The job is not in WBS, won't close the order

[2018-07-27 11:18] 0crat commented on #425
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-27 11:31] yegor256 commented on #427
@rultor release, tag is `0.14.22`

[2018-07-27 11:32] rultor commented on #427
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15502-408392219)

[2018-07-27 11:40] #324 closed

[2018-07-27 11:46] rultor commented on #427
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15502-408392219) (took me 13min)

[2018-07-27 12:03] 0crat commented on #324
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-27 12:03] 0crat commented on #324
The job [#324](https://github.com/zold-io/zold/issues/324) is now out of scope

[2018-07-27 12:56] 0crat commented on #324
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-27 13:09] 0crat commented on #324
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-27 13:11] 0crat commented on #326
The job [#326](https://github.com/zold-io/zold/issues/326) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2081310312); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-07-27 14:05] emilianodellacasa commented on #326
@ledestin I see there is an open PR for this issue, I think you should terminate it. Just ask @yegor256 to assign it to you or let me know if I can proceed

[2018-07-28 00:10] theterminalguy commented on #370
@0crat wait

[2018-07-28 00:12] theterminalguy commented on #370
@0crat wait My PR is undergoing review by @yegor256

[2018-07-28 00:13] 0crat commented on #370
@theterminalguy Job [#370](https://github.com/zold-io/zold/issues/370) is already on hold

[2018-07-28 07:14] theautobot opened #430 "51% atack: limit registration of new nodes to 49%"
to get rid of 51%, limit registration of new nodes somehow

[2018-07-28 07:14] 0crat commented on #430
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-28 07:14] 0crat commented on #430
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-28 12:13] KuxaBeast commented on #219
Hello @Dereek69, is this issue still actual? I tried to recreate this exception with no luck, just like @mgrassotti did. If you are still experiencing this problem try to thoroughly repeat installation steps just like @mgrassotti mentioned above. Reply or close the issue, please.

[2018-07-28 14:17] oltdaniel commented on #211
@yegor256 ping

[2018-07-28 14:17] oltdaniel commented on #202
@yegor256 ping

[2018-07-28 14:44] yegor256 opened #431 "tax payment amounts are very small"
Let's fix

[2018-07-28 16:45] yegor256 commented on #431
@rultor release, tag is `0.14.23`

[2018-07-28 16:47] rultor commented on #431
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15512-408620327)

[2018-07-28 17:00] rultor commented on #431
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15512-408620327) (took me 12min)

[2018-07-28 17:16] #431 closed

[2018-07-28 17:31] 0crat commented on #431
The job is not in WBS, won't close the order

[2018-07-28 17:31] 0crat commented on #431
Job `gh:zold-io/zold#431` is not assigned, can't get performer

[2018-07-29 04:35] oltdaniel commented on #214
@0crat wait - cannot be done without solving #422

[2018-07-29 04:40] 0crat commented on #214
@oltdaniel The impediment for [#214](https://github.com/zold-io/zold/issues/214) was registered successfully by @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-07-29 04:59] yegor256 commented on #211
@oltdaniel just decrement the errors counters by one. That's all `unerror()` should do.

[2018-07-29 05:15] yegor256 commented on #202
@oltdaniel this must be a dynamic structure. Don't create directories upfront. Just save the wallet to the path, which is created from the directory name.

[2018-07-29 05:18] yegor256 commented on #249
@0crat assign @emilianodellacasa

[2018-07-29 05:21] 0crat commented on #249
@yegor256 The job [#249](https://github.com/zold-io/zold/issues/249) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2100531031); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-07-29 05:21] 0crat commented on #249
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-29 05:34] theautobot opened #432 "add more info to /health"
add more info to /health page. info like how much bonuses issued today, yesterday, all time, etc.

[2018-07-29 05:34] 0crat commented on #432
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-29 05:34] 0crat commented on #432
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-29 06:38] 0crat commented on #134
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:03] theautobot opened #433 "add method to see full amount in 0.000000001 format"
add `.to_zld_full` to `Zold::Amount` class to see amount in detailed format

[2018-07-29 07:03] 0crat commented on #433
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-29 07:03] 0crat commented on #433
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-29 07:38] 0crat commented on #149
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:38] 0crat commented on #199
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 19:39] theterminalguy commented on #364
@0crat status

[2018-07-29 19:39] 0crat commented on #364
@theterminalguy This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#364](https://github.com/zold-io/zold/issues/364) is [in scope](http://www.zerocracy.com/policy.html#14) for 22days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#

[2018-07-29 21:53] ljrossi opened #435 "The transaction with the same ID and BNF already exists"
I make a wallet , and transfer zolds to it and from it to others wallets.

After that I make a backup of keys id_rsa and id_rsa.pub and erase them for testing porpuse.

When I copy again keys files id_rsa and id_rsa.pub i get the following ERROR and try to make a new PAY i get

"" The transaction with the same ID and BNF already exists :
 0002;2018-07-29T20:28:32Z;0000000019999999;Ilo7ykkN;f6512d1

[2018-07-29 21:54] 0crat commented on #435
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-29 21:54] 0crat commented on #435
@ljrossi[/z](https://www.0crat.com/u/ljrossi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-30 07:10] #412 closed

[2018-07-30 08:20] emilianodellacasa commented on #326
@0crat wait - I think @ledestin may still work on it

[2018-07-30 08:20] 0crat commented on #326
@emilianodellacasa The impediment for [#326](https://github.com/zold-io/zold/issues/326) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-30 13:34] yegor256 commented on #435
@ljrossi I can't understand what should I do in order to reproduce it... Can you make a test?

[2018-07-30 13:35] yegor256 commented on #433
@theautobot you can use `to_i`, which will return the amount in "zents". Then, just divide them by `2**32` and you will have ZLD.

[2018-07-30 13:35] #433 closed

[2018-07-30 13:40] yegor256 opened #436 "--max-nodes for elect"
Let's add the option `--max-nodes`

[2018-07-30 13:50] 0crat commented on #433
The job is not in WBS, won't close the order

[2018-07-30 13:53] 0crat commented on #433
Job `gh:zold-io/zold#433` is not assigned, can't get performer

[2018-07-30 21:53] ljrossi commented on #435
And now it works ....

First I remove wallet
rm  9xxxxxxxxxxxx.z
I make backup of keys
cp id* /backup/
delete keys from ssh folder
rm id_rsa*
restore keys to folder
cp -R backup/id* root/.ssh/.
pull wallet
pay

Actually I couldnt reproduce it again....  If it comes back i will try to pay atention on the steps....I think it was a wrong id_rsa file .. or I tryed to create again the wallet, or some m

[2018-07-31 12:44] yegor256 commented on #219
@Dereek69 I'm closing this. If you see the problem again, please open a new one

[2018-07-31 12:44] #219 closed

[2018-07-31 13:09] 0crat commented on #219
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @kuxabeast[/z](https://www.0crat.com/u/kuxabeast), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-31 13:09] 0crat commented on #219
The job [#219](https://github.com/zold-io/zold/issues/219) is now out of scope

[2018-07-31 13:25] ypshenychka commented on #219
@KuxaBeast I will have to mark this ticket as "bad quality", as it was closed without a solution provided.

[2018-07-31 13:53] yegor256 commented on #436
@rultor release, tag is `0.14.24`

[2018-07-31 13:55] rultor commented on #436
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15539-409228905)

[2018-07-31 14:39] 0crat commented on #231
@KuxaBeast Job `gh:zold-io/zold#231` is not assigned, can't get performer

[2018-07-31 14:40] 0crat commented on #176
@KuxaBeast Job `gh:zold-io/zold#176` is not assigned, can't get performer

[2018-07-31 15:25] rultor commented on #436
@yegor256 OK, I'll try to stop current task.

[2018-07-31 15:25] rultor commented on #436
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15539-409260545) (spent 2hr)

[code]

[2018-07-31 15:47] yegor256 commented on #436
@rultor release, tag is `0.14.24`

[2018-07-31 15:47] #436 closed

[2018-07-31 15:48] rultor commented on #436
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15539-409269333)

[2018-07-31 16:02] 0crat commented on #436
The job is not in WBS, won't close the order

[2018-07-31 16:02] 0crat commented on #436
Job `gh:zold-io/zold#436` is not assigned, can't get performer

[2018-07-31 17:50] rultor commented on #436
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15539-409269333) (spent 2hr)

[code]

[2018-08-01 03:47] yegor256 commented on #436
@rultor release, tag is `0.14.24`

[2018-08-01 03:49] rultor commented on #436
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15539-409440280)

[2018-08-01 04:03] rultor commented on #436
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15539-409440280) (took me 13min)

[2018-08-01 04:06] yegor256 opened #438 "memory is not visible in JSON"
Something is wrong there

[2018-08-01 04:10] yegor256 commented on #438
@rultor release, tag is `0.14.25`

[2018-08-01 04:12] rultor commented on #438
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15543-409443173)

[2018-08-01 04:37] rultor commented on #438
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15543-409444460) (took me 13min)

[2018-08-01 04:57] #438 closed

[2018-08-01 05:13] 0crat commented on #438
The job is not in WBS, won't close the order

[2018-08-01 05:13] 0crat commented on #438
Job `gh:zold-io/zold#438` is not assigned, can't get performer

[2018-08-01 06:25] holly-fingers opened #439 "Node hangs up"
Starting a node with `zold node --invoice da8402c488c1def0 --host 62.149.12.97 --nohup` dies next day by stopping to accept HTTP connections to 4096 port, however process list is full of ruby threads and CPU + MEM are heavily used. From logs its seen that it tried to update `gem`(?) but it had no permissions as it was not running as `root`. Any way to make it run as non-root user?

[code]

[2018-08-01 06:25] 0crat commented on #439
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-01 06:26] 0crat commented on #439
@holly-fingers[/z](https://www.0crat.com/u/holly-fingers) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-01 06:56] yegor256 commented on #439
@holly-fingers just start it with `--nohup-command=sudo gem install zold` and that's it. But the problem is that you see many processes.. This is what should be fixed.

[2018-08-01 07:26] yegor256 opened #440 "Remotes synchronization slows us down"
Let's find a way to avoid that

[2018-08-01 08:23] theautobot opened #441 "create /health page with full network view"
subj

[2018-08-01 09:48] emilianodellacasa commented on #231
@yegor256 Please assign this issue to me

[2018-08-01 10:27] rultor commented on #440
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15548-409528076)

[2018-08-01 10:41] rultor commented on #440
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15548-409528076) (took me 14min)

[2018-08-01 10:48] oltdaniel commented on #430
@theautobot How does this solve the 51% problem? You can start dozens of nodes with dozens of different keys that all can run bad software to change network information nor change the identity of the root wallet.

[2018-08-01 11:55] #440 closed

[2018-08-01 12:15] 0crat commented on #440
The job is not in WBS, won't close the order

[2018-08-02 06:02] ypshenychka commented on #219
@0crat quality bad

[2018-08-02 07:33] emilianodellacasa commented on #231
@yegor256 ping

[2018-08-02 09:17] yegor256 commented on #231
@0crat assign @emilianodellacasa

[2018-08-02 09:20] yegor256 commented on #441
@theautobot resubmit it here, please: https://github.com/zold-io/zold.github.io All HTML pages are there

[2018-08-02 09:20] #441 closed

[2018-08-02 09:20] 0crat commented on #441
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zold-io/zold#441, Action: `closed`

[2018-08-02 15:18] DronMDF opened #444 "Duplicate header line in PUT /wallet request"
This is nginx debug log:

[code]

request HTTP header:
[code]

Content-Type duplicate too.

[2018-08-02 15:18] 0crat commented on #444
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-02 15:18] 0crat commented on #444
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-02 15:19] emilianodellacasa commented on #249
@yegor256 Issue has been resolved in PR #437, please close this issue

[2018-08-02 16:32] emilianodellacasa commented on #231
@yegor256 Is there a reason why we are using a Windows OS for Appveyor?

[2018-08-03 07:37] yegor256 opened #445 "sorting of transactions is not strong enough"
It has to be more precise

[2018-08-03 07:47] 0crat commented on #444
Job [#444](https://github.com/zold-io/zold/issues/444) is now in scope, role is `DEV`

[2018-08-03 07:50] 0crat commented on #444
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-08-03 08:51] emilianodellacasa commented on #181
@0crat wait - Waiting for PR to be resolved

[2018-08-03 09:05] 0crat commented on #219
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-08-03 10:29] emilianodellacasa commented on #249
@yegor256 ping