[2018-11-22 11:31] 0crat commented on #566
This job is not in scope

[2018-11-22 11:40] emilianodellacasa commented on #554
@yegor256 Created PR #567

[2018-11-22 12:46] yegor256 opened #568 "larger async queue for PUSH"
We need a larger queue.

[2018-11-22 13:42] yegor256 commented on #568
@rultor release, tag is `0.16.30`

[2018-11-22 13:44] rultor commented on #568
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16622-441034703)

[2018-11-22 13:54] rultor commented on #568
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16622-441034703) (took me 9min)

[2018-11-22 13:57] #568 closed

[2018-11-22 14:15] 0crat commented on #568
Job `gh:zold-io/zold#568` is not assigned, can't get performer

[2018-11-22 14:15] 0crat commented on #568
This job is not in scope

[2018-11-22 14:15] emilianodellacasa commented on #565
@yegor256 This is the line giving the error:

`return "#{(sec * 1_000_000).round}μs" if sec < 0.001`

In particular, it's the `μ` that is not recognized for some encodings. I Think it would be better to get rid of it.

[2018-11-22 17:05] emilianodellacasa commented on #553
@yegor256 PR has been merged, please close this

[2018-11-23 09:14] emilianodellacasa commented on #556
@yegor256 Wouldn't it be enough to append the `zold remote update` command to the `merge` section? This is the place where we have already built the gem and there is nothing more

[2018-11-23 17:49] emilianodellacasa commented on #537
@0crat wait - PR submitted, waiting for review

[2018-11-23 17:49] emilianodellacasa commented on #556
@0crat wait - waiting for comment

[2018-11-23 17:49] emilianodellacasa commented on #554
@0crat wait - PR submitted, waiting for review

[2018-11-23 17:49] 0crat commented on #537
@emilianodellacasa The impediment for [#537](https://github.com/zold-io/zold/issues/537) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-23 17:49] 0crat commented on #554
@emilianodellacasa The impediment for [#554](https://github.com/zold-io/zold/issues/554) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-23 17:49] 0crat commented on #556
@emilianodellacasa The impediment for [#556](https://github.com/zold-io/zold/issues/556) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-24 01:42] 0crat commented on #511
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-24 01:42] 0crat commented on #514
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-24 05:46] yegor256 commented on #55
@0crat refuse

[2018-11-24 05:46] yegor256 commented on #55
@SergeyKutsko correct

[2018-11-24 05:46] #55 closed

[2018-11-24 05:48] 0crat commented on #55
@yegor256 The user @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) resigned from [#55](https://github.com/zold-io/zold/issues/55), please stop working. Reason for job resignation: Order was cancelled

[2018-11-24 06:01] 0crat commented on #385
The job [#385](https://github.com/zold-io/zold/issues/385) assigned to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/458647f8-3c4d-4489-845c-ee9695194647); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-24 06:04] 0crat commented on #55
Job `gh:zold-io/zold#55` is not assigned, can't get performer

[2018-11-24 06:04] 0crat commented on #55
The job [#55](https://github.com/zold-io/zold/issues/55) is now out of scope

[2018-11-24 17:38] 0crat commented on #529
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-24 19:29] dapi commented on #363
+1

[2018-11-25 12:37] 0crat commented on #138
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-26 09:31] dapi opened #572 "NameError: undefined local variable or method `opts' for #<Zold::Remote>"
Every time I run node I see such messages in console.

May be dup of https://github.com/zold-io/zold/issues/423 ?

[code]

[2018-11-26 09:31] 0crat commented on #572
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-26 09:31] 0crat commented on #572
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-26 10:59] emilianodellacasa commented on #565
@yegor256 as you prefer

[2018-11-26 11:03] emilianodellacasa commented on #553
@dapi I tried with current master and couldn't reporoduce it, try updating and if you still see this error please open another issue

[2018-11-26 12:48] dapi commented on #565
It is not good. Non unicode-terminals can breaks output.

We can disable to run zold with non-unicode locale and recommend users to set locale with UTF-8 support:

[code]

[2018-11-26 12:51] dapi commented on #553
@emilianodellacasa well, today I can't reproduce it too..

[2018-11-26 14:15] dapi opened #574 "Appveyor build is broken: libcurl is not found"
https://ci.appveyor.com/project/yegor256/zold-jhx6b/builds/20528112/job/y8x1po291wrq3d4v

![screen shot 2018-11-26 at 17 14 37](https://user-images.githubusercontent.com/31139/49019352-c9f1e480-f19e-11e8-8f23-3e3d8658bf7a.png)

[2018-11-26 14:15] 0crat commented on #574
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-26 14:15] 0crat commented on #574
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-26 17:41] 0crat commented on #574
Job [#574](https://github.com/zold-io/zold/issues/574) is now in scope, role is `DEV`

[2018-11-26 17:41] 0crat commented on #572
The job [#572](https://github.com/zold-io/zold/issues/572) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/cdeae38d-dc1c-4290-96f6-3c17bde32bb3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-26 17:41] 0crat commented on #572
Job `gh:zold-io/zold#572` already assigned to @yegor256, can't assign to @yegor256

[2018-11-26 17:42] 0crat commented on #572
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-26 17:42] 0crat commented on #574
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-11-26 17:42] 0crat commented on #572
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-11-27 07:31] yegor256 commented on #572
@dapi fixed, thanks

[2018-11-27 07:31] #572 closed

[2018-11-27 07:31] yegor256 commented on #565
@dapi I like this idea. let's do it.

[2018-11-27 07:32] yegor256 commented on #565
@0crat assign @dapi

[2018-11-27 07:43] 0crat commented on #565
@yegor256 The job [#565](https://github.com/zold-io/zold/issues/565) assigned to @dapi[/z](https://www.0crat.com/u/dapi), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/58621dc8-6408-4076-82b3-1f9a44ad7396); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-27 07:50] 0crat commented on #565
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-27 07:53] 0crat commented on #565
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-27 07:53] 0crat commented on #572
Job was finished in 13 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-27 07:54] 0crat commented on #572
The job [#572](https://github.com/zold-io/zold/issues/572) is now out of scope

[2018-11-27 07:54] 0crat commented on #572
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-27 08:43] emilianodellacasa commented on #537
@yegor256 PR #569 has been merged, please close this issue

[2018-11-27 10:49] emilianodellacasa commented on #554
@yegor256 PR has been merged, please close this issue

[2018-11-28 01:52] vl3 commented on #511
@0crat wait

[2018-11-28 01:54] vl3 commented on #511
@0crat  waiting for review #579

[2018-11-28 01:57] 0crat commented on #511
@vl3 Job [#511](https://github.com/zold-io/zold/issues/511) is already on hold

[2018-11-28 10:18] dapi opened #581 "don't update bundle in appveyour"
Code must be tested with locked versions of gem's

https://github.com/zold-io/zold/blob/master/appveyor.yml#L31

[2018-11-28 10:18] 0crat commented on #581
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-28 10:18] 0crat commented on #581
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-28 10:38] #511 closed

[2018-11-28 10:38] 0pdd commented on #511
The puzzle `507-040930f5` has disappeared from the source code, that's why I closed this issue.

[2018-11-28 10:38] 0pdd commented on #507
@yegor256 the only puzzle [#511](https://github.com/zold-io/zold/issues/511) is solved here.

[2018-11-28 10:59] 0crat commented on #511
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vl3[/z](https://www.0crat.com/u/vl3), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-28 11:01] 0crat commented on #511
The job [#511](https://github.com/zold-io/zold/issues/511) is now out of scope

[2018-11-28 11:35] ypshenychka commented on #511
@vl3 According to our [QA rules](http://www.zerocracy.com/policy.html#42):

Please add link to issue in corresponding commits.

[2018-11-28 12:42] #574 closed

[2018-11-28 12:50] yegor256 commented on #581
@dapi I'm not sure I follow... do you know how to fix this? can I assign this to you?

[2018-11-28 12:58] 0crat commented on #574
Job `gh:zold-io/zold#574` is not assigned, can't get performer

[2018-11-28 13:03] 0crat commented on #574
The job [#574](https://github.com/zold-io/zold/issues/574) is now out of scope

[2018-11-28 15:32] dapi commented on #581
just remove the line ;)

[2018-11-28 15:48] dapi commented on #453
@0crat assign me

[2018-11-28 15:51] 0crat commented on #453
@dapi You @dapi[/z](https://www.0crat.com/u/dapi) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2018-11-28 15:58] yegor256 commented on #581
@0crat assign @dapi

[2018-11-28 16:00] yegor256 opened #584 "zold-score 0.3"
Let's upgrade to 0.3

[2018-11-28 16:04] emilianodellacasa commented on #556
@yegor256 PR #583 has been merged, please close this issue

[2018-11-28 16:06] 0crat commented on #581
@yegor256 The job [#581](https://github.com/zold-io/zold/issues/581) assigned to @dapi[/z](https://www.0crat.com/u/dapi), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/8445b0fe-3036-4f55-8ebc-065957fc0e46); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-28 16:08] yegor256 commented on #584
@rultor release, tag is `0.17.0`

[2018-11-28 16:12] 0crat commented on #581
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-28 16:14] 0crat commented on #581
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-28 16:15] 0crat commented on #581
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-11-28 16:44] yegor256 commented on #584
@rultor release, tag is `0.17.0`

[2018-11-28 16:46] rultor commented on #584
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16696-442516940)

[2018-11-28 16:53] rultor commented on #584
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16696-442516940) (spent 7min)

[code]

[2018-11-28 16:55] yegor256 commented on #584
@rultor release, tag is `0.17.0`

[2018-11-28 16:58] rultor commented on #584
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16696-442521093)

[2018-11-28 17:09] rultor commented on #584
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16696-442521093) (spent 11min)

[code]

[2018-11-28 17:32] yegor256 commented on #584
@rultor release, tag is `0.17.0`

[2018-11-28 17:33] yegor256 commented on #556
@emilianodellacasa see #584 and 41d188a Your code doesn't work :(

[2018-11-28 17:34] rultor commented on #584
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16696-442535044)

[2018-11-28 17:42] rultor commented on #584
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16696-442535044) (spent 8min)

[code]

[2018-11-28 17:51] yegor256 commented on #584
@rultor release, tag is `0.17.1`

[2018-11-28 17:51] emilianodellacasa commented on #556
@yegor256 See if with the code in my last commit it works

[2018-11-28 17:54] rultor commented on #584
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16696-442541636)

[2018-11-28 17:54] yegor256 commented on #556
@yegor256 it's the same. Gem install doesn't work, for some reason. Check the current `.rultor.yml`, it installs version 0.0.0, before the change are made to the gemspec file.

[2018-11-28 18:23] yegor256 commented on #584
@rultor stop

[2018-11-28 18:31] yegor256 commented on #584
@rultor release, tag is `0.17.1`

[2018-11-28 18:32] rultor commented on #584
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16696-442555043)

[2018-11-28 18:42] rultor commented on #584
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16696-442555043) (took me 9min)

[2018-11-29 05:44] 0crat commented on #584
Job `gh:zold-io/zold#584` is not assigned, can't get performer

[2018-11-29 05:44] 0crat commented on #581
Job [#581](https://github.com/zold-io/zold/issues/581) is not in the agenda of @dapi[/z](https://www.0crat.com/u/dapi), can't retrieve data and time of add

[2018-11-29 05:44] 0crat commented on #584
This job is not in scope

[2018-11-29 05:44] 0crat commented on #581
Job was finished in 13 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-29 05:44] 0crat commented on #581
Job [#581](https://github.com/zold-io/zold/issues/581) is not in the agenda of @dapi[/z](https://www.0crat.com/u/dapi), can't inspect

[2018-11-29 05:44] 0crat commented on #581
The job [#581](https://github.com/zold-io/zold/issues/581) is now out of scope

[2018-11-29 06:37] 0crat commented on #385
@sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-29 08:27] emilianodellacasa opened #587 "Include operating system on / API"
For better debugging and statistics, we should include the operating system on which the node is running on the main API "/", and we should also show it in the health page.

[2018-11-29 08:30] DronMDF opened #588 "'zold remote reset' does not work."
[code]
I tried to delete the .zoldata directory, it did not affect the situation.

tracing:
[code]

[2018-11-29 08:30] 0crat commented on #588
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-29 08:31] 0crat commented on #588
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-29 08:37] emilianodellacasa opened #589 "Undefined method strip after updating to 0.17.1"
After updating to version 0.17.1, many logs appeared like the following one:

78.26.142.131:4096: undefined method `strip' for nil:NilClass in 1.65s

[2018-11-29 08:37] 0crat commented on #589
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-29 08:38] emilianodellacasa commented on #588
@DronMDF I could reproduce it with version 0.17.1

[2018-11-29 19:06] yegor256 commented on #554
@emilianodellacasa thanks!

[2018-11-29 19:06] #554 closed

[2018-11-29 19:21] 0crat commented on #588
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-11-30 07:46] 0crat commented on #589
Job [#589](https://github.com/zold-io/zold/issues/589) is now in scope, role is `DEV`

[2018-11-30 07:46] yegor256 commented on #587
@emilianodellacasa I believe we do this already: https://github.com/zold-io/zold/blob/master/lib/zold/node/front.rb#L203 What else do you think we should add?

[2018-11-30 07:46] 0crat commented on #589
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-30 07:49] yegor256 opened #590 "Errno::ENOMEM: Cannot allocate memory - fork(2)"
We are still in the memory leakage problem (tried to fix it in #548 and #558)

[code]

[2018-11-30 07:52] yegor256 commented on #589
@0crat assign me

[2018-11-30 07:55] 0crat commented on #589
@yegor256 The job [#589](https://github.com/zold-io/zold/issues/589) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/821d08a5-e4d8-4257-a742-a2602d5ebf04); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-30 07:56] yegor256 opened #591 "Thin web server logging is not redirected"
Currently all logs from Thin web server go to the console directly. This is not an expected behavior. Instead, they should be redirected to the logger. Let's fix that. I tried, but failed: https://stackoverflow.com/questions/53067147/how-to-configure-thin-web-server-from-sinatra

[2018-11-30 07:56] 0crat commented on #589
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 07:56] yegor256 commented on #589
@rultor release, tag is `0.17.2`

[2018-11-30 07:57] 0crat commented on #591
Job [#591](https://github.com/zold-io/zold/issues/591) is now in scope, role is `DEV`

[2018-11-30 07:58] 0crat commented on #591
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 07:58] rultor commented on #589
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16704-443121832)

[2018-11-30 08:05] rultor commented on #589
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16704-443121832) (took me 5min)

[2018-11-30 08:10] yegor256 commented on #589
@emilianodellacasa it's fixed, thanks

[2018-11-30 08:10] #589 closed

[2018-11-30 08:22] yegor256 opened #593 "non-exclusive access for farm loading"
Let's make it non-exclusive

[2018-11-30 08:36] dapi opened #594 "remove Gemfile.lock from .gitignore and add it to repo"
All developers and CI must have identical environment

[2018-11-30 08:36] 0crat commented on #594
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-30 08:36] 0crat commented on #594
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-30 08:39] dapi commented on #594
here `zold.gemspecs` versions must be specified in soft manner (equal or more)

[2018-11-30 08:42] ypshenychka commented on #554
@0crat quality good

[2018-11-30 08:45] dapi commented on #594
Hm.. May be I’m wrong. Ignoring `Gemfile.lock` in gems is popular solution: https://github.com/rubocop-hq/rubocop/blob/master/.gitignore

[2018-11-30 08:47] dapi opened #595 "Turn off appvyour build status publication in commits/PR and remove badge from README"
Deny appveyor to publish his build status until it be totally fixed and windows supported.

This if why:

![screen shot 2018-11-30 at 11 47 14](https://user-images.githubusercontent.com/31139/49278390-b2b04100-f495-11e8-93c5-cb3a26ea2a31.png)

We can’t find broken commit and understand with PR is really breaks it.

[2018-11-30 08:47] 0crat commented on #595
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-30 08:47] 0crat commented on #595
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-30 08:48] 0crat commented on #554
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-30 08:48] 0crat commented on #554
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-30 08:50] dapi commented on #594
That is OK. close issue

[2018-11-30 08:50] #594 closed

[2018-11-30 08:51] dapi commented on #470
Will be nice to describe classes in head of it

[2018-11-30 09:09] 0crat commented on #594
Job `gh:zold-io/zold#594` is not assigned, can't get performer

[2018-11-30 09:09] 0crat commented on #594
This job is not in scope

[2018-11-30 09:15] emilianodellacasa commented on #587
@yegor256 You are right, sorry for that

[2018-11-30 09:15] #587 closed

[2018-11-30 09:34] 0crat commented on #587
Job `gh:zold-io/zold#587` is not assigned, can't get performer

[2018-11-30 09:34] 0crat commented on #587
This job is not in scope

[2018-11-30 10:21] dapi opened #597 "Add bugsnag or other errors catching service"

[2018-11-30 10:21] 0crat commented on #597
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-30 10:21] 0crat commented on #597
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-30 10:26] dapi opened #598 "Use attribute getter/setters instead for direct instance variable access"
This method:

[code]

is preferable then direct access: `@param`

Reasons:

1. Catching typo mistake in early stages (if you wire `@parm` you will get `nil`, but in you write `parm` you will get `NameError`.
2. You describe class attributes in humanized way. Probably attributes will be public, or it have writes
3. Easy to maintain and add memoization, overwrite attributes behaviour in inherited ob

[2018-11-30 11:11] dapi opened #599 "One class - one human readable procedure (style guides and refactoring discus)"
Guys, let's discuss some refactoring methods.

Now: https://github.com/dapi/zold/blob/feature/refactor_example/lib/zold/commands/fetch.rb
Was: https://github.com/zold-io/zold/blob/master/lib/zold/commands/fetch.rb

diff: https://github.com/dapi/zold/pull/10

1. Use constants for constants ;)
2. Inherit all commands from base class.
3. Use attribute accessor or (better) use `virtus` (or similar Pla

[2018-11-30 11:11] 0crat commented on #599
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-30 11:11] 0crat commented on #599
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-30 11:15] #385 closed

[2018-11-30 11:15] 0pdd commented on #385
The puzzle `384-9943eeb2` has disappeared from the source code, that's why I closed this issue.

[2018-11-30 11:15] 0pdd commented on #384
@yegor256 the only puzzle [#385](https://github.com/zold-io/zold/issues/385) is solved here.

[2018-11-30 11:18] yegor256 commented on #597
@dapi can you please explain what exactly will it do?

[2018-11-30 11:19] yegor256 commented on #599
@dapi you know that inheritance is evil, right? https://www.yegor256.com/2016/09/13/inheritance-is-procedural.html

[2018-11-30 11:37] yegor256 opened #600 "exit if out of memory"
Let's exit if the memory size is too big.

[2018-11-30 11:41] 0crat commented on #385
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-30 11:41] 0crat commented on #385
The job [#385](https://github.com/zold-io/zold/issues/385) is now out of scope

[2018-11-30 11:42] 0crat commented on #600
The job [#600](https://github.com/zold-io/zold/issues/600) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/31bcf508-e40a-4499-a709-343cffa34a61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-30 11:42] 0crat commented on #600
Job `gh:zold-io/zold#600` already assigned to @yegor256, can't assign to @yegor256

[2018-11-30 11:43] 0crat commented on #600
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 11:43] 0crat commented on #600
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 11:43] 0crat commented on #600
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 11:49] ypshenychka commented on #385
@SergeyKutsko According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Only one commit contains link to issue. Please confirm you'll try to follow this rule next time.

[2018-11-30 11:49] ypshenychka commented on #511
@vl3 ping

[2018-11-30 11:53] yegor256 commented on #600
@rultor release, tag is `0.17.3`

[2018-11-30 11:54] rultor commented on #600
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16709-443181477)

[2018-11-30 12:02] rultor commented on #600
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16709-443181477) (took me 7min)

[2018-11-30 12:05] #600 closed

[2018-11-30 12:08] dapi commented on #599
@yegor256 Yes. I now pros and cons of inheritance and know when and how to not use it.

There are 3 steps of inheritance usage (like any other rules):

1. Inheritance everywhere.
2. Inheritance nowhere.
3. Inheritance somewhere.

In any case in my example inheritance is not need to get all pros of suggested code organisations and styles.

And yes, often, inheritance is better way then `prepend`. `

[2018-11-30 12:13] yegor256 commented on #599
@dapi the code in your example looks not clear for me. For example, I don't understand who is calling `command_line_options`, when and why? Also, it's an immutable class? I prefer to think about objects as something that is initialized via constructors and then called via methods. Public methods. Your class doesn't have a single public method. How am I supposed to understand where are the entry po

[2018-11-30 12:19] yegor256 opened #601 "the Farm should ignore the score if it's not strong enough"
Let's filter them out

[2018-11-30 12:38] yegor256 commented on #601
@rultor release, tag is `0.17.4`

[2018-11-30 12:40] rultor commented on #601
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16710-443191670)

[2018-11-30 12:48] rultor commented on #601
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16710-443191670) (took me 7min)

[2018-11-30 12:50] #601 closed

[2018-11-30 13:10] 0crat commented on #601
The job [#601](https://github.com/zold-io/zold/issues/601) is now out of scope

[2018-11-30 13:10] 0crat commented on #601
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 13:41] SergeyKutsko commented on #385
@ypshenychka  ok, but t have only 1 commit. other are merges

[2018-11-30 13:54] ypshenychka commented on #385
@SergeyKutsko Thanks for clarification. Then no comments from my side :)

[2018-11-30 13:54] ypshenychka commented on #385
@0crat quality good

[2018-11-30 13:56] 0crat commented on #385
Order was finished, quality is "good": +35 point(s) just awarded to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko)

[2018-11-30 13:56] 0crat commented on #385
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-30 13:57] 0crat commented on #140
The job [#140](https://github.com/zold-io/zold/issues/140) assigned to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1bdc4929-f1fa-48fd-a070-8a9439adb8b5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-30 14:17] dapi commented on #597
I mean to use https://app.bugsnag.com to see all actual exceptions on executing nodes in one place.

Examples:
![screen shot 2018-11-30 at 17 16 40](https://user-images.githubusercontent.com/31139/49294339-bfe42480-f4c3-11e8-9c99-65c9720fd671.png)
![screen shot 2018-11-30 at 17 16 03](https://user-images.githubusercontent.com/31139/49294340-c07cbb00-f4c3-11e8-9c99-1da1ed76dac0.png)

[2018-11-30 14:22] dapi commented on #598
In my experience - direct access to instance variables in ruby is much more evil than attributes accessor.

That is why I recommend to use attribute accessors in such cases.

[2018-12-01 04:27] yegor256 opened #602 "NoDupEntrance should keep the history"
Let's make it smarter

[2018-12-01 08:11] yegor256 commented on #602
@rultor release, tag is `0.17.5`

[2018-12-01 08:12] rultor commented on #602
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16719-443408906)

[2018-12-01 08:29] SergeyKutsko opened #603 "Need add nginx to serve http and https same port."
https://github.com/zold-io/zold/issues/140

[2018-12-01 08:37] dapi opened #604 "Why do we reduce score to 16 before publicity it in headers?"
What for do we have reducing to 16 here?

https://github.com/zold-io/zold/blob/master/lib/zold/node/front.rb#L126

This line  `headers[Http::SCORE_HEADER] = score.reduced(16).to_s` is added by this issue - https://github.com/zold-io/zold/issues/115 (auto detection of new nodes doesn't work)

and this commit - https://github.com/zold-io/zold/commit/53f5da36ddc25164f08b064c58d49954e2f1f58b#diff-fbd0

[2018-12-01 08:37] 0crat commented on #604
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-01 08:57] dapi opened #605 "What goals of this project?"

[2018-12-01 08:57] 0crat commented on #605
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-01 08:57] 0crat commented on #605
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-01 08:58] yegor256 commented on #605
@dapi check the white paper: http://papers.zold.io/wp.pdf

[2018-12-01 08:58] #605 closed

[2018-12-01 09:06] SergeyKutsko commented on #140
@0crat wait

[2018-12-01 09:07] SergeyKutsko commented on #140
depends on https://github.com/zold-io/zold/issues/603

[2018-12-01 09:12] 0crat commented on #140
@SergeyKutsko The impediment for [#140](https://github.com/zold-io/zold/issues/140) was registered successfully by @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko)

[2018-12-01 09:17] 0crat commented on #605
Job `gh:zold-io/zold#605` is not assigned, can't get performer

[2018-12-01 09:17] 0crat commented on #605
This job is not in scope

[2018-12-01 11:00] denis-konovalyenko opened #606 "Load average is not propely determined for FreeBSD OS"
The load average equals to `0`. For more details please refer to the http://91.211.13.180:4096/ response:
[code]
And below is an example of actual values:
![screenshot_2018-11-30_16-29-49](https://user-images.githubusercontent.com/15904097/49327175-608b2080-f566-11e8-98da-8da7ccf8ab40.png)

It is important to have the load value right as the node stability might be under the risk of not even being

[2018-12-01 11:00] 0crat commented on #606
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-01 11:00] 0crat commented on #606
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-01 12:11] 0crat commented on #604
Job `gh:zold-io/zold#604` already assigned to @yegor256, can't assign to @yegor256

[2018-12-01 12:12] 0crat commented on #604
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-01 12:12] 0crat commented on #604
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-12-01 12:58] yegor256 commented on #604
@dapi see 7010661 Did I answer your question?

[2018-12-01 13:15] #602 closed

[2018-12-01 13:33] 0crat commented on #602
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-01 13:34] 0crat commented on #602
The job [#602](https://github.com/zold-io/zold/issues/602) is now out of scope

[2018-12-01 13:34] 0crat commented on #602
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-01 14:07] denis-konovalyenko opened #607 "What does mean Paying wallet file is absent?"
Could you please clarify whether something is going wrong when I get this message?

Below are 2 outputs of pulling the wallet:
[code]
Please note that `46.38.239.39:4096/18 returned e560c4fb95684c6d/6.8095/54t/895ebe/6Kb 19m/1c as copy #364/3 in 271ms: 63 (0.17.4)`
[code]

[2018-12-01 14:07] 0crat commented on #607
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-01 14:07] 0crat commented on #607
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-01 18:05] denis-konovalyenko opened #608 "Can't get non-exclusive access to the file .zoldata/remotes because of the lock"
[code]
[code]

[2018-12-01 18:05] 0crat commented on #608
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-01 18:05] 0crat commented on #608
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-01 18:26] denis-konovalyenko opened #609 "Zold processes become zombies"
I have 3 of them at the moment. For more information please refer to the outputs below.
[code]
[code]
[code]

[2018-12-02 07:08] dapi commented on #604
It explains. But why 16? Why not 24 or not 8? Is here some mathematic basis or HTTP header length limitation?

[2018-12-02 07:09] dapi commented on #604
Some times I met reducing to 4. Why we not reduce to 4 here?

[2018-12-02 07:37] 0crat commented on #565
@dapi[/z](https://www.0crat.com/u/dapi) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-02 08:00] yegor256 commented on #604
@dapi right, see: ed80062

[2018-12-02 08:12] yegor256 commented on #604
@dapi and this: f069736

[2018-12-02 22:37] denis-konovalyenko opened #610 "Provide rotation for log files"
Currently, there is no log rotation option available and if the `--verbose` option is turned on, it is only possible to overview about 2 hours interval.

It would help to spot events happening in the system at a wider period of time. For instance, if I had a Ruby process core dump, saying 24 hours ago, I would see what were the preceding log entries.

[2018-12-02 22:37] 0crat commented on #610
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-02 22:37] 0crat commented on #610
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-03 06:35] yegor256 commented on #610
@denis-konovalyenko make sense, thanks

[2018-12-03 06:38] yegor256 commented on #608
@denis-konovalyenko it seems that you are sharing the same directory with the running node:

[code]

The process 9566 tries to lock the file, while the process 7627 is using it now.

[2018-12-03 06:39] 0crat commented on #610
Job [#610](https://github.com/zold-io/zold/issues/610) is now in scope, role is `DEV`

[2018-12-03 06:39] 0crat commented on #609
Job [#609](https://github.com/zold-io/zold/issues/609) is now in scope, role is `DEV`

[2018-12-03 06:40] 0crat commented on #610
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-12-03 06:40] 0crat commented on #609
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-12-03 06:41] yegor256 commented on #607
@denis-konovalyenko that's a bug, we will take a look

[2018-12-03 06:42] yegor256 commented on #606
@denis-konovalyenko you are right, we don't get the "load average" value right in FreeBSD. This is the limitatio of this library we are using: https://github.com/rderoldan1/usagewatch_ext

[2018-12-03 06:43] 0crat commented on #607
Job [#607](https://github.com/zold-io/zold/issues/607) is now in scope, role is `DEV`

[2018-12-03 06:43] 0crat commented on #606
Job [#606](https://github.com/zold-io/zold/issues/606) is now in scope, role is `DEV`

[2018-12-03 06:44] yegor256 commented on #603
@SergeyKutsko use PDD if you need to break your task into smaller increments: https://www.yegor256.com/2010/03/04/pdd.html

[2018-12-03 06:44] #603 closed

[2018-12-03 06:46] 0crat commented on #607
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-12-03 06:48] 0crat commented on #606
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-12-03 07:02] 0crat commented on #603
Job `gh:zold-io/zold#603` is not assigned, can't get performer

[2018-12-03 07:03] 0crat commented on #603
This job is not in scope

[2018-12-03 07:34] dapi commented on #565
Sorry, guys. I have rethought the issue. The best way is to:

1) Don’t use unicode characters into logging messages;
2) As hot fixe replace all non-ascii symbols in terminal input with `String#encode`. Example `'фывыфв'.encode(Encoding::ASCII, invalid: :replace, undef: :replace, replace: '?’)`

[2018-12-03 08:18] denis-konovalyenko commented on #609
@yegor256 , please see below:
[code]

[2018-12-03 08:39] denis-konovalyenko commented on #608
@yegor256 , thank you for the clarification!

Indeed, the pull was issuing from the same directory where the node was running at the same time, however, that had not happened before (lucky node and me). Would not it be better if this limitation is being documented somewhere? E.g.: "please be aware that a client operation might cause the denial of it if the client is sharing the same directory with

[2018-12-03 10:09] dapi opened #611 "Node does not expose current score value"
How to reproduce:

1. Start a node.
2. Wait a hour.
3. Check file `farm`

[code]

4. Check node by HTTP request:

[code]

We see 13 points in farm but only 7 points is published.

[2018-12-03 10:09] 0crat commented on #611
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-03 10:09] 0crat commented on #611
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-03 10:15] yegor256 commented on #611
@dapi definitely a bug, thanks for reporting

[2018-12-03 10:16] yegor256 opened #612 "queue overflow in AsyncEntrance"
It's too long, let's fix

[2018-12-03 10:16] 0crat commented on #611
Job [#611](https://github.com/zold-io/zold/issues/611) is now in scope, role is `DEV`

[2018-12-03 10:17] 0crat commented on #611
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-12-03 11:15] yegor256 commented on #537
@emilianodellacasa thanks!

[2018-12-03 11:15] #537 closed

[2018-12-03 11:19] emilianodellacasa commented on #556
@yegor256 ping

[2018-12-03 11:24] 0crat commented on #612
The job [#612](https://github.com/zold-io/zold/issues/612) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/b8b8d2d4-94ea-4eb3-8848-ee702672a2c9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-03 11:30] 0crat commented on #612
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-03 11:30] 0crat commented on #612
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-03 11:32] 0crat commented on #612
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-03 11:33] 0crat commented on #537
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-03 11:33] 0crat commented on #537
The job [#537](https://github.com/zold-io/zold/issues/537) is now out of scope

[2018-12-03 11:35] ypshenychka commented on #537
@0crat quality good

[2018-12-03 11:38] ypshenychka commented on #511
@0crat quality acceptable

[2018-12-03 11:38] ypshenychka commented on #581
@0crat status

[2018-12-03 11:41] 0crat commented on #537
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.5](https://github.com/zerocracy/farm): CID: [b7a00e2b-ed59-483a-af13-f84a4b65e329](https://www.0crat.com/footprint/CAZPZR9FS/b7a00e2b-ed59-483a-af13-f84a4b65e329), Type: "Pay cash"

[2018-12-03 11:42] 0crat commented on #581
@ypshenychka This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#581](https://github.com/zold-io/zold/issues/581) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 4days
  * @dapi[/z](https://www.0crat.com/u/dapi) will recei

[2018-12-03 11:43] 0crat commented on #537
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-03 11:43] 0crat commented on #537
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-03 11:46] 0crat commented on #511
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-12-03 11:46] 0crat commented on #511
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-03 11:47] 0crat commented on #158
The job [#158](https://github.com/zold-io/zold/issues/158) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/8172c0ae-6774-43ff-8c29-a4c08db5348b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-12-03 12:16] ypshenychka commented on #581
@dapi According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct all your [message](https://github.com/zold-io/zold/issues/581#issuecomment-442489373)  by indicating an addressee in the beginning.

[2018-12-03 13:43] yegor256 commented on #612
@rultor release, tag is `0.17.6`

[2018-12-03 13:46] rultor commented on #612
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16737-443714178)

[2018-12-03 13:55] rultor commented on #612
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16737-443714178) (took me 7min)

[2018-12-04 04:17] pavulon18 commented on #608
so how should I go about fixing this on my machine, since I am getting the same (or similar) error message?

[2018-12-04 05:53] yegor256 opened #613 "Remotes.add() with a reason"
Let's add a `reason` to `Remotes.add()` and let's store it in the list of remotes (in the CSV). This will help us understand why certain remote got into the list and when.

Look what we have now (port 16534 is a total strange):

<img width="404" alt="screen shot 2018-12-04 at 10 49 20 am" src="https://user-images.githubusercontent.com/526301/49426689-56f5f880-f7b2-11e8-8352-1ae7e453e9ec.png">

[2018-12-04 05:54] 0crat commented on #613
Job [#613](https://github.com/zold-io/zold/issues/613) is now in scope, role is `DEV`

[2018-12-04 05:55] 0crat commented on #613
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-04 07:01] yegor256 commented on #612
@rultor release, tag is `0.17.7`

[2018-12-04 07:02] rultor commented on #612
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16737-443993292)

[2018-12-04 07:09] rultor commented on #612
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16737-443993292) (took me 6min)

[2018-12-04 07:10] #612 closed

[2018-12-04 10:30] yegor256 commented on #613
@rultor release, tag is `0.17.8`

[2018-12-04 10:32] rultor commented on #613
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16758-444051859)

[2018-12-04 10:36] denis-konovalyenko commented on #608
@pavulon18 , the workaround would be to launch the server and the client processes from different directories.

[2018-12-04 10:40] rultor commented on #613
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16758-444051859) (took me 7min)

[2018-12-04 13:59] 0crat commented on #588
The job [#588](https://github.com/zold-io/zold/issues/588) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/f9a7704f-03fe-40c7-91e5-52c48abbf743); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-04 13:59] 0crat commented on #588
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-04 14:38] rultor commented on #588
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16766-444117492) (took me 9min)

[2018-12-04 15:11] #588 closed

[2018-12-04 15:29] 0crat commented on #588
The job [#588](https://github.com/zold-io/zold/issues/588) is now out of scope

[2018-12-04 15:29] 0crat commented on #588
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-05 03:26] yegor256 opened #615 "Errno::ENOMEM: Cannot allocate memory - ps"
[code]

[2018-12-05 03:45] yegor256 commented on #615
@rultor release, tag is `0.17.10`

[2018-12-05 03:46] rultor commented on #615
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16772-444348443)

[2018-12-05 03:51] yegor256 commented on #514
@vl3 I would suggest to introduce a new method `Wallets.count` and implement it differently in `Wallets` and `TreeWallets`. In `Wallets` it will just count files in a directory, while in `TreeWallets` it should use `find . -name "*.z* | wc -l`

[2018-12-05 04:50] yegor256 commented on #615
@rultor release, tag is `0.17.10`

[2018-12-05 05:00] rultor commented on #615
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16772-444357958) (took me 8min)

[2018-12-05 05:14] #615 closed

[2018-12-05 05:32] 0crat commented on #615
Job `gh:zold-io/zold#615` is not assigned, can't get performer

[2018-12-05 05:33] 0crat commented on #615
This job is not in scope

[2018-12-05 10:56] yegor256 commented on #553
@emilianodellacasa thanks

[2018-12-05 10:56] #553 closed

[2018-12-05 11:12] 0crat commented on #553
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-05 11:12] 0crat commented on #553
The job [#553](https://github.com/zold-io/zold/issues/553) is now out of scope

[2018-12-05 14:18] ypshenychka commented on #553
@dapi According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold/issues/553#issuecomment-441382490)  by indicating an addressee in the beginning.

[2018-12-06 12:51] dapi opened #616 "Choice between Zold::Score#to_s and to_text"
Some times used to_s, some times used to_text. Which one is right and better?

[code]

[2018-12-06 12:51] 0crat commented on #616
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-06 12:51] 0crat commented on #616
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-06 19:03] dapi commented on #590
Even `openssl` leaks in ruby

[code]

[2018-12-07 01:01] vl3 commented on #514
@0crat wait
PR submitted, waiting for review

[2018-12-07 01:01] 0crat commented on #514
@vl3 The impediment for [#514](https://github.com/zold-io/zold/issues/514) was registered successfully by @vl3[/z](https://www.0crat.com/u/vl3)

[2018-12-08 12:40] 0crat commented on #158
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-08 20:38] dapi commented on #453
here is a good example - https://github.com/puma/puma/blob/master/appveyor.yml

[2018-12-09 17:15] dapi commented on #553
@emilianodellacasa no reproducing with current master

[2018-12-09 19:36] ypshenychka commented on #553
@dapi Please respond to my above remark and make appropriate correction.

[2018-12-10 05:50] dapi opened #618 "How to force remote nodes to push me all their wallets?"
Is there any described way?

[2018-12-10 05:50] 0crat commented on #618
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-10 05:50] 0crat commented on #618
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-10 07:31] ypshenychka commented on #553
@0crat quality acceptable

[2018-12-10 07:32] 0crat commented on #581
Order was finished, quality is "acceptable": +35 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-12-10 07:32] 0crat commented on #581
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-10 07:38] 0crat commented on #553
Order was finished, quality is "acceptable": +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-10 07:42] 0crat commented on #553
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-10 12:34] yegor256 opened #619 "score 8"
See https://github.com/zold-io/zold-score/issues/24

Let's use the new lib.

[2018-12-10 14:11] yegor256 commented on #619
@rultor release, tag is `0.18.0`

[2018-12-10 14:13] yegor256 commented on #514
@vl3 I believe you forgot to remove the `todo` puzzle from the source code

[2018-12-10 14:13] yegor256 commented on #619
@rultor release, tag is `0.18.0`

[2018-12-10 14:15] rultor commented on #619
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16825-445829117)

[2018-12-10 14:48] #619 closed

[2018-12-10 15:06] 0crat commented on #619
Job `gh:zold-io/zold#619` is not assigned, can't get performer

[2018-12-10 15:06] 0crat commented on #619
This job is not in scope

[2018-12-11 08:32] yegor256 opened #620 ""repo" attribute in the JSON front"
Let's add it there.

[2018-12-11 09:35] yegor256 commented on #620
@rultor release, tag is `0.18.1`

[2018-12-11 09:46] rultor commented on #620
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16833-446134460) (took me 7min)

[2018-12-11 09:52] #620 closed

[2018-12-11 10:15] 0crat commented on #620
Job `gh:zold-io/zold#620` is not assigned, can't get performer

[2018-12-11 10:17] 0crat commented on #620
This job is not in scope

[2018-12-11 14:41] yegor256 opened #621 "merge local copy first"
Let's merge local first.

[2018-12-11 14:42] yegor256 commented on #616
@dapi fixed, we are using `to_s` only now.

[2018-12-11 14:42] #616 closed

[2018-12-11 14:58] 0crat commented on #616
Job `gh:zold-io/zold#616` is not assigned, can't get performer

[2018-12-11 14:58] 0crat commented on #616
This job is not in scope

[2018-12-11 15:23] #621 closed

[2018-12-11 15:24] yegor256 opened #622 "garbage collection"
Let's remove unused and empty wallets regularly.

[2018-12-11 15:40] 0crat commented on #621
Job `gh:zold-io/zold#621` is not assigned, can't get performer

[2018-12-11 15:40] 0crat commented on #621
This job is not in scope

[2018-12-11 16:03] rultor commented on #622
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16838-446256215)

[2018-12-11 16:13] rultor commented on #622
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16838-446256215) (took me 8min)

[2018-12-11 16:16] #622 closed

[2018-12-11 16:27] yegor256 opened #623 "/wallet/<ID>/txns.json"
Let's return full list of transactions in JSON array

[2018-12-11 16:32] 0crat commented on #622
Job `gh:zold-io/zold#622` is not assigned, can't get performer

[2018-12-11 16:32] 0crat commented on #623
The job [#623](https://github.com/zold-io/zold/issues/623) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/5c6a0d34-1c33-4661-9e89-e3736bb0f35f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-11 16:32] 0crat commented on #622
This job is not in scope

[2018-12-11 16:32] 0crat commented on #623
Job `gh:zold-io/zold#623` already assigned to @yegor256, can't assign to @yegor256

[2018-12-11 16:33] 0crat commented on #623
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-11 16:33] 0crat commented on #623
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-11 16:33] 0crat commented on #623
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-11 16:45] yegor256 commented on #623
@rultor release, tag is `0.18.3`

[2018-12-11 16:48] rultor commented on #623
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16843-446273521)

[2018-12-11 16:57] rultor commented on #623
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16843-446273521) (took me 7min)

[2018-12-11 18:09] #623 closed

[2018-12-11 18:17] yegor256 opened #624 "/txns.json doesn't work"
After #623:

[code]

[2018-12-11 18:29] 0crat commented on #623
The job [#623](https://github.com/zold-io/zold/issues/623) is now out of scope

[2018-12-11 18:30] 0crat commented on #623
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-11 20:14] yegor256 commented on #624
@rultor release, tag is `0.18.4`

[2018-12-11 20:16] rultor commented on #624
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16851-446346013)

[2018-12-11 20:45] 0crat commented on #624
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-11 20:45] 0crat commented on #624
The job [#624](https://github.com/zold-io/zold/issues/624) is now out of scope

[2018-12-11 20:45] 0crat commented on #624
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 04:24] dapi opened #625 "X-Zold-Accept-Protocols support"
I think will be better to write full client name to version, like a: `X-Zold-Version: Zold 0.1.2` and `X-Zold-Version: Zoldy 2.3.4`

And, it is important, available node to support different protocols: `X-Zold-Accept-Protocols: 2,3,SOME-1` etc

[2018-12-12 07:27] yegor256 opened #626 "SoftError is not of type Exception"
[code]

[2018-12-12 07:30] yegor256 opened #627 "Gc fails when file not found"
[code]

[2018-12-12 07:31] 0crat commented on #627
The job [#627](https://github.com/zold-io/zold/issues/627) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/44e0a4ec-b5d3-4ebd-ad0a-4dfa2ac73ea3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-12 07:31] 0crat commented on #627
Job `gh:zold-io/zold#627` already assigned to @yegor256, can't assign to @yegor256

[2018-12-12 07:31] 0crat commented on #627
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 07:31] 0crat commented on #627
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 07:31] 0crat commented on #627
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 07:33] #626 closed

[2018-12-12 07:49] #514 closed

[2018-12-12 07:50] 0pdd commented on #514
The puzzle `513-3d9ea123` has disappeared from the source code, that's why I closed this issue.

[2018-12-12 07:50] 0pdd commented on #513
@yegor256 the only puzzle [#514](https://github.com/zold-io/zold/issues/514) is solved here.

[2018-12-12 07:52] yegor256 commented on #627
@rultor release, tag is `0.18.5`

[2018-12-12 07:52] yegor256 commented on #514
@vl3 I did it already in b04b9b3 You should have created a new PR, yes.

[2018-12-12 07:53] rultor commented on #627
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16862-446494414)

[2018-12-12 07:55] 0crat commented on #626
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-12 08:01] 0crat commented on #626
The job [#626](https://github.com/zold-io/zold/issues/626) is now out of scope

[2018-12-12 08:03] 0crat commented on #626
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 08:03] rultor commented on #627
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16862-446494414) (took me 7min)

[2018-12-12 08:04] #627 closed

[2018-12-12 08:12] 0crat commented on #514
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vl3[/z](https://www.0crat.com/u/vl3), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-12 08:16] 0crat commented on #514
The job [#514](https://github.com/zold-io/zold/issues/514) is now out of scope

[2018-12-12 08:21] 0crat commented on #627
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-12 08:21] 0crat commented on #627
The job [#627](https://github.com/zold-io/zold/issues/627) is now out of scope

[2018-12-12 08:21] 0crat commented on #627
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 13:44] yegor256 commented on #625
@dapi we will introduce a new header `X-Zold-Repo`. For the default one it will be `zold-io/zold`. For your own implementation provide your own.

[2018-12-12 13:44] yegor256 opened #628 "nodes don't stop entirely"
For some reason, when they quit (by OOM), they don't stop entirely.

[2018-12-12 13:52] 0crat commented on #625
The job [#625](https://github.com/zold-io/zold/issues/625) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2b5d1e5e-cc75-4283-bef0-462b7a05c440); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-12 13:53] 0crat commented on #625
Job `gh:zold-io/zold#625` already assigned to @yegor256, can't assign to @yegor256

[2018-12-12 13:53] 0crat commented on #628
The job [#628](https://github.com/zold-io/zold/issues/628) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1c9bb48c-3c39-4bda-b8fc-17c95edf9666); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-12 13:53] 0crat commented on #625
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 13:53] 0crat commented on #628
Job `gh:zold-io/zold#628` already assigned to @yegor256, can't assign to @yegor256

[2018-12-12 13:54] 0crat commented on #625
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-12-12 13:54] 0crat commented on #628
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 13:54] 0crat commented on #628
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 13:54] 0crat commented on #628
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 15:06] SergeyKutsko opened #629 "Take a long time to get attention of ARC"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2018-12-12 15:06] 0crat commented on #629
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-12 16:38] yegor256 commented on #625
@rultor release, tag is `0.18.6`

[2018-12-12 16:41] rultor commented on #625
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16874-446654538)

[2018-12-12 16:49] rultor commented on #625
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16874-446654538) (took me 6min)

[2018-12-12 16:49] yegor256 commented on #625
@dapi done, thanks

[2018-12-12 16:49] #625 closed

[2018-12-12 17:06] 0crat commented on #625
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-12 17:07] 0crat commented on #625
The job [#625](https://github.com/zold-io/zold/issues/625) is now out of scope

[2018-12-12 17:07] 0crat commented on #625
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-12 19:52] ypshenychka commented on #514
@0crat quality good

[2018-12-12 20:01] 0crat commented on #514
Order was finished, quality is "good": +35 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-12-12 20:01] 0crat commented on #514
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-13 14:27] blackout314 opened #630 "BUG api rest of wts - negative balance check"
i have 0.256 zold
i sent a pay with rest api of 20 zold
i see my balance with negative zold -19,xx

[2018-12-13 15:40] yegor256 commented on #630
@blackout314 fixed in https://github.com/zold-io/wts.zold.io/commit/0ca2e23a6dd59a371f87428bded1d8b11b8b06d7

[2018-12-13 15:40] #630 closed

[2018-12-13 15:40] yegor256 commented on #629
@SergeyKutsko this is not code related issue

[2018-12-13 15:40] #629 closed

[2018-12-13 15:58] 0crat commented on #630
Job `gh:zold-io/zold#630` is not assigned, can't get performer

[2018-12-13 15:58] 0crat commented on #629
Job `gh:zold-io/zold#629` is not assigned, can't get performer

[2018-12-13 15:58] 0crat commented on #630
This job is not in scope

[2018-12-13 15:59] 0crat commented on #629
This job is not in scope

[2018-12-13 17:47] yegor256 commented on #628
@rultor release, tag is `0.18.7`

[2018-12-13 17:48] rultor commented on #628
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16885-447058743)

[2018-12-13 17:57] rultor commented on #628
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16885-447058743) (took me 8min)

[2018-12-14 06:01] yegor256 commented on #628
fixed

[2018-12-14 06:01] #628 closed

[2018-12-14 06:18] 0crat commented on #628
Job was finished in 40 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-14 06:19] 0crat commented on #628
The job [#628](https://github.com/zold-io/zold/issues/628) is now out of scope

[2018-12-14 06:19] 0crat commented on #628
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 13:05] yegor256 opened #631 "Front::MIN_SCORE is too high"
It's 16 now, which is too high for most nodes. Let's lower to 4.

[2018-12-14 13:06] 0crat commented on #631
The job [#631](https://github.com/zold-io/zold/issues/631) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/e409453b-a135-4af9-a55c-061dac2b6569); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-14 13:06] 0crat commented on #631
Job `gh:zold-io/zold#631` already assigned to @yegor256, can't assign to @yegor256

[2018-12-14 13:07] 0crat commented on #631
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 13:10] 0crat commented on #631
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 13:10] 0crat commented on #631
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 13:16] yegor256 commented on #631
@rultor release, tag is `0.18.8`

[2018-12-14 13:20] rultor commented on #631
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16896-447322341)

[2018-12-14 13:31] #631 closed

[2018-12-14 13:50] 0crat commented on #631
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-14 13:50] 0crat commented on #631
The job [#631](https://github.com/zold-io/zold/issues/631) is now out of scope

[2018-12-14 13:51] 0crat commented on #631
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-16 12:50] #389 closed

[2018-12-16 12:50] 0pdd commented on #389
The puzzle `306-7716d232` has disappeared from the source code, that's why I closed this issue.

[2018-12-16 12:50] 0pdd commented on #306
@botanicus the only puzzle [#389](https://github.com/zold-io/zold/issues/389) is solved here.

[2018-12-16 12:54] 0crat commented on #333
The job [#333](https://github.com/zold-io/zold/issues/333) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/ad0447a6-0536-4e7b-a33f-85d0c45d82a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-16 13:00] 0crat commented on #333
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-16 13:05] 0crat commented on #211
The job [#211](https://github.com/zold-io/zold/issues/211) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/52797ebe-422e-4feb-a9dc-e1ff43d5e79e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-12-16 13:07] 0crat commented on #389
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-16 13:08] 0crat commented on #389
The job [#389](https://github.com/zold-io/zold/issues/389) is now out of scope

[2018-12-16 13:10] #333 closed

[2018-12-16 13:10] 0pdd commented on #333
The puzzle `280-c0152986` has disappeared from the source code, that's why I closed this issue.

[2018-12-16 13:10] 0pdd commented on #280
@yegor256 the only puzzle [#333](https://github.com/zold-io/zold/issues/333) is solved here.

[2018-12-17 07:09] yegor256 commented on #604
@dapi  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-17 07:09] #604 closed

[2018-12-17 07:09] yegor256 commented on #598
@dapi won't do that, sorry. We are against getters/setters.

[2018-12-17 07:09] #598 closed

[2018-12-17 07:10] #593 closed

[2018-12-17 07:33] yegor256 opened #633 "--tolerate-edges"
Let's raise an exception if all nodes we fetch from or push to are NOT default ones. `--tolerate-edges` should disable this.

[2018-12-17 07:35] 0crat commented on #633
The job [#633](https://github.com/zold-io/zold/issues/633) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/90d786d5-b05e-4bf6-84cf-a45459e0ca26); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-17 07:36] 0crat commented on #633
Job `gh:zold-io/zold#633` already assigned to @yegor256, can't assign to @yegor256

[2018-12-17 07:38] 0crat commented on #633
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-17 07:40] 0crat commented on #633
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-17 07:40] 0crat commented on #633
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-17 08:22] emilianodellacasa opened #634 "Node stopped responding"
Agter a while that the node was up and running, suddenly it stopped responding.

This is the error that generated in the log:

[code]

After a manual restart, it now works

[2018-12-17 08:48] yegor256 commented on #633
@rultor release, tag is `0.18.9`

[2018-12-17 08:49] rultor commented on #633
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16917-447765857)

[2018-12-17 08:58] rultor commented on #633
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16917-447765857) (took me 8min)

[2018-12-17 10:09] ypshenychka commented on #389
@0crat quality good

[2018-12-17 10:20] 0crat commented on #389
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-17 10:20] 0crat commented on #389
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-17 10:21] 0crat commented on #560
The job [#560](https://github.com/zold-io/zold/issues/560) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/ca2ca1c2-6abd-4a6b-82ab-264a6b5d2ff4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2018-12-17 10:23] 0crat commented on #346
The job [#346](https://github.com/zold-io/zold/issues/346) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/058f9695-8e8c-4c62-835a-484eb219bcc8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2018-12-17 11:43] #633 closed

[2018-12-17 11:44] yegor256 opened #635 "at start "RuntimeError: Not enough lines""
When node starts it can't get the invoice from the wallet:

[code]

[2018-12-17 12:00] 0crat commented on #633
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-17 12:01] 0crat commented on #633
The job [#633](https://github.com/zold-io/zold/issues/633) is now out of scope

[2018-12-17 12:01] 0crat commented on #633
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-17 14:33] yegor256 opened #636 "RuntimeError: You have to join at least one wallet in"
[code]

[2018-12-17 15:19] #636 closed

[2018-12-17 15:39] 0crat commented on #636
Job `gh:zold-io/zold#636` is not assigned, can't get performer

[2018-12-17 15:39] 0crat commented on #636
This job is not in scope

[2018-12-17 16:13] yegor256 commented on #635
@rultor release, tag is `0.18.10`

[2018-12-17 16:13] yegor256 commented on #635
@rultor release, tag is `0.19.0`

[2018-12-17 16:13] rultor commented on #635
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16921-447901474)

[2018-12-17 16:23] rultor commented on #635
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16921-447901474) (took me 8min)

[2018-12-17 16:30] #635 closed

[2018-12-17 16:47] 0crat commented on #635
Job `gh:zold-io/zold#635` is not assigned, can't get performer

[2018-12-17 16:48] 0crat commented on #635
This job is not in scope

[2018-12-18 04:52] yegor256 opened #638 "merge doesn't stop on failures in fetch"
[code]

[2018-12-18 04:55] 0crat commented on #638
The job [#638](https://github.com/zold-io/zold/issues/638) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/e268c247-fb90-4e0c-8a05-0673cdb0c6b5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-18 04:55] 0crat commented on #638
Job `gh:zold-io/zold#638` already assigned to @yegor256, can't assign to @yegor256

[2018-12-18 04:55] 0crat commented on #638
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-18 04:55] 0crat commented on #638
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-18 04:56] 0crat commented on #638
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-18 07:09] #638 closed

[2018-12-18 07:34] yegor256 opened #639 "--tolerate-quorum"
Let's make sure a certain number of nodes are always visible in PUSH and FETCH.

[2018-12-18 07:54] yegor256 commented on #639
@rultor release, tag is `0.19.1`

[2018-12-18 07:55] rultor commented on #639
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16932-448128793)

[2018-12-18 08:04] rultor commented on #639
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16932-448128793) (took me 8min)

[2018-12-18 08:05] #639 closed

[2018-12-18 08:56] yegor256 opened #640 "hungry wallets should PULL whatever they see"
Let's pull even if it's found

[2018-12-18 09:48] yegor256 commented on #640
@rultor release, tag is `0.19.2`

[2018-12-18 09:50] rultor commented on #640
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16933-448160604)

[2018-12-18 09:59] rultor commented on #640
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16933-448160604) (took me 8min)

[2018-12-18 11:35] #640 closed

[2018-12-18 11:40] yegor256 opened #642 "--shallow for the merge"
Let's make merge operation non-shallow by default.

[2018-12-18 12:41] yegor256 opened #643 "prohibit overwrites after 24 hours"
Local copy should dominate after 24 hours and no transactions can be overwritten.

[2018-12-18 19:22] 0crat commented on #640
Job `gh:zold-io/zold#640` is not assigned, can't get performer

[2018-12-19 05:40] yegor256 commented on #642
@rultor release, tag is `0.20.0`

[2018-12-19 05:41] #643 closed

[2018-12-19 05:41] rultor commented on #642
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16949-448476170)

[2018-12-19 05:50] rultor commented on #642
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16949-448476170) (took me 8min)

[2018-12-19 05:55] #642 closed

[2018-12-19 06:01] 0crat commented on #643
Job `gh:zold-io/zold#643` is not assigned, can't get performer

[2018-12-19 06:04] 0crat commented on #643
This job is not in scope

[2018-12-19 06:14] 0crat commented on #642
Job was finished in 10 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-19 06:14] 0crat commented on #642
The job [#642](https://github.com/zold-io/zold/issues/642) is now out of scope

[2018-12-19 06:14] 0crat commented on #642
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-19 06:47] blackout314 opened #644 "pay - convert zld to btc"
use case
i try to convert zld to btc from wts

steps to reproduce
1) login to wts
2) pull the wallet
3) try to convert 4 ZLD to BTC

errors in logs
[code]

[code]

[code]

[2018-12-19 06:48] 0crat commented on #644
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-19 06:48] 0crat commented on #644
@blackout314[/z](https://www.0crat.com/u/blackout314) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-19 07:45] yegor256 commented on #644
@rultor release, tag is `0.20.1`

[2018-12-19 07:46] yegor256 commented on #644
@blackout314 it's fixed, thanks for reporting

[2018-12-19 07:46] rultor commented on #644
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16950-448499991)

[2018-12-19 07:55] rultor commented on #644
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16950-448499991) (took me 8min)

[2018-12-19 08:08] #644 closed

[2018-12-19 08:34] blackout314 commented on #644
@yegor256 is a pleasure 👍

[2018-12-19 09:42] blackout314 commented on #644
wts still not working, but no errors

https://github.com/zold-io/wts.zold.io/issues/88

[2018-12-19 10:22] yegor256 opened #645 "master nodes should merge first"
Let's merge master nodes first.

[2018-12-20 08:48] yegor256 opened #646 "Errno::ENOMEM: Cannot allocate memory - find"
[code]

[2018-12-21 03:22] ArnoStrouwen opened #647 "Bandwidth consumption nodes seems high"
What are normal ranges for download/upload of nodes?
My node used over 50 GB in 24 hours. Some of the output I saved (no idea if it is useful):
[code]
And another
[code]
Most days the consumption is far less (5 to 10GB). Even this seems very high and is discouraging me to run a node.

[2018-12-21 03:22] 0crat commented on #647
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-21 13:38] 0crat commented on #211
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-21 15:40] yegor256 commented on #646
@rultor release, tag is `0.20.2`

[2018-12-21 15:41] rultor commented on #646
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16988-449421002)

[2018-12-21 15:51] rultor commented on #646
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16988-449421002) (took me 8min)

[2018-12-21 16:39] #646 closed

[2018-12-21 16:40] yegor256 commented on #647
@ArnoJL it's a known problem, thanks for reporting, we will fix it ASAP.

[2018-12-21 16:46] 0crat commented on #647
Job [#647](https://github.com/zold-io/zold/issues/647) is now in scope, role is `DEV`

[2018-12-21 16:48] 0crat commented on #647
Thanks for your contribution, @arnojl[/z](https://www.0crat.com/u/arnojl)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-12-21 16:57] 0crat commented on #646
Job `gh:zold-io/zold#646` is not assigned, can't get performer

[2018-12-21 16:57] 0crat commented on #646
This job is not in scope

[2018-12-21 17:11] yegor256 opened #648 "optimize memory consumption"
Let's try to consume less, on IO operations.

[2018-12-21 19:33] yegor256 commented on #648
@rultor release, tag is `0.20.3`

[2018-12-21 19:34] rultor commented on #648
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16994-449478920)

[2018-12-21 19:40] rultor commented on #648
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16994-449478920) (took me 5min)

[2018-12-22 04:48] 0crat commented on #356
The job [#356](https://github.com/zold-io/zold/issues/356) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/9d2192e4-5972-49dc-a287-c312e3ebdd79); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2018-12-22 07:35] yegor256 commented on #648
@rultor release, tag is `0.20.4`

[2018-12-22 07:37] rultor commented on #648
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16994-449552599)

[2018-12-22 07:45] rultor commented on #648
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16994-449552599) (took me 7min)

[2018-12-24 05:58] #648 closed

[2018-12-24 06:15] 0crat commented on #648
Job `gh:zold-io/zold#648` is not assigned, can't get performer

[2018-12-24 06:16] 0crat commented on #648
This job is not in scope

[2018-12-24 06:53] yegor256 opened #649 "doesn't stop after Front exit"
It doesn't stop

[2018-12-24 07:02] #649 closed

[2018-12-24 07:11] yegor256 opened #650 "deliver content only in wallet.bin URL"
Let's deliver wallet content only when `wallet/<ID>.bin` is requested.

[2018-12-24 07:19] 0crat commented on #650
The job [#650](https://github.com/zold-io/zold/issues/650) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/94bc657e-c81b-4daf-8a1f-cbfb4cee2582); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-24 07:21] 0crat commented on #650
Job `gh:zold-io/zold#650` already assigned to @yegor256, can't assign to @yegor256

[2018-12-24 07:21] 0crat commented on #649
Job `gh:zold-io/zold#649` is not assigned, can't get performer

[2018-12-24 07:21] 0crat commented on #650
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-24 07:21] 0crat commented on #650
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-24 07:21] 0crat commented on #649
This job is not in scope

[2018-12-24 07:21] 0crat commented on #650
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-24 14:00] yegor256 commented on #650
@rultor release, tag is `0.21.0`

[2018-12-24 14:01] rultor commented on #650
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17028-449737542)

[2018-12-24 14:02] yegor256 opened #651 "Http.put() should stream the content"
See the changes made in #650. `Http.get_file()` now reads the content from HTTP page and saves it to the file, without touching the memory (well, only in small chunks). We should do the same for `Http.pu()`. At the moment we are using `IO.read()` in order to read the entire file into memory first. This is not effective. Let's stream.

[2018-12-24 14:02] yegor256 commented on #651
@emilianodellacasa can you take a look?

[2018-12-24 14:09] rultor commented on #650
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17028-449737542) (took me 7min)

[2018-12-24 14:16] #560 closed

[2018-12-24 14:16] 0pdd commented on #560
The puzzle `444-c6c7b248` has disappeared from the source code, that's why I closed this issue.

[2018-12-24 14:16] 0pdd commented on #444
@DronMDF the only puzzle [#560](https://github.com/zold-io/zold/issues/560) is solved here.

[2018-12-24 14:23] #650 closed, assigned to yegor256

[2018-12-24 14:44] 0crat commented on #560
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-24 14:44] 0crat commented on #650
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-24 14:44] 0crat commented on #560
The job [#560](https://github.com/zold-io/zold/issues/560) is now out of scope

[2018-12-24 14:45] 0crat commented on #650
The job [#650](https://github.com/zold-io/zold/issues/650) is now out of scope

[2018-12-24 14:45] 0crat commented on #650
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-25 09:42] ypshenychka commented on #560
@0crat quality good

[2018-12-25 10:12] 0crat commented on #560
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-25 10:19] 0crat commented on #560
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-25 11:06] emilianodellacasa commented on #651
@yegor256 Sure, please assign these to me

[2018-12-25 13:43] yegor256 commented on #505
@SergeyKutsko This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 13:43] #505 closed

[2018-12-25 14:03] 0crat commented on #505
Job `gh:zold-io/zold#505` is not assigned, can't get performer

[2018-12-25 14:05] 0crat commented on #505
The job [#505](https://github.com/zold-io/zold/issues/505) is now out of scope

[2018-12-25 17:03] yegor256 commented on #235
It's gone

[2018-12-25 17:03] #235 closed

[2018-12-25 17:13] yegor256 commented on #651
@0crat assign @emilianodellacasa

[2018-12-25 17:15] yegor256 commented on #634
@emilianodellacasa  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 17:15] #634 closed

[2018-12-25 17:16] yegor256 commented on #618
@0crat assign @emilianodellacasa

[2018-12-25 17:17] yegor256 commented on #618
@emilianodellacasa let's introduce a new HTTP entry point called `/wallets`. It should return names of all wallets in plain text, separated by `\n`. You just do `@wallets.all`.

[2018-12-25 17:30] 0crat commented on #235
The job [#235](https://github.com/zold-io/zold/issues/235) is now out of scope

[2018-12-25 17:32] 0crat commented on #651
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-25 17:35] 0crat commented on #651
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-25 17:35] 0crat commented on #618
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-25 17:35] 0crat commented on #634
Job `gh:zold-io/zold#634` is not assigned, can't get performer

[2018-12-25 17:35] 0crat commented on #618
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dapi[/z](https://www.0crat.com/u/dapi)

[2018-12-25 17:35] 0crat commented on #634
This job is not in scope

[2018-12-25 17:47] #613 closed

[2018-12-25 17:47] yegor256 commented on #609
@denis-konovalyenko This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 17:47] #609 closed

[2018-12-25 17:48] yegor256 commented on #610
@0crat assign @emilianodellacasa

[2018-12-25 17:49] yegor256 commented on #610
@emilianodellacasa let's add `--rotate-logs` option. When it's set, the `node.rb` should not delete old logs, but rename the file, according to the current time.  The suffix has to be added, like `-27-11-2018.log`

[2018-12-25 17:50] yegor256 commented on #608
@denis-konovalyenko This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 17:50] #608 closed

[2018-12-25 17:50] yegor256 commented on #607
@denis-konovalyenko this is fixed with `--shallow` option. Shouldn't happen anymore.

[2018-12-25 17:50] #607 closed

[2018-12-25 17:59] 0crat commented on #610
@yegor256 The job [#610](https://github.com/zold-io/zold/issues/610) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/06a49fa7-7214-41af-852d-8c278b920ddd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2018-12-25 18:00] yegor256 commented on #599
@dapi This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 18:00] #599 closed

[2018-12-25 18:06] 0crat commented on #610
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-25 18:10] 0crat commented on #613
Job `gh:zold-io/zold#613` is not assigned, can't get performer

[2018-12-25 18:10] 0crat commented on #609
Job `gh:zold-io/zold#609` is not assigned, can't get performer

[2018-12-25 18:12] 0crat commented on #608
Job `gh:zold-io/zold#608` is not assigned, can't get performer

[2018-12-25 18:12] 0crat commented on #607
Job `gh:zold-io/zold#607` is not assigned, can't get performer

[2018-12-25 18:12] 0crat commented on #613
The job [#613](https://github.com/zold-io/zold/issues/613) is now out of scope

[2018-12-25 18:12] 0crat commented on #609
The job [#609](https://github.com/zold-io/zold/issues/609) is now out of scope

[2018-12-25 18:14] 0crat commented on #608
This job is not in scope

[2018-12-25 18:14] 0crat commented on #607
The job [#607](https://github.com/zold-io/zold/issues/607) is now out of scope

[2018-12-25 18:17] 0crat commented on #599
Job `gh:zold-io/zold#599` is not assigned, can't get performer

[2018-12-25 18:18] 0crat commented on #599
This job is not in scope

[2018-12-25 19:01] yegor256 commented on #556
@rultor release, tag is `0.21.1`

[2018-12-25 19:03] rultor commented on #556
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17048-449868364)

[2018-12-25 19:05] rultor commented on #556
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17048-449868364) (spent 2min)

[code]

[2018-12-25 19:20] yegor256 commented on #556
@emilianodellacasa see above. Doesn't work, for some reason. I'm reverting it back: dc5c9ee

[2018-12-25 19:30] yegor256 commented on #502
@SergeyKutsko dup of #346

[2018-12-25 19:30] #502 closed

[2018-12-25 19:32] yegor256 commented on #220
@ledestin thanks

[2018-12-25 19:32] #220 closed

[2018-12-25 19:49] 0crat commented on #590
Job `gh:zold-io/zold#590` is not assigned, can't get performer

[2018-12-25 19:51] 0crat commented on #502
Job `gh:zold-io/zold#502` is not assigned, can't get performer

[2018-12-25 19:51] 0crat commented on #590
This job is not in scope

[2018-12-25 19:53] 0crat commented on #502
This job is not in scope

[2018-12-25 19:57] 0crat commented on #220
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ledestin[/z](https://www.0crat.com/u/ledestin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-25 19:59] 0crat commented on #220
The job [#220](https://github.com/zold-io/zold/issues/220) is now out of scope

[2018-12-25 20:18] ypshenychka commented on #220
@ledestin According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add a reference to corresponding PR.

[2018-12-26 14:56] yegor256 opened #652 ""create" must do "GET" in order to confirm that the wallet ID is available"
Let's make sure `create` performs `GET`, in order to make sure the wallet is absent in all available master nodes.

`--skip-fetch` must disable this feature.

`--tolerate-edges` must allow edge nodes too.

`--tolerate-quorum` must specify the minimum amount of required nodes (4 is the default one).

[2018-12-26 14:56] yegor256 commented on #652
@0crat assign @emilianodellacasa

[2018-12-26 14:57] 0crat commented on #652
@yegor256 The job [#652](https://github.com/zold-io/zold/issues/652) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/874372d8-231b-4fd2-a8b3-621400951fe1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2018-12-26 14:57] 0crat commented on #652
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-26 14:57] 0crat commented on #652
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-26 18:10] yegor256 opened #653 "two-phase PUSH"
Let's make our PUSH operation two-phases. First, we send the wallet content over HTTP PUT request. The node returns a hash code of the operation (just some random number). Then, the client has to send that code back in another PUT request. Only after receiving that code the node should consider the wallet delivered and send it to the queue for processing.

[2018-12-26 18:15] 0crat commented on #653
Job [#653](https://github.com/zold-io/zold/issues/653) is now in scope, role is `DEV`

[2018-12-26 18:16] 0crat commented on #653
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-27 03:05] lastk commented on #211
I'm assuming wich every operation in `remotes` should trigger `unerror` if no errors occurred.

[2018-12-27 05:37] 0crat commented on #356
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-27 17:22] emilianodellacasa commented on #356
@yegor256 PR #655 has beel merged, please close this issue

[2018-12-27 17:38] emilianodellacasa commented on #354
@yegor256 Would be a problem for you to pass `log` and `farm` in `Zold::Remotes.new` instead of `each`?

[2018-12-27 17:38] emilianodellacasa commented on #354
@0crat wait - Waiting for a feedback

[2018-12-27 17:40] dapi opened #656 "Divergence in transaction signature between paper and current implementation"
Paper recommend to use hex amount:

<img width="828" alt="screenshot 2018-12-27 at 20 36 59" src="https://user-images.githubusercontent.com/31139/50489192-52baa500-0a17-11e9-9877-cac35c4e896c.png">

While implementation uses integer:

https://github.com/zold-io/zold/blob/master/lib/zold/signature.rb#L68

IMHO paper way is better

[2018-12-27 17:41] 0crat commented on #656
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-27 17:41] 0crat commented on #656
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-27 17:41] 0crat commented on #354
@emilianodellacasa The impediment for [#354](https://github.com/zold-io/zold/issues/354) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-27 17:43] emilianodellacasa commented on #556
@yegor256 I made another commit for this issue, try it please

[2018-12-28 09:40] ledestin commented on #220
@ypshenychka sorry, no longer interested

[2018-12-28 09:54] ypshenychka commented on #220
@ledestin Are you not interested in getting paid for this?

[2018-12-28 10:03] ledestin commented on #220
@ypshenychka nope. I'd agree for the money to go to you, if you fix this ticket.

[2018-12-28 10:05] ypshenychka commented on #220
@ledestin I'm afraid that's not the case. Okay then. Since I don't see what job was actually done here, I must mark it as bad. Thanks.

[2018-12-28 11:13] yegor256 opened #658 "oom-limit calculate on fly"
Let's calculate it on-fly

[2018-12-28 11:14] 0crat commented on #658
The job [#658](https://github.com/zold-io/zold/issues/658) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2485b492-1b7e-4514-a8b0-09831a197101); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-12-28 11:15] 0crat commented on #658
Job `gh:zold-io/zold#658` already assigned to @yegor256, can't assign to @yegor256

[2018-12-28 11:15] 0crat commented on #658
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-28 11:15] 0crat commented on #658
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-28 11:15] 0crat commented on #658
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-28 11:58] emilianodellacasa commented on #618
@0crat wait - PR #657 created, waiting to be merged

[2018-12-28 11:58] 0crat commented on #618
@emilianodellacasa The impediment for [#618](https://github.com/zold-io/zold/issues/618) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-28 12:33] ypshenychka commented on #220
@0crat quality bad

[2018-12-28 12:34] 0crat commented on #220
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-12-28 12:34] 0crat commented on #220
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-28 15:40] yegor256 commented on #658
@rultor release, tag is `0.21.1`

[2018-12-28 15:41] rultor commented on #658
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17089-450378795)

[2018-12-28 15:50] rultor commented on #658
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17089-450378795) (took me 8min)

[2018-12-28 16:12] #658 closed

[2018-12-28 16:22] emilianodellacasa commented on #618
@yegor256 PR has been merged, please close this issue

[2018-12-28 16:35] 0crat commented on #658
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-28 16:35] 0crat commented on #658
The job [#658](https://github.com/zold-io/zold/issues/658) is now out of scope

[2018-12-28 16:35] 0crat commented on #658
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-29 06:51] yegor256 commented on #618
@emilianodellacasa it's not mine

[2018-12-29 10:30] emilianodellacasa commented on #618
@yegor256 you are right, sorry

[2018-12-29 10:31] emilianodellacasa commented on #618
@dapi please close this issue, PR has been merged

[2018-12-29 15:20] #618 closed

[2018-12-29 15:20] dapi commented on #618
👍

[2018-12-29 15:43] 0crat commented on #618
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-29 15:43] 0crat commented on #618
The job [#618](https://github.com/zold-io/zold/issues/618) is now out of scope

[2018-12-30 17:38] 0crat commented on #651
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-30 18:39] 0crat commented on #610
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-31 15:38] 0crat commented on #652
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-01 16:09] fabriciofx opened #659 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:09] 0crat commented on #659
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-01 16:09] 0crat commented on #659
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-07 07:03] strogiyotec opened #660 "No comments for bnf abbreviation"
As I'm new in Zold project , I can't understand some abbreviation , I'm interesting in "bnf" word from constructor of "txn". As I see from code it's a wallet id
[code]
All other parameters are clear enough beside of bnf. What does this abbreiation mean ?

[2019-01-07 07:03] 0crat commented on #660
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-07 07:03] 0crat commented on #660
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-07 08:38] emilianodellacasa commented on #356
@yegor256 ping

[2019-01-07 10:20] #645 closed

[2019-01-07 10:40] 0crat commented on #645
The job [#645](https://github.com/zold-io/zold/issues/645) is now out of scope

[2019-01-07 10:40] 0crat commented on #645
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-07 10:44] yegor256 commented on #660
@strogiyotec some documentation added in 7639377 thanks!

[2019-01-07 10:44] #660 closed

[2019-01-07 10:45] yegor256 commented on #659
@fabriciofx fixed in ef8001ae6b25ed1f9953a9baf9a7b2b98814f36f thanks!

[2019-01-07 10:45] #659 closed

[2019-01-07 10:58] yegor256 opened #661 "check for file existence in push"
CHeck it beforehand

[2019-01-07 11:04] 0crat commented on #660
Job `gh:zold-io/zold#660` is not assigned, can't get performer

[2019-01-07 11:05] 0crat commented on #659
Job `gh:zold-io/zold#659` is not assigned, can't get performer

[2019-01-07 11:05] 0crat commented on #660
This job is not in scope

[2019-01-07 11:05] 0crat commented on #659
This job is not in scope

[2019-01-07 11:33] emilianodellacasa commented on #356
@yegor256 You are right, sorry

[2019-01-07 11:34] emilianodellacasa commented on #356
@botanicus could you please close this issue?

[2019-01-07 11:52] yegor256 opened #662 "don't deploy to Heroku"
Let's stop that and kill b1.zold.io

[2019-01-07 12:02] g4s8 commented on #618
@0crat status

[2019-01-07 12:04] 0crat commented on #618
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#618](https://github.com/zold-io/zold/issues/618) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CAZPZR9FS?q=%7Bjob%3A%27gh%3Azold-io%2Fzold%23618%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2019-01-07 12:20] #661 closed

[2019-01-07 12:20] yegor256 commented on #662
@rultor release, tag is `0.21.2`

[2019-01-07 12:21] yegor256 commented on #346
@botanicus fixed in #662

[2019-01-07 12:21] #346 closed

[2019-01-07 12:22] rultor commented on #662
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17191-451917735)

[2019-01-07 12:34] rultor commented on #662
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17191-451919400) (spent 6min)

[code]

[2019-01-07 12:49] 0crat commented on #661
Job `gh:zold-io/zold#661` is not assigned, can't get performer

[2019-01-07 12:51] 0crat commented on #661
This job is not in scope

[2019-01-07 12:54] 0crat commented on #346
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-07 12:56] 0crat commented on #346
The job [#346](https://github.com/zold-io/zold/issues/346) is now out of scope

[2019-01-07 13:02] yegor256 commented on #662
@rultor release, tag is `0.21.2`

[2019-01-07 13:03] rultor commented on #662
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17191-451927674)

[2019-01-07 13:37] rultor commented on #662
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17191-451927674) (spent 34min)

[code]

[2019-01-07 13:46] yegor256 commented on #662
@rultor release, tag is `0.21.2`

[2019-01-07 13:47] rultor commented on #662
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17191-451939434)

[2019-01-07 13:53] rultor commented on #662
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17191-451939434) (spent 6min)

[code]

[2019-01-07 14:06] yegor256 commented on #662
@rultor release, tag is `0.21.2`

[2019-01-07 14:08] rultor commented on #662
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17191-451945012)

[2019-01-07 14:16] rultor commented on #662
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17191-451945012) (spent 8min)

[code]

[2019-01-07 15:07] yegor256 commented on #662
@rultor release, tag is `0.21.2`

[2019-01-07 15:09] rultor commented on #662
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17191-451964775)

[2019-01-07 15:20] #662 closed

[2019-01-07 15:42] 0crat commented on #662
Job `gh:zold-io/zold#662` is not assigned, can't get performer

[2019-01-07 15:42] 0crat commented on #662
This job is not in scope

[2019-01-07 17:07] yegor256 opened #663 "get rid of mining formula"
Let's get rid of it. See https://github.com/zold-io/papers/issues/75

[2019-01-07 17:12] #663 closed

[2019-01-07 21:16] ypshenychka commented on #346
@emilianodellacasa According to our [QA Rules](http://at.teamed.io/qa.html) the quality of a job is “bad” if:

The PR you've created wasn't merged, thus no solution was provided here.
Please confirm you agree with that decision.

[2019-01-08 08:31] 0crat commented on #346
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-01-08 08:35] 0crat commented on #346
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-08 12:38] stepan-romankov opened #664 "Version 0.21.2 doesn't work with error `require': cannot load such file -- parallel (LoadError)"
`zold node --invoice=4e1c0b133e8141a4 --threads=8 --network=zold`

Logs:

[code]

[2019-01-08 12:38] 0crat commented on #664
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-08 12:38] 0crat commented on #664
@stepan-romankov[/z](https://www.0crat.com/u/stepan-romankov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-08 12:45] yegor256 commented on #664
@rultor release, tag is `0.21.3`

[2019-01-08 12:47] rultor commented on #664
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17219-452285742)

[2019-01-08 12:47] yegor256 commented on #664
@rultor stop

[2019-01-08 12:49] rultor commented on #664
@yegor256 OK, I'll try to stop current task.

[2019-01-08 12:49] rultor commented on #664
@stepan-romankov @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17219-452286157) (spent 2min)

[code]

[2019-01-08 13:00] yegor256 commented on #664
@rultor release, tag is `0.21.3`

[2019-01-08 13:01] rultor commented on #664
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17219-452289790)

[2019-01-08 13:05] rultor commented on #664
@stepan-romankov @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17219-452289790) (spent 3min)

[code]

[2019-01-08 13:07] yegor256 commented on #664
@rultor release, tag is `0.21.3`

[2019-01-08 13:08] rultor commented on #664
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17219-452291590)

[2019-01-08 13:18] rultor commented on #664
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17219-452291590) (took me 8min)

[2019-01-08 13:19] yegor256 commented on #664
@stepan-romankov should be fine now, please try and close the ticket

[2019-01-08 15:45] yegor256 opened #665 "fetch wallet content only if digest is new"
Let's make sure we `fetch` only when the digest is new to us.

[2019-01-08 15:58] 0crat commented on #665
The job [#665](https://github.com/zold-io/zold/issues/665) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/8e9fc1c0-c911-4a1f-bfd0-87f8416073f8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-01-08 15:58] 0crat commented on #665
Job `gh:zold-io/zold#665` already assigned to @yegor256, can't assign to @yegor256

[2019-01-08 16:00] 0crat commented on #665
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-08 16:00] 0crat commented on #665
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-08 16:00] 0crat commented on #665
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-08 16:10] yegor256 commented on #665
@rultor release, tag is `0.21.4`

[2019-01-08 16:10] yegor256 commented on #647
@ArnoStrouwen this may help: https://github.com/zold-io/zold/issues/665 Let's see what happens after we release it

[2019-01-08 16:12] rultor commented on #665
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17227-452355021)

[2019-01-08 16:19] rultor commented on #665
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17227-452355021) (spent 7min)

[code]

[2019-01-08 16:33] yegor256 commented on #665
@rultor release, tag is `0.21.4`

[2019-01-08 16:35] rultor commented on #665
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17227-452363726)

[2019-01-08 16:44] rultor commented on #665
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17227-452363726) (took me 8min)

[2019-01-08 16:49] #665 closed

[2019-01-08 17:08] 0crat commented on #665
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-08 17:08] 0crat commented on #665
The job [#665](https://github.com/zold-io/zold/issues/665) is now out of scope

[2019-01-08 17:10] 0crat commented on #665
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-08 17:34] stepan-romankov commented on #664
Works now! Thanks!

[2019-01-08 17:34] #664 closed

[2019-01-08 17:51] 0crat commented on #664
Job `gh:zold-io/zold#664` is not assigned, can't get performer

[2019-01-08 17:51] 0crat commented on #664
This job is not in scope

[2019-01-10 14:36] emilianodellacasa commented on #356
@yegor256 reporter is not answering, could you please close this issue?

[2019-01-11 17:16] emilianodellacasa commented on #356
@yegor256 ping

[2019-01-13 11:07] YoMe2 opened #666 "Node starting but no web part available, doesn't show up on the list"
http://prntscr.com/m6jsga

zold remote reset doesn't help

[2019-01-13 11:07] 0crat commented on #666
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-13 11:07] 0crat commented on #666
@yome2[/z](https://www.0crat.com/u/yome2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-14 12:04] ammaratef45 opened #667 "Wrong command in ubuntu installation"
In section Ubuntu 16.04 the command `source /etc/profile.d/rvm.sh` didn't work with me,

Instead, I was able to run `source /home/ammar/.rvm/scripts/rvm`

I got it from the output of rvm installation as following

    in all your open shell windows, in rare cases you need to reopen all shell windows.

Maybe you need to fix it or add a tip that the user should search for the right command in the ou

[2019-01-14 12:04] 0crat commented on #667
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-14 12:04] 0crat commented on #667
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-14 12:06] ammaratef45 commented on #667
@yegor256
forgot the mention the file
https://github.com/zold-io/zold/blob/master/INSTALL.md

[2019-01-14 12:20] ammaratef45 commented on #532
@yegor256

as @denis-konovalyenko mentioned

I think this shouldn't be closed until this be fixed.

[2019-01-15 01:18] oshanz commented on #429
@emilianodellacasa title should be changed to "Move from MRI to JRuby", also

should change to "drawbacks of MRI is its slowness"

[2019-01-15 07:45] amihaiemil opened #668 "RESTful API Documentation?"
Where is the API's documentation?

[2019-01-15 07:46] 0crat commented on #668
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-15 07:46] 0crat commented on #668
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-15 08:33] emilianodellacasa commented on #429
@oshanz You are right,

[2019-01-15 13:40] yegor256 commented on #667
@ammaratef45 I suspect that you were not running the script from `root` user, like the documentation suggests. That's why the command didn't work for you.

[2019-01-15 13:40] #667 closed

[2019-01-15 13:53] ammaratef45 commented on #667
@yegor256 yes that is right
why should I run sudo while I'm root? that confused me

[2019-01-15 13:59] 0crat commented on #667
Job `gh:zold-io/zold#667` is not assigned, can't get performer

[2019-01-15 14:03] 0crat commented on #667
This job is not in scope

[2019-01-16 04:53] yegor256 opened #669 "--ignore-masters for "remote elect""
Let's make sure we ignore master nodes while doing `remote elect`

[2019-01-16 05:06] #669 closed

[2019-01-16 05:07] yegor256 opened #670 "--retry for PUSH and FETCH operations"
Let's teach them to perform a number of attempts before they fail.

[2019-01-16 05:50] 0crat commented on #669
Job `gh:zold-io/zold#669` is not assigned, can't get performer

[2019-01-16 05:50] 0crat commented on #669
This job is not in scope

[2019-01-16 06:40] yegor256 commented on #356
@emilianodellacasa closed

[2019-01-16 06:40] #356 closed

[2019-01-16 06:41] 0crat commented on #670
Job `gh:zold-io/zold#670` is not assigned, can't get performer

[2019-01-16 06:44] 0crat commented on #670
This job is not in scope

[2019-01-16 07:00] 0crat commented on #356
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-16 07:00] 0crat commented on #356
The job [#356](https://github.com/zold-io/zold/issues/356) is now out of scope

[2019-01-16 07:30] ypshenychka commented on #356
@0crat quality good

[2019-01-16 07:53] 0crat commented on #356
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.5](https://github.com/zerocracy/farm): CID: [e75f3536-9fd4-4143-a440-2b68a76aaf89](https://www.0crat.com/footprint/CAZPZR9FS/e75f3536-9fd4-4143-a440-2b68a76aaf89), Type: "Pay cash"

[2019-01-16 07:55] 0crat commented on #356
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-01-16 07:55] 0crat commented on #356
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-16 08:15] emilianodellacasa commented on #548
@g4s8  The problem also happened in another issue https://github.com/zold-io/zold/issues/356#issuecomment-454684569 , but my wallet is set to zold. Also, the amount didn't go to my debts

[2019-01-16 10:09] yegor256 commented on #670
@rultor release, tag is `0.22.0`

[2019-01-16 10:11] rultor commented on #670
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17384-454723811)

[2019-01-16 10:15] rultor commented on #670
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17384-454723811) (spent 4min)

[code]

[2019-01-16 11:35] yegor256 commented on #670
@rultor release, tag is `0.22.0`

[2019-01-16 11:36] rultor commented on #670
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17384-454747993)

[2019-01-16 11:46] rultor commented on #670
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17384-454747993) (took me 9min)

[2019-01-18 12:12] yegor256 opened #672 "single pool for all threads"
Let's centralize them all

[2019-01-18 12:27] oshanz opened #673 "Memory usage keeps increasing"
It's a [known issue](https://bugs.ruby-lang.org/issues/14759) that Glibc malloc creates too many arenas and leads to fragmentation which some times user complain as memory leaks or linux OOM killed the zold. solutions we have are

   - Reduce threads count.
   - [Change MALLOC_ARENA_MAX](https://devcenter.heroku.com/articles/tuning-glibc-memory-behavior)
   - switch to jemalloc. you do not need to

[2019-01-18 12:43] yegor256 commented on #672
@rultor release, tag is `0.22.1`

[2019-01-18 12:44] rultor commented on #672
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17405-455534102)

[2019-01-18 12:54] rultor commented on #672
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17405-455534102) (took me 8min)

[2019-01-18 15:39] yegor256 commented on #673
@rultor release, tag is `0.22.2`

[2019-01-18 15:39] yegor256 commented on #673
@oshanz I added the environment variable in 10561c3 Let's see how it behaves now

[2019-01-18 15:40] rultor commented on #673
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17410-455588308)

[2019-01-18 15:49] rultor commented on #673
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17410-455588308) (took me 8min)

[2019-01-19 05:56] #672 closed

[2019-01-19 05:56] yegor256 commented on #673
@oshanz the problem is gone. Either thanks to this change or #672 Anyway, thanks to you!

[2019-01-19 05:56] #673 closed

[2019-01-19 05:56] yegor256 opened #674 "Hands max according to the memory availability"
Let's take total memory into account

[2019-01-19 06:18] 0crat commented on #672
Job `gh:zold-io/zold#672` is not assigned, can't get performer

[2019-01-19 06:18] 0crat commented on #673
Job `gh:zold-io/zold#673` is not assigned, can't get performer

[2019-01-19 06:19] 0crat commented on #672
This job is not in scope

[2019-01-19 06:19] 0crat commented on #673
This job is not in scope

[2019-01-19 07:32] yegor256 commented on #674
@rultor release, tag is `0.22.3`

[2019-01-19 07:34] rultor commented on #674
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17424-455757360)

[2019-01-19 07:42] rultor commented on #674
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17424-455757360) (took me 7min)

[2019-01-19 10:32] #674 closed

[2019-01-19 11:06] 0crat commented on #674
Job `gh:zold-io/zold#674` is not assigned, can't get performer

[2019-01-19 11:06] 0crat commented on #674
This job is not in scope

[2019-01-21 18:47] strogiyotec opened #675 "Keyword 'Max' in Wallet class"
It's not clear to me how tid is calculated in method sub
[code]
What does 'max' means ? How it was calculated ?

[2019-01-21 18:47] 0crat commented on #675
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-21 20:14] denis-konovalyenko opened #676 "The file system is becoming a bottleneck"
Please consider the output of the `top` utility below:
[code]
There are `find` processes which make heavy use of disk. They appear too often (once in 1-2 minutes in my system). What is more, even the `ruby` process is not light on the disk usage. So, I assume, it is time to think over the way we can avoid the file system latency.

My system is:
[code]
If you need more details, please let me know.

[2019-01-21 20:14] 0crat commented on #676
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-21 20:14] 0crat commented on #676
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-22 07:35] denis-konovalyenko commented on #676
@yegor256 , I have come up with some sort of a workaround. The application data moved to [a memory-backed memory disk](https://www.freebsd.org/doc/handbook/disks-virtual.html) with a periodical syncing of `farm`, `zold.log` and `.zolddata` to the hard disk.

Below you may find more details on the approach.
The `/etc/fstab` entry:
[code]

The `/etc/crontab` entry:
[code]

[2019-01-23 01:41] lastk commented on #211
@yegor256 can you close this issue ?

[2019-01-23 04:56] yegor256 commented on #676
@denis-konovalyenko this sounds like a great workaround! We are planning to move to some database management system. At the moment, you are right, we are too aggressively using the file system. Would be great if you can document your solution in our [INSTALL.md](https://github.com/zold-io/zold/blob/master/INSTALL.md) page.

[2019-01-23 06:05] denis-konovalyenko opened #677 "NoMethodError: undefined method `error' for nil:NilClass"
On requesting the http://91.211.13.180:4096/ resource the following error occurs:
[code]
My system is:
[code]

[2019-01-23 06:05] 0crat commented on #677
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-23 06:05] 0crat commented on #677
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-23 06:12] yegor256 commented on #675
@strogiyotec fixed in 4d3e261 thanks!

[2019-01-23 06:12] #675 closed

[2019-01-23 06:14] yegor256 commented on #211
@lastk thanks!

[2019-01-23 06:14] #211 closed

[2019-01-23 06:14] yegor256 commented on #667
@ammaratef45 you are not running as root, because of this message: `To start using RVM you need to run source /home/ammar`. You are running as `ammar`.

[2019-01-23 06:22] denis-konovalyenko opened #678 "The startup message is not informattive on the errors"
When I am starting my node:
[code]
the following message is printed to my console:
[code]
Could you please clarify the following:
1. What are the causes of the fact that my OS is not detected properlly? Maybe, there are some limitiations or something else preventing the software to work as expected. Would not it be better to state this and exit with giving an option for the user to continue forcfu

[2019-01-23 06:38] denis-konovalyenko commented on #676
@yegor256 , I guess, I the plans are in the #60 issue, aren't they? I will make the pull request with the workaround when have time.

[2019-01-23 06:49] 0crat commented on #675
Job `gh:zold-io/zold#675` is not assigned, can't get performer

[2019-01-23 06:49] 0crat commented on #675
This job is not in scope

[2019-01-23 06:49] 0crat commented on #677
Job `gh:zold-io/zold#677` is not assigned, can't get performer

[2019-01-23 06:54] 0crat commented on #211
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @lastk[/z](https://www.0crat.com/u/lastk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-23 06:56] 0crat commented on #211
The job [#211](https://github.com/zold-io/zold/issues/211) is now out of scope

[2019-01-23 06:56] 0crat commented on #325
The user @liligga[/z](https://www.0crat.com/u/liligga) resigned from [#325](https://github.com/zold-io/zold/issues/325), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-23 06:56] 0crat commented on #325
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @liligga[/z](https://www.0crat.com/u/liligga)

[2019-01-23 07:08] 0crat commented on #52
The user @jedediah[/z](https://www.0crat.com/u/jedediah) resigned from [#52](https://github.com/zold-io/zold/issues/52), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-23 07:08] 0crat commented on #52
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @jedediah[/z](https://www.0crat.com/u/jedediah)

[2019-01-23 07:09] 0crat commented on #109
The user @theterminalguy[/z](https://www.0crat.com/u/theterminalguy) resigned from [#109](https://github.com/zold-io/zold/issues/109), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-23 07:09] 0crat commented on #109
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @theterminalguy[/z](https://www.0crat.com/u/theterminalguy)

[2019-01-23 07:09] 0crat commented on #72
The user @theterminalguy[/z](https://www.0crat.com/u/theterminalguy) resigned from [#72](https://github.com/zold-io/zold/issues/72), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-23 07:09] 0crat commented on #72
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @theterminalguy[/z](https://www.0crat.com/u/theterminalguy)

[2019-01-23 07:09] 0crat commented on #109
The job [#109](https://github.com/zold-io/zold/issues/109) assigned to @jedediah[/z](https://www.0crat.com/u/jedediah), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/06452d6d-6b4f-481e-8a82-265b21b66821); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-01-23 07:17] 0crat commented on #52
The job [#52](https://github.com/zold-io/zold/issues/52) assigned to @theterminalguy[/z](https://www.0crat.com/u/theterminalguy), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/ca218896-aa7d-46e4-8efc-712f8086dcdf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-23 07:34] 0crat commented on #256
The job [#256](https://github.com/zold-io/zold/issues/256) assigned to @theterminalguy[/z](https://www.0crat.com/u/theterminalguy), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/62c616fc-ba9a-4df3-b09b-919cc9f2269d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-23 09:39] ypshenychka commented on #211
@lastk According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold/issues/211#issuecomment-450062858) by indicating an addressee in the beginning.

[2019-01-23 14:39] yegor256 commented on #666
@YoMe2 it's fixed in de4c306 thanks!

[2019-01-23 14:39] #666 closed

[2019-01-23 14:42] rultor commented on #678
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17492-456825355)

[2019-01-23 14:52] rultor commented on #678
@denis-konovalyenko @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17492-456825355) (spent 11min)

[code]

[2019-01-23 14:57] 0crat commented on #666
Job `gh:zold-io/zold#666` is not assigned, can't get performer

[2019-01-23 14:57] 0crat commented on #666
This job is not in scope

[2019-01-23 15:24] yegor256 commented on #678
@rultor release, tag is `0.22.4`

[2019-01-23 15:34] yegor256 commented on #678
@rultor release, tag is `0.22.4`

[2019-01-23 15:36] rultor commented on #678
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17492-456847247)

[2019-01-23 15:54] rultor commented on #678
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17492-456847247) (took me 15min)

[2019-01-23 17:23] yegor256 commented on #678
@denis-konovalyenko  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-01-23 17:23] #678 closed

[2019-01-23 17:43] 0crat commented on #678
Job `gh:zold-io/zold#678` is not assigned, can't get performer

[2019-01-23 17:44] 0crat commented on #678
This job is not in scope

[2019-01-23 21:10] ypshenychka commented on #211
@lastk I see you made some changes. Thank you. It would be helful if you notify me next time, so I could process ticket.

[2019-01-23 21:11] ypshenychka commented on #211
@0crat quality acceptable

[2019-01-23 21:13] 0crat commented on #211
Order was finished, quality is "acceptable": +30 point(s) just awarded to @lastk[/z](https://www.0crat.com/u/lastk)

[2019-01-23 21:13] 0crat commented on #211
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-23 21:14] 0crat commented on #72
The job [#72](https://github.com/zold-io/zold/issues/72) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/fed11f00-bd68-4f21-87ab-d0000074a8b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2019-01-25 13:22] DronMDF opened #679 "Server reboot if other node have highter version"
other server reply (GET /remotes)
[code]

zold log:
[code]
Highter version is not reason for reboot, if other server have alternative implementation.
Need to check X-Zold-Repo.

[2019-01-25 13:22] 0crat commented on #679
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-25 13:22] 0crat commented on #679
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 08:17] 0crat commented on #109
@jedediah[/z](https://www.0crat.com/u/jedediah) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-28 08:23] 0crat commented on #256
@theterminalguy[/z](https://www.0crat.com/u/theterminalguy) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-28 14:45] yegor256 commented on #668
@amihaiemil in the White Paper

[2019-01-28 14:45] #668 closed

[2019-01-28 15:01] 0crat commented on #668
Job `gh:zold-io/zold#668` is not assigned, can't get performer

[2019-01-28 15:01] 0crat commented on #668
This job is not in scope

[2019-01-28 16:46] yegor256 commented on #679
@DronMDF fixed in 6b3860b thanks!

[2019-01-28 16:46] #679 closed

[2019-01-28 17:05] 0crat commented on #679
Job `gh:zold-io/zold#679` is not assigned, can't get performer

[2019-01-28 17:06] 0crat commented on #679
This job is not in scope

[2019-01-28 21:39] 0crat commented on #72
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-30 14:16] yegor256 opened #680 "typo in push.rb"
[code]

[2019-01-30 15:40] yegor256 commented on #680
@rultor release, tag is `0.22.5`

[2019-01-30 15:42] rultor commented on #680
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17614-458990740)

[2019-01-30 16:01] rultor commented on #680
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17614-458990740) (took me 15min)

[2019-01-30 16:40] #680 closed

[2019-01-30 16:40] yegor256 opened #681 "NoMethodError: undefined method `root?' for Zold::Id"
[code]

[2019-01-30 16:54] yegor256 commented on #681
@rultor release, tag is `0.22.6`

[2019-01-30 16:56] rultor commented on #681
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17616-459020740)

[2019-01-30 16:59] 0crat commented on #680
Job `gh:zold-io/zold#680` is not assigned, can't get performer

[2019-01-30 16:59] 0crat commented on #680
This job is not in scope

[2019-01-30 17:12] rultor commented on #681
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17616-459020740) (took me 14min)

[2019-01-30 17:13] #681 closed

[2019-01-30 17:15] yegor256 opened #682 "legacy merge doesn't work as expected"
Old legacy txns may be lost, for some reason

[2019-01-30 17:47] 0crat commented on #681
Job `gh:zold-io/zold#681` is not assigned, can't get performer

[2019-01-30 17:47] 0crat commented on #681
This job is not in scope

[2019-01-30 18:56] yegor256 commented on #682
@rultor release, tag is `0.22.7`

[2019-01-30 18:57] rultor commented on #682
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17619-459064976)

[2019-01-30 19:14] rultor commented on #682
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17619-459064976) (took me 15min)

[2019-01-30 19:17] #682 closed

[2019-01-30 19:17] yegor256 opened #683 "HungryWallets are too hungry"
They pull too much

[2019-01-30 19:36] yegor256 commented on #683
@rultor release, tag is `0.22.8`

[2019-01-30 19:38] rultor commented on #683
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17620-459079529)

[2019-01-30 19:55] rultor commented on #683
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17620-459079529) (took me 15min)

[2019-01-30 19:57] #683 closed

[2019-01-30 20:32] 0crat commented on #682
This job is not in scope

[2019-01-30 20:35] 0crat commented on #683
Job `gh:zold-io/zold#683` is not assigned, can't get performer

[2019-01-30 20:38] 0crat commented on #683
This job is not in scope

[2019-01-31 15:55] strogiyotec opened #684 "Wrong TAX formula in White Paper"
White paper contains wrong description for Age field
[code]
Should be
[code]

[2019-01-31 15:55] 0crat commented on #684
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-31 15:55] 0crat commented on #684
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-31 17:18] strogiyotec opened #685 "It's not clear how method paid works in tax class"
@yegor256 Can you please add some explanation comments to method ```paid``` in ```class Tax```
because now it's difficult to figure out how this method return a value

[code]

[2019-01-31 17:18] 0crat commented on #685
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-31 17:18] 0crat commented on #685
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-31 21:15] 0crat commented on #275
The job [#275](https://github.com/zold-io/zold/issues/275) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/af83221b-51cc-4a32-b4cf-587a320aa386); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2019-02-01 14:48] lastk opened #687 "Change ruby version to 2.6 at .rubyversion file"
The Gemfile specifies the ruby version `2.6.0` as shown here:
https://github.com/zold-io/zold/blob/master/Gemfile#L24
But `rubyversion` file shown here is using 2.5.1: https://github.com/zold-io/zold/blob/master/.ruby-version#L1
wich is causing errors at ci as shown here:
[code]

[2019-02-01 14:48] 0crat commented on #687
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-02 08:28] AlexisGarra opened #688 "translated to multiple languages"
https://wts.zold.io
это все на английском языке, это не удобно.
я дал ссылку испанцу и он не захотел регистрировать кошелек и тоже произошло с руским.
вы их просто потеряли и руского и испанца. мне кажеться это легко написать https://wts.zold.io/home на 5 языках, если проблема на всех

[2019-02-02 08:29] AlexisGarra opened #689 "Регистрация"
Очень не удобная регистрация

[2019-02-02 08:35] AlexisGarra opened #690 "!Рестарт!"
я потерял все zld после рестарта, получения нового ключа  и после подтверждения кошелька.
меня даже не предупредило не одно всплывающее окно о том что я все потерял.
и хорошо , что сегодня еще zld не стоит 1000$ за 1zld. я потерял не 17500$  а всего лишь 17.5;$
Это не правильно

[2019-02-02 08:35] 0crat commented on #690
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-02 08:35] 0crat commented on #690
@alexisgarra[/z](https://www.0crat.com/u/alexisgarra) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-03 02:59] AlexisGarra commented on #690
И все таки, я считаю, что потерял 17.5 zld именно из-за несовершенства системы, созданной Вами. Логическим  это не правильно, на примере : если поменять замок в доме, то вещи в доме не исчезнут.
К тому же, я раньше делал рестарт кошелька и деньги не исчезали, и что же сейчас произошло ? И что будет в будущем?
Заметьте, что номер кошелька изменился,. но Акк на котором были средства был и остался @a

[2019-02-03 03:19] AlexisZolotov opened #691 "пропали средства"
После рестарта кошелькa, без предупреждения исчезли все средства в размере 11,5 zld

[2019-02-03 03:19] 0crat commented on #691
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-03 03:19] 0crat commented on #691
@alexiszolotov[/z](https://www.0crat.com/u/alexiszolotov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-04 10:44] yegor256 commented on #691
@AlexisZolotov рестарт для этого и нужен, чтобы создать новый кошелек. Средства остались в старом кошельке. Я добавлю сообщение предупреждающее.

[2019-02-04 10:47] yegor256 commented on #689
@AlexisGarra а точнее? Что именно неудобно?

[2019-02-04 10:52] yegor256 commented on #687
@lastk fixed in 3e6e98e thanks!

[2019-02-04 10:52] #687 closed

[2019-02-04 10:53] yegor256 commented on #688
@AlexisGarra согласен, переведем

[2019-02-04 10:54] yegor256 opened #692 "wrong transaction details (broken regex?)"
[code]

[2019-02-04 11:00] #692 closed, assigned to nobody

[2019-02-04 11:10] 0crat commented on #687
Job `gh:zold-io/zold#687` is not assigned, can't get performer

[2019-02-04 11:13] 0crat commented on #687
This job is not in scope

[2019-02-04 11:20] 0crat commented on #692
Job `gh:zold-io/zold#692` is not assigned, can't get performer

[2019-02-04 11:20] 0crat commented on #692
This job is not in scope

[2019-02-04 18:27] strogiyotec opened #693 "Not clear how farm mechanizm works"
It's not clear to my how farm class works.
Firstly , method start create endless loop which call methods cycle and cleanup(right?)
Secondly , method ```cleanup``` save new empty score to file ```save(threads, [Score.new(host: host, port: port, invoice: @invoice, strength: @strength)])``` (why do we need to save empty score ?) then we reject scores by threads names ```scores.reject { |s| @threads.e

[2019-02-05 01:33] tomjons opened #694 "исчезли средства"
после обновления кошелька исчезли 6 zld с аккаунта. Прошу разобраться и вернуть средства.

[2019-02-05 01:33] 0crat commented on #694
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-05 01:33] 0crat commented on #694
@tomjons[/z](https://www.0crat.com/u/tomjons) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-05 09:38] yegor256 commented on #690
@AlexisGarra исправлено в https://github.com/zold-io/wts.zold.io/issues/120

[2019-02-05 09:38] #690 closed

[2019-02-05 09:38] yegor256 commented on #694
@tomjons что такое "обновление кошелька"? PULL? если был Restart, то эта ошибка исправлена вот здесь: https://github.com/zold-io/wts.zold.io/issues/120

[2019-02-05 09:38] #694 closed

[2019-02-05 09:39] yegor256 commented on #691
@AlexisZolotov исправлено в https://github.com/zold-io/wts.zold.io/issues/120

[2019-02-05 09:39] #691 closed

[2019-02-05 09:39] #689 closed

[2019-02-05 11:01] 0crat commented on #690
Job `gh:zold-io/zold#690` is not assigned, can't get performer

[2019-02-05 11:09] 0crat commented on #694
Job `gh:zold-io/zold#694` is not assigned, can't get performer

[2019-02-05 11:10] 0crat commented on #691
Job `gh:zold-io/zold#691` is not assigned, can't get performer

[2019-02-05 11:11] 0crat commented on #689
Job `gh:zold-io/zold#689` is not assigned, can't get performer

[2019-02-05 11:11] 0crat commented on #690
This job is not in scope

[2019-02-05 11:12] 0crat commented on #694
This job is not in scope

[2019-02-05 11:14] 0crat commented on #691
This job is not in scope

[2019-02-05 11:14] 0crat commented on #689
This job is not in scope

[2019-02-05 12:00] AlexisGarra commented on #694
restart

[2019-02-05 21:42] 0crat commented on #275
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-06 22:28] lastk commented on #365
resign

[2019-02-06 22:29] lastk commented on #366
resign

[2019-02-07 00:09] lastk commented on #365
@0crat refuse

[2019-02-07 00:23] lastk commented on #366
@0crat refuse

[2019-02-07 13:56] 0crat commented on #365
@lastk The user @lastk[/z](https://www.0crat.com/u/lastk) resigned from [#365](https://github.com/zold-io/zold/issues/365), please stop working. Reason for job resignation: Order was cancelled

[2019-02-07 14:05] 0crat commented on #366
@lastk The user @lastk[/z](https://www.0crat.com/u/lastk) resigned from [#366](https://github.com/zold-io/zold/issues/366), please stop working. Reason for job resignation: Order was cancelled

[2019-02-07 14:18] 0crat commented on #365
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lastk[/z](https://www.0crat.com/u/lastk)

[2019-02-07 14:19] 0crat commented on #366
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lastk[/z](https://www.0crat.com/u/lastk)

[2019-02-07 14:19] 0crat commented on #230
The job [#230](https://github.com/zold-io/zold/issues/230) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/c44feb74-0bcc-431b-93d9-5e1f58a893c3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-02-07 14:19] 0crat commented on #230
Job `gh:zold-io/zold#230` already assigned to @lastk, can't assign to @lastk

[2019-02-07 14:19] 0crat commented on #230
Job `gh:zold-io/zold#230` already assigned to @lastk, can't assign to @lastk

[2019-02-07 14:36] 0crat commented on #230
Job `gh:zold-io/zold#230` already assigned to @lastk, can't assign to @lastk

[2019-02-07 15:05] 0crat commented on #233
The job [#233](https://github.com/zold-io/zold/issues/233) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/cc3277ef-345a-4ccc-85d8-efe9d3fd1b0e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-02-07 15:49] 0crat commented on #248
The job [#248](https://github.com/zold-io/zold/issues/248) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/7428e181-2681-4dc6-a129-6f96cb279603); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-02-07 17:58] strogiyotec opened #695 "Run zold remote update within web wallet"
![image](https://user-images.githubusercontent.com/20584185/52432265-39d40200-2b34-11e9-80fc-5acfa06b502f.png)
How can i fix it ?

[2019-02-07 17:58] 0crat commented on #695
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-10 12:05] yegor256 opened #696 "pay --network doesn't work"
`--network` is not used in pay

[2019-02-10 14:47] yegor256 commented on #696
@rultor release, tag is `0.22.9`

[2019-02-10 14:48] rultor commented on #696
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17799-462138709)

[2019-02-10 15:04] rultor commented on #696
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17799-462138709) (took me 14min)

[2019-02-10 15:07] #696 closed

[2019-02-10 15:24] 0crat commented on #696
Job `gh:zold-io/zold#696` is not assigned, can't get performer

[2019-02-10 15:25] 0crat commented on #696
This job is not in scope

[2019-02-11 14:00] yegor256 opened #697 "post-mortem sanity check in Patch"
Let's check that the wallet is in good state before applying the patch.

Fixed in eaaf016

[2019-02-11 16:25] yegor256 commented on #697
@rultor release, tag is `0.23.0`

[2019-02-11 16:27] rultor commented on #697
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17813-462392434)

[2019-02-11 16:45] rultor commented on #697
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17813-462392434) (took me 15min)

[2019-02-11 16:46] #697 closed

[2019-02-11 16:58] yegor256 commented on #695
@strogiyotec see https://github.com/zold-io/wts.zold.io/commit/6fdc8280cd4f313611329140e30400a2083a605b

[2019-02-11 16:58] #695 closed

[2019-02-11 17:11] yegor256 opened #698 "Command 'rebase' is not supported (RuntimeError)"
[code]

[2019-02-11 17:22] 0crat commented on #697
Job `gh:zold-io/zold#697` is not assigned, can't get performer

[2019-02-11 17:22] yegor256 commented on #698
@rultor release, tag is `0.23.1`

[2019-02-11 17:24] rultor commented on #698
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17815-462415222)

[2019-02-11 17:28] 0crat commented on #697
This job is not in scope

[2019-02-11 17:28] 0crat commented on #695
Job `gh:zold-io/zold#695` is not assigned, can't get performer

[2019-02-11 17:30] 0crat commented on #695
This job is not in scope

[2019-02-11 17:41] rultor commented on #698
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17815-462415222) (took me 15min)

[2019-02-11 17:44] #698 closed

[2019-02-11 17:47] yegor256 opened #699 "rebase doesn't save"

[2019-02-11 18:05] 0crat commented on #698
Job `gh:zold-io/zold#698` is not assigned, can't get performer

[2019-02-11 18:05] yegor256 commented on #699
@rultor release, tag is `0.23.2`

[2019-02-11 18:07] rultor commented on #699
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17816-462431109)

[2019-02-11 18:08] 0crat commented on #698
This job is not in scope

[2019-02-11 18:24] rultor commented on #699
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17816-462431109) (took me 15min)

[2019-02-11 18:44] #699 closed

[2019-02-11 19:25] 0crat commented on #699
Job `gh:zold-io/zold#699` is not assigned, can't get performer

[2019-02-11 19:28] 0crat commented on #699
This job is not in scope

[2019-02-12 14:06] yegor256 opened #700 "HungryWallets are flooded with NotFound wallets"
Let's prevent that somehow

[2019-02-12 14:43] 0crat commented on #230
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-12 14:43] 0crat commented on #233
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-12 15:10] yegor256 commented on #700
@rultor release, tag is `0.23.3`

[2019-02-12 15:12] rultor commented on #700
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17830-462796517)

[2019-02-12 15:32] rultor commented on #700
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17830-462796517) (took me 17min)

[2019-02-12 15:43] 0crat commented on #248
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-12 18:25] #700 closed

[2019-02-12 18:25] yegor256 opened #701 "NoMethodError: undefined method `mtime' for #<Zache:0x00000000027ec6e0>"
[code]

[2019-02-12 18:43] 0crat commented on #700
Job `gh:zold-io/zold#700` is not assigned, can't get performer

[2019-02-12 18:43] 0crat commented on #700
This job is not in scope

[2019-02-12 18:53] yegor256 commented on #701
@rultor release, tag is `0.23.4`

[2019-02-12 18:55] rultor commented on #701
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17834-462886840)

[2019-02-12 19:14] rultor commented on #701
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17834-462886840) (took me 17min)

[2019-02-12 19:19] #701 closed

[2019-02-12 19:19] yegor256 opened #702 "Entrance doesn't rebase"
Let's fix

[2019-02-12 19:39] 0crat commented on #701
Job `gh:zold-io/zold#701` is not assigned, can't get performer

[2019-02-12 19:39] 0crat commented on #701
This job is not in scope

[2019-02-12 19:49] yegor256 commented on #702
@rultor release, tag is `0.23.5`

[2019-02-12 19:51] rultor commented on #702
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17838-462908069)

[2019-02-12 20:09] rultor commented on #702
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17838-462908069) (took me 16min)

[2019-02-13 06:12] #702 closed

[2019-02-13 06:30] 0crat commented on #702
Job `gh:zold-io/zold#702` is not assigned, can't get performer

[2019-02-13 06:30] 0crat commented on #702
This job is not in scope

[2019-02-15 06:32] ypshenychka opened #703 "Error "Can't get the gap from blockchain.com" is shown on Buy\Sell"
I'm receiving "Can't get the gap from blockchain.com" error when trying to click on Buy\Sell at https://wts.zold.io/home.

![image](https://user-images.githubusercontent.com/11703257/52838684-32949180-30fc-11e9-8c16-e5e296c2f53d.png)

[2019-02-15 06:32] 0crat commented on #703
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-15 07:22] yegor256 commented on #703
@ypshenychka it seems to be a temporary network issue, just reload the page. I added some extra comments here: https://github.com/zold-io/wts.zold.io/commit/449d8a1cc2705e763ebe2dd5bb1c487f929393c1

[2019-02-15 07:22] #703 closed

[2019-02-15 07:52] 0crat commented on #703
Job `gh:zold-io/zold#703` is not assigned, can't get performer

[2019-02-15 07:55] 0crat commented on #703
This job is not in scope

[2019-02-15 12:23] yegor256 opened #704 "more logs"
Let's log better

[2019-02-15 12:23] yegor256 commented on #704
@rultor release, tag is `0.23.6`

[2019-02-15 12:25] rultor commented on #704
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17878-464030224)

[2019-02-15 12:41] rultor commented on #704
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17878-464030224) (spent 16min)

[code]

[2019-02-15 13:21] #704 closed

[2019-02-15 13:24] yegor256 opened #705 "PAY must accept zents, not only zolds"
Let's make it possible to accept zents

[2019-02-15 13:39] 0crat commented on #704
Job `gh:zold-io/zold#704` is not assigned, can't get performer

[2019-02-15 13:40] 0crat commented on #704
This job is not in scope

[2019-02-15 13:59] yegor256 commented on #705
@rultor release, tag is `0.23.6`

[2019-02-15 14:01] rultor commented on #705
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17880-464059699)

[2019-02-15 14:19] rultor commented on #705
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17880-464059699) (took me 15min)

[2019-02-15 14:28] #705 closed

[2019-02-15 14:45] 0crat commented on #705
Job `gh:zold-io/zold#705` is not assigned, can't get performer

[2019-02-15 14:45] 0crat commented on #705
This job is not in scope

[2019-02-16 07:52] yegor256 opened #706 "REMOTE UPDATE makes too many HTTP requests"
Let's not duplicate them

[2019-02-16 14:25] lastk commented on #72
@yegor256 check #686

[2019-02-16 15:09] yegor256 commented on #706
@rultor release, tag is `0.23.7`

[2019-02-16 15:10] rultor commented on #706
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17894-464354245)

[2019-02-16 15:27] rultor commented on #706
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17894-464354245) (took me 16min)

[2019-02-16 15:37] #706 closed

[2019-02-16 17:50] 0crat commented on #706
Job `gh:zold-io/zold#706` is not assigned, can't get performer

[2019-02-16 19:14] 0crat commented on #706
This job is not in scope

[2019-02-17 15:52] yegor256 opened #707 "REMOTE TRIM should not eject masters"
Let's try to keep masters in place, no matter what.

[2019-02-17 16:28] yegor256 commented on #707
@rultor release, tag is `0.23.8`

[2019-02-17 16:29] rultor commented on #707
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17900-464477469)

[2019-02-17 16:46] rultor commented on #707
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17900-464477469) (took me 16min)

[2019-02-17 16:47] #707 closed

[2019-02-17 17:04] 0crat commented on #707
Job `gh:zold-io/zold#707` is not assigned, can't get performer

[2019-02-17 17:05] 0crat commented on #707
This job is not in scope

[2019-02-18 04:03] yegor256 opened #708 "REMOTE SELECT still removes masters"
Let's fix

[2019-02-18 04:04] yegor256 commented on #708
@rultor release, tag is `0.23.9`

[2019-02-18 04:05] rultor commented on #708
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17907-464575599)

[2019-02-18 04:23] rultor commented on #708
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17907-464575599) (took me 16min)

[2019-02-18 04:24] #708 closed

[2019-02-18 04:43] 0crat commented on #708
Job `gh:zold-io/zold#708` is not assigned, can't get performer

[2019-02-18 04:43] 0crat commented on #708
This job is not in scope

[2019-02-18 05:46] yegor256 commented on #647
@ArnoStrouwen This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-02-18 05:46] #647 closed

[2019-02-18 05:48] Shekelme opened #709 "Error during installation under Win7 (ScoreSuffix.cpp:24:10: fatal error: openssl/sha.h: No such file or directory"
I was not able to install Zold gem under Windows 7 x64.

![image](https://user-images.githubusercontent.com/26449500/52930492-3b46cb00-337b-11e9-86a5-65dbfded28f9.png)

I installed Ruby+Devkit 2.6.1-1 (x64)  and then launched a command "gem install zold". The result is on the screenshot.

===
Make sure the title of the issue explains the problem you are having. Also, the description of the issue m

[2019-02-18 05:48] 0crat commented on #709
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-18 05:48] 0crat commented on #709
@shekelme[/z](https://www.0crat.com/u/shekelme) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-18 06:03] 0crat commented on #647
Job `gh:zold-io/zold#647` is not assigned, can't get performer

[2019-02-18 06:03] 0crat commented on #647
The job [#647](https://github.com/zold-io/zold/issues/647) is now out of scope

[2019-02-18 06:06] Shekelme commented on #709
OK, I installed openssl gem, but still no success:

![image](https://user-images.githubusercontent.com/26449500/52931161-f6706380-337d-11e9-9814-8a4c37da6af8.png)

[2019-02-18 06:12] yegor256 commented on #709
@DronMDF what do you think?

[2019-02-18 07:11] yegor256 opened #710 "REMOTE SELECT should pick more reliable nodes"
Now we pick the largest scores, but this leads to isolation of a large part of the network. Let's pick the most reliable ones.

[2019-02-18 07:39] yegor256 commented on #710
@rultor release, tag is `0.23.10`

[2019-02-18 07:41] rultor commented on #710
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17908-464619440)

[2019-02-18 07:45] rultor commented on #710
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17908-464619440) (spent 4min)

[code]

[2019-02-18 10:27] yegor256 commented on #710
@rultor release, tag is `0.23.10`

[2019-02-18 10:30] rultor commented on #710
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17908-464675991)

[2019-02-18 10:49] rultor commented on #710
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17908-464675991) (took me 16min)

[2019-02-18 11:06] #710 closed

[2019-02-18 11:49] yegor256 commented on #710
@rultor release, tag is `0.23.11`

[2019-02-18 11:50] rultor commented on #710
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17908-464702716)

[2019-02-18 12:07] rultor commented on #710
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17908-464702716) (took me 15min)

[2019-02-18 16:44] 0crat commented on #710
Job `gh:zold-io/zold#710` is not assigned, can't get performer

[2019-02-18 18:10] 0crat commented on #710
This job is not in scope

[2019-02-18 20:03] DronMDF commented on #709
@Shekelme This is a similar request:
https://stackoverflow.com/questions/30204784/installing-puma-on-windows-error/30204890#30204890
Try to specify opt-dir...

[2019-02-19 14:39] yegor256 opened #711 "/ledger"
Let's create a new entry point, which will collect all negative transactions recently seen and expose them via `/ledger`, in JSON.

[2019-02-19 16:39] yegor256 commented on #711
@rultor release, tag is `0.24.0`

[2019-02-19 16:41] rultor commented on #711
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17934-465210290)

[2019-02-19 17:00] rultor commented on #711
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17934-465210290) (took me 16min)

[2019-02-19 17:02] #711 closed

[2019-02-19 17:19] 0crat commented on #711
Job `gh:zold-io/zold#711` is not assigned, can't get performer

[2019-02-19 17:19] 0crat commented on #711
This job is not in scope

[2019-02-19 19:22] ypshenychka opened #712 "Timestamp should be more detailed"
I've tried to sell zold, but got an error "At the moment we can send only one payment per day, sorry".
However on my transactions list last payment was made "1d" ago. We should show more detailed timestamp in this grid, since it's not clear why I can't do my payment now.
![image](https://user-images.githubusercontent.com/11703257/53041308-51907c00-348c-11e9-917f-c4bb83e8ef02.png)

[2019-02-19 19:22] 0crat commented on #712
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-20 16:43] strogiyotec opened #713 "Strange content of farm file"
I run the following command
[code]
This is the content of farm file
[code]
According to white paper hash should end with 6 trailing zeros

This is hash formula
[code]
Prefix is
[code]
Now I add first suffix to it
[code]
SHA-256 hash is
[code]
As you see no zeros . What did I miss ?

[2019-02-20 16:43] 0crat commented on #713
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-20 16:44] 0crat commented on #713
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-20 16:52] yegor256 commented on #713
@strogiyotec here:

[code]

Time format is wrong. Should be ISO 8601: `2019-02-20T16:30:58Z`

[2019-02-20 16:58] strogiyotec commented on #713
@yegor256 Thank you
[code]
Hash is
[code]
Still wrong

[2019-02-20 17:02] yegor256 commented on #713
@strogiyotec the format of the prefix is:

[code]

See https://github.com/zold-io/zold-score/blob/master/lib/zold/score.rb#L257

[2019-02-20 17:03] yegor256 commented on #713
@strogiyotec the port should be in 10-digit format, not hex. Maybe it's a typo in White Paper. Don't hesitate to submit a bug there.

[2019-02-23 06:05] denis-konovalyenko opened #715 "Why my node is in the ignore node list and how to it get out of there"
My node has been experiencing this situation for a month or so already (the informational message in the log get lost for some reasons):
[code]

My questions are why it was put there and what I can do to clear this record out?

[2019-02-23 06:05] 0crat commented on #715
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-23 06:05] 0crat commented on #715
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-24 05:38] yegor256 commented on #715
@denis-konovalyenko this message doesn't mean that your node is ignored. This means that your node doesn't add itself to its own list of nodes, that's why this `--ignore-node` option is used for. You don't see your node in the /health page?

[2019-02-24 05:38] yegor256 commented on #713
@strogiyotec works now?

[2019-02-24 05:39] yegor256 opened #716 "--keygap for PAY and TAXES"
Let's make it possible to use `--keygap` from the command line for PAY and TAXES

[2019-02-24 05:53] strogiyotec commented on #713
@yegor256 No
[code]
Hash is
[code]
Where
2019-02-20T16:30:58Z - time in ISO
localhost - host
3E8 - port in hex
JdbZ3CIe@c0137b2c4348998a - invoice
Fdo7IP - first suffix

[2019-02-24 14:19] denis-konovalyenko commented on #715
@yegor256 , thanks for the clarifications! And your assumption is correct, I have not seen my node on the `health` page since it was relaunched after solving a hardware problem (that was more than a month ago, I believe). The score my node usually gets is 8, if it helps to make another 100% guess. :)

[2019-02-25 17:12] yegor256 opened #717 "list of wallets is not rendered correctly"
Has wrong symbols inside

[2019-02-25 17:58] yegor256 commented on #717
@rultor release, tag is `0.24.1`

[2019-02-25 17:59] rultor commented on #717
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18023-467112456)

[2019-02-25 18:18] rultor commented on #717
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18023-467112456) (took me 17min)

[2019-02-27 18:35] denis-konovalyenko opened #718 "It looks like Amount does not support accurate decimal arithmetic"
It happened that related to the API issue [#44](https://github.com/amihaiemil/zold-java-client/issues/44) had risen. And this one is opened due to the fact that the arithmetic operations do not use [BigDecimal](https://ruby-doc.org/stdlib-2.5.3/libdoc/bigdecimal/rdoc/BigDecimal.html).

[2019-02-27 18:35] 0crat commented on #718
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-27 18:35] 0crat commented on #718
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-28 10:03] emilianodellacasa opened #719 "Define an election process for hosting bonus sharing"
Right now it is not really clear how hosting bonus is distributed among hosts: sometimes hosts with higher scores are skipped and scores with very low scores get the bonus.

For the sake of transparency and accountability, we should develop an election process like the one on Zerocracy to decide who gets the hosting bonus. Then, we should add a link somewhere for everyone to revise this election p

[2019-02-28 10:03] 0crat commented on #719
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-28 10:03] 0crat commented on #719
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-01 12:35] yegor256 commented on #718
@denis-konovalyenko but we use integers everywhere in Zold. We don't use double or float. Each number is in zents, and it's integer. I don't see how this bug is relevant to this repo.

[2019-03-01 12:35] #718 closed

[2019-03-01 12:39] yegor256 opened #720 "verification of incoming payments is broken in Patch"
Let's test and fix

[2019-03-01 12:58] 0crat commented on #718
Job `gh:zold-io/zold#718` is not assigned, can't get performer

[2019-03-01 12:58] 0crat commented on #718
This job is not in scope

[2019-03-01 13:39] yegor256 commented on #720
@rultor release, tag is `0.24.2`

[2019-03-01 13:40] rultor commented on #720
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18090-468667674)

[2019-03-01 14:00] rultor commented on #720
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18090-468667674) (took me 16min)

[2019-03-01 14:00] #720 closed

[2019-03-01 14:19] 0crat commented on #720
Job `gh:zold-io/zold#720` is not assigned, can't get performer

[2019-03-01 14:20] 0crat commented on #720
This job is not in scope

[2019-03-03 11:06] denis-konovalyenko commented on #611
@yegor256 , my node is meeting the same thing - the score in farm is `8`:
[code]
however, the exposed score value is `0`:
[code]

[2019-03-04 05:48] denis-konovalyenko commented on #611
@yegor256 , it looks like that this is the root cause of not getting into the list of remotes for a month or so...

[2019-03-06 11:19] yegor256 commented on #719
@emilianodellacasa it's fixed, you can see full logs now

[2019-03-06 11:19] #719 closed

[2019-03-06 11:20] yegor256 opened #721 "REMOTE --threads"
Let's make it possible to configure amount of threads

[2019-03-06 11:38] 0crat commented on #719
Job `gh:zold-io/zold#719` is not assigned, can't get performer

[2019-03-06 11:38] 0crat commented on #719
This job is not in scope

[2019-03-06 11:52] emilianodellacasa commented on #719
@yegor256 Cool, thanks!

[2019-03-06 12:01] yegor256 commented on #721
@rultor release, tag is `0.24.3`

[2019-03-06 12:03] rultor commented on #721
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18151-470082108)

[2019-03-06 12:22] rultor commented on #721
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18151-470082108) (took me 16min)

[2019-03-06 14:18] #721 closed

[2019-03-06 14:37] 0crat commented on #717
Job `gh:zold-io/zold#717` is not assigned, can't get performer

[2019-03-06 14:38] 0crat commented on #717
This job is not in scope

[2019-03-06 14:38] 0crat commented on #721
This job is not in scope

[2019-03-06 21:29] filfreire opened #722 "Define a bug bounty program"
@yegor256, similar to what one finds in companies doing in https://www.hackerone.com/ I suggest we define a bug bounty program for both Zold and the web wallets projects.

Here's more detail of what could be done:
- Define a document (or add to an existing one, like the README) clearly stating the rules (and template) for reporting a security vulnerability (Disclosure, Eligibility, Exclusions, ...

[2019-03-06 21:29] 0crat commented on #722
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-06 21:29] 0crat commented on #722
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-07 10:52] yegor256 opened #723 "queue overflow"
Queues in all nodes are overflowed.

[2019-03-07 11:39] yegor256 commented on #723
@rultor release, tag is `0.24.4`

[2019-03-07 11:41] rultor commented on #723
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18165-470493840)

[2019-03-07 11:55] rultor commented on #723
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18165-470493840) (spent 14min)

[code]

[2019-03-07 12:00] yegor256 commented on #723
@rultor release, tag is `0.24.4`

[2019-03-07 12:03] rultor commented on #723
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18165-470499651)

[2019-03-07 12:23] rultor commented on #723
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18165-470499651) (took me 17min)

[2019-03-07 12:24] #723 closed

[2019-03-07 12:30] yegor256 opened #724 "too many remotes"
There are too many remotes in each node, let's make sure they keep their pools to a certain limit.

[2019-03-07 12:44] 0crat commented on #723
Job `gh:zold-io/zold#723` is not assigned, can't get performer

[2019-03-07 12:45] 0crat commented on #723
This job is not in scope

[2019-03-07 17:08] yegor256 commented on #724
@rultor release, tag is `0.24.5`

[2019-03-07 17:09] rultor commented on #724
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18173-470610925)

[2019-03-07 17:26] rultor commented on #724
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18173-470610925) (spent 16min)

[code]

[2019-03-07 17:35] yegor256 commented on #724
@rultor release, tag is `0.24.5`

[2019-03-07 17:36] rultor commented on #724
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18173-470621542)

[2019-03-07 17:56] rultor commented on #724
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18173-470621542) (took me 16min)

[2019-03-07 18:17] #724 closed

[2019-03-07 18:17] yegor256 opened #725 "NoMethodError: undefined method `>' for nil:NilClass"
[code]

[2019-03-07 18:34] 0crat commented on #724
Job `gh:zold-io/zold#724` is not assigned, can't get performer

[2019-03-07 18:34] 0crat commented on #724
This job is not in scope

[2019-03-07 18:48] yegor256 commented on #725
@rultor release, tag is `0.24.6`

[2019-03-07 18:50] rultor commented on #725
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18176-470647350)

[2019-03-07 18:56] rultor commented on #725
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18176-470647350) (spent 5min)

[code]

[2019-03-07 19:04] yegor256 commented on #725
@rultor release, tag is `0.24.6`

[2019-03-07 19:07] rultor commented on #725
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18176-470653180)

[2019-03-07 19:26] rultor commented on #725
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18176-470653180) (took me 16min)

[2019-03-07 19:27] #725 closed

[2019-03-07 19:43] 0crat commented on #725
Job `gh:zold-io/zold#725` is not assigned, can't get performer

[2019-03-07 19:44] 0crat commented on #725
This job is not in scope

[2019-03-07 19:47] yegor256 commented on #724
@rultor release, tag is `0.26.7`

[2019-03-07 19:49] rultor commented on #724
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18173-470667641)

[2019-03-07 20:08] rultor commented on #724
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18173-470667641) (took me 16min)

[2019-03-08 06:09] yegor256 opened #726 "failed PULL on MERGE must not crash the entire copy"
Now that's exactly what's happening

[2019-03-08 07:54] #716 closed

[2019-03-08 08:14] yegor256 commented on #726
@rultor release, tag is `0.26.8`

[2019-03-08 08:15] rultor commented on #726
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18178-470843661)

[2019-03-08 08:16] 0crat commented on #716
Job `gh:zold-io/zold#716` is not assigned, can't get performer

[2019-03-08 08:17] 0crat commented on #716
This job is not in scope

[2019-03-08 08:21] rultor commented on #726
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18178-470843661) (spent 6min)

[code]

[2019-03-08 08:44] yegor256 commented on #726
@rultor release, tag is `0.26.8`

[2019-03-08 08:46] rultor commented on #726
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18178-470851152)

[2019-03-08 09:04] rultor commented on #726
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18178-470851152) (took me 16min)

[2019-03-08 09:50] emilianodellacasa opened #727 "Impossible to convert ZLD to BTC"
I tried to convert ZLD to BTC, wts said it was ok but in the log it appeared the following message:

ERROR: UserError: We didn't manage to find your wallet in any of visible Zold nodes (zonuses). You should try to PULL again. If it doesn't work, most likely your wallet c21b99be1e280a5e is lost and can't be recovered. If you have its copy locally, you can push it to the network from the console app

[2019-03-08 09:50] 0crat commented on #727
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-08 09:50] 0crat commented on #727
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-08 11:34] #726 closed

[2019-03-08 12:30] yegor256 commented on #727
@emilianodellacasa this bug belongs to WTS: https://github.com/zold-io/wts.zold.io/issues

[2019-03-08 12:30] #727 closed

[2019-03-08 12:39] #715 closed

[2019-03-08 12:40] yegor256 commented on #712
@ypshenychka this bug belongs to the WTS: https://github.com/zold-io/wts.zold.io/issues BTW, you can move the mouse over the text and you will see the exact date.

[2019-03-08 12:40] #712 closed

[2019-03-08 12:40] yegor256 opened #728 "Rescan"
Let's rescan the network every hour

[2019-03-08 12:51] 0crat commented on #727
Job `gh:zold-io/zold#727` is not assigned, can't get performer

[2019-03-08 12:53] 0crat commented on #727
This job is not in scope

[2019-03-08 12:55] 0crat commented on #726
Job `gh:zold-io/zold#726` is not assigned, can't get performer

[2019-03-08 12:57] 0crat commented on #726
This job is not in scope

[2019-03-08 12:58] 0crat commented on #715
Job `gh:zold-io/zold#715` is not assigned, can't get performer

[2019-03-08 12:58] 0crat commented on #715
This job is not in scope

[2019-03-08 12:58] 0crat commented on #712
Job `gh:zold-io/zold#712` is not assigned, can't get performer

[2019-03-08 13:00] 0crat commented on #712
This job is not in scope

[2019-03-08 13:14] yegor256 commented on #728
@rultor release, tag is `0.24.9`

[2019-03-08 13:16] rultor commented on #728
@yegor256 Invalid release tag `0.24.9` specified. There is already a release `0.26.8` newer than the given release in this repository.

[2019-03-08 13:16] rultor commented on #728
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-03-08 13:18] yegor256 commented on #728
@rultor release, tag is `0.26.9`

[2019-03-08 13:19] rultor commented on #728
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18185-470925282)

[2019-03-08 13:37] rultor commented on #728
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18185-470925282) (took me 16min)

[2019-03-08 17:34] #728 closed

[2019-03-08 17:35] yegor256 opened #729 "delete banned wallets on start"
Let's delete them

[2019-03-08 17:54] 0crat commented on #728
Job `gh:zold-io/zold#728` is not assigned, can't get performer

[2019-03-08 17:54] 0crat commented on #728
This job is not in scope

[2019-03-08 18:28] yegor256 commented on #729
@rultor release, tag is `0.26.10`

[2019-03-08 18:31] rultor commented on #729
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18187-471028609)

[2019-03-08 18:47] rultor commented on #729
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18187-471028609) (took me 15min)

[2019-03-10 08:02] #729 closed

[2019-03-10 08:21] 0crat commented on #729
Job `gh:zold-io/zold#729` is not assigned, can't get performer

[2019-03-10 08:23] 0crat commented on #729
This job is not in scope

[2019-03-11 06:59] yegor256 opened #730 "push when too many local copies"
Let's push wallet to the network if they have too many local copies

[2019-03-11 08:27] yegor256 commented on #730
@rultor release, tag is `0.26.11`

[2019-03-11 08:29] rultor commented on #730
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18231-471446306)

[2019-03-11 08:45] rultor commented on #730
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18231-471446306) (took me 15min)

[2019-03-11 10:27] #730 closed

[2019-03-11 10:48] 0crat commented on #730
Job `gh:zold-io/zold#730` is not assigned, can't get performer

[2019-03-11 10:54] 0crat commented on #730
This job is not in scope

[2019-03-11 11:27] yegor256 commented on #730
@rultor release, tag is `0.26.12`

[2019-03-11 11:28] rultor commented on #730
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18231-471502248)

[2019-03-11 11:44] rultor commented on #730
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18231-471502248) (took me 14min)

[2019-03-11 14:51] yegor256 commented on #652
@0crat assign me

[2019-03-11 15:22] 0crat commented on #652
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-11 15:24] 0crat commented on #652
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-11 16:07] yegor256 commented on #652
@rultor release, tag is `0.26.13`

[2019-03-11 16:08] rultor commented on #652
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18237-471606190)

[2019-03-11 16:31] #652 closed

[2019-03-11 16:39] yegor256 opened #731 "merge doesn't do the FETCH right"
Let's fix

[2019-03-11 16:50] yegor256 commented on #731
@rultor release, tag is `0.26.14`

[2019-03-11 16:54] rultor commented on #731
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18239-471624327)

[2019-03-11 16:56] 0crat commented on #652
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-11 17:04] 0crat commented on #652
The job [#652](https://github.com/zold-io/zold/issues/652) is now out of scope

[2019-03-11 17:04] 0crat commented on #652
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-11 17:13] rultor commented on #731
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18239-471624327) (took me 15min)

[2019-03-11 17:23] #731 closed

[2019-03-11 17:50] 0crat commented on #731
Job `gh:zold-io/zold#731` is not assigned, can't get performer

[2019-03-11 17:51] 0crat commented on #731
This job is not in scope

[2019-03-11 19:55] yegor256 opened #732 "enable in-between negative balance for Patch"
Let's make it possible to have negatives while merging.

[2019-03-12 11:42] yegor256 commented on #732
@rultor release, tag is `0.26.15`

[2019-03-12 11:43] rultor commented on #732
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18257-471966291)

[2019-03-12 13:33] #732 closed

[2019-03-12 13:54] 0crat commented on #732
Job `gh:zold-io/zold#732` is not assigned, can't get performer

[2019-03-12 13:54] 0crat commented on #732
This job is not in scope

[2019-03-15 08:55] strogiyotec opened #733 "Two absolutely the same tests in test_merge"
In test_merge we have two absolutely the same test methods

[code]

[2019-03-15 08:55] 0crat commented on #733
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-15 08:55] 0crat commented on #733
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-15 10:39] yegor256 opened #735 "queue overflow is still there"
The queue is still too busy...

[2019-03-15 12:52] yegor256 opened #736 "/journal"
Let's keep a journal for each wallet, with all changes that happen there.

[2019-03-15 14:48] yegor256 commented on #736
@rultor release, tag is `0.26.16`

[2019-03-15 14:49] rultor commented on #736
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18307-473315049)

[2019-03-15 15:04] rultor commented on #736
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18307-473315049) (spent 15min)

[code]