[2018-01-28 15:39] 0x13a opened #1 "consensus policy is unclear and it's not trustless"
This is not a trustless consensus strategy. The all point of cryptocurrency is have no trust whether here is clear that this is not the case. What happens if those _trusted_ nodes get hacked? Why should I use Zerocracy crypto-currency instead of VISA at this point?

_most actively contributing_ based on what? The ones processing more transactions? Can this lead to a 51% attack since the network is

[2018-01-28 15:39] 0crat commented on #1
@0x13a[/z](https://www.0crat.com/u/0x13a) I'm not managing this repo, remove the [webhook](https://github.com/zerocracy/zold/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-01-28 21:19] yegor256 commented on #1
@0x13a you are right, that's the key concern we are having now. Let us work/think about it a bit more and update the draft.

[2018-01-30 05:20] theautobot opened #2 "if there's no history of payments how do we check transactions?"
if we imagine a website that wants to accept Zold as a payment method, how do we programmatically check if a payment exists?

[2018-01-30 05:20] 0crat commented on #2
@theautobot[/z](https://www.0crat.com/u/theautobot) I'm not managing this repo, remove the [webhook](https://github.com/zerocracy/zold/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-01-30 05:22] theautobot opened #3 "no block explorer"
most of stock exchanges require block explorer since all cryptocurrencies have it. how do we deal with this?

[2018-01-30 05:22] 0crat commented on #3
@theautobot[/z](https://www.0crat.com/u/theautobot) I'm not managing this repo, remove the [webhook](https://github.com/zerocracy/zold/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-01-30 11:02] theautobot opened #5 "lets change the word "friends" to something more technical"
lets change the word "friends" or "friend node" to something more technical since it has more than one meaning.

[2018-01-30 11:02] 0crat commented on #5
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 11:04] theautobot opened #6 "where does the first ZLD come from?"
in blockchain technology there's mining. in Zold where does the first ZLD 1.00 come from? meaning techically

[2018-01-30 11:04] 0crat commented on #6
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 12:59] yegor256 commented on #6
@theautobot from the first wallet, no.0. It may have a negative balance.

[2018-01-30 12:59] #6 closed

[2018-01-30 12:59] 0crat commented on #6
Job `gh:zerocracy/zold#6` is not assigned, can't get start time

[2018-01-30 13:09] 0crat commented on #6
Job [#6](https://github.com/zerocracy/zold/issues/6) was not in scope

[2018-01-30 16:32] yegor256 opened #7 "skeleton"
I will create it's first version.

[2018-01-30 16:41] yegor256 commented on #7
@rultor release, tag is `0.0.1`

[2018-01-30 16:41] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13793-361654184)

[2018-01-30 16:42] rultor commented on #7
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13793-361654184) (spent 19s)

[code]

[2018-01-30 16:42] yegor256 commented on #7
@rultor release, tag is `0.0.1`

[2018-01-30 16:44] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13793-361654664)

[2018-01-30 16:47] rultor commented on #7
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13793-361654664) (spent 3min)

[code]

[2018-01-30 16:51] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13793-361657263)

[2018-01-30 16:54] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13793-361657263) (took me 3min)

[2018-01-30 16:54] 0crat commented on #7
Job `gh:zerocracy/zold#7` is not assigned, can't get start time

[2018-01-31 20:52] yegor256 commented on #5
@theautobot no more friends, see the new version of README

[2018-01-31 20:52] #5 closed

[2018-01-31 20:52] yegor256 commented on #1
@0x13a I completely rewrote the description, please check again.

[2018-01-31 20:52] #1 closed

[2018-01-31 20:52] 0crat commented on #5
Job `gh:zerocracy/zold#5` is not assigned, can't get start time

[2018-01-31 20:53] yegor256 commented on #2
@theautobot we have history now, but it's distributed, see README

[2018-01-31 20:53] #2 closed

[2018-01-31 20:53] 0crat commented on #1
Job `gh:zerocracy/zold#1` is not assigned, can't get start time

[2018-01-31 20:53] 0crat commented on #2
Job `gh:zerocracy/zold#2` is not assigned, can't get start time

[2018-01-31 21:02] 0crat commented on #5
Job [#5](https://github.com/zerocracy/zold/issues/5) was not in scope

[2018-01-31 21:03] 0crat commented on #1
Job [#1](https://github.com/zerocracy/zold/issues/1) was not in scope

[2018-01-31 21:03] 0crat commented on #2
Job [#2](https://github.com/zerocracy/zold/issues/2) was not in scope

[2018-02-02 23:43] yegor256 opened #8 "send payment locally"

[2018-02-02 23:43] yegor256 commented on #8
@rultor release, tag is `0.0.3`

[2018-02-02 23:44] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13804-362742724)

[2018-02-02 23:47] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13804-362742724) (took me 3min)

[2018-02-02 23:48] #8 closed

[2018-02-02 23:48] 0crat commented on #8
Job `gh:zerocracy/zold#8` is not assigned, can't get start time

[2018-02-02 23:58] 0crat commented on #8
Job [#8](https://github.com/zerocracy/zold/issues/8) was not in scope

[2018-02-03 11:04] yegor256 opened #9 "validate"
Let's add a command to validate a wallet.

[2018-02-03 12:18] yegor256 opened #10 "XSD"
let's add it, to ensure consistency

[2018-02-03 13:39] yegor256 commented on #10
@rultor release, tag is `0.0.4`

[2018-02-03 13:40] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13808-362806945)

[2018-02-03 13:43] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13808-362806945) (took me 3min)

[2018-02-03 13:58] #10 closed

[2018-02-03 13:58] 0crat commented on #10
Job `gh:zerocracy/zold#10` is not assigned, can't get start time

[2018-02-03 14:08] 0crat commented on #10
Job [#10](https://github.com/zerocracy/zold/issues/10) was not in scope

[2018-02-03 17:23] theautobot opened #11 "./zold create exits with error"
/code/zold/bin$ ./zold create
ERROR: undefined method `e=' for #<OpenSSL::PKey::RSA:0x00007fb4a382cd00>

[2018-02-03 17:23] 0crat commented on #11
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-03 21:13] yegor256 commented on #9
@rultor release, tag is `0.0.5`

[2018-02-03 21:14] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13809-362854759)

[2018-02-03 21:17] rultor commented on #9
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13809-362854759) (spent 3min)

[code]

[2018-02-03 21:30] yegor256 commented on #9
@rultor release, tag is `0.0.5`

[2018-02-03 21:30] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13809-362855922)

[2018-02-03 21:33] rultor commented on #9
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13809-362855922) (spent 3min)

[code]

[2018-02-03 21:44] yegor256 commented on #9
@rultor release, tag is `0.0.5`

[2018-02-03 21:44] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13809-362856871)

[2018-02-03 21:48] #9 closed

[2018-02-03 21:49] 0crat commented on #9
Job `gh:zerocracy/zold#9` is not assigned, can't get start time

[2018-02-03 21:49] yegor256 commented on #11
@theautobot it's fixed already, please check the latest version

[2018-02-03 21:49] #11 closed

[2018-02-03 21:49] 0crat commented on #11
Job `gh:zerocracy/zold#11` is not assigned, can't get start time

[2018-02-03 21:59] 0crat commented on #9
Job [#9](https://github.com/zerocracy/zold/issues/9) was not in scope

[2018-02-03 21:59] 0crat commented on #11
Job [#11](https://github.com/zerocracy/zold/issues/11) was not in scope

[2018-02-03 23:06] jpnffigueiredo opened #12 "Too long wallet"
Why not use a search engine like elasticsearch to solve this? Index each wallet and execute cross-wallet checks there.

It's just an idea.

[2018-02-03 23:06] 0crat commented on #12
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-04 09:38] yegor256 commented on #12
@jpnffigueiredo this sounds like a good idea, thanks

[2018-02-04 19:37] yegor256 opened #13 "simple node implementation"
Let's create a simple node

[2018-02-05 06:21] vizotov opened #14 "Double spending protection"
It is need a protection against double spending. If someone sends inconsistent transactions to two different nodes, the network will split into two conflicting parts.

[2018-02-05 06:21] 0crat commented on #14
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 07:31] amihaiemil commented on #14
I suggest you study Bitcoin's [whitepaper](https://bitcoin.org/bitcoin.pdf). I am not a an expert in cryptocurrencies but, as far as I know, that's exactly the issue Blockchain technology is solving -- that's why it became famous, becaus it is the only solution so far. Then, maybe try to come up with a better alternative :)

[2018-02-05 07:49] yegor256 commented on #13
@rultor release, tag is `0.0.6`

[2018-02-05 07:50] rultor commented on #13
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13818-363005616)

[2018-02-05 07:54] rultor commented on #13
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13818-363005616) (took me 4min)

[2018-02-05 08:44] vizotov commented on #14
Thank you. I know, how bitcoin works.

[2018-02-05 11:56] #13 closed

[2018-02-05 11:56] 0crat commented on #13
Job `gh:zerocracy/zold#13` is not assigned, can't get start time

[2018-02-05 12:00] yegor256 commented on #14
@amihaiemil let me quote the white paper: "As long as a majority of CPU power is controlled by nodes that are not cooperating to attack the network, they'll generate the longest chain and outpace attackers." This literally means that if the majority of nodes are "white" nodes and not corrupting the data, the system works. Adding a big amount of "black" nodes to the Bitcoin network will kill it.

[2018-02-05 12:01] yegor256 opened #15 "prevent negative balances"

[2018-02-05 12:05] vizotov commented on #14
Yes. It is named "51% attack".

[2018-02-05 12:06] 0crat commented on #13
Job [#13](https://github.com/zerocracy/zold/issues/13) was not in scope

[2018-02-05 12:07] amihaiemil commented on #14
@yegor256 What does that have to do with the discussion of having or not having a blockchain? Nobody said the blockchain was bulletproof :D

[2018-02-05 12:20] yegor256 commented on #15
@rultor release, tag is `0.0.7`

[2018-02-05 12:21] rultor commented on #15
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13819-363069171)

[2018-02-05 12:24] rultor commented on #15
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13819-363069171) (took me 3min)

[2018-02-05 12:33] #15 closed

[2018-02-05 12:34] 0crat commented on #15
Job `gh:zerocracy/zold#15` is not assigned, can't get start time

[2018-02-05 12:44] 0crat commented on #15
Job [#15](https://github.com/zerocracy/zold/issues/15) was not in scope

[2018-02-05 14:42] yegor256 commented on #14
@amihaiemil my point is that no system can be bullet-proof, if it is distributed. We can not guarantee total protection against mistakes. We can only lower the probability them.

[2018-02-05 15:02] vizotov commented on #14
https://github.com/yegor256, I know how this problem is solved in Bitcoin, and thought that here you will show your solution. At least an idea.

[2018-02-05 15:11] yegor256 commented on #14
@vizotov yes, I will show what I have in mind, in a few days.

[2018-02-06 19:35] yegor256 opened #16 "plain text instead of XML"
Let's use plain text, it's shorter

[2018-02-06 19:36] yegor256 commented on #16
@rultor release, tag is `0.0.8`

[2018-02-06 19:37] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13835-363539747)

[2018-02-06 19:41] rultor commented on #16
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13835-363539747) (spent 3min)

[code]

[2018-02-06 20:10] yegor256 commented on #16
@rultor release, tag is `0.0.8`

[2018-02-06 20:11] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13835-363549623)

[2018-02-06 20:14] rultor commented on #16
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13835-363549623) (spent 3min)

[code]

[2018-02-06 20:20] yegor256 commented on #16
@rultor release, tag is `0.0.8`

[2018-02-06 20:20] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13835-363552382)

[2018-02-06 20:23] rultor commented on #16
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13835-363552382) (spent 3min)

[code]

[2018-02-06 20:26] yegor256 commented on #16
@rultor release, tag is `0.0.8`

[2018-02-06 20:27] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13835-363554330)

[2018-02-06 20:30] rultor commented on #16
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13835-363554330) (spent 3min)

[code]

[2018-02-06 20:38] yegor256 commented on #16
@rultor release, tag is `0.0.8`

[2018-02-06 20:39] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13835-363557615)

[2018-02-06 20:42] rultor commented on #16
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13835-363557615) (spent 3min)

[code]

[2018-02-06 20:45] yegor256 commented on #16
@rultor release, tag is `0.0.8`

[2018-02-06 20:46] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13835-363559439)

[2018-02-06 20:49] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13835-363559439) (took me 3min)

[2018-02-06 20:50] #16 closed

[2018-02-06 20:50] 0crat commented on #16
Job `gh:zerocracy/zold#16` is not assigned, can't get start time

[2018-02-06 21:00] 0crat commented on #16
Job [#16](https://github.com/zerocracy/zold/issues/16) was not in scope

[2018-02-07 06:04] yegor256 commented on #14
@vizotov take a look now, what do you think?

[2018-02-07 13:35] vizotov commented on #14
In the context of this issue, the solution seems to be working.

[2018-02-08 15:41] yegor256 opened #17 "there is no field for transaction details"
Let's add a field

[2018-02-08 16:50] yegor256 commented on #17
@rultor release, tag is `0.0.9`

[2018-02-08 16:51] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13843-364174638)

[2018-02-08 16:58] rultor commented on #17
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13843-364174638) (spent 7min)

[code]

[2018-02-08 17:49] yegor256 commented on #17
@rultor release, tag is `0.0.9`

[2018-02-08 17:49] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13843-364192974)

[2018-02-08 17:52] rultor commented on #17
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13843-364192974) (spent 3min)

[code]

[2018-02-11 15:34] vizotov opened #18 "It is needed to motivate cluster nodes to do their job"
In the current state of the project cluster nodes do not have a reason to stay online and submit transactions.

[2018-02-11 15:34] 0crat commented on #18
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 15:47] yegor256 commented on #14
@vizotov it seems so, but another problems shows up: what if someone starts sending multiple `JOIN` requests from multiple nodes to a single cluster. The cluster will eventually vote in favor of adding those nodes. Eventually, the hacker will take control over the cluster and will be able to eject all other "white" nodes, leaving only "black" ones inside. Then, this totally corrupted cluster will

[2018-02-12 15:55] yegor256 commented on #18
@vizotov yes, you are right. I believe, the best way is to just charge a fixed fee for each transaction processing, just like Bitcoin does.

[2018-02-13 07:53] vizotov commented on #18
If the fee is fixed, there is a possibility that it may not be enough. This will depend on the exchange rate. In the Bitcoin, the calculation of transaction fees is a partially automatic process, and is partially determined by the market. But here, since the currency is just a debt issuance of the issuer, then he must control the fee in order to keep the currency alive.

[2018-02-14 14:35] vizotov commented on #14
@yegor256, You can find many small problems, but the first problem is one. The business layer is mixed with the implementation layer of the data storage. This is an incorrect architectural solution. At the business layer, we just need to get the balance on the account, without thinking how it is stored. Decentralized storage must be implemented separately.
During the implementation of the storage,

[2018-02-16 11:53] ashtonhogan opened #19 "Where to ask questions on this?"
No stackoverflow tag and no article is available.

Are you in favor of the federal reserve?

Are you competing with them?

If so then why? and why should people use zold instead of the existing system?

[2018-02-16 11:53] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-09 18:45] yegor256 opened #20 "PoW"
Let's implement proof-of-work

[2018-05-12 15:47] #20 closed, assigned to nobody

[2018-05-12 15:47] yegor256 opened #21 "commissions"
Let's add them

[2018-05-12 21:11] yegor256 opened #22 "bind on 0.0.0.0"
Let's bind right

[2018-05-12 21:14] yegor256 opened #23 "payment prefix"
Let's add a prefix to each transaction

[2018-05-12 21:25] #22 closed, assigned to nobody

[2018-05-12 21:26] yegor256 opened #24 "FETCH fails into empty wallet"
[code]

[2018-05-13 05:55] yegor256 opened #25 "configurable strength"
Let's make it configurable

[2018-05-13 06:10] #25 closed, assigned to nobody

[2018-05-13 12:41] #23 closed, assigned to nobody

[2018-05-13 12:49] yegor256 opened #26 "openssl failure at key.rb"
[code]

[2018-05-13 13:10] #26 closed, assigned to nobody

[2018-05-13 13:28] #24 closed, assigned to nobody

[2018-05-13 13:29] yegor256 opened #27 "default Ruby openssl"
Let's use default one

[2018-05-13 13:36] #27 closed, assigned to nobody

[2018-05-13 14:15] yegor256 opened #28 "openssl gem"
Let's use the gem

[2018-05-13 14:25] #28 closed, assigned to nobody

[2018-05-13 14:54] yegor256 opened #29 "SSH key to RSA"
Let's convert via `ssh-keygen`

[2018-05-13 15:04] yegor256 opened #30 "~/.zold"
Let's create a pre-config file

[2018-05-13 15:07] #29 closed, assigned to nobody

[2018-05-13 15:21] #30 closed, assigned to nobody

[2018-05-13 15:23] yegor256 opened #31 "typo in .zold processing"
Let's fix

[2018-05-13 15:30] #31 closed, assigned to nobody

[2018-05-13 15:31] yegor256 opened #32 "web front extra logging"
Let's add logging

[2018-05-13 16:12] #32 closed, assigned to nobody

[2018-05-13 17:04] yegor256 opened #33 "avoid cyclic fetch on node"

[2018-05-13 18:03] #33 closed, assigned to nobody

[2018-05-13 18:08] yegor256 opened #34 "typo in wallet.max"
[code]

[2018-05-13 18:19] #34 closed, assigned to nobody

[2018-05-13 18:30] yegor256 opened #35 "304 has no body"

[2018-05-13 18:44] #35 closed, assigned to nobody

[2018-05-13 19:18] yegor256 opened #36 "synchronize server-side PUSH"
Let's make sure we don't have conflicts between threads.

[2018-05-14 12:17] #36 closed, assigned to nobody

[2018-05-14 12:17] yegor256 opened #37 "304 on FETCH"
Let's respond with 304 if the content of the wallet is the same as on the client.

[2018-05-14 12:18] yegor256 opened #38 "compress before signing to reduce the size of the signature"
Let's compress the data

[2018-05-14 13:03] yegor256 opened #39 "wallet version and network ID"
Let's add wallet version and network ID to wallet files

[2018-05-14 13:03] yegor256 opened #40 "availability"
Let's calculate the availability of all remote nodes and remove those with too low numbers.

[2018-05-14 14:31] yegor256 opened #41 "score with invoices"
Add invoices to scores

[2018-05-14 16:46] #38 closed, assigned to nobody

[2018-05-14 16:47] yegor256 opened #42 "taxes"
Let's accept PUSH only if taxes are paid

[2018-05-14 22:11] yegor256 opened #43 "score graph for node at /score.svg"
Let's build an SVG graph for scores in the node and return it via `/score.svg`

[2018-05-15 11:00] yegor256 opened #44 "add payer ID to txn signature"
For security

[2018-05-15 18:19] #42 closed, assigned to nobody

[2018-05-15 18:41] #44 closed, assigned to nobody

[2018-05-15 18:42] #41 closed, assigned to nobody

[2018-05-15 18:42] #21 closed, assigned to nobody

[2018-05-15 19:59] yegor256 opened #45 "white paper"
Let's write it up

[2018-05-16 11:36] yegor256 opened #46 "enable options in any place of command line"
Enable them everywhere

[2018-05-16 17:00] #46 closed, assigned to nobody

[2018-05-16 18:12] #40 closed, assigned to nobody

[2018-05-17 05:33] yegor256 opened #47 "faster algorithm"
...

[2018-05-18 17:38] #47 closed, assigned to nobody

[2018-05-18 17:38] yegor256 opened #48 "more opts"
...

[2018-05-18 20:59] #48 closed, assigned to nobody

[2018-05-18 21:03] yegor256 opened #49 "more transparent logging"
for testing

[2018-05-19 05:36] #49 closed, assigned to nobody

[2018-05-19 05:38] yegor256 opened #50 "304 on GET is not returned when content is duplicate"
Let's return 304 if the wallet's content is the same as the client has. The client has to send `If-None-Match` header with the MD5 hash of the file content.

[2018-05-19 05:39] yegor256 opened #51 "400 on PUT is not returned"
Let's return 400 on PUT if there are any errors on "merge". The client has to know that something was wrong. Let's also show the stacktrace.

[2018-05-19 05:41] yegor256 opened #52 "402 on PUT is not returned when taxes are not paid"
Let's return 402 (taxes not paid) on PUT if the wallet has a big debt.

[2018-05-19 05:45] yegor256 opened #53 "duplicated code in three places"
`fetch.rb`, `push.rb` and `remote.rb` are doing the same thing when talking to remote nodes. Let's move that code to a separate class.

[2018-05-19 06:03] #37 closed, assigned to nobody

[2018-05-19 06:16] #39 closed, assigned to nobody

[2018-05-19 17:01] yegor256 opened #54 "emission limit"
Let's put a limit there

[2018-05-19 17:27] #54 closed, assigned to nobody

[2018-05-21 13:16] yegor256 opened #55 "add network name into the score"
The score has to include the name of the network.

Also the version. Let's make sure we reject if versions don't match.

[2018-05-21 13:16] yegor256 opened #56 "show summary trust level at the end of FETCH"
Let's show at the end of FETCH what was the total score.

[2018-05-21 13:31] yegor256 opened #57 "let's show availability at REMOTE command"
Let's show availability for each node

[2018-05-21 13:36] yegor256 opened #58 "unique TAX transactions"
Let's make sure tax payments are unique. The node has to provide `/tax-bill` entry point, where any client can submit a request for the tax payment and the node has to reserve the score and return back the payment text.

[2018-05-21 13:36] yegor256 opened #59 "let's validate RSA signatures on propagate"
Let's make sure they are valid on propagate

[2018-05-21 22:41] yegor256 opened #60 "wallets in a database"
Let's implement a new storage, in a local database.

[2018-05-27 07:14] #58 closed, assigned to yegor256

[2018-05-27 07:15] #45 closed, assigned to nobody

[2018-05-27 07:33] yegor256 commented on #45
@rultor release, tag is `0.8.1`

[2018-05-27 07:33] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14642-392311166)

[2018-05-27 07:37] 0crat commented on #45
The job is not in WBS, won't close the order

[2018-05-27 07:37] 0crat commented on #45
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1470744461, Type: "Close job", Author: "yegor256"

[2018-05-27 07:37] 0crat commented on #58
Job `gh:zerocracy/zold#58` is not assigned, can't get start time

[2018-05-27 07:38] 0crat commented on #58
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-27 07:39] rultor commented on #45
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14642-392311166) (spent 5min)

[code]

[2018-05-27 07:49] yegor256 opened #61 "more accurate wallet age calculation"
Let's calculate wallet "age" as a difference between the oldest transaction and the most recent one (not the current time, as it's done now).

[2018-05-27 07:49] 0crat commented on #61
Job [#61](https://github.com/zerocracy/zold/issues/61) is now in scope, role is `DEV`

[2018-05-27 07:49] 0crat commented on #61
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-27 07:56] yegor256 commented on #45
@rultor release, tag is `0.9`

[2018-05-27 07:57] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14642-392312516)

[2018-05-27 08:02] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14642-392312516) (took me 5min)

[2018-05-27 10:19] yegor256 opened #62 "emission validation is broken"
The sign is wrong

[2018-05-27 10:19] yv9sjrfadz opened #63 "cannot start node - undefined method `find' for nil:NilClass"
zold node --invoice=132d71bf1f7d1d97 --trace

[code]

[2018-05-27 10:19] 0crat commented on #63
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 10:19] 0crat commented on #63
@yv9sjrfadz[/z](https://www.0crat.com/u/yv9sjrfadz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-27 10:19] 0crat commented on #63
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 10:19] 0crat commented on #63
@yv9sjrfadz[/z](https://www.0crat.com/u/yv9sjrfadz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-27 10:28] yegor256 opened #64 "node auto-restart on version update"
Would be great if a node would restart itself (somehow) when a new version is published on Rubygems. Maybe, the node has to restart when it sees that any remote node version is higher that its own.

[2018-05-27 10:28] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14644-392320220) (took me 5min)

[2018-05-27 10:28] #62 closed

[2018-05-27 10:29] 0crat commented on #62
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#62, Action: `closed`

[2018-05-27 10:29] 0crat commented on #64
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#64, Action: `assigned`

[2018-05-27 10:29] 0crat commented on #64
Job [#64](https://github.com/zerocracy/zold/issues/64) is now in scope, role is `DEV`

[2018-05-27 10:29] 0crat commented on #64
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#64, Action: `assigned`

[2018-05-27 10:29] 0crat commented on #64
Job [#64](https://github.com/zerocracy/zold/issues/64) is already in scope

[2018-05-27 10:35] yegor256 opened #65 "Invalid wallet ID in entrance/push"
[code]

[2018-05-27 10:35] 0crat commented on #65
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#65, Action: `assigned`

[2018-05-27 10:35] 0crat commented on #65
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#65, Action: `assigned`

[2018-05-27 10:37] 0crat commented on #65
The job [#65](https://github.com/zerocracy/zold/issues/65) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1471036108); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-05-27 10:44] 0crat commented on #62
The job is not in WBS, won't close the order

[2018-05-27 10:44] 0crat commented on #62
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1471059763](https://www.0crat.com/C91QJT4CF/1471059763), Type: "Close job", Author: "yegor256"

[2018-05-27 11:08] yegor256 commented on #65
@rultor release, tag is `0.9.2`

[2018-05-27 11:09] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14645-392322778)

[2018-05-27 11:14] rultor commented on #65
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14645-392322778) (took me 5min)

[2018-05-27 11:15] #65 closed

[2018-05-27 11:15] 0crat commented on #65
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#65, Action: `closed`

[2018-05-27 11:34] 0crat commented on #65
Job `gh:zerocracy/zold#65` is not assigned, can't get start time

[2018-05-27 11:35] 0crat commented on #65
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-27 11:35] 0crat commented on #65
The job [#65](https://github.com/zerocracy/zold/issues/65) is now out of scope

[2018-05-27 11:36] yegor256 opened #66 "comparison of NilClass with 0 failed"
[code]

[2018-05-27 11:50] yegor256 commented on #66
@rultor release, tag is `0.9.3`

[2018-05-27 11:50] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14646-392324911)

[2018-05-27 11:51] 0crat commented on #66
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#66, Action: `assigned`

[2018-05-27 11:51] 0crat commented on #66
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#66, Action: `assigned`

[2018-05-27 11:52] 0crat commented on #66
The job [#66](https://github.com/zerocracy/zold/issues/66) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1471151343); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-05-27 11:52] 0crat commented on #66
Job `gh:zerocracy/zold#66` already assigned to @yegor256, can't assign to @yegor256

[2018-05-27 11:52] 0crat commented on #66
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-27 11:52] 0crat commented on #66
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-27 11:52] 0crat commented on #66
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-27 11:56] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14646-392324911) (took me 5min)

[2018-05-27 12:39] #66 closed

[2018-05-27 12:40] 0crat commented on #66
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#66, Action: `closed`

[2018-05-27 12:40] yegor256 opened #67 "score expires too soon"
Let's fix

[2018-05-27 12:49] yegor256 commented on #67
@rultor release, tag is `0.9.4`

[2018-05-27 12:51] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14648-392328750)

[2018-05-27 12:55] 0crat commented on #66
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-27 12:55] 0crat commented on #66
The job [#66](https://github.com/zerocracy/zold/issues/66) is now out of scope

[2018-05-27 12:57] rultor commented on #67
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14648-392328750) (took me 5min)

[2018-05-27 13:36] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zerocracy/zold/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-27 13:36] 0crat commented on #64
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#64](https://github.com/zerocracy/zold/issues/64); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-27 14:03] #67 closed

[2018-05-27 14:04] 0crat commented on #67
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#67, Action: `closed`

[2018-05-27 14:19] 0crat commented on #67
The job is not in WBS, won't close the order

[2018-05-27 14:19] 0crat commented on #67
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1471408608](https://www.0crat.com/C91QJT4CF/1471408608), Type: "Close job", Author: "yegor256"

[2018-05-27 14:22] yegor256 opened #68 "validate public key on payments"
We don't do that now

[2018-05-27 15:01] yegor256 commented on #68
@rultor release, tag is `0.9.5`

[2018-05-27 15:03] rultor commented on #68
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14649-392337579)

[2018-05-27 15:09] rultor commented on #68
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14649-392337579) (took me 5min)

[2018-05-27 15:09] #68 closed

[2018-05-27 15:09] 0crat commented on #68
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#68, Action: `closed`

[2018-05-27 15:14] yegor256 opened #69 "NPE in clean.rb"
[code]

[2018-05-27 15:34] #69 closed

[2018-05-27 15:34] 0crat commented on #69
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#69, Action: `closed`

[2018-05-27 15:45] yegor256 commented on #63
@rultor release, tag is `0.9.6`

[2018-05-27 15:47] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14650-392341186)

[2018-05-27 15:49] 0crat commented on #69
The job is not in WBS, won't close the order

[2018-05-27 15:49] 0crat commented on #69
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1471541133](https://www.0crat.com/C91QJT4CF/1471541133), Type: "Close job", Author: "yegor256"

[2018-05-27 15:53] rultor commented on #63
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14650-392341186) (took me 5min)

[2018-05-27 16:13] #63 closed

[2018-05-27 16:13] 0crat commented on #63
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#63, Action: `closed`

[2018-05-27 16:13] yegor256 commented on #63
@yv9sjrfadz should be fixed

[2018-05-27 16:28] 0crat commented on #63
The job is not in WBS, won't close the order

[2018-05-27 16:28] 0crat commented on #63
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1471621195](https://www.0crat.com/C91QJT4CF/1471621195), Type: "Close job", Author: "yegor256"

[2018-05-27 16:35] biboran opened #70 "Node refuses to run"
`zold node --invoice 45fc3916b5274ed1` always returns with an error: `ERROR: Wallet doesn't exist, do 'fetch' first (RuntimeError)`

I created the address (`45fc3916b5274ed1`) as specified in the documentation. I did `zold push` with and `zold fetch 45fc3916b5274ed1` with successful returns.

Am I missing something or is it a bug?

[2018-05-27 16:35] 0crat commented on #70
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 16:35] 0crat commented on #70
@biboran[/z](https://www.0crat.com/u/biboran) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-27 16:35] 0crat commented on #70
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 16:35] 0crat commented on #70
@biboran[/z](https://www.0crat.com/u/biboran) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-27 17:09] yegor256 commented on #70
@biboran please, post your full stacktrace

[2018-05-27 17:09] yegor256 opened #71 "Pay: < may only work with Amount"
[code]

[2018-05-27 17:17] #71 closed

[2018-05-27 17:18] 0crat commented on #71
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#71, Action: `closed`

[2018-05-27 17:29] biboran commented on #70
@yegor256 I am using a CLI and that's all I'm getting, no stacktrace.

[2018-05-27 17:32] 0crat commented on #71
The job is not in WBS, won't close the order

[2018-05-27 17:33] 0crat commented on #71
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1471728141](https://www.0crat.com/C91QJT4CF/1471728141), Type: "Close job", Author: "yegor256"

[2018-05-27 17:35] 0pdd opened #72 "wallets.rb:35-37: Let's make it smarter. Instead of..."
The puzzle `70-ffaafc4f` from #70 has to be resolved:

https://github.com/zerocracy/zold/blob/b68f9de77c08a3ab7fd4ce472c916c75ccdeb5f2/lib/zold/wallets.rb#L35-L37

The puzzle was created by Yegor Bugayenko on 27-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle

[2018-05-27 17:35] 0pdd commented on #70
@biboran the puzzle [#72](https://github.com/zerocracy/zold/issues/72) is still not solved.

[2018-05-27 17:35] yegor256 commented on #70
@biboran use `--trace` option. But I think it's fixed now: b68f9de

[2018-05-27 17:35] yegor256 commented on #70
@rultor release, tag is `0.9.7`

[2018-05-27 17:36] 0crat commented on #72
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#72, Action: `labeled`

[2018-05-27 17:36] 0crat commented on #72
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 17:36] 0crat commented on #72
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#72, Action: `opened`

[2018-05-27 17:36] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14651-392349808)

[2018-05-27 17:36] 0crat commented on #72
Job [#72](https://github.com/zerocracy/zold/issues/72) is now in scope, role is `DEV`

[2018-05-27 17:52] yegor256 commented on #70
@biboran check version 0.9.7, should work

[2018-05-27 17:57] yegor256 opened #73 "pay.rb has a broken check for balance"
Let's fix

[2018-05-27 17:59] yegor256 commented on #73
@rultor release, tag is `0.9.8`

[2018-05-27 17:59] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14652-392351158)

[2018-05-27 18:05] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14652-392351158) (took me 5min)

[2018-05-27 18:09] #73 closed

[2018-05-27 18:09] 0crat commented on #73
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#73, Action: `closed`

[2018-05-27 18:10] yegor256 opened #74 "keep recent copy in "copies""
Let's keep recently stable version of the wallet in `copies`. When we merge, we save it. When we push, we save it. Then, when we do `show` -- we can see which one is still not pushed to the net.

[2018-05-27 18:10] 0crat commented on #74
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#74, Action: `assigned`

[2018-05-27 18:10] 0crat commented on #74
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#74, Action: `assigned`

[2018-05-27 18:11] 0crat commented on #74
The job [#74](https://github.com/zerocracy/zold/issues/74) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1471821711); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-05-27 19:13] g4s8 opened #75 "Double spending"
How to prevent double spending without general ledger? User has X Zold, he can send and push X Zold to wallet-1 using node-1 then delete last transaction and send same amount to wallet-2 using node-2, all these operations user can do in a few seconds, so wallet-2 will receive X Zold and wallet-1 also will receive X Zold

Usually blockchain solves these issues, but looks like Zold doesn't have it.

[2018-05-27 19:13] 0crat commented on #75
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 19:13] 0crat commented on #75
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-27 19:13] 0crat commented on #75
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 19:13] 0crat commented on #75
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-27 19:14] biboran commented on #70
@yegor256 that seems to fix it.

[2018-05-27 19:14] #70 closed

[2018-05-27 19:14] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#70, Action: `closed`

[2018-05-27 19:19] biboran opened #76 "Zold commands fail after launching node for the first time"
After running `zold node --invoice 45fc3916b5274ed1 --threads 1` successfully, other commands now fail with the same error even if I stop the node. Here is a sample output for `zold --trace show`:
[code]

[2018-05-27 19:29] 0crat commented on #70
The job is not in WBS, won't close the order

[2018-05-27 19:30] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1471927700](https://www.0crat.com/C91QJT4CF/1471927700), Type: "Close job", Author: "biboran"

[2018-05-27 20:36] 0crat commented on #72
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#72](https://github.com/zerocracy/zold/issues/72); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-28 05:55] yegor256 commented on #76
@rultor release, tag is `0.9.9`

[2018-05-28 05:57] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14654-392426689)

[2018-05-28 06:00] yegor256 opened #77 "keep scores on disc and restore on start"
Let's save scores to a temporary file and restore them back on `node` restart. Now, on each restart we simply lose everything. Would be better to preserve earlier found scores.

[2018-05-28 06:00] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#77, Action: `assigned`

[2018-05-28 06:00] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/zold#77, Action: `assigned`

[2018-05-28 06:01] 0crat commented on #77
Job [#77](https://github.com/zerocracy/zold/issues/77) is now in scope, role is `DEV`

[2018-05-28 06:01] 0crat commented on #77
Job [#77](https://github.com/zerocracy/zold/issues/77) is already in scope

[2018-05-28 06:02] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14654-392426689) (took me 5min)

[2018-05-28 06:08] yegor256 commented on #76
@biboran try 0.9.9, the problem should disappear

[2018-05-28 06:08] 0pdd opened #78 "wallets.rb:35-37: Let's make it smarter. Instead of..."
The puzzle `70-ffaafc4f` from #70 has to be resolved:

https://github.com/yegor256/zold/blob/032d3106a5f3773c61da17a6d165c2d33b7b84ab/lib/zold/wallets.rb#L35-L37

The puzzle was created by Yegor Bugayenko on 28-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle i

[2018-05-28 06:08] 0pdd commented on #70
@biboran the puzzle [#78](https://github.com/yegor256/zold/issues/78) is still not solved.

[2018-05-28 06:08] 0crat commented on #78
I'm not managing `yegor256/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2018-05-28 06:09] 0crat commented on #78
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/yegor256/zold/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `yegor256/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0c

[2018-05-28 06:09] rultor commented on #70
@biboran @yegor256 Invalid release tag `0.9.7` specified. There is already a release `0.9.9` newer than the given release in this repository.

[2018-05-28 06:09] rultor commented on #70
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-05-28 06:10] biboran commented on #76
@yegor256 seems to be working

[2018-05-28 06:10] #76 closed

[2018-05-28 06:11] 0crat commented on #76
I'm not managing `yegor256/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2018-05-28 06:12] rultor commented on #76
@biboran @yegor256 Invalid release tag `0.9.9` specified. There is already a release `0.9.9` newer than the given release in this repository.

[2018-05-28 06:12] rultor commented on #76
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-05-28 06:28] yegor256 opened #79 "notify about taxes after each PAY"
Let's notify the user about the situation with taxes in the wallet, after each PAY operation.

[2018-05-28 06:28] 0crat commented on #79
@yegor256[/z](https://www.0crat.com/u/yegor256) I'm not managing this repo, remove the [webhook](https://github.com/yegor256/zold/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `yegor256/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https:

[2018-05-28 06:30] 0crat commented on #79
Job [#79](https://github.com/yegor256/zold/issues/79) is now in scope, role is `DEV`

[2018-05-28 06:30] 0crat commented on #79
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 06:35] 0crat commented on #79
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/zold/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 07:02] yegor256 opened #80 "regularly do REMOTE UPDATE"
A node must regularly check all remote nodes with `remote update` to notify about oneself and update ranks.

[2018-05-28 07:05] 0crat commented on #80
The job [#80](https://github.com/yegor256/zold/issues/80) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1480740812); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-05-28 07:06] 0crat commented on #80
Job `gh:yegor256/zold#80` already assigned to @yegor256, can't assign to @yegor256

[2018-05-28 07:06] 0crat commented on #80
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 07:06] 0crat commented on #80
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 07:06] 0crat commented on #80
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 07:29] yegor256 opened #81 "http.rb needs a better implementation"
Let's implement it with something more low-level. Now it's very difficult to configure. For example, timeout doesn't work and sometimes it stays waiting for a minute before throwing an exception. I'm not sure, but most likely Ruby has some other HTTP client, which is better.

Sometimes we are even getting this one:

[code]

[2018-05-28 07:30] 0crat commented on #81
Job [#81](https://github.com/yegor256/zold/issues/81) is now in scope, role is `DEV`

[2018-05-28 07:30] 0crat commented on #81
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 07:33] yegor256 commented on #75
@g4s8 it's better to split problems into tickets. As for the "double spending" problem, did you check the subsection "Double spending attack" in the white paper?

[2018-05-28 07:34] yegor256 commented on #74
@0crat in

[2018-05-28 07:35] 0crat commented on #74
@yegor256 Job [#74](https://github.com/yegor256/zold/issues/74) is now in scope, role is `DEV`

[2018-05-28 07:35] yegor256 commented on #77
@0crat in

[2018-05-28 07:35] 0crat commented on #74
@yegor256 The job [#74](https://github.com/yegor256/zold/issues/74) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1480772939); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-05-28 07:35] 0crat commented on #74
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 07:35] 0crat commented on #77
@yegor256 Job [#77](https://github.com/yegor256/zold/issues/77) is now in scope, role is `DEV`

[2018-05-28 07:37] 0crat commented on #77
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 08:21] biboran opened #82 "Zold node cli command lacks feedback"
`zold node` cli command should have some sort of continuous or queryable feedback. Right now it's not clear if launching `zold node` is sufficient to be a participant in the network (yegor256/zold/issues/80) and what progress in security rating computation or taxes collection is achieved.

[2018-05-28 08:21] 0crat commented on #82
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-28 08:21] 0crat commented on #82
@biboran[/z](https://www.0crat.com/u/biboran) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-28 08:37] 0crat commented on #81
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/zold/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 08:37] 0crat commented on #77
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#77](https://github.com/yegor256/zold/issues/77); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 11:00] yegor256 opened #83 "redirect to different logos"
When `favicon.ico` is requested, we redirect to `https://www.zold.io/logo.png`. Instead, let's check the current score and redirect to `logo-green.png` (score >= 16), `logo-orange.png` (score >= 4) and `logo-red.png` (otherwise), depending on the value.

[2018-05-28 11:00] 0crat commented on #83
Job [#83](https://github.com/yegor256/zold/issues/83) is now in scope, role is `DEV`

[2018-05-28 11:01] yegor256 commented on #82
@biboran make sense, thanks, we should add more logs there

[2018-05-28 11:01] 0crat commented on #83
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:01] 0crat commented on #82
The job [#82](https://github.com/yegor256/zold/issues/82) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1481146036); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-05-28 11:02] 0crat commented on #82
Job `gh:yegor256/zold#82` already assigned to @yegor256, can't assign to @yegor256

[2018-05-28 11:02] 0crat commented on #82
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @biboran[/z](https://www.0crat.com/u/biboran)

[2018-05-28 11:02] 0crat commented on #82
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:03] yegor256 commented on #78
@0crat in

[2018-05-28 11:04] yegor256 commented on #72
@0crat in

[2018-05-28 11:04] 0crat commented on #78
@yegor256 Job [#78](https://github.com/yegor256/zold/issues/78) is now in scope, role is `DEV`

[2018-05-28 11:04] 0crat commented on #72
@yegor256 Job [#72](https://github.com/yegor256/zold/issues/72) is now in scope, role is `DEV`

[2018-05-28 11:36] 0crat commented on #83
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#83](https://github.com/yegor256/zold/issues/83); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 11:36] 0crat commented on #78
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#78](https://github.com/yegor256/zold/issues/78); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 11:36] 0crat commented on #72
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#72](https://github.com/yegor256/zold/issues/72); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 11:42] yegor256 opened #84 "validate SCORE invoice for each tax payment"
Let's make sure the invoice from each tax payment matches the transaction details.

[2018-05-28 11:43] 0crat commented on #84
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:43] 0crat commented on #84
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:44] yegor256 opened #85 "show network name if it's not "zold""
Let's show network name everywhere, if it's not `zold`

[2018-05-28 11:48] 0crat commented on #85
Job [#85](https://github.com/yegor256/zold/issues/85) is now in scope, role is `DEV`

[2018-05-28 11:49] 0crat commented on #85
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:51] yegor256 opened #86 "GZIP all traffic"
Let's use GZIP for all inbound and outbound traffic.

[2018-05-28 11:58] yegor256 opened #87 "validate public key on merge"
When we merge, let's make sure the public key matches.

[2018-05-28 11:58] 0crat commented on #86
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 12:02] 0crat commented on #87
Job [#87](https://github.com/yegor256/zold/issues/87) is now in scope, role is `DEV`

[2018-05-28 12:02] 0crat commented on #87
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 12:37] 0crat commented on #84
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#84](https://github.com/yegor256/zold/issues/84); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 12:37] 0crat commented on #85
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#85](https://github.com/yegor256/zold/issues/85); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 12:37] 0crat commented on #86
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#86](https://github.com/yegor256/zold/issues/86); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 12:37] 0crat commented on #87
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#87](https://github.com/yegor256/zold/issues/87); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 13:13] theautobot opened #88 "public info about Zold network"
make information about zold nodes public. online nodes, their scores, etc.

[2018-05-28 13:13] 0crat commented on #88
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-28 13:13] 0crat commented on #88
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-28 13:26] 0crat commented on #64
The job [#64](https://github.com/yegor256/zold/issues/64) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1481329461); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-05-28 13:26] 0crat commented on #64
Job `gh:yegor256/zold#64` already assigned to @yegor256, can't assign to @yegor256

[2018-05-28 13:27] 0crat commented on #64
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 13:27] 0crat commented on #64
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 13:27] 0crat commented on #64
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 13:44] 0pdd opened #89 ".rubocop.yml:33-36: Let's get rid of this and find a way..."
The puzzle `64-220d800a` from #64 has to be resolved:

https://github.com/yegor256/zold/blob/9ad2c56c7970832d621e17e47a45769a08d7e84c/.rubocop.yml#L33-L36

The puzzle was created by Yegor Bugayenko on 28-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _remo

[2018-05-28 13:44] 0crat commented on #89
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-28 13:44] 0crat commented on #89
Job [#89](https://github.com/yegor256/zold/issues/89) is now in scope, role is `DEV`

[2018-05-28 14:02] yegor256 commented on #64
@rultor release, tag is `0.9.10`

[2018-05-28 14:03] rultor commented on #64
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14661-392535537)

[2018-05-28 14:03] rultor commented on #64
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14661-392535537) (spent 18s)

[code]

[2018-05-28 14:13] yegor256 commented on #64
@rultor release, tag is `0.9.10`

[2018-05-28 14:16] rultor commented on #64
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14661-392538205)

[2018-05-28 14:19] rultor commented on #64
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14661-392538205) (spent 3min)

[code]

[2018-05-28 14:28] rultor commented on #64
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14661-392540778) (spent 3min)

[code]

[2018-05-28 14:33] yegor256 commented on #64
@rultor release, tag is `0.9.10`

[2018-05-28 14:35] rultor commented on #64
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14661-392542832)

[2018-05-28 14:36] 0crat commented on #89
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#89](https://github.com/yegor256/zold/issues/89); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-28 14:41] rultor commented on #64
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14661-392542832) (took me 5min)

[2018-05-28 19:18] biboran opened #90 "Remote update fails"
Calling `zold --trace remote update` on a version **0.9.10** produces an unexpected error:
[code]

[2018-05-28 19:18] 0crat commented on #90
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-28 19:18] 0crat commented on #90
@biboran[/z](https://www.0crat.com/u/biboran) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-28 19:27] #64 closed

[2018-05-28 19:27] rultor commented on #80
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14668-392590743)

[2018-05-28 19:33] rultor commented on #80
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14668-392590743) (took me 5min)

[2018-05-28 19:44] 0crat commented on #64
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 19:44] 0crat commented on #64
The job [#64](https://github.com/yegor256/zold/issues/64) is now out of scope

[2018-05-28 19:46] yegor256 commented on #90
@biboran can you reproduce it with 0.9.11? (just released)

[2018-05-28 19:47] #80 closed

[2018-05-28 19:49] biboran commented on #90
@yegor256 no longer reproduces

[2018-05-28 19:49] #90 closed

[2018-05-28 20:05] 0crat commented on #80
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 20:05] 0crat commented on #80
The job [#80](https://github.com/yegor256/zold/issues/80) is now out of scope

[2018-05-28 20:05] 0crat commented on #90
The job is not in WBS, won't close the order

[2018-05-28 21:18] yegor256 commented on #88
@rultor release, tag is `0.10`

[2018-05-28 21:19] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14671-392604849)

[2018-05-28 21:26] yegor256 commented on #88
@rultor release, tag is `0.10.1`

[2018-05-28 21:29] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14671-392605761)

[2018-05-28 21:35] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14671-392605761) (took me 5min)

[2018-05-29 04:56] yegor256 commented on #88
@rultor release, tag is `0.10.2`

[2018-05-29 04:58] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14671-392652749)

[2018-05-29 05:03] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14671-392652749) (took me 5min)

[2018-05-29 05:09] yegor256 commented on #88
@rultor release, tag is `0.10.3`

[2018-05-29 05:10] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14671-392654336)

[2018-05-29 05:16] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14671-392654336) (took me 5min)

[2018-05-29 10:25] vizotov opened #91 "The defence from analogue of the 51% attack will not work."
Quotation from the "White paper":

"but a fetching node may always re-validate the entire wallet, by checking RSA signatures of all transactions".

This will not save from 51% attack, because the attack will be made for those who want to double spent his money.
Thus, all transactions will be signed properly.

In the Zold the situation with 51% attack is significant worse, than in the Bitcoin.
In t

[2018-05-29 14:22] yegor256 commented on #91
@vizotov keep in mind that during MERGE we summarize all scores of all nodes. Thus, your single powerful server will only be able to create a single score. While other nodes will have bigger cumulative score.

[2018-05-29 14:23] yegor256 opened #92 "No such file or directory in "copies.rb""
[code]

[2018-05-29 14:27] yegor256 commented on #92
@rultor release, tag is `0.10.4`

[2018-05-29 14:35] rultor commented on #92
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14676-392796689) (took me 6min)

[2018-05-29 14:38] #92 closed

[2018-05-29 14:38] yegor256 opened #93 "File is absent in wallet.rb"
[code]

[2018-05-29 14:49] yegor256 commented on #93
@rultor release, tag is `0.10.5`

[2018-05-29 14:51] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14678-392804810)

[2018-05-29 14:54] 0crat commented on #92
The job is not in WBS, won't close the order

[2018-05-29 14:58] rultor commented on #93
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14678-392804810) (took me 6min)

[2018-05-29 15:08] #93 closed

[2018-05-29 19:16] rultor commented on #87
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14684-392903232) (took me 6min)

[2018-05-29 19:18] #87 closed

[2018-05-29 19:27] yegor256 opened #94 "NPE in copies"
[code]

[2018-05-29 19:32] yegor256 commented on #94
@rultor release, tag is `0.10.7`

[2018-05-29 19:32] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14685-392913440)

[2018-05-29 19:38] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14685-392913440) (took me 5min)

[2018-05-29 19:39] #94 closed

[2018-05-29 20:12] g4s8 opened #95 "Check wallet ballance without ledger"
How to validate that a wallet has required amount of Zold to send to another wallet? User can create two wallets then create and sign a transaction from wallet-1 to wallet-2 with X amount of Zold (without pushing) then send from wallet-2 to some other wallet X Zold and push it. To prevent it all nodes should know about each wallet in system, but there is no general ledger here.

[2018-05-29 20:12] g4s8 commented on #75
@yegor256 yes, but it says:

other one, and one of the transactions will be rejected from the wallet, after
a number of merge operations in all nodes of the network.

I think it assumes that each node should know about each wallet and each transaction, or am I wrong? If yes, it also looks like "general ledger" just structured in other way.

[2018-05-29 20:16] yegor256 opened #96 "total score approximation"
Let's teach each node to calculate the total score of all remotes and then return it when a wallet is fetched. Then, the client should put all those numbers together and calculate the approximate total of the entire network. Then, the client should inform the client of whether the wallet is trustable or not.

[2018-05-29 20:17] yegor256 commented on #95
@g4s8 in order to make sure the a wallet has enough money you have to `pull` it and make sure the summary score you get after pulling is "big enough". In other words, it's up to you either to trust the wallet or not. In the future we will introduce a total score calculation: #96. The system will tell you how trustable is the wallet. Make sense?

[2018-05-29 20:18] yegor256 commented on #91
@vizotov yes, all nodes will try to keep all wallet files. Of course, not all of them will manage to do that, but they will try to.

[2018-05-29 20:31] yegor256 opened #97 "push takes too long on the server"
Let's make it async

[2018-05-29 20:43] yegor256 commented on #97
@rultor release, tag is `0.10.8`

[2018-05-29 20:45] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14689-392937162)

[2018-05-29 20:50] rultor commented on #97
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14689-392937162) (spent 5min)

[code]

[2018-05-29 21:13] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/zold#95, Action: `opened`

[2018-05-29 21:29] yegor256 commented on #97
@rultor release, tag is `0.10.8`

[2018-05-29 21:32] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14689-392951650)

[2018-05-29 21:37] rultor commented on #97
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14689-392951650) (took me 5min)

[2018-05-29 21:41] #97 closed

[2018-05-29 21:57] 0crat commented on #97
The job is not in WBS, won't close the order

[2018-05-29 22:20] 0crat commented on #87
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/zold#87, Action: `closed`

[2018-05-30 05:33] 0crat commented on #94
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/zold#94, Action: `opened`

[2018-05-30 05:45] 0crat commented on #97
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/zold#97, Action: `opened`

[2018-05-30 05:47] 0crat commented on #94
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/zold#94, Action: `closed`

[2018-05-30 07:32] 0crat commented on #93
The job is not in WBS, won't close the order

[2018-05-30 07:37] 0crat commented on #96
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#96](https://github.com/yegor256/zold/issues/96); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-30 07:47] vizotov commented on #91
@yegor256, OK. This will solve the problem.

[2018-05-30 07:47] #91 closed

[2018-05-30 08:03] 0crat commented on #91
The job is not in WBS, won't close the order

[2018-05-30 13:15] yegor256 opened #98 "dry-types"
Let's get rid of type checks everywhere in the code and migrate to http://dry-rb.org/gems/dry-types/ (or similar solution)

[2018-05-30 13:15] 0crat commented on #98
Job [#98](https://github.com/yegor256/zold/issues/98) is now in scope, role is `DEV`

[2018-05-30 13:15] 0crat commented on #98
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 13:38] 0crat commented on #98
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#98](https://github.com/yegor256/zold/issues/98); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-30 15:30] yegor256 opened #99 "malware threat"
What if we change the code (intentionally or by mistake) and our users will lose their ZLD? Let's explain this situation in the White Paper and find a reasonable answer.

[2018-05-30 15:31] 0crat commented on #99
Job [#99](https://github.com/yegor256/zold/issues/99) is now in scope, role is `DEV`

[2018-05-30 15:32] 0crat commented on #99
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 17:17] biboran opened #100 "Wrap zold node functionality in a docker container"
Running a `zold node` as a `gem` may be error prone and platform dependent. Wrapping `zold node` functionality in a docker container would minimize the amount of errors imposed by package manager and simplify the deployment of the node.

[2018-05-30 17:17] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 17:17] 0crat commented on #100
@biboran[/z](https://www.0crat.com/u/biboran) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-30 18:55] silverbonegg opened #101 "Can't install zold"
Below is transcript from my putty session.  Any ideas? Thanks!

root@ubuntu-c-1vcpu-2gb-nyc3-01:~# gem install zold
Building native extensions.  This could take a while...
ERROR:  Error installing zold:
        ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/gherkin-2.12.2/ext/gherkin_lexer_ar
/usr/bin/ruby2.3 -r ./siteconf20180530-6894-1nhgbz.rb extco

[2018-05-30 18:55] 0crat commented on #101
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 18:55] 0crat commented on #101
@silverbonegg[/z](https://www.0crat.com/u/silverbonegg) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-30 19:37] 0crat commented on #99
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#99](https://github.com/yegor256/zold/issues/99); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [

[2018-05-30 20:08] #101 closed

[2018-05-30 21:07] 0crat commented on #100
Job [#100](https://github.com/yegor256/zold/issues/100) is now in scope, role is `DEV`

[2018-05-30 21:07] yegor256 opened #102 "routine REMOTE UPDATE doesn't work"
Let's fix

[2018-05-30 21:07] 0crat commented on #100
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @biboran[/z](https://www.0crat.com/u/biboran)

[2018-05-30 21:14] yegor256 commented on #102
@rultor release, tag is `0.10.9`

[2018-05-30 21:17] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14709-393321558)

[2018-05-30 21:37] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#100](https://github.com/yegor256/zold/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-30 21:41] 0crat commented on #102
The job is not in WBS, won't close the order

[2018-05-31 04:23] yegor256 opened #103 "Show Linux PID in JSON"
Let's show it

[2018-05-31 04:27] #103 closed

[2018-05-31 04:38] yegor256 commented on #75
@g4s8 yes, it is a "general ledger", but it's spread among many files. And it's very possible that not all nodes will keep all wallets on board. It's not necessary and won't happen often.

[2018-05-31 04:43] 0crat commented on #103
The job is not in WBS, won't close the order

[2018-05-31 04:54] yegor256 opened #104 "show CPU count in front JSON"
https://stackoverflow.com/questions/891537/detect-number-of-cpus-installed

[2018-05-31 04:56] #104 closed

[2018-05-31 05:10] yegor256 commented on #104
@rultor release, tag is `0.10.10`

[2018-05-31 05:11] rultor commented on #104
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14713-393405249)

[2018-05-31 05:12] 0crat commented on #104
The job is not in WBS, won't close the order

[2018-05-31 05:51] yegor256 opened #105 "score.rb and farm.rb rewrite in C++"
Let's rewrite score calculation module in C++. Our current implementation, even though it's multi-threaded, is using only a single CPU core, due to Ruby limitations: https://stackoverflow.com/questions/26579532/ruby-how-to-thread-across-cores-processors

[2018-05-31 05:51] 0crat commented on #105
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/zold#105, Action: `labeled`

[2018-05-31 05:51] 0crat commented on #105
Job [#105](https://github.com/yegor256/zold/issues/105) is now in scope, role is `DEV`

[2018-05-31 05:52] 0crat commented on #105
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 05:52] yegor256 opened #106 "report bugs from threads"
Now they quitely fail.

[2018-05-31 05:53] 0crat commented on #106
The job [#106](https://github.com/yegor256/zold/issues/106) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1510597213); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-31 05:56] 0crat commented on #106
Job `gh:yegor256/zold#106` already assigned to @yegor256, can't assign to @yegor256

[2018-05-31 05:57] 0crat commented on #106
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 05:57] 0crat commented on #106
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 05:57] 0crat commented on #106
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 06:51] inem opened #107 "Shouldn't stuff like rubocop & cucumber be in development dependencies in gemspec?"

[2018-05-31 06:51] 0crat commented on #107
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 06:51] 0crat commented on #107
@inem[/z](https://www.0crat.com/u/inem) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-31 07:08] yegor256 opened #108 "DDoS attack"
Let's explain it in the White Paper.

[2018-05-31 07:09] 0crat commented on #108
The job [#108](https://github.com/yegor256/zold/issues/108) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C91QJT4CF/1510755411); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-31 07:10] 0crat commented on #108
Job `gh:yegor256/zold#108` already assigned to @yegor256, can't assign to @yegor256

[2018-05-31 07:10] 0crat commented on #108
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 07:10] 0crat commented on #108
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 07:10] 0crat commented on #108
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 07:13] yegor256 commented on #106
@rultor release, tag is `0.10.11`

[2018-05-31 07:15] rultor commented on #106
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14715-393432236)

[2018-05-31 07:26] amihaiemil opened #109 "Test coverage is not calculated correctly"
Apparently, the current test coverage is 37% -- this is unacceptable, especially for a crypto-currency system.

[2018-05-31 07:32] yegor256 opened #110 "typo in routine update"
Let's fix

[2018-05-31 07:34] yegor256 commented on #110
@rultor release, tag is `0.10.12`

[2018-05-31 07:37] rultor commented on #110
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14716-393437951)

[2018-05-31 07:41] amihaiemil opened #111 "ZLD capacity"
The whitepaper says the following:

[code]

How did you come up with ``2,147,483,684 ZLD``? The paragraph doesn't say *how many* 64-bit integers? Or am I missing something?

[2018-05-31 07:41] 0crat commented on #111
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 07:41] 0crat commented on #111
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-31 07:42] rultor commented on #110
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14716-393437951) (took me 4min)

[2018-05-31 07:45] 0crat commented on #106
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 07:45] 0crat commented on #106
The job [#106](https://github.com/yegor256/zold/issues/106) is now out of scope

[2018-05-31 07:45] #110 closed

[2018-05-31 07:55] amihaiemil opened #112 "Proof of work paragraph"
In the whitepaper, at the "Proof of work" section, there is the following paragraph:

[code]

Are you sure you understood Nakamoto's paper correctly? Who says that, if some data is correupted, the amount of invested CPU power is smaller? Why is that, why couldn't it be higher? Let's say the node could take more time/power to realize that its data is corrupted and doesn't lead to a valid result.

A

[2018-05-31 07:55] 0crat commented on #112
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 07:55] 0crat commented on #112
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-31 08:01] 0crat commented on #110
The job is not in WBS, won't close the order

[2018-05-31 08:18] yegor256 opened #113 "Digest::Base cannot be directly inherited in Ruby"
[code]

[2018-05-31 08:20] 0crat commented on #113
Job [#113](https://github.com/yegor256/zold/issues/113) is now in scope, role is `DEV`

[2018-05-31 08:20] 0crat commented on #113
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 10:37] 0crat commented on #105
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#105](https://github.com/yegor256/zold/issues/105); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-31 10:37] 0crat commented on #113
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#113](https://github.com/yegor256/zold/issues/113); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-31 15:39] yegor256 opened #115 "auto detection of new nodes doesn't work"
Let's fix

[2018-05-31 15:52] yegor256 commented on #115
@rultor release, tag is `0.10.13`

[2018-05-31 15:54] g4s8 opened #116 "Remote command is not working"
`zold --help` shows:
[code]
but command `remote` is not working or not documented:
[code]

[2018-05-31 15:55] 0crat commented on #116
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 15:55] 0crat commented on #116
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C91QJT4CF) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-31 15:55] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14723-393578824)

[2018-05-31 16:02] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14723-393578824) (took me 6min)

[2018-05-31 16:07] #115 closed

[2018-05-31 16:48] yegor256 commented on #77
@rultor release, tag is `0.10.14`

[2018-05-31 16:52] rultor commented on #77
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14724-393598092)

[2018-05-31 16:56] rultor commented on #77
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14724-393598092) (took me 4min)

[2018-05-31 16:59] #77 closed

[2018-05-31 16:59] yegor256 commented on #116
@g4s8 try `zold remote --help`

[2018-05-31 17:01] yegor256 commented on #111
@amihaiemil 2^63 / 2^32 = 2^31, which is 2 billion

[2018-05-31 17:01] #111 closed

[2018-05-31 17:02] 0crat commented on #116
Job [#116](https://github.com/yegor256/zold/issues/116) is now in scope, role is `DEV`

[2018-05-31 17:06] yegor256 commented on #109
@amihaiemil I believe there is something wrong with the coverage calculation. Take a look at this class: https://codecov.io/gh/yegor256/zold/src/master/lib/zold/hexnum.rb It's not covered, according to the report. But in reality it is, since we have `test_hexnum.rb`. Let's fix the calculator, not the coverage.

[2018-05-31 17:09] 0crat commented on #116
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-31 17:10] 0crat commented on #109
Job [#109](https://github.com/yegor256/zold/issues/109) is now in scope, role is `DEV`

[2018-05-31 17:18] 0crat commented on #109
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-31 17:18] 0crat commented on #77
The job [#77](https://github.com/yegor256/zold/issues/77) is now out of scope

[2018-05-31 17:19] 0crat commented on #111
The job is not in WBS, won't close the order

[2018-05-31 17:27] yegor256 opened #118 "empty farm is broken"
Score parts are wrong.

[2018-05-31 17:28] yegor256 commented on #118
@rultor release, tag is `0.10.15`

[2018-05-31 17:29] rultor commented on #118
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14725-393610199)

[2018-05-31 17:29] g4s8 commented on #116
@yegor256 thanks, it's working

[2018-05-31 17:29] 0crat commented on #116
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 17:30] g4s8 commented on #116
@yegor256 maybe it's better to show this message (`try zold remote --help`) instead of `RuntimeError`?

[2018-05-31 17:33] rultor commented on #118
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14725-393610199) (took me 4min)

[2018-05-31 17:39] #118 closed

[2018-05-31 17:45] 0crat commented on #116
The job [#116](https://github.com/yegor256/zold/issues/116) is now out of scope

[2018-05-31 17:56] 0crat commented on #118
The job is not in WBS, won't close the order

[2018-05-31 18:37] 0crat commented on #109
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#109](https://github.com/yegor256/zold/issues/109); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-06-01 16:28] yegor256 opened #120 "show more logs on incoming HTTP requests"
Let's show more, to understand what's going on

[2018-06-01 16:36] yegor256 commented on #120
@rultor release, tag is `0.10.16`

[2018-06-01 16:38] rultor commented on #120
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14736-393937417)

[2018-06-01 16:45] rultor commented on #120
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14736-393937417) (took me 7min)

[2018-06-02 04:35] #120 closed

[2018-06-02 04:35] yegor256 opened #122 "scores don't expire in farm"
Let's fix

[2018-06-02 04:50] 0crat commented on #120
The job is not in WBS, won't close the order

[2018-06-02 06:08] yegor256 commented on #122
@rultor release, tag is `0.10.17`

[2018-06-02 06:10] rultor commented on #122
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14746-394061934)

[2018-06-02 06:15] rultor commented on #122
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14746-394061934) (took me 5min)

[2018-06-02 06:31] theautobot opened #123 "how to get Zold info"
somewhere in public we need information on how to get zold

[2018-06-02 06:32] 0crat commented on #123
@theautobot[/z](https://www.0crat.com/u/theautobot) I'm not managing this repo, remove the [webhook](https://github.com/zold-io/zold/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `zold-io/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](http

[2018-06-02 08:03] 0pdd opened #124 "wallets.rb:35-37: Let's make it smarter. Instead of..."
The puzzle `70-ffaafc4f` from #70 has to be resolved:

https://github.com/zold-io/zold/blob/d0e304b2142bc0e2e03a9a64a444c90144015762/lib/zold/wallets.rb#L35-L37

The puzzle was created by Yegor Bugayenko on 02-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is

[2018-06-02 08:03] 0pdd opened #125 ".rubocop.yml:35-38: Let's get rid of this and find a way..."
The puzzle `64-220d800a` from #64 has to be resolved:

https://github.com/zold-io/zold/blob/d0e304b2142bc0e2e03a9a64a444c90144015762/.rubocop.yml#L35-L38

The puzzle was created by Yegor Bugayenko on 02-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _remov

[2018-06-02 08:03] 0pdd commented on #64
@yegor256 the puzzle [#125](https://github.com/zold-io/zold/issues/125) is still not solved.

[2018-06-02 08:03] 0pdd commented on #70
@biboran the puzzle [#124](https://github.com/zold-io/zold/issues/124) is still not solved.

[2018-06-02 08:03] 0crat commented on #124
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/zold-io/zold/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `zold-io/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0cra

[2018-06-02 08:03] yegor256 commented on #116
@g4s8 fixed in d0e304b

[2018-06-02 08:04] 0crat commented on #125
I'm not managing `zold-io/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2018-06-02 08:04] 0crat commented on #125
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/zold-io/zold/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `zold-io/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0cra

[2018-06-02 08:04] 0crat commented on #124
I'm not managing `zold-io/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2018-06-02 08:04] rultor commented on #64
@yegor256 Invalid release tag `0.9.10` specified. There is already a release `0.10.17` newer than the given release in this repository.

[2018-06-02 08:04] rultor commented on #64
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-02 08:07] rultor commented on #64
@yegor256 Invalid release tag `0.9.10` specified. There is already a release `0.10.17` newer than the given release in this repository.

[2018-06-02 08:07] rultor commented on #64
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-02 08:09] rultor commented on #64
@yegor256 Invalid release tag `0.9.10` specified. There is already a release `0.10.17` newer than the given release in this repository.

[2018-06-02 08:14] rultor commented on #70
@biboran @yegor256 Invalid release tag `0.9.7` specified. There is already a release `0.10.17` newer than the given release in this repository.

[2018-06-02 08:14] rultor commented on #70
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-02 08:31] yegor256 opened #126 "redeploy"
Let's release from a new repo.

[2018-06-02 08:31] 0crat commented on #126
@yegor256[/z](https://www.0crat.com/u/yegor256) I'm not managing this repo, remove the [webhook](https://github.com/zold-io/zold/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `zold-io/zold` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://

[2018-06-02 08:41] yegor256 commented on #126
@rultor release, tag is `0.10.18`

[2018-06-02 08:41] rultor commented on #126
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14749-394070558)

[2018-06-02 08:47] rultor commented on #126
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14749-394070558) (took me 5min)

[2018-06-02 09:27] #126 closed

[2018-06-02 09:27] yegor256 opened #127 "update doesn't pass the right score"
Let's fix

[2018-06-02 09:37] yegor256 commented on #127
@rultor release, tag is `0.10.19`

[2018-06-02 09:38] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14750-394073841)

[2018-06-02 09:42] 0crat commented on #126
The job is not in WBS, won't close the order

[2018-06-02 09:44] rultor commented on #127
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14750-394073841) (took me 5min)

[2018-06-02 09:46] #127 closed

[2018-06-02 10:02] 0crat commented on #127
The job is not in WBS, won't close the order

[2018-06-02 16:22] g4s8 commented on #116
@yegor256 thanks

[2018-06-02 16:22] #116 closed

[2018-06-02 16:37] 0crat commented on #116
The job is not in WBS, won't close the order

[2018-06-02 18:37] yegor256 opened #128 "REMOTE TRIM"
Let's add a new command `zold remote trim`, which will remove the nodes that are the least available. Let's just remove everyone who has more than 100 errors.

[2018-06-02 18:38] 0crat commented on #128
Job [#128](https://github.com/zold-io/zold/issues/128) is now in scope, role is `DEV`

[2018-06-02 18:38] 0crat commented on #128
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 18:41] 0crat commented on #78
Job [#78](https://github.com/zold-io/zold/issues/78) is now in scope, role is `DEV`

[2018-06-02 18:41] 0crat commented on #125
Job [#125](https://github.com/zold-io/zold/issues/125) is now in scope, role is `DEV`

[2018-06-02 18:41] 0crat commented on #124
Job [#124](https://github.com/zold-io/zold/issues/124) is now in scope, role is `DEV`

[2018-06-02 18:41] 0crat commented on #113
Job [#113](https://github.com/zold-io/zold/issues/113) is now in scope, role is `DEV`

[2018-06-02 18:41] 0crat commented on #113
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 18:41] 0crat commented on #109
Job [#109](https://github.com/zold-io/zold/issues/109) is now in scope, role is `DEV`

[2018-06-02 18:41] 0crat commented on #107
Job [#107](https://github.com/zold-io/zold/issues/107) is now in scope, role is `DEV`

[2018-06-02 18:42] 0crat commented on #109
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-02 18:42] 0crat commented on #107
Thanks for your contribution, @inem[/z](https://www.0crat.com/u/inem)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-06-02 18:42] 0crat commented on #98
Job [#98](https://github.com/zold-io/zold/issues/98) is now in scope, role is `DEV`

[2018-06-02 18:42] 0crat commented on #84
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zold-io/zold#84, Action: `assigned`

[2018-06-02 18:42] 0crat commented on #82
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zold-io/zold#82, Action: `assigned`

[2018-06-02 18:42] 0crat commented on #81
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zold-io/zold#81, Action: `assigned`

[2018-06-02 18:45] 0crat commented on #74
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zold-io/zold#74, Action: `assigned`

[2018-06-02 18:45] 0crat commented on #43
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zold-io/zold#43, Action: `assigned`

[2018-06-02 18:47] #53 closed

[2018-06-02 18:59] 0crat commented on #83
Job [#83](https://github.com/zold-io/zold/issues/83) is already in scope

[2018-06-02 18:59] 0crat commented on #86
Job [#86](https://github.com/zold-io/zold/issues/86) is now in scope, role is `DEV`

[2018-06-02 18:59] 0crat commented on #86
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:00] 0crat commented on #96
Job [#96](https://github.com/zold-io/zold/issues/96) is now in scope, role is `DEV`

[2018-06-02 19:00] 0crat commented on #89
Job [#89](https://github.com/zold-io/zold/issues/89) is now in scope, role is `DEV`

[2018-06-02 19:00] 0crat commented on #85
Job [#85](https://github.com/zold-io/zold/issues/85) is now in scope, role is `DEV`

[2018-06-02 19:01] 0crat commented on #98
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:01] 0crat commented on #96
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:01] 0crat commented on #85
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:22] yegor256 opened #129 "Wallet.open() instead of find()"
Let's change the way we manage a wallet. Instead of `wallet.find()` let's do:

[code]

This will make it possible in the future to keep wallets in the database, see #60

[2018-06-02 19:25] yegor256 opened #130 "UPGRADE"
Let's make it possible to upgrade a wallet to a higher/current version:

[code]

Let's create a directory with "upgrades", which will be `.rb` scripts/classes to modify a wallet file.

[2018-06-02 19:33] yegor256 commented on #123
@theautobot we'll explain it there: https://github.com/zold-io/zold.github.io/issues/2

[2018-06-02 19:33] #123 closed

[2018-06-02 19:38] yegor256 commented on #86
@0crat assign @oltdaniel

[2018-06-02 19:38] yegor256 commented on #83
@0crat assign @oltdaniel

[2018-06-02 19:39] 0crat commented on #86
@yegor256 The job [#86](https://github.com/zold-io/zold/issues/86) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1531940267); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-02 19:39] yegor256 commented on #50
@0crat assign @oltdaniel

[2018-06-02 19:39] 0crat commented on #83
@yegor256 The job [#83](https://github.com/zold-io/zold/issues/83) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1531940288); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-02 19:40] 0crat commented on #86
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:40] 0crat commented on #83
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:40] 0crat commented on #50
@yegor256 The job [#50](https://github.com/zold-io/zold/issues/50) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1531942380); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-02 19:40] 0crat commented on #50
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:40] 0crat commented on #50
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:45] 0crat commented on #50
Job [#50](https://github.com/zold-io/zold/issues/50) is already in scope

[2018-06-02 19:45] 0crat commented on #50
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-06-02 19:45] 0crat commented on #72
Job [#72](https://github.com/zold-io/zold/issues/72) is now in scope, role is `DEV`

[2018-06-02 19:45] 0crat commented on #61
Job [#61](https://github.com/zold-io/zold/issues/61) is now in scope, role is `DEV`

[2018-06-02 19:45] 0crat commented on #61
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:45] 0crat commented on #60
Job [#60](https://github.com/zold-io/zold/issues/60) is now in scope, role is `DEV`

[2018-06-02 19:45] 0crat commented on #59
Job [#59](https://github.com/zold-io/zold/issues/59) is now in scope, role is `DEV`

[2018-06-02 19:46] 0crat commented on #60
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:46] 0crat commented on #57
Job [#57](https://github.com/zold-io/zold/issues/57) is now in scope, role is `DEV`

[2018-06-02 19:46] 0crat commented on #56
Job [#56](https://github.com/zold-io/zold/issues/56) is now in scope, role is `DEV`

[2018-06-02 19:46] 0crat commented on #59
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:46] 0crat commented on #52
Job [#52](https://github.com/zold-io/zold/issues/52) is now in scope, role is `DEV`

[2018-06-02 19:46] 0crat commented on #51
Job [#51](https://github.com/zold-io/zold/issues/51) is now in scope, role is `DEV`

[2018-06-02 19:47] 0crat commented on #57
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:47] 0crat commented on #52
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:47] 0crat commented on #51
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:48] 0crat commented on #55
Job [#55](https://github.com/zold-io/zold/issues/55) is now in scope, role is `DEV`

[2018-06-02 19:49] 0crat commented on #55
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 19:49] 0crat commented on #123
The job is not in WBS, won't close the order

[2018-06-02 20:01] oltdaniel commented on #83
@yegor256 Who will created the different colored logos?

[2018-06-02 20:03] 0crat commented on #53
The job is not in WBS, won't close the order

[2018-06-02 20:29] oltdaniel commented on #50
@yegor256 `X-Zold-If-None-Match` for a clear specification?

[2018-06-02 20:46] yegor256 opened #132 "ping back before adding to remotes"
At the moment, inside `front.rb/before` we add all incoming nodes to the list of remotes, if their score is good enough. This is not safe, since some of them may be not available online, even though may connect to us. Let's do a callback to make sure the node is online. Let's make it the functionality `zold remote add` does by default. When it's called, it validates the node, by pinging it.

We sh

[2018-06-02 20:46] 0crat commented on #132
Job [#132](https://github.com/zold-io/zold/issues/132) is now in scope, role is `DEV`

[2018-06-02 20:46] 0crat commented on #132
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 20:55] yegor256 opened #133 "there is no unit test for regular update"
There is a regular update thread in `node.rb`, which we don't test anyhow. We don't know whether it works or not. Let's create a test.

[2018-06-02 20:56] 0crat commented on #133
Job [#133](https://github.com/zold-io/zold/issues/133) is now in scope, role is `DEV`

[2018-06-02 20:56] 0crat commented on #133
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 20:58] yegor256 opened #134 "remote itself from the list of remotes"
In `node.rb`, when we start a node, we should remove itself from the list of remotes. Let's use `Remotes.new().run(['remote', 'remote'])`.

[2018-06-02 20:58] 0crat commented on #134
Job [#134](https://github.com/zold-io/zold/issues/134) is now in scope, role is `DEV`

[2018-06-02 20:58] 0crat commented on #134
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-03 07:05] ajdevy opened #135 "version "0.10.17" does not auto-update and add itself to remotes list"
Since yesterday 2 June Morning (GMT) I upped a node with the following data, which is still alive:

[code]

The node did not auto-update and add itself to the remotes list. Remotes at the time of issue creation:

[code]

[2018-06-03 07:05] 0crat commented on #135
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-03 07:05] 0crat commented on #135
@ajdevy[/z](https://www.0crat.com/u/ajdevy) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-03 08:40] oltdaniel opened #136 "front - show wallet balance"
Show at `/wallet/:wallet_id:/balance` to current held amount of Zold for the wallet.

[2018-06-03 08:40] 0crat commented on #136
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-03 08:41] oltdaniel opened #137 "front - get all wallets loaded by the node"
Show every wallet in a list at `/wallets`.

[2018-06-03 08:41] 0crat commented on #137
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-03 09:57] oltdaniel opened #138 "51% attack - attacker can delete transactions"
If the attacker owns 51% of the network power, he can delete transactions from the wallets, without signing them with the encryption keys.

**Solution 1:**
Refuse changes to the wallet, if the pushed content is smaller than the one on the node.

**Solution 2:**
Refuse changes, if the `sha256` hash of the wallet, signed by the owner, is different to the current calculated one by the node.

[2018-06-03 09:57] 0crat commented on #138
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-03 18:07] yegor256 commented on #137
@oltdaniel there could be (and will be) thousands of them. I don't think we should show their full list here. What this is for?

[2018-06-03 18:08] 0crat commented on #136
Job [#136](https://github.com/zold-io/zold/issues/136) is now in scope, role is `DEV`

[2018-06-03 18:10] 0crat commented on #136
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-03 18:11] yegor256 commented on #135
@ajdevy how do you start it? Can you show command line text?

[2018-06-03 18:12] yegor256 commented on #138
@oltdaniel let's implement the first solution

[2018-06-03 18:12] 0crat commented on #138
Job [#138](https://github.com/zold-io/zold/issues/138) is now in scope, role is `DEV`

[2018-06-03 18:12] 0crat commented on #138
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-03 18:14] oltdaniel commented on #137
@yegor256 An idea for ranking the addresses, or make it easier for third parties to generate address lists.

[2018-06-03 18:33] yegor256 opened #139 "Remotes.iterate should track slow performance"
Let's track the speed of operations in `Remotes.iterate`. If a remote takes longer than 16 seconds -- it's an error, let's record it.

[2018-06-03 18:34] 0crat commented on #139
Job [#139](https://github.com/zold-io/zold/issues/139) is now in scope, role is `DEV`

[2018-06-03 18:34] 0crat commented on #139
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-03 18:37] 0crat commented on #136
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#136](https://github.com/zold-io/zold/issues/136); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-06-03 18:37] 0crat commented on #138
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#138](https://github.com/zold-io/zold/issues/138); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-06-03 19:08] oltdaniel commented on #86
@yegor256 That would require `use Rack::Deflater` after the following line https://github.com/zold-io/zold/blob/master/lib/zold/node/front.rb#L39

[2018-06-04 07:11] ajdevy commented on #135
the command is started from crontab @reboot entry
"/usr/local/bin/zold node --trace --verbose --invoice=dd3db33775ae3db3 --host=46.23.36.72 --dir=/home/n0n3/"

[2018-06-04 07:12] ajdevy commented on #135
@yegor256

[2018-06-04 09:18] yegor256 opened #140 "SSL"
Let's make it possible to access node entry points over HTTPS.

[2018-06-04 09:20] 0crat commented on #140
Job [#140](https://github.com/zold-io/zold/issues/140) is now in scope, role is `DEV`

[2018-06-04 10:30] yegor256 opened #141 "PUSH random wallets"
A running node must randomly select locally hosted wallets and push them to remotes, in order to spread the data across the network effectively. I guess, we need a new background thread for that. Maybe we should create some background thread manager, since we already have one.

[2018-06-04 11:51] yegor256 opened #142 "all scores are zero in /remotes"
For some reason all remote nodes have zero scores in http://b2.zold.io:4096/remotes

[2018-06-04 18:02] 0crat commented on #142
Job [#142](https://github.com/zold-io/zold/issues/142) is now in scope, role is `DEV`

[2018-06-04 18:03] 0crat commented on #141
Job [#141](https://github.com/zold-io/zold/issues/141) is now in scope, role is `DEV`

[2018-06-04 18:06] 0crat commented on #142
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 18:08] 0crat commented on #141
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 18:27] yegor256 opened #143 "Random awards to nodes"
Let's introduce a new background thread, which will _every hour_ go through the list of remote nodes and pick a random one. Then, it will download its score. If the score is above 16, it will send 1 ZLD to its invoice. The details of the payment will sound like: `Node keeping alive reward:  4.4.4.4:4096`.

Then, when the same invoice is found, we should check the history of transactions within the

[2018-06-04 18:32] 0crat commented on #143
Job [#143](https://github.com/zold-io/zold/issues/143) is now in scope, role is `DEV`

[2018-06-04 18:32] 0crat commented on #143
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 18:37] yegor256 commented on #141
@0crat assign @mulev

[2018-06-04 18:37] yegor256 commented on #139
@0crat assign @mulev

[2018-06-04 18:37] yegor256 commented on #138
@0crat assign @mulev

[2018-06-04 18:40] 0crat commented on #78
The job [#78](https://github.com/zold-io/zold/issues/78) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1551855096); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [thi

[2018-06-04 18:42] 0crat commented on #141
@yegor256 The job [#141](https://github.com/zold-io/zold/issues/141) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1551855108); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-04 18:42] 0crat commented on #139
@yegor256 The job [#139](https://github.com/zold-io/zold/issues/139) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1551856137); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-04 18:45] 0crat commented on #138
@yegor256 The job [#138](https://github.com/zold-io/zold/issues/138) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1551856147); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-04 18:49] 0crat commented on #141
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 18:49] 0crat commented on #139
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 18:51] 0crat commented on #138
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 19:46] yegor256 commented on #61
@0crat assign @oltdaniel

[2018-06-04 19:48] 0crat commented on #61
@yegor256 The job [#61](https://github.com/zold-io/zold/issues/61) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1551966516); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-04 19:49] 0crat commented on #61
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 10:56] vizotov opened #144 "It would be better to use scriyt instead of sha256 for PoW"
It would be better to use *scriyt* instead of *sha256*, because it is much more difficult to make mining parallel. This will avoid a hard division into miners and users, as happened in Bitcoin. For example, scrypt is used in Litecoin.

[2018-06-05 10:57] 0crat commented on #144
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-05 10:57] 0crat commented on #144
@vizotov[/z](https://www.0crat.com/u/vizotov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-05 11:33] yegor256 commented on #144
@vizotov sha256 is much more difficult or scriyt? Can you please provide a link to prove this point. A very good point, actually.

[2018-06-05 11:34] 0crat commented on #125
The job [#125](https://github.com/zold-io/zold/issues/125) assigned to @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1561134158); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-05 11:34] yegor256 commented on #143
@0crat assign @ilyaumanets

[2018-06-05 11:37] 0crat commented on #143
@yegor256 The job [#143](https://github.com/zold-io/zold/issues/143) assigned to @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1561138251); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-06-05 11:39] 0crat commented on #143
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 11:45] 0crat commented on #124
The job [#124](https://github.com/zold-io/zold/issues/124) assigned to @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1561145455); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-05 12:12] oltdaniel commented on #83
@yegor256 Can be closed now

[2018-06-05 12:28] mulev commented on #124
@0crat @yegor256 [@IlyaUmanets](https://github.com/IlyaUmanets) looks like it's a duplicate of [#78](https://github.com/zold-io/zold/issues/78)

[2018-06-05 12:29] 0crat commented on #124
@mulev Can't understand "@yegor256", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of t

[2018-06-05 13:38] yegor256 opened #146 "raise if host name is localhost"
Very often people make a mistake when they start a node, not providing the `--host` argument or simply providing `--host=127.0.0.1`. Let's check the `host` name in `node.rb` and raise an exception if it's `localhost` or `127.0.0.1`.

[2018-06-05 13:39] yegor256 commented on #146
@0crat assign @oltdaniel

[2018-06-05 13:39] 0crat commented on #146
Job [#146](https://github.com/zold-io/zold/issues/146) is now in scope, role is `DEV`

[2018-06-05 13:42] 0crat commented on #146
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 13:43] 0crat commented on #146
@yegor256 The job [#146](https://github.com/zold-io/zold/issues/146) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1561344811); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-05 13:44] 0crat commented on #146
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 14:02] vizotov commented on #144
It contains the sha256 algorithm as a stage. I think it's not much more complicated computationally, but as I understand the scrypt requires a lot of RAM, so it's harder for it to create specialized hardware that speeds up computations by parallelizing. Therefore, mining is available on "normal" hardware.
https://en.wikipedia.org/wiki/Scrypt

[2018-06-05 15:31] DronMDF opened #147 "'zold create' should generate new key pair for each wallet."
Use one key for several wallet is strange...

[code]

[2018-06-05 15:31] 0crat commented on #147
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-05 15:31] 0crat commented on #147
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-05 15:54] DronMDF opened #148 "Wrong b2.zold.io:4096 score"
[code]
....25a3ac515206122f**0000004** <--

If try to check next - I do not see zeros at all

[2018-06-05 15:54] 0crat commented on #148
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-05 15:54] 0crat commented on #148
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-05 16:48] oltdaniel opened #149 "test - fake node instable"
During the tests, I get many `599` errors. Sometimes the test cases work, then some fail cause the fake node is not running completely. We should work on that.

[2018-06-05 16:48] 0crat commented on #149
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-05 17:56] #125 closed

[2018-06-05 17:56] 0pdd commented on #125
The puzzle `64-220d800a` has disappeared from the source code, that's why I closed this issue.

[2018-06-05 17:56] 0pdd commented on #64
@yegor256 the only puzzle [#125](https://github.com/zold-io/zold/issues/125) is solved here.

[2018-06-05 18:12] 0crat commented on #125
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-05 18:13] 0crat commented on #125
The job [#125](https://github.com/zold-io/zold/issues/125) is now out of scope

[2018-06-05 18:21] ypshenychka commented on #125
@IlyaUmanets According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please reference the correpsonding PR in this issue, so everyone's aware in which pull request the problem was solved.

[2018-06-05 19:37] oltdaniel commented on #61
@yegor256 What if the wallet has a single transaction? Still no age

[2018-06-05 19:51] yegor256 commented on #140
@0crat assign @oltdaniel

[2018-06-05 19:52] yegor256 commented on #140
@oltdaniel the trick is to make them both working (HTTP and HTTPS) at the same port

[2018-06-05 19:52] yegor256 commented on #113
@0crat assign @oltdaniel

[2018-06-05 19:52] 0crat commented on #140
@yegor256 The job [#140](https://github.com/zold-io/zold/issues/140) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1561968792); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-05 19:52] yegor256 commented on #134
@0crat assign @oltdaniel

[2018-06-05 19:57] 0crat commented on #140
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 19:58] 0crat commented on #113
@yegor256 The job [#113](https://github.com/zold-io/zold/issues/113) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1561969848); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-05 19:58] 0crat commented on #134
@yegor256 The job [#134](https://github.com/zold-io/zold/issues/134) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1561969861); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-05 20:00] 0crat commented on #113
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 20:00] 0crat commented on #134
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 06:06] vizotov commented on #138
The chosen solution will prevent "double spending" transactions resolution. Nodes with conflicting transactions will stay in a inconsistent state.
IMO, 51% attacker can change data. There is no solutions on it.

[2018-06-06 08:13] yegor256 opened #153 "more flexible versions in gemspec"
Let's ease them a bit

[2018-06-06 08:20] 0crat commented on #149
Job [#149](https://github.com/zold-io/zold/issues/149) is now in scope, role is `DEV`

[2018-06-06 08:20] yegor256 commented on #147
@DronMDF well, it's up to the user what keys to use. For me it's convenient to have same keys for all my wallets. It's out of our control. We give user all necessary instruments to either switch keys or use the same pair.

[2018-06-06 08:20] #147 closed

[2018-06-06 08:21] 0crat commented on #149
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-06 08:31] DronMDF commented on #147
There are options, then ok.
Sorry.

[2018-06-06 08:31] yegor256 commented on #153
@rultor release, tag is `0.10.20`

[2018-06-06 08:33] rultor commented on #153
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14784-394987554)

[2018-06-06 08:36] 0crat commented on #147
The job is not in WBS, won't close the order

[2018-06-06 08:38] rultor commented on #153
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14784-394987554) (took me 5min)

[2018-06-06 08:39] #153 closed

[2018-06-06 08:45] yegor256 opened #154 "heroku deps are broken"
Let's fix

[2018-06-06 08:55] 0crat commented on #153
The job is not in WBS, won't close the order

[2018-06-06 08:59] yegor256 commented on #154
@rultor release, tag is `0.10.21`

[2018-06-06 09:00] rultor commented on #154
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14786-394996717)

[2018-06-06 09:05] rultor commented on #154
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14786-394996717) (took me 5min)

[2018-06-06 09:45] #154 closed

[2018-06-06 09:49] yegor256 opened #155 "background threads are not stable"
I assume that sometimes our background threads (like the one that does `remote update`) fail and stop. We have to find a better more safe way to run background processes and make sure they never stop. Let's investigate and maybe use some existing Ruby gem for that.

[2018-06-06 09:49] yegor256 commented on #155
@0crat assign @oltdaniel

[2018-06-06 09:50] 0crat commented on #155
@yegor256 The job [#155](https://github.com/zold-io/zold/issues/155) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1570951123); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-06 09:50] 0crat commented on #155
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 09:50] 0crat commented on #155
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 09:53] yegor256 opened #156 "/wallet/ID/balance"
Let's add a new JSON RESTful API access point, which will return the balance of the wallet, if it exists. If the wallet doesn't exist, it will return 404.

[2018-06-06 09:54] yegor256 opened #157 "/wallet/ID/pull"
Let's add a new entry point, which will do the `pull` of the wallet and immediately return 202. The operation must be executed in a background thread. Let's make sure those thread don't conflict and are synchronized somehow.

[2018-06-06 09:56] yegor256 opened #158 "/wallet/ID/txns"
Let's add a new JSON RESTful API entry point, which will return wallet transactions. Query arguments:

  * `prefix`: if specified, we should return only those that have this prefix
  * `id_start`: the ID to start from (inclusive)
  * `id_finish`: the ID to finish at (exclusive)
  * `time_start`: the ISO8601 time to start from (inclusive)
  * `time_finish`: the ISO8601 time to finish at (exclusive)

[2018-06-06 09:57] 0crat commented on #158
Job [#158](https://github.com/zold-io/zold/issues/158) is now in scope, role is `DEV`

[2018-06-06 09:57] 0crat commented on #157
Job [#157](https://github.com/zold-io/zold/issues/157) is now in scope, role is `DEV`

[2018-06-06 09:57] 0crat commented on #156
Job [#156](https://github.com/zold-io/zold/issues/156) is now in scope, role is `DEV`

[2018-06-06 09:58] 0crat commented on #158
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 09:58] 0crat commented on #157
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 09:58] 0crat commented on #156
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 10:00] 0crat commented on #154
The job is not in WBS, won't close the order

[2018-06-06 10:11] byzantime opened #159 "Add instructions for Debian to INSTALL.md"
There should be instructions for installing Zold on Debian.

The instructions for Ubuntu / AWS don't adequately cover installation on Debian.

[2018-06-06 10:11] 0crat commented on #159
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-06 10:11] 0crat commented on #159
@byzantime[/z](https://www.0crat.com/u/byzantime) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 10:17] yegor256 commented on #159
@byzantime can you please submit a pull request?

[2018-06-06 10:18] yegor256 opened #160 "less version restrictions"
Let's make less of them

[2018-06-06 10:20] byzantime commented on #159
@yegor256 absolutely.  Was going to submit a PR but thought maybe I need to create an issue first.

[2018-06-06 10:26] yegor256 commented on #160
@rultor release, tag is `0.10.22`

[2018-06-06 10:39] yegor256 commented on #160
@rultor release, tag is `0.10.22`

[2018-06-06 10:47] rultor commented on #160
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14787-395023668)

[2018-06-06 10:52] rultor commented on #160
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14787-395023668) (took me 4min)

[2018-06-06 10:52] #160 closed

[2018-06-06 11:08] 0crat commented on #160
The job is not in WBS, won't close the order

[2018-06-06 11:17] yegor256 opened #162 "key parsing is broken"
Let's fix

[2018-06-06 11:20] yegor256 commented on #162
@rultor release, tag is `0.10.23`

[2018-06-06 11:20] rultor commented on #162
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14788-395033930)

[2018-06-06 11:51] #162 closed

[2018-06-06 12:06] 0crat commented on #162
The job is not in WBS, won't close the order

[2018-06-06 14:30] DronMDF commented on #148
[code]
Why [0, 63]?
Second square braces arg - is length.
hash has 64 bytes.

[2018-06-06 16:38] ajdevy opened #163 "Node shuts down after starting"
command to start node :

[code]

Log:

[code]

[2018-06-06 16:38] 0crat commented on #163
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-06 16:38] 0crat commented on #163
@ajdevy[/z](https://www.0crat.com/u/ajdevy) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 19:36] llorllale opened #164 "File extension for wallets"
It is best if we assign a standard file extension to wallet files, like `.z` (my favorite), or maybe `.zold`.

**Motivation**
Standardizing filename extensions is a standard practice and is widespread. Users and developers alike have the expectation that applications load by default only files with extensions that they recognize.

Imagine for example the `WalletsInDir` example documented in the RE

[2018-06-06 19:36] 0crat commented on #164
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-06 19:36] 0crat commented on #164
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 19:56] yegor256 opened #165 "zold-nohup"
Let's add a new binary

[2018-06-06 20:12] yegor256 commented on #165
@rultor release, tag is `0.11`

[2018-06-06 20:13] rultor commented on #165
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14792-395198405)

[2018-06-06 20:19] rultor commented on #165
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14792-395198405) (took me 5min)

[2018-06-07 05:20] #165 closed

[2018-06-07 05:32] yegor256 opened #166 "zold-nohup doesn't run in BASH"
See https://github.com/rubygems/rubygems/issues/88

[code]

[2018-06-07 05:35] 0crat commented on #165
The job is not in WBS, won't close the order

[2018-06-07 07:09] yegor256 commented on #166
@rultor release, tag is `0.11.1`

[2018-06-07 07:09] rultor commented on #166
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14795-395316565)

[2018-06-07 07:15] rultor commented on #166
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14795-395316565) (took me 5min)

[2018-06-07 08:12] #166 closed

[2018-06-07 08:28] 0crat commented on #166
The job is not in WBS, won't close the order

[2018-06-07 10:36] byzantime commented on #159
PR adding instructions merged.

[2018-06-07 10:36] #159 closed

[2018-06-07 10:38] 0crat commented on #164
Job [#164](https://github.com/zold-io/zold/issues/164) is now in scope, role is `DEV`

[2018-06-07 10:38] 0crat commented on #164
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-07 10:41] yegor256 commented on #163
@ajdevy this is an expected behavior, see fe1c117

[2018-06-07 10:41] #163 closed

[2018-06-07 10:42] yegor256 opened #167 "zold-nohup doesn't produce nohup.out file"
There is something wrong with `nohup`

[2018-06-07 10:52] 0crat commented on #159
The job is not in WBS, won't close the order

[2018-06-07 10:54] byzantime opened #168 "RuntimeError when attempting to run node"
When running the following command I received a RuntimeError.  Running on Debian 9.4 x64.  Not much else to go on unfortunately.
[code]

[2018-06-07 10:54] 0crat commented on #168
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-07 10:54] 0crat commented on #168
@byzantime[/z](https://www.0crat.com/u/byzantime) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-07 10:57] 0crat commented on #163
The job is not in WBS, won't close the order

[2018-06-07 11:19] byzantime commented on #168
Looks like it's due to incorrect syntax.  Created a PR to address.

[2018-06-07 18:42] yegor256 commented on #167
@rultor release, tag is `0.11.2`

[2018-06-07 18:43] rultor commented on #167
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14805-395523893)

[2018-06-07 18:49] rultor commented on #167
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14805-395523893) (took me 5min)

[2018-06-07 18:50] #167 closed

[2018-06-07 19:06] 0crat commented on #167
Job `gh:zold-io/zold#167` is not assigned, can't get performer

[2018-06-07 19:06] 0crat commented on #167
The job is not in WBS, won't close the order

[2018-06-07 20:11] DronMDF opened #170 "Ruby version 2.5.1 is not valid"
In [How to use](https://github.com/zold-io/zold#how-to-use) write 2.3+.

[code]

[2018-06-07 20:11] 0crat commented on #170
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-07 20:11] 0crat commented on #170
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-07 21:19] yegor256 opened #171 "thread pool in Entrance"
Let's use a pool

[2018-06-07 21:30] rultor commented on #171
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14810-395569484) (took me 6min)

[2018-06-07 21:30] #171 closed

[2018-06-07 21:37] 0crat commented on #86
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-07 21:37] 0crat commented on #83
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-07 21:40] yegor256 commented on #170
@DronMDF fixed in aaffc4c thanks!

[2018-06-07 21:40] #170 closed

[2018-06-07 21:41] yegor256 commented on #168
@byzantime thanks, the PR has been merged

[2018-06-07 21:41] #168 closed

[2018-06-07 21:46] 0crat commented on #171
Job `gh:zold-io/zold#171` is not assigned, can't get performer

[2018-06-07 21:46] 0crat commented on #171
The job is not in WBS, won't close the order

[2018-06-07 21:56] 0crat commented on #170
Job `gh:zold-io/zold#170` is not assigned, can't get performer

[2018-06-07 21:56] 0crat commented on #170
The job is not in WBS, won't close the order

[2018-06-07 21:56] 0crat commented on #168
Job `gh:zold-io/zold#168` is not assigned, can't get performer

[2018-06-07 21:56] 0crat commented on #168
The job is not in WBS, won't close the order

[2018-06-07 22:35] 0crat commented on #50
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-07 23:40] yegor256 opened #172 "ignore itself on push"
Node should ignore itself on push

[2018-06-07 23:45] yegor256 commented on #172
@rultor release, tag is `0.11.4`

[2018-06-07 23:47] rultor commented on #172
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14814-395600324)

[2018-06-07 23:50] rultor commented on #172
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14814-395600324) (spent 3min)

[code]

[2018-06-08 00:01] yegor256 commented on #172
@rultor release, tag is `0.11.4`

[2018-06-08 00:01] rultor commented on #172
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14814-395602889)

[2018-06-08 00:04] rultor commented on #172
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14814-395602889) (spent 3min)

[code]

[2018-06-08 00:06] yegor256 commented on #172
@rultor release, tag is `0.11.4`

[2018-06-08 00:09] rultor commented on #172
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14814-395603895)

[2018-06-08 00:15] rultor commented on #172
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14814-395603895) (took me 5min)

[2018-06-08 05:53] #172 closed

[2018-06-08 06:04] yegor256 opened #173 "node is getting too slow and doesn't accept wallets"
Let's fix

[2018-06-08 06:08] 0crat commented on #172
Job `gh:zold-io/zold#172` is not assigned, can't get performer

[2018-06-08 06:08] 0crat commented on #172
The job is not in WBS, won't close the order

[2018-06-08 06:17] yegor256 commented on #173
@rultor release, tag is `0.11.5`

[2018-06-08 06:19] rultor commented on #173
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14820-395659248)

[2018-06-08 06:35] #173 closed

[2018-06-08 06:35] yegor256 opened #174 "farm doesn't read the best score from history"
Let's fix

[2018-06-08 06:51] 0crat commented on #173
Job `gh:zold-io/zold#173` is not assigned, can't get performer

[2018-06-08 06:51] 0crat commented on #173
The job is not in WBS, won't close the order

[2018-06-08 07:02] 0crat commented on #128
The job [#128](https://github.com/zold-io/zold/issues/128) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1590739150); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-08 07:02] 0crat commented on #128
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 07:02] 0crat commented on #128
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 07:06] yegor256 commented on #128
@rultor release, tag is `0.11.6`

[2018-06-08 07:08] rultor commented on #128
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14821-395669303)

[2018-06-08 07:14] rultor commented on #128
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14821-395669303) (took me 5min)

[2018-06-08 07:15] #174 closed

[2018-06-08 07:15] #128 closed

[2018-06-08 07:16] DronMDF commented on #170
@yegor256 sHaving problems?

[2018-06-08 07:30] 0crat commented on #174
Job `gh:zold-io/zold#174` is not assigned, can't get performer

[2018-06-08 07:30] 0crat commented on #174
The job is not in WBS, won't close the order

[2018-06-08 07:31] 0crat commented on #128
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 07:31] 0crat commented on #128
The job [#128](https://github.com/zold-io/zold/issues/128) is now out of scope

[2018-06-08 07:56] yegor256 opened #175 "runtime error in remotes.error()"
[code]

[2018-06-08 08:19] yegor256 opened #176 "http.rb must be reactive"
At the moment we are spending a lot of time on waiting for remote nodes. Instead, we should make `http.rb` reactive. See also #81

[2018-06-08 08:43] yegor256 commented on #175
@rultor release, tag is `0.11.7`

[2018-06-08 08:45] rultor commented on #175
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14822-395693102)

[2018-06-08 08:50] rultor commented on #175
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14822-395693102) (spent 5min)

[code]

[2018-06-08 08:52] yegor256 commented on #175
@rultor release, tag is `0.11.7`

[2018-06-08 08:55] rultor commented on #175
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14822-395695488)

[2018-06-08 09:00] rultor commented on #175
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14822-395695488) (spent 5min)

[code]

[2018-06-08 09:02] yegor256 commented on #175
@rultor release, tag is `0.11.7`

[2018-06-08 09:06] rultor commented on #175
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14822-395698384)

[2018-06-08 09:11] rultor commented on #175
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14822-395698384) (took me 6min)

[2018-06-08 09:13] #175 closed

[2018-06-08 09:28] 0crat commented on #175
Job `gh:zold-io/zold#175` is not assigned, can't get performer

[2018-06-08 09:28] 0crat commented on #175
The job is not in WBS, won't close the order

[2018-06-08 11:27] yegor256 opened #178 "queue all push operations"
Let's put them in a line

[2018-06-08 11:48] theautobot opened #179 "installation docs for different OSes"
create OS dependent installation documentation for github README.md

[2018-06-08 11:48] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-08 11:48] 0crat commented on #179
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-08 11:56] oltdaniel commented on #61
@yegor256 Using the new formula, the whole system is broken, since it returns 0 when a single transaction is set. Could you help calculating the numbers for the test cases?

[2018-06-08 12:16] yegor256 commented on #178
@rultor release, tag is `0.11.8`

[2018-06-08 12:18] rultor commented on #178
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14826-395743154)

[2018-06-08 12:51] #178 closed

[2018-06-08 12:51] yegor256 opened #180 "stricter control of score and content"
Let's make it stricter

[2018-06-08 13:06] 0crat commented on #178
Job `gh:zold-io/zold#178` is not assigned, can't get performer

[2018-06-08 13:06] 0crat commented on #178
The job is not in WBS, won't close the order

[2018-06-08 13:16] ypshenychka commented on #125
@IlyaUmanets ping

[2018-06-08 13:17] yegor256 commented on #180
@rultor release, tag is `0.11.9`

[2018-06-08 13:18] rultor commented on #180
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14827-395757751)

[2018-06-08 13:27] #180 closed

[2018-06-08 13:27] 0crat commented on #148
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-06-08 13:27] 0crat commented on #148
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 13:28] yegor256 commented on #148
@DronMDF fixed in c9e80aa

[2018-06-08 13:28] #148 closed

[2018-06-08 13:28] yegor256 commented on #148
@rultor release, tag is `0.11.10`

[2018-06-08 13:31] rultor commented on #148
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14828-395760777)

[2018-06-08 13:36] yegor256 opened #181 "get release name from RubyGems, not from other nodes"
At the moment we are checking the latest version only when doing `Remote.update()`. We are comparing the version of a remote node with our version. Let's check this page too: https://rubygems.org/gems/zold  (through an API). If the version of the release is higher, let's reboot.

[2018-06-08 13:36] rultor commented on #148
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14828-395760777) (took me 5min)

[2018-06-08 13:37] yegor256 commented on #179
@theautobot we have it already: https://github.com/zold-io/zold/blob/master/INSTALL.md

[2018-06-08 13:37] #179 closed

[2018-06-08 13:37] 0crat commented on #181
Job [#181](https://github.com/zold-io/zold/issues/181) is now in scope, role is `DEV`

[2018-06-08 13:38] 0crat commented on #181
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 13:43] 0crat commented on #180
Job `gh:zold-io/zold#180` is not assigned, can't get performer

[2018-06-08 13:43] 0crat commented on #180
The job is not in WBS, won't close the order

[2018-06-08 13:46] 0crat commented on #148
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 13:46] 0crat commented on #148
The job [#148](https://github.com/zold-io/zold/issues/148) is now out of scope

[2018-06-08 13:53] 0crat commented on #179
Job `gh:zold-io/zold#179` is not assigned, can't get performer

[2018-06-08 13:53] 0crat commented on #179
The job is not in WBS, won't close the order

[2018-06-08 14:01] yegor256 opened #182 "many merges happen which are not required"
They must return 304, but they do merges:

[code]

[2018-06-08 14:33] yegor256 commented on #182
@rultor release, tag is `0.11.11`

[2018-06-08 14:34] rultor commented on #182
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14831-395779735)

[2018-06-08 14:40] rultor commented on #182
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14831-395779735) (took me 5min)

[2018-06-08 14:46] #182 closed

[2018-06-08 14:50] yegor256 opened #183 "similar wallets look like different"
WTF:

[code]

[2018-06-08 14:58] yegor256 commented on #183
@rultor release, tag is `0.11.12`

[2018-06-08 15:00] rultor commented on #183
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14832-395787654)

[2018-06-08 15:02] 0crat commented on #182
Job `gh:zold-io/zold#182` is not assigned, can't get performer

[2018-06-08 15:02] 0crat commented on #182
The job is not in WBS, won't close the order

[2018-06-08 15:06] rultor commented on #183
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14832-395787654) (took me 5min)

[2018-06-08 15:21] #183 closed

[2018-06-08 15:30] yegor256 opened #184 "wallets comparison is broken"
Logs:

[code]

I tried to fix this in #183, but the problem is still there

[2018-06-08 15:32] 0crat commented on #184
Job [#184](https://github.com/zold-io/zold/issues/184) is now in scope, role is `DEV`

[2018-06-08 15:33] 0crat commented on #184
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 15:38] 0crat commented on #183
Job `gh:zold-io/zold#183` is not assigned, can't get performer

[2018-06-08 15:38] 0crat commented on #183
The job is not in WBS, won't close the order

[2018-06-08 16:31] yegor256 opened #185 "don't fail on absent remote copies in merge"
Let's not fail

[2018-06-08 16:44] yegor256 commented on #185
@rultor release, tag is `0.11.13`

[2018-06-08 16:46] rultor commented on #185
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14835-395819053)

[2018-06-08 16:52] rultor commented on #185
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14835-395819053) (took me 6min)

[2018-06-08 20:42] DronMDF opened #187 "zold taxes doesn't work"
[code]
remotes arg does not have default value.
And not specify in zold module.

[2018-06-08 20:43] 0crat commented on #187
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-08 20:43] 0crat commented on #187
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-09 00:00] #185 closed

[2018-06-09 00:16] 0crat commented on #185
Job `gh:zold-io/zold#185` is not assigned, can't get performer

[2018-06-09 00:16] 0crat commented on #185
The job is not in WBS, won't close the order

[2018-06-09 14:02] yegor256 commented on #187
@DronMDF it was a bug, fixed in fb53aa2

[2018-06-09 14:02] #187 closed

[2018-06-09 14:02] yegor256 commented on #187
@rultor release, tag is `0.11.14`

[2018-06-09 14:02] 0crat commented on #187
The job [#187](https://github.com/zold-io/zold/issues/187) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1601443233); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-09 14:03] 0crat commented on #187
Job `gh:zold-io/zold#187` already assigned to @yegor256, can't assign to @yegor256

[2018-06-09 14:03] 0crat commented on #187
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-06-09 14:03] 0crat commented on #187
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-09 14:04] rultor commented on #187
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14843-395971658)

[2018-06-09 14:09] rultor commented on #187
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14843-395971658) (took me 5min)

[2018-06-09 14:18] 0crat commented on #187
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-09 14:18] 0crat commented on #187
The job [#187](https://github.com/zold-io/zold/issues/187) is now out of scope

[2018-06-09 14:32] DronMDF opened #188 "zold taxes show/debt doesn't not work (Wrong number of args for Wallets::find)"
[code]
I think 'pay' command broken too...

[2018-06-09 14:32] 0crat commented on #188
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-09 14:32] 0crat commented on #188
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-09 14:35] yegor256 opened #189 "merge crashes if the copy is simply broken"
If the copy is a broken file, merge crashes

[2018-06-09 15:49] yegor256 commented on #189
@rultor release, tag is `0.11.15`

[2018-06-09 15:52] rultor commented on #189
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14844-395979086)

[2018-06-09 15:57] rultor commented on #189
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14844-395979086) (spent 5min)

[code]

[2018-06-09 16:06] yegor256 opened #190 "Git IP address from the system"
Let's get IP address from the system if it's not provided: https://stackoverflow.com/questions/5029427/ruby-get-local-ip-nix

[2018-06-09 16:06] yegor256 commented on #189
@rultor release, tag is `0.11.15`

[2018-06-09 16:08] rultor commented on #189
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14844-395980274)

[2018-06-09 16:14] rultor commented on #189
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14844-395980274) (took me 5min)

[2018-06-09 16:39] 0crat commented on #188
The job [#188](https://github.com/zold-io/zold/issues/188) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1601686330); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-09 16:40] 0crat commented on #188
Job `gh:zold-io/zold#188` already assigned to @yegor256, can't assign to @yegor256

[2018-06-09 16:40] 0crat commented on #188
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-06-09 16:40] 0crat commented on #188
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-09 16:41] 0crat commented on #189
Job `gh:zold-io/zold#189` is not assigned, can't get performer

[2018-06-09 16:41] 0crat commented on #189
The job is not in WBS, won't close the order

[2018-06-09 16:42] yegor256 commented on #188
@DronMDF fixed in 863145e

[2018-06-09 16:42] #188 closed

[2018-06-09 16:58] 0crat commented on #188
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-09 16:58] 0crat commented on #188
The job [#188](https://github.com/zold-io/zold/issues/188) is now out of scope

[2018-06-09 19:36] 0crat commented on #78
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 19:37] 0crat commented on #141
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 19:47] yegor256 opened #191 "RSA key validation is broken on reverse transactions"
Let's check

[2018-06-09 20:07] yegor256 commented on #191
@rultor release, tag is `0.11.16`

[2018-06-09 20:08] rultor commented on #191
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14845-395995292)

[2018-06-09 20:11] yegor256 commented on #143
@assign me

[2018-06-09 20:13] rultor commented on #191
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14845-395995292) (took me 5min)

[2018-06-09 20:29] #191 closed

[2018-06-09 20:37] 0crat commented on #139
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 20:37] 0crat commented on #138
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 20:44] 0crat commented on #191
Job `gh:zold-io/zold#191` is not assigned, can't get performer

[2018-06-09 20:44] 0crat commented on #191
The job is not in WBS, won't close the order

[2018-06-09 21:33] yegor256 commented on #143
@rultor release, tag is `0.11.17`

[2018-06-09 21:34] rultor commented on #143
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14846-396000285)

[2018-06-09 21:41] rultor commented on #143
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14846-396000285) (spent 8min)

[code]

[2018-06-10 03:36] 0crat commented on #61
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 07:31] yegor256 commented on #143
@rultor release, tag is `0.11.18`

[2018-06-10 07:32] rultor commented on #143
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14846-396027773)

[2018-06-10 07:36] yegor256 opened #192 "auto propagate on successful pay"
Let's do it automatically

[2018-06-10 07:40] rultor commented on #143
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14846-396027773) (took me 8min)

[2018-06-10 07:43] #143 closed

[2018-06-10 08:00] 0crat commented on #143
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-10 08:00] 0crat commented on #143
The job [#143](https://github.com/zold-io/zold/issues/143) is now out of scope

[2018-06-10 08:01] 0crat commented on #109
The job [#109](https://github.com/zold-io/zold/issues/109) assigned to @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1610833194); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-10 08:09] ypshenychka commented on #143
@yegor256 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):
1. >Problem reporter and problem solver are two different persons
2. >Ticket must have references to all pull requests where the problem was actually fixed

You solve the problem you reported though another person is assigned to do it. And you didn't reference any PR here. Quality here will be bad since the assigned pe

[2018-06-10 08:11] ypshenychka commented on #125
@IlyaUmanets Please consider my above [remark](https://github.com/zold-io/zold/issues/125#issuecomment-394810875).

[2018-06-10 08:18] #190 closed

[2018-06-10 08:18] yegor256 commented on #192
@rultor release, tag is `0.11.19`

[2018-06-10 08:20] rultor commented on #192
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14850-396030457)

[2018-06-10 08:21] yegor256 opened #193 "don't change the version of the wallet on update"
Let's keep it intact

[2018-06-10 08:22] #184 closed

[2018-06-10 08:27] rultor commented on #192
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14850-396030457) (took me 6min)

[2018-06-10 08:32] #192 closed

[2018-06-10 08:33] 0crat commented on #190
Job `gh:zold-io/zold#190` is not assigned, can't get performer

[2018-06-10 08:34] 0crat commented on #190
The job is not in WBS, won't close the order

[2018-06-10 08:37] 0crat commented on #184
Job `gh:zold-io/zold#184` is not assigned, can't get performer

[2018-06-10 08:38] 0crat commented on #184
The job [#184](https://github.com/zold-io/zold/issues/184) is now out of scope

[2018-06-10 08:47] 0crat commented on #192
Job `gh:zold-io/zold#192` is not assigned, can't get performer

[2018-06-10 08:47] 0crat commented on #192
The job is not in WBS, won't close the order

[2018-06-10 08:51] yegor256 commented on #193
@rultor release, tag is `0.11.20`

[2018-06-10 08:53] rultor commented on #193
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14851-396032536)

[2018-06-10 09:00] rultor commented on #193
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14851-396032536) (took me 6min)

[2018-06-10 09:29] #193 closed

[2018-06-10 09:29] yegor256 opened #194 "ignore masqueraded scores in farm"
Ignore them

[2018-06-10 09:33] yegor256 commented on #194
@rultor release, tag is `0.11.21`

[2018-06-10 09:34] rultor commented on #194
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14853-396034726)

[2018-06-10 09:41] rultor commented on #194
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14853-396034726) (took me 7min)

[2018-06-10 09:44] #194 closed

[2018-06-10 09:44] 0crat commented on #193
Job `gh:zold-io/zold#193` is not assigned, can't get performer

[2018-06-10 09:45] 0crat commented on #193
The job is not in WBS, won't close the order

[2018-06-10 09:50] yegor256 opened #195 "zold-nohup doesn't restart correctly"
Let's try to fix

[2018-06-10 10:01] 0crat commented on #194
Job `gh:zold-io/zold#194` is not assigned, can't get performer

[2018-06-10 10:02] 0crat commented on #194
The job is not in WBS, won't close the order

[2018-06-10 10:39] yegor256 commented on #195
@rultor release, tag is `0.11.22`

[2018-06-10 10:40] rultor commented on #195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14854-396038666)

[2018-06-10 10:47] rultor commented on #195
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14854-396038666) (took me 6min)

[2018-06-10 10:47] #195 closed

[2018-06-10 11:02] 0crat commented on #195
Job `gh:zold-io/zold#195` is not assigned, can't get performer

[2018-06-10 11:02] 0crat commented on #195
The job is not in WBS, won't close the order

[2018-06-10 11:11] yegor256 commented on #156
@rultor release, tag is `0.12`

[2018-06-10 11:13] rultor commented on #156
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14855-396040542)

[2018-06-10 11:30] yegor256 opened #196 "enforce SemVer for deployment"
Let's make sure it's semver always

[2018-06-10 11:35] yegor256 commented on #196
@rultor release, tag is `0.12.1`

[2018-06-10 11:35] rultor commented on #196
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14856-396042103)

[2018-06-10 11:42] 0crat commented on #156
Job `gh:zold-io/zold#156` is not assigned, can't get performer

[2018-06-10 11:42] 0crat commented on #156
The job [#156](https://github.com/zold-io/zold/issues/156) is now out of scope

[2018-06-10 11:42] rultor commented on #196
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14856-396042103) (took me 7min)

[2018-06-10 12:36] 0crat commented on #124
@ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 13:41] 0crat commented on #196
Job `gh:zold-io/zold#196` is not assigned, can't get performer

[2018-06-10 13:42] 0crat commented on #196
The job is not in WBS, won't close the order

[2018-06-10 14:33] yegor256 opened #197 "test redeployment"
Let's properly test the redeployment mechanism

[2018-06-10 14:37] 0crat commented on #146
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 21:37] 0crat commented on #140
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 21:38] 0crat commented on #113
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 23:36] 0crat commented on #134
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-11 08:36] ypshenychka commented on #125
@IlyaUmanets You won't be paid fot this job unless you make appropriate corrections by referring the PR here.

[2018-06-11 11:36] 0crat commented on #155
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-11 12:41] DronMDF opened #198 "zold taxes show still doesn't work"
zold version is 0.12.1
zold taxes debt fixed by #188

[code]

[2018-06-11 12:41] 0crat commented on #198
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-11 12:41] 0crat commented on #198
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-11 15:07] yegor256 commented on #197
@rultor release, tag is `0.13`

[2018-06-11 15:10] rultor commented on #197
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14866-396277262)

[2018-06-11 15:13] rultor commented on #197
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14866-396277262) (spent 3min)

[code]

[2018-06-11 15:17] yegor256 commented on #197
@rultor release, tag is `0.13.0`

[2018-06-11 15:18] rultor commented on #197
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14866-396280505)

[2018-06-11 15:21] yegor256 opened #199 "clean up the list of semaphores in Entrance"
The list of them will grow with the growing amount of wallets processed. Let's clean up the map regularly to avoid its size to grow over 1024.

[2018-06-11 15:26] 0crat commented on #199
Job [#199](https://github.com/zold-io/zold/issues/199) is now in scope, role is `DEV`

[2018-06-11 15:28] rultor commented on #197
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14866-396280505) (took me 9min)

[2018-06-11 15:29] 0crat commented on #199
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-11 15:29] #197 closed

[2018-06-11 15:49] 0crat commented on #197
The job is not in WBS, won't close the order

[2018-06-11 15:49] 0crat commented on #197
Job `gh:zold-io/zold#197` is not assigned, can't get performer

[2018-06-11 17:13] yegor256 commented on #198
@rultor release, tag is `0.13.1`

[2018-06-11 17:18] rultor commented on #198
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14867-396317123)

[2018-06-11 17:31] rultor commented on #198
Release `0.13.1` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2018-06-11 17:32] rultor commented on #198
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14867-396317123) (took me 7min)

[2018-06-11 17:34] yegor256 commented on #198
@DronMDF fixed

[2018-06-11 17:35] #198 closed

[2018-06-11 17:50] 0crat commented on #198
The job is not in WBS, won't close the order

[2018-06-11 17:50] 0crat commented on #198
Job `gh:zold-io/zold#198` is not assigned, can't get performer

[2018-06-11 17:52] #155 closed

[2018-06-11 17:53] 0crat commented on #137
Job [#137](https://github.com/zold-io/zold/issues/137) is now in scope, role is `DEV`

[2018-06-11 17:53] yegor256 commented on #137
@oltdaniel let's show the first 256 and then stop.

[2018-06-11 17:54] #133 closed

[2018-06-11 17:54] 0crat commented on #137
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-11 17:54] yegor256 opened #200 "log errors in nohup mode"
Let's log them

[2018-06-11 18:03] yegor256 commented on #200
@rultor release, tag is `0.13.2`

[2018-06-11 18:04] rultor commented on #200
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14869-396332589)

[2018-06-11 18:08] 0crat commented on #155
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-11 18:09] 0crat commented on #155
The job [#155](https://github.com/zold-io/zold/issues/155) is now out of scope

[2018-06-11 18:10] 0crat commented on #133
Job `gh:zold-io/zold#133` is not assigned, can't get performer

[2018-06-11 18:11] 0crat commented on #133
The job [#133](https://github.com/zold-io/zold/issues/133) is now out of scope

[2018-06-11 18:14] rultor commented on #200
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14869-396332589) (took me 8min)

[2018-06-11 18:14] #200 closed

[2018-06-11 18:15] yegor256 opened #201 "exclude --home on nohup run"
Let's exclude it

[2018-06-11 18:20] yegor256 commented on #201
@rultor release, tag is `0.13.3`

[2018-06-11 18:21] rultor commented on #201
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14870-396337812)

[2018-06-11 18:29] rultor commented on #201
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14870-396337812) (took me 7min)

[2018-06-11 18:29] yegor256 opened #202 "let's store wallets in sub-directories"
Let's keep them in sub dirs, like `a/5/f/d/a5fd746377278978`. Let's make sure that `wallets.find()` finds them in both places.

[2018-06-11 18:30] 0crat commented on #200
The job is not in WBS, won't close the order

[2018-06-11 18:30] 0crat commented on #200
Job `gh:zold-io/zold#200` is not assigned, can't get performer

[2018-06-11 18:30] #201 closed

[2018-06-11 18:39] yegor256 opened #203 "catch everything in nohup loop"
Let's catch all

[2018-06-11 18:39] 0crat commented on #202
Job [#202](https://github.com/zold-io/zold/issues/202) is now in scope, role is `DEV`

[2018-06-11 18:39] 0crat commented on #202
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-11 18:46] yegor256 commented on #203
@rultor release, tag is `0.13.4`

[2018-06-11 18:46] 0crat commented on #201
The job is not in WBS, won't close the order

[2018-06-11 18:46] 0crat commented on #201
Job `gh:zold-io/zold#201` is not assigned, can't get performer

[2018-06-11 18:49] rultor commented on #203
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14872-396345937)

[2018-06-11 18:57] rultor commented on #203
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14872-396345937) (took me 8min)

[2018-06-11 18:59] #203 closed

[2018-06-11 18:59] yegor256 opened #204 "Kernel::exit"
Let's do `Kernel::exit` on reboot

[2018-06-11 19:06] yegor256 commented on #204
@rultor release, tag is `0.13.5`

[2018-06-11 19:07] rultor commented on #204
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14873-396352103)

[2018-06-11 19:14] rultor commented on #204
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14873-396352103) (took me 7min)

[2018-06-11 19:14] 0crat commented on #203
The job is not in WBS, won't close the order

[2018-06-11 19:15] 0crat commented on #203
Job `gh:zold-io/zold#203` is not assigned, can't get performer

[2018-06-11 19:19] #204 closed

[2018-06-11 19:21] ypshenychka commented on #155
@0crat quality bad

[2018-06-11 19:23] 0crat commented on #155
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-06-11 19:24] 0crat commented on #155
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-11 19:34] 0crat commented on #204
The job is not in WBS, won't close the order

[2018-06-11 19:35] 0crat commented on #204
Job `gh:zold-io/zold#204` is not assigned, can't get performer

[2018-06-11 19:39] yegor256 opened #205 "reconnect is broken"
It doesn't use the farm

[2018-06-11 19:43] yegor256 commented on #205
@rultor release, tag is `0.13.6`

[2018-06-11 19:45] rultor commented on #205
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14875-396362739)

[2018-06-11 19:53] rultor commented on #205
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14875-396362739) (took me 8min)

[2018-06-11 19:57] #205 closed

[2018-06-11 20:13] 0crat commented on #205
The job is not in WBS, won't close the order

[2018-06-11 20:13] 0crat commented on #205
Job `gh:zold-io/zold#205` is not assigned, can't get performer

[2018-06-11 20:17] yegor256 opened #206 "Farm threads can't exit and cause the process to wait"
Farm threads are staying in a waiting mode for too long

[2018-06-11 20:29] yegor256 commented on #206
@rultor release, tag is `0.13.7`

[2018-06-11 20:31] rultor commented on #206
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14876-396376252)

[2018-06-11 20:36] rultor commented on #206
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14876-396376252) (spent 5min)

[code]

[2018-06-11 20:47] yegor256 commented on #206
@rultor release, tag is `0.13.7`

[2018-06-11 20:49] rultor commented on #206
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14876-396382041)

[2018-06-11 20:58] rultor commented on #206
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14876-396382041) (took me 9min)

[2018-06-11 21:00] #206 closed

[2018-06-11 21:01] yegor256 opened #207 "Weird bug in test_front.rb"
See #206 Here: http://www.rultor.com/t/14876-396376252

[2018-06-11 21:02] 0crat commented on #207
Job [#207](https://github.com/zold-io/zold/issues/207) is now in scope, role is `DEV`

[2018-06-11 21:05] yegor256 commented on #88
Here: http://www.zold.io/map.html

[2018-06-11 21:05] #88 closed

[2018-06-11 21:06] rultor commented on #88
@theautobot @yegor256 Invalid release tag `0.10` specified. There is already a release `0.13.7` newer than the given release in this repository.

[2018-06-11 21:06] rultor commented on #88
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-11 21:09] rultor commented on #88
@theautobot @yegor256 Invalid release tag `0.10.1` specified. There is already a release `0.13.7` newer than the given release in this repository.

[2018-06-11 21:09] rultor commented on #88
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-11 21:11] rultor commented on #88
@theautobot @yegor256 Invalid release tag `0.10.2` specified. There is already a release `0.13.7` newer than the given release in this repository.

[2018-06-11 21:15] 0crat commented on #206
The job is not in WBS, won't close the order

[2018-06-11 21:15] 0crat commented on #206
Job `gh:zold-io/zold#206` is not assigned, can't get performer

[2018-06-11 21:16] yegor256 opened #208 "metronome dies if there is an exception"
Let's fix it

[2018-06-11 21:20] 0crat commented on #88
The job is not in WBS, won't close the order

[2018-06-11 21:20] 0crat commented on #88
Job `gh:zold-io/zold#88` is not assigned, can't get performer

[2018-06-11 21:22] yegor256 commented on #208
@rultor release, tag is `0.13.8`

[2018-06-11 21:23] rultor commented on #208
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14880-396391670)

[2018-06-11 21:28] rultor commented on #208
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14880-396391670) (spent 5min)

[code]

[2018-06-11 21:29] yegor256 commented on #208
@rultor release, tag is `0.13.8`

[2018-06-11 21:39] yegor256 commented on #208
@rultor release, tag is `0.13.8`

[2018-06-11 21:40] rultor commented on #208
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14880-396395900)

[2018-06-11 21:46] yegor256 commented on #83
@oltdaniel thanks!

[2018-06-11 21:46] #83 closed

[2018-06-11 21:49] rultor commented on #208
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14880-396395900) (took me 9min)

[2018-06-11 21:49] #208 closed

[2018-06-11 22:03] 0crat commented on #83
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-11 22:03] 0crat commented on #83
The job [#83](https://github.com/zold-io/zold/issues/83) is now out of scope

[2018-06-11 22:05] 0crat commented on #208
The job is not in WBS, won't close the order

[2018-06-11 22:05] 0crat commented on #208
Job `gh:zold-io/zold#208` is not assigned, can't get performer

[2018-06-12 02:50] yegor256 opened #209 "election for bonuses doesn't work"
It elects very rarely

[2018-06-12 03:31] rultor commented on #209
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14882-396453494) (took me 6min)

[2018-06-12 03:36] #209 closed

[2018-06-12 03:51] yegor256 opened #210 "bonus payment is broken"
Let's test properly

[2018-06-12 03:52] 0crat commented on #209
The job is not in WBS, won't close the order

[2018-06-12 03:52] 0crat commented on #209
Job `gh:zold-io/zold#209` is not assigned, can't get performer

[2018-06-12 04:37] yegor256 commented on #210
@rultor release, tag is `0.13.10`

[2018-06-12 04:39] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396463287)

[2018-06-12 04:47] rultor commented on #210
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14883-396463287) (took me 8min)

[2018-06-12 05:03] byzantime commented on #136
Looks like this been implemented:  https://github.com/zold-io/zold/commit/51b2b8c3b4421007a38e18f7012dd57889b02c05

[2018-06-12 05:21] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 05:28] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396468959) (spent 5min)

[code]

[2018-06-12 05:32] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 05:33] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396470533)

[2018-06-12 05:38] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396470533) (spent 5min)

[code]

[2018-06-12 05:47] yegor256 opened #211 "Remotes::Remote must un-error on success"
At the moment we call `error` if something happens with the remote node. Let's do `unerror()` if there are no accidents/exceptions. Also, that `unerror` must not lower the number below zero.