[2018-06-12 05:47] 0crat commented on #211
Job [#211](https://github.com/zold-io/zold/issues/211) is now in scope, role is `DEV`

[2018-06-12 05:48] 0crat commented on #211
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-12 05:52] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 05:54] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396473496)

[2018-06-12 05:59] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396473496) (spent 5min)

[code]

[2018-06-12 07:08] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 07:10] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396488355)

[2018-06-12 07:15] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396488355) (spent 5min)

[code]

[2018-06-12 07:19] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 07:20] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396490995)

[2018-06-12 07:28] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396490995) (spent 8min)

[code]

[2018-06-12 07:31] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 07:32] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396494121)

[2018-06-12 07:40] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396494121) (spent 8min)

[code]

[2018-06-12 07:41] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 07:42] ypshenychka commented on #83
@0crat qualiy good

[2018-06-12 07:43] 0crat commented on #83
@ypshenychka Can't understand "qualiy", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status o

[2018-06-12 07:43] ypshenychka commented on #83
@0crat quality good

[2018-06-12 07:44] 0crat commented on #83
Order was finished, quality is "good": +35 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-12 07:44] 0crat commented on #83
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-12 07:45] ypshenychka commented on #125
@yegor256 Please advise about quality here. I don't see any PR and @IlyaUmanets doesn't repsond to my messages.

[2018-06-12 07:45] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396496710)

[2018-06-12 07:46] ypshenychka commented on #143
@yegor256 Ping

[2018-06-12 07:53] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396496710) (spent 8min)

[code]

[2018-06-12 07:54] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 07:57] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396500052)

[2018-06-12 08:05] rultor commented on #210
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14883-396500052) (spent 8min)

[code]

[2018-06-12 09:43] yegor256 commented on #210
@rultor release, tag is `0.13.11`

[2018-06-12 09:46] rultor commented on #210
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14883-396531034)

[2018-06-12 09:56] rultor commented on #210
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14883-396531034) (took me 10min)

[2018-06-12 09:57] #210 closed

[2018-06-12 10:12] yegor256 opened #212 "restart is still hanging up"
Still doesn't work...

[2018-06-12 10:13] 0crat commented on #210
Job `gh:zold-io/zold#210` is not assigned, can't get performer

[2018-06-12 12:50] Dereek69 opened #213 "Failed to build zold gem in Windows (extconf.rb failed)"
Hi, i'm trying to get a node running on windows 10 64 bit.
I installed Ruby with [RubyInstaller](https://www.ruby-lang.org/en/documentation/installation/#rubyinstaller), downloaded and installed [RubyGems](https://rubygems.org/pages/download) with `ruby setup.rb` , tried to install zold gem with `gem install --no-ri --no-rdoc zold`

This is the Powershell output when i try it

Temporarily enhancin

[2018-06-12 12:50] 0crat commented on #213
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-12 12:50] 0crat commented on #213
@dereek69[/z](https://www.0crat.com/u/dereek69) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-12 14:17] yegor256 commented on #212
@rultor release, tag is `0.13.12`

[2018-06-12 14:18] rultor commented on #212
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14887-396605938)

[2018-06-12 14:21] rultor commented on #212
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14887-396605938) (spent 3min)

[code]

[2018-06-12 14:29] yegor256 commented on #212
@rultor release, tag is `0.13.12`

[2018-06-12 14:31] rultor commented on #212
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14887-396610236)

[2018-06-12 14:37] rultor commented on #212
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14887-396610236) (spent 6min)

[code]

[2018-06-12 15:03] yegor256 commented on #212
@rultor release, tag is `0.13.12`

[2018-06-12 15:04] rultor commented on #212
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14887-396622320)

[2018-06-12 15:58] yegor256 commented on #212
@rultor stop

[2018-06-12 16:01] rultor commented on #212
@yegor256 OK, I'll try to stop current task.

[2018-06-12 16:01] rultor commented on #212
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14887-396642822) (spent 56min)

[code]

[2018-06-12 16:06] yegor256 commented on #212
@rultor release, tag is `0.13.12`

[2018-06-12 16:09] rultor commented on #212
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14887-396645514)

[2018-06-12 16:15] rultor commented on #212
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14887-396645514) (spent 6min)

[code]

[2018-06-12 16:39] yegor256 commented on #212
@rultor release, tag is `0.13.12`

[2018-06-12 16:41] rultor commented on #212
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14887-396655530)

[2018-06-12 16:49] rultor commented on #212
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14887-396655530) (spent 8min)

[code]

[2018-06-12 17:00] 0pdd opened #214 "test_front.rb:71-73: The test is skipped because it..."
The puzzle `212-37109e23` from #212 has to be resolved:

https://github.com/zold-io/zold/blob/9c31794f0300777312d1afe873798079ccb0aab1/test/node/test_front.rb#L71-L73

The puzzle was created by Yegor Bugayenko on 12-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puz

[2018-06-12 17:00] 0pdd commented on #212
@yegor256 the puzzle [#214](https://github.com/zold-io/zold/issues/214) is still not solved.

[2018-06-12 17:01] 0crat commented on #214
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-12 17:03] yegor256 commented on #212
@rultor release, tag is `0.13.12`

[2018-06-12 17:03] 0crat commented on #214
Job [#214](https://github.com/zold-io/zold/issues/214) is now in scope, role is `DEV`

[2018-06-12 17:03] rultor commented on #212
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14887-396662850)

[2018-06-12 17:16] rultor commented on #212
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14887-396662850) (took me 12min)

[2018-06-12 17:27] yegor256 commented on #142
It's a normal temporal situation

[2018-06-12 17:27] #142 closed

[2018-06-12 17:28] yegor256 commented on #136
@oltdaniel @byzantime yes, it works: http://b2.zold.io:4096/wallet/912ecc24b32dbe74/balance

[2018-06-12 17:28] #136 closed

[2018-06-12 17:29] yegor256 commented on #135
@ajdevy this issue has been resolved, try version 0.13.12 and check the latest README

[2018-06-12 17:29] #135 closed

[2018-06-12 17:36] yegor256 opened #215 "/wallet/ID/key"
Let's show public key of the wallet

[2018-06-12 17:41] yegor256 commented on #215
@rultor release, tag is `0.13.13`

[2018-06-12 17:42] rultor commented on #215
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14897-396674226)

[2018-06-12 17:43] 0crat commented on #212
The job is not in WBS, won't close the order

[2018-06-12 17:43] 0crat commented on #212
Job `gh:zold-io/zold#212` is not assigned, can't get performer

[2018-06-12 17:44] 0crat commented on #207
Job `gh:zold-io/zold#207` is not assigned, can't get performer

[2018-06-12 17:44] 0crat commented on #142
Job `gh:zold-io/zold#142` is not assigned, can't get performer

[2018-06-12 17:45] 0crat commented on #207
The job [#207](https://github.com/zold-io/zold/issues/207) is now out of scope

[2018-06-12 17:45] 0crat commented on #136
Job `gh:zold-io/zold#136` is not assigned, can't get performer

[2018-06-12 17:45] 0crat commented on #142
The job [#142](https://github.com/zold-io/zold/issues/142) is now out of scope

[2018-06-12 17:45] 0crat commented on #136
The job [#136](https://github.com/zold-io/zold/issues/136) is now out of scope

[2018-06-12 17:45] 0crat commented on #135
The job is not in WBS, won't close the order

[2018-06-12 17:45] 0crat commented on #135
Job `gh:zold-io/zold#135` is not assigned, can't get performer

[2018-06-12 17:52] rultor commented on #215
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14897-396674226) (took me 9min)

[2018-06-12 19:28] DronMDF commented on #157
GET /wallet/ID not suitable for this purpose?

[2018-06-12 19:48] 0crat commented on #86
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#86](https://github.com/zold-io/zold/issues/86), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-12 19:48] 0crat commented on #86
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-12 19:48] 0crat commented on #50
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#50](https://github.com/zold-io/zold/issues/50), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-12 19:49] 0crat commented on #50
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-12 21:32] #215 closed

[2018-06-12 21:48] 0crat commented on #215
The job is not in WBS, won't close the order

[2018-06-12 21:48] 0crat commented on #215
Job `gh:zold-io/zold#215` is not assigned, can't get performer

[2018-06-13 06:22] ypshenychka commented on #125
@yegor256 ping

[2018-06-13 06:31] ypshenychka commented on #143
@yegor256 Please consider my above [remark](https://github.com/zold-io/zold/issues/143#issuecomment-396029912).

[2018-06-13 07:10] yegor256 opened #216 "Sinatra.stop! instead of exit"
Let's use `stop!` instead

[2018-06-13 07:12] yegor256 commented on #216
@rultor release, tag is `0.13.14`

[2018-06-13 07:13] rultor commented on #216
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14899-396837587)

[2018-06-13 07:22] rultor commented on #216
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14899-396837587) (took me 9min)

[2018-06-13 07:22] #216 closed

[2018-06-13 07:27] yegor256 commented on #157
@DronMDF `/wallet/ID` will return 404 is the wallet is not available in the node.

[2018-06-13 07:27] yegor256 commented on #141
@0crat assign me

[2018-06-13 07:28] 0crat commented on #141
@yegor256 The job [#141](https://github.com/zold-io/zold/issues/141) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1640757107); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-13 07:29] 0crat commented on #141
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 07:30] 0crat commented on #141
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 07:38] 0crat commented on #216
The job is not in WBS, won't close the order

[2018-06-13 07:38] 0crat commented on #216
Job `gh:zold-io/zold#216` is not assigned, can't get performer

[2018-06-13 07:40] DronMDF commented on #157
@yegor256 This command for inter-node synchronization?
For what it can be necessary?
Let the client connect to another node.
Nodes in the background are synchronized themselves.

[2018-06-13 08:12] yegor256 commented on #141
@rultor release, tag is `0.13.15`

[2018-06-13 08:13] rultor commented on #141
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14900-396853129)

[2018-06-13 08:22] rultor commented on #141
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14900-396853129) (took me 8min)

[2018-06-13 08:41] #141 closed

[2018-06-13 09:01] 0crat commented on #141
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 09:01] 0crat commented on #141
The job [#141](https://github.com/zold-io/zold/issues/141) is now out of scope

[2018-06-13 13:04] Dereek69 commented on #213
Found the problem and solved.
The install directory had a space in it and that caused the program to fail. Installed ruby in F:\Ruby instead of F:\Program Files\Ruby and it worked

[2018-06-13 13:04] #213 closed

[2018-06-13 13:20] 0crat commented on #213
The job is not in WBS, won't close the order

[2018-06-13 13:20] 0crat commented on #213
Job `gh:zold-io/zold#213` is not assigned, can't get performer

[2018-06-13 13:29] Dereek69 opened #217 "unsupported signal SIGCONT (Windows)"
After succesfully installing the zold gem on Windows i get this error when i try to run it

F:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sigdump-0.2.4/lib/sigdump.rb:5:in 'trap': unsupported signal SIGCONT (ArgumentError)
        from F:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sigdump-0.2.4/lib/sigdump.rb:5:in 'setup'
        from F:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sigdump-0.2.4/lib/sigdump/setup.rb:3:i

[2018-06-13 13:29] 0crat commented on #217
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 13:29] 0crat commented on #217
@dereek69[/z](https://www.0crat.com/u/dereek69) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-13 14:13] yegor256 opened #218 "don't die on nohup failures"
Let's stay alive no matter what

[2018-06-13 14:36] rultor commented on #218
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14905-396956749) (took me 9min)

[2018-06-13 14:42] 0crat commented on #217
The job is not in WBS, won't close the order

[2018-06-13 14:42] 0crat commented on #217
Job `gh:zold-io/zold#217` is not assigned, can't get performer

[2018-06-13 14:43] #218 closed

[2018-06-13 15:00] 0crat commented on #218
Job `gh:zold-io/zold#218` is not assigned, can't get performer

[2018-06-13 15:11] Dereek69 opened #219 "Can't read RSA key (Windows)"
The gem was installed correctly, the rsa key was generated under `C:\Users\deree\.ssh\id_rsa.pub`
I get this error when i try to generate a wallet
The system is Windows 10 64bit

Load key "C:/Users/deree/AppData/Local/Temp/20180613-9852-1ik32qb": invalid format
ERROR: Can't read RSA key (Neither PUB key nor PRIV key: header too long):  (RuntimeError)
F:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/zold-0.1

[2018-06-13 15:11] 0crat commented on #219
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 15:11] 0crat commented on #219
@dereek69[/z](https://www.0crat.com/u/dereek69) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-13 16:33] yegor256 commented on #146
@0crat refuse

[2018-06-13 16:33] #146 closed

[2018-06-13 16:33] 0crat commented on #146
@yegor256 Job `gh:zold-io/zold#146` is not assigned, can't get performer

[2018-06-13 16:42] yegor256 opened #220 "Zold::Invoice should do Zold::Pull first, if the wallet is absent"
`Zold::Invoice` should do `Zold::Pull` first, if the wallet is absent

[2018-06-13 16:45] 0crat commented on #220
Job [#220](https://github.com/zold-io/zold/issues/220) is now in scope, role is `DEV`

[2018-06-13 16:47] 0crat commented on #220
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 16:48] yegor256 commented on #143
@ypshenychka yes, I completed that. The quality is bad here

[2018-06-13 16:50] 0crat commented on #146
Job `gh:zold-io/zold#146` is not assigned, can't get performer

[2018-06-13 16:51] 0crat commented on #146
The job [#146](https://github.com/zold-io/zold/issues/146) is now out of scope

[2018-06-13 17:06] ypshenychka commented on #143
@yegor256 Thank you!

[2018-06-13 17:07] ypshenychka commented on #143
@0crat quality bad

[2018-06-13 17:10] 0crat commented on #143
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-06-13 17:11] yegor256 opened #221 "show execution time in case of error in Remotes::Remote"
Every time we report an error in `Remotes.iterate` let's add the time in seconds to the log

[2018-06-13 17:12] 0crat commented on #143
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-13 17:14] 0crat commented on #221
Job [#221](https://github.com/zold-io/zold/issues/221) is now in scope, role is `DEV`

[2018-06-13 17:16] 0crat commented on #221
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 17:18] yegor256 opened #222 "remote trim --tolerate=0"
Let's add a new option `--tolerate` which will say what is the maximum level of errors we are ready to tolerate. If the remote has a higher level, we remove it. At the moment we are using `Remote::TOLERATE` always.

[2018-06-13 17:46] yegor256 commented on #219
@Dereek69 can you please attach your `id_rsa.pub` file here? It's a public key, don't worry about security.

[2018-06-13 17:46] 0crat commented on #222
Job [#222](https://github.com/zold-io/zold/issues/222) is now in scope, role is `DEV`

[2018-06-13 17:48] 0crat commented on #219
Job [#219](https://github.com/zold-io/zold/issues/219) is now in scope, role is `DEV`

[2018-06-13 17:49] 0crat commented on #222
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 17:49] 0crat commented on #176
Job [#176](https://github.com/zold-io/zold/issues/176) is now in scope, role is `DEV`

[2018-06-13 17:49] 0crat commented on #219
Thanks for your contribution, @dereek69[/z](https://www.0crat.com/u/dereek69)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-06-13 17:51] 0crat commented on #176
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 18:11] Dereek69 commented on #219
[id_rsa.zip](https://github.com/zold-io/zold/files/2099333/id_rsa.zip)

[2018-06-14 13:42] yegor256 commented on #222
@0crat assign @sandiks

[2018-06-14 13:42] 0crat commented on #222
@yegor256 The job [#222](https://github.com/zold-io/zold/issues/222) assigned to @sandiks[/z](https://www.0crat.com/u/sandiks), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651353224); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-14 13:42] 0crat commented on #222
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 13:44] yegor256 opened #224 "run metronome from command line in Heroku"
Run it from Heroku

[2018-06-14 13:51] #224 closed

[2018-06-14 13:52] yegor256 opened #225 "/metronome"
Let's add a new page, to show the status of metronome.

[2018-06-14 14:07] 0crat commented on #224
The job is not in WBS, won't close the order

[2018-06-14 14:07] 0crat commented on #224
Job `gh:zold-io/zold#224` is not assigned, can't get performer

[2018-06-14 14:51] #225 closed

[2018-06-14 14:52] yegor256 opened #226 "The farm doesn't drop expired scores"
Scores remain expired in the farm

[2018-06-14 15:06] 0crat commented on #225
The job is not in WBS, won't close the order

[2018-06-14 15:06] 0crat commented on #225
Job `gh:zold-io/zold#225` is not assigned, can't get performer

[2018-06-14 16:24] yegor256 commented on #226
@rultor release, tag is `0.13.17`

[2018-06-14 16:35] rultor commented on #226
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14918-397355582) (took me 9min)

[2018-06-14 16:36] #226 closed

[2018-06-14 16:49] ypshenychka commented on #125
@yegor256 any advice here? bad or acceptable?

[2018-06-14 16:52] 0crat commented on #226
The job is not in WBS, won't close the order

[2018-06-14 16:52] 0crat commented on #226
Job `gh:zold-io/zold#226` is not assigned, can't get performer

[2018-06-14 17:00] yegor256 commented on #125
@ypshenychka it's acceptable, I believe

[2018-06-14 17:06] yegor256 commented on #222
@0crat assign @vl3

[2018-06-14 17:06] yegor256 commented on #221
@0crat assign @vl3

[2018-06-14 17:06] 0crat commented on #222
@yegor256 The job [#222](https://github.com/zold-io/zold/issues/222) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651725414); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-14 17:06] 0crat commented on #222
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 17:06] yegor256 commented on #220
@0crat assign @vl3

[2018-06-14 17:06] 0crat commented on #221
@yegor256 The job [#221](https://github.com/zold-io/zold/issues/221) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651725435); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-14 17:06] yegor256 commented on #219
@0crat assign @vl3

[2018-06-14 17:07] 0crat commented on #221
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 17:07] 0crat commented on #220
@yegor256 The job [#220](https://github.com/zold-io/zold/issues/220) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651726491); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-14 17:07] 0crat commented on #219
@yegor256 The job [#219](https://github.com/zold-io/zold/issues/219) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651726494); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-14 17:08] yegor256 commented on #132
@0crat assign @vl3

[2018-06-14 17:08] 0crat commented on #220
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 17:08] 0crat commented on #219
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 17:08] 0crat commented on #132
@yegor256 The job [#132](https://github.com/zold-io/zold/issues/132) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651727567); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-14 17:08] 0crat commented on #132
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 18:38] 0crat commented on #78
The user @mulev[/z](https://www.0crat.com/u/mulev) resigned from [#78](https://github.com/zold-io/zold/issues/78), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-14 18:38] 0crat commented on #78
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mulev[/z](https://www.0crat.com/u/mulev)

[2018-06-14 18:40] 0crat commented on #113
The job [#113](https://github.com/zold-io/zold/issues/113) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651862352); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-14 18:42] 0crat commented on #139
The user @mulev[/z](https://www.0crat.com/u/mulev) resigned from [#139](https://github.com/zold-io/zold/issues/139), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-14 18:42] 0crat commented on #139
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mulev[/z](https://www.0crat.com/u/mulev)

[2018-06-14 18:42] 0crat commented on #138
The user @mulev[/z](https://www.0crat.com/u/mulev) resigned from [#138](https://github.com/zold-io/zold/issues/138), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-14 18:42] 0crat commented on #138
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mulev[/z](https://www.0crat.com/u/mulev)

[2018-06-14 18:44] 0crat commented on #98
The job [#98](https://github.com/zold-io/zold/issues/98) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651867589); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [thi

[2018-06-14 18:46] 0crat commented on #89
The job [#89](https://github.com/zold-io/zold/issues/89) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651868695); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [thi

[2018-06-14 18:52] yegor256 commented on #211
@0crat assign @pbenety

[2018-06-14 18:52] yegor256 commented on #199
@0crat assign @pbenety

[2018-06-14 18:53] 0crat commented on #211
@yegor256 The job [#211](https://github.com/zold-io/zold/issues/211) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651877042); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-14 18:53] 0crat commented on #211
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 18:53] 0crat commented on #199
@yegor256 The job [#199](https://github.com/zold-io/zold/issues/199) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651877061); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-14 18:54] 0crat commented on #199
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 18:54] yegor256 commented on #181
@0crat assign @pbenety

[2018-06-14 18:56] yegor256 commented on #164
@0crat assign @pbenety

[2018-06-14 18:56] yegor256 commented on #139
@0crat assign @pbenety

[2018-06-14 18:56] 0crat commented on #181
@yegor256 The job [#181](https://github.com/zold-io/zold/issues/181) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651880199); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-14 18:57] 0crat commented on #181
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 18:57] 0crat commented on #164
@yegor256 The job [#164](https://github.com/zold-io/zold/issues/164) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651881255); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-14 18:58] 0crat commented on #164
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 18:58] 0crat commented on #139
@yegor256 The job [#139](https://github.com/zold-io/zold/issues/139) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1651882311); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-14 18:58] 0crat commented on #139
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 19:28] ypshenychka commented on #125
@yegor256 Thanks

[2018-06-14 19:28] ypshenychka commented on #125
@0crat quality acceptable

[2018-06-14 19:30] 0crat commented on #125
Order was finished, quality is "acceptable": +30 point(s) just awarded to @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets)

[2018-06-14 19:30] 0crat commented on #125
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-15 04:50] yegor256 opened #227 "Notify Telegram channel when a new software is released"
Let's put this into `.rultor.yml`

[2018-06-15 04:51] 0crat commented on #227
The job [#227](https://github.com/zold-io/zold/issues/227) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1660465455); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-15 04:51] 0crat commented on #227
Job `gh:zold-io/zold#227` already assigned to @yegor256, can't assign to @yegor256

[2018-06-15 04:52] 0crat commented on #227
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 04:52] 0crat commented on #227
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 04:52] 0crat commented on #227
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 05:37] yegor256 opened #228 "X-Zold-Network"
Let's add new HTTP header to all requests: `X-Zold-Network` and ignore all requests that are coming in and don't match the network. I believe, we should add it in `Http.rb` and check in `Front.rb/before`

[2018-06-15 05:39] yegor256 commented on #228
@0crat assign @vl3

[2018-06-15 05:39] 0crat commented on #228
@yegor256 The job [#228](https://github.com/zold-io/zold/issues/228) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1660556410); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-15 05:40] 0crat commented on #228
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 05:40] 0crat commented on #228
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 06:04] 0crat commented on #78
The job [#78](https://github.com/zold-io/zold/issues/78) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1660621371); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this]

[2018-06-15 06:05] 0crat commented on #50
The job [#50](https://github.com/zold-io/zold/issues/50) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1660623449); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this]

[2018-06-15 06:35] yegor256 opened #229 "undefined method `downcase' for nil:NilClass in remotes.rb"
[code]

[2018-06-15 06:36] 0crat commented on #229
Job [#229](https://github.com/zold-io/zold/issues/229) is now in scope, role is `DEV`

[2018-06-15 06:37] 0crat commented on #229
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 06:42] yegor256 opened #230 "--trust"
Let's add a new command line argument `--trust`, which will work for PUSH and FETCH operations. It will be an integer. When they communicate with remote nodes, they calculate the total score received from them. They do this now until the list of remote nodes is over. The `--trust` argument will define the threshold where they should stop.

For example, if `--trust` is set to 50 and the first three

[2018-06-15 06:43] 0crat commented on #230
Job [#230](https://github.com/zold-io/zold/issues/230) is now in scope, role is `DEV`

[2018-06-15 06:43] 0crat commented on #230
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 06:44] yegor256 opened #231 "Appveyor build is broken: openssl is not found"
See https://ci.appveyor.com/project/yegor256/zold-wcn4o Let's fix it.

[2018-06-15 06:44] 0crat commented on #231
Job [#231](https://github.com/zold-io/zold/issues/231) is now in scope, role is `DEV`

[2018-06-15 06:45] 0crat commented on #231
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 06:51] yegor256 opened #232 "list of modified IDs is not getting emptified"
In `Entrance.rb` we have a list of wallet ID-s in `@modified`. If you look at a front page of any node, you will see that they have large numbers in the size of this array. This is wrong. The array should be empty when the node is staying quiet.

Check any node from this map: http://www.zold.io/map.html

[2018-06-15 06:55] 0crat commented on #232
Job [#232](https://github.com/zold-io/zold/issues/232) is now in scope, role is `DEV`

[2018-06-15 06:55] 0crat commented on #232
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 06:56] 0crat commented on #72
The job [#72](https://github.com/zold-io/zold/issues/72) assigned to @sandiks[/z](https://www.0crat.com/u/sandiks), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1660676649); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-15 06:57] 0crat commented on #61
The job [#61](https://github.com/zold-io/zold/issues/61) assigned to @sandiks[/z](https://www.0crat.com/u/sandiks), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1660677698); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-15 06:58] 0crat commented on #52
The job [#52](https://github.com/zold-io/zold/issues/52) assigned to @sandiks[/z](https://www.0crat.com/u/sandiks), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1660677744); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-15 07:06] yegor256 opened #233 "combine wallets, remotes and copies into HOME"
Let's introduce a new class `Home` (`lib/zold/home.rb`) which will aggregate `wallets`, `remotes`, and `copies`. Instead of passing them separately to many places, we will just send `home` and let its users extract, e.g., wallets like this: `home.wallets`.

[2018-06-15 07:07] 0crat commented on #233
Job [#233](https://github.com/zold-io/zold/issues/233) is now in scope, role is `DEV`

[2018-06-15 07:07] 0crat commented on #233
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 07:09] yegor256 opened #234 "scores don't get removed from farm when expired"
Let's reproduce and fix

[2018-06-15 07:32] yegor256 opened #235 "Spread.rb must not be random"
Now `spread.rb` is taking random wallets from the list and pushes them to the network. This is not a reliable algorithms, since many wallets may stay non-pushed for a long time, while others will be spread many times. Let's do something more predictable. Maybe keeping a list of recently pushed wallets somewhere in the array and don't push them again. If we keep that list in a fixed size, we will b

[2018-06-15 07:32] 0crat commented on #235
Job [#235](https://github.com/zold-io/zold/issues/235) is now in scope, role is `DEV`

[2018-06-15 07:32] 0crat commented on #235
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 07:55] sandiks commented on #72
I want to use 'pathname'. Where can I add this lib to make it work?

[2018-06-15 08:36] 0crat commented on #109
@ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-15 09:36] yegor256 commented on #234
@rultor release, tag is `0.13.18`

[2018-06-15 09:37] rultor commented on #234
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14934-397568520)

[2018-06-15 09:46] rultor commented on #234
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14934-397568520) (took me 9min)

[2018-06-15 10:50] sandiks commented on #52
could you explain please what method need to investigate to fix this error

[2018-06-15 10:56] sandiks commented on #61
i changed method
 def age
      list = txns
      list.empty? ? 0 : (Time.now - list.min_by(&:date).date) / 60
    end
with line
list.empty? ? 0 : (list.max_by(&:date).date - list.min_by(&:date).date) / 60

is it good decision?
This method doesn't have a test method,
I need to add a test method?

[2018-06-15 10:59] #234 closed

[2018-06-15 11:06] yegor256 opened #237 "expired scores are not removed from the farm"
They have to go away in the background

[2018-06-15 11:10] 0crat commented on #237
The job [#237](https://github.com/zold-io/zold/issues/237) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1661108070); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-15 11:11] 0crat commented on #237
Job `gh:zold-io/zold#237` already assigned to @yegor256, can't assign to @yegor256

[2018-06-15 11:17] 0crat commented on #237
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 11:17] 0crat commented on #237
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 11:17] 0crat commented on #237
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 11:17] 0crat commented on #234
The job is not in WBS, won't close the order

[2018-06-15 11:17] 0crat commented on #234
Job `gh:zold-io/zold#234` is not assigned, can't get performer

[2018-06-15 11:17] yegor256 commented on #237
@rultor release, tag is `0.13.19`

[2018-06-15 11:19] rultor commented on #237
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14937-397590595)

[2018-06-15 11:29] rultor commented on #237
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14937-397590595) (took me 10min)

[2018-06-15 11:44] 0crat commented on #124
The user @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets) resigned from [#124](https://github.com/zold-io/zold/issues/124), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-15 11:44] 0crat commented on #124
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets)

[2018-06-15 13:06] wholegroup opened #238 "can't push because of b1.zold.io:80: Not Found"
I get an error when I try to push

[code]

[2018-06-15 13:06] 0crat commented on #238
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-15 13:06] 0crat commented on #238
@wholegroup[/z](https://www.0crat.com/u/wholegroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-15 17:42] yegor256 opened #239 "b1.zold.io:80: false can't be coerced into Fixnum"
This is what I see in logs...

[code]

[2018-06-15 17:44] 0crat commented on #239
The job [#239](https://github.com/zold-io/zold/issues/239) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1661754296); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-15 17:45] 0crat commented on #239
Job `gh:zold-io/zold#239` already assigned to @yegor256, can't assign to @yegor256

[2018-06-15 17:48] 0crat commented on #239
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 17:48] 0crat commented on #239
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 17:48] 0crat commented on #239
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 18:16] yegor256 commented on #239
@rultor release, tag is `0.13.20`

[2018-06-15 18:18] rultor commented on #239
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14940-397702802)

[2018-06-15 18:33] yegor256 opened #240 "scores are not balanced in the farm"
They grow all together and then drop to zero all at once. Let's do it in a more balanced way.

[2018-06-15 18:37] 0crat commented on #240
The job [#240](https://github.com/zold-io/zold/issues/240) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1661846555); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-15 18:37] 0crat commented on #240
Job `gh:zold-io/zold#240` already assigned to @yegor256, can't assign to @yegor256

[2018-06-15 18:39] 0crat commented on #240
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 18:39] 0crat commented on #240
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 18:39] 0crat commented on #240
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 18:58] 0pdd opened #241 "test_front.rb:87-90: This tests is skipped since it..."
The puzzle `239-8451ca17` from #239 has to be resolved:

https://github.com/zold-io/zold/blob/504a4272be4a1394302d8ce1fa14e97dab05b404/test/node/test_front.rb#L87-L90

The puzzle was created by Yegor Bugayenko on 15-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puz

[2018-06-15 18:58] 0pdd commented on #239
@yegor256 the puzzle [#241](https://github.com/zold-io/zold/issues/241) is still not solved.

[2018-06-15 18:59] 0crat commented on #241
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-15 19:00] 0crat commented on #241
Job [#241](https://github.com/zold-io/zold/issues/241) is now in scope, role is `DEV`

[2018-06-15 19:00] yegor256 commented on #239
@rultor release, tag is `0.13.20`

[2018-06-15 19:02] rultor commented on #239
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14940-397713802)

[2018-06-15 19:13] rultor commented on #239
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14940-397713802) (took me 10min)

[2018-06-15 19:34] wholegroup opened #242 "zold can't start in host mode"
[code]

[2018-06-15 19:34] 0crat commented on #242
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-15 19:34] 0crat commented on #242
@wholegroup[/z](https://www.0crat.com/u/wholegroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-15 19:40] 0crat commented on #238
The job is not in WBS, won't close the order

[2018-06-15 19:40] 0crat commented on #238
Job `gh:zold-io/zold#238` is not assigned, can't get performer

[2018-06-15 19:47] #239 closed

[2018-06-15 19:49] yegor256 commented on #242
@wholegroup can you please run it with `--trace` and post the result here?

[2018-06-15 20:02] wholegroup commented on #242
@yegor256

[code]

[2018-06-15 20:08] 0crat commented on #239
The job [#239](https://github.com/zold-io/zold/issues/239) is now out of scope

[2018-06-15 20:11] yegor256 commented on #240
@rultor release, tag is `0.13.21`

[2018-06-15 20:13] rultor commented on #240
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14941-397729633)

[2018-06-15 20:22] rultor commented on #240
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14941-397729633) (took me 9min)

[2018-06-15 20:40] #240 closed

[2018-06-15 20:41] yegor256 opened #243 "scores balancing"
Let's make them balanced

[2018-06-15 20:51] yegor256 commented on #243
@rultor release, tag is `0.13.22`

[2018-06-15 20:58] rultor commented on #243
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14943-397738673)

[2018-06-15 21:02] 0crat commented on #240
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 21:02] 0crat commented on #240
The job [#240](https://github.com/zold-io/zold/issues/240) is now out of scope

[2018-06-15 21:08] rultor commented on #243
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14943-397738673) (took me 9min)

[2018-06-15 21:13] yegor256 commented on #242
@wholegroup fixed in 1b0d29c Thanks! Try version 0.13.22

[2018-06-15 21:13] #242 closed

[2018-06-15 21:13] #243 closed

[2018-06-15 21:29] 0crat commented on #242
The job is not in WBS, won't close the order

[2018-06-15 21:29] 0crat commented on #242
Job `gh:zold-io/zold#242` is not assigned, can't get performer

[2018-06-15 21:29] 0crat commented on #243
The job is not in WBS, won't close the order

[2018-06-15 21:30] 0crat commented on #243
Job `gh:zold-io/zold#243` is not assigned, can't get performer

[2018-06-16 04:11] yegor256 opened #244 "too many scores in the line"
In the farm

[2018-06-16 04:12] 0crat commented on #244
The job [#244](https://github.com/zold-io/zold/issues/244) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1670440947); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-16 04:12] 0crat commented on #244
Job `gh:zold-io/zold#244` already assigned to @yegor256, can't assign to @yegor256

[2018-06-16 04:14] 0crat commented on #244
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-16 04:14] 0crat commented on #244
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-16 04:14] 0crat commented on #244
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-16 04:58] yegor256 commented on #244
@rultor release, tag is `0.13.23`

[2018-06-16 05:00] rultor commented on #244
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14944-397787023)

[2018-06-16 05:09] rultor commented on #244
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14944-397787023) (took me 8min)

[2018-06-16 05:30] #244 closed

[2018-06-16 05:46] 0crat commented on #244
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-16 05:47] 0crat commented on #244
The job [#244](https://github.com/zold-io/zold/issues/244) is now out of scope

[2018-06-16 06:00] yegor256 commented on #61
@oltdaniel everything has to be tested, of course. As for the change, I doubt it will work, but let's try

[2018-06-16 06:13] oltdaniel commented on #61
@yegor256 Every test case for the wallet or amount calculation, fails with the new formula and format in hours instead of seconds.

[2018-06-16 06:48] yegor256 opened #245 "ignore same-time scores in the farm"
There is no reason to keep them all in the history

[2018-06-16 07:02] yegor256 commented on #245
@rultor release, tag is `0.13.24`

[2018-06-16 07:03] rultor commented on #245
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14946-397792684)

[2018-06-16 07:09] rultor commented on #245
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14946-397792684) (spent 6min)

[code]

[2018-06-16 11:16] rultor commented on #245
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14946-397805380)

[2018-06-16 11:27] #245 closed

[2018-06-16 11:30] yegor256 opened #246 "heroku install is broken"
Heroku crashes

[2018-06-16 11:35] yegor256 commented on #246
@rultor release, tag is `0.13.26`

[2018-06-16 11:37] rultor commented on #246
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14949-397806543)

[2018-06-16 11:42] 0crat commented on #245
The job is not in WBS, won't close the order

[2018-06-16 11:42] 0crat commented on #245
Job `gh:zold-io/zold#245` is not assigned, can't get performer

[2018-06-16 11:44] rultor commented on #246
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14949-397806543) (took me 7min)

[2018-06-16 11:45] #246 closed

[2018-06-16 12:01] 0crat commented on #246
The job is not in WBS, won't close the order

[2018-06-16 12:01] 0crat commented on #246
Job `gh:zold-io/zold#246` is not assigned, can't get performer

[2018-06-16 20:06] yegor256 opened #248 "Zold::Pay should do Zold::Pull if the paying wallet is absent"
Let's do the pull if the wallet is absent. Let's make it possible to disable it with `--skip-pull`.

[2018-06-16 20:06] 0crat commented on #248
Job [#248](https://github.com/zold-io/zold/issues/248) is now in scope, role is `DEV`

[2018-06-16 20:07] 0crat commented on #248
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 11:11] yegor256 opened #249 "node aliases"
Let's make it possible to assign node aliases with `zold node --alias=george`. The alias has to match `/^[a-z-0-9]{4,16}$/` pattern. If not assigned, we set it to `host:port`. We should show it in the JSON in all requests, next to `version`.

[2018-06-18 11:12] 0crat commented on #249
Job [#249](https://github.com/zold-io/zold/issues/249) is now in scope, role is `DEV`

[2018-06-18 11:13] 0crat commented on #249
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 11:17] yegor256 opened #250 "too many similar scores in the BEST"
They look very similar, taking into account their `age` values. We have to get rid of those that stay close to each other.

<img width="715" alt="screen shot 2018-06-18 at 2 35 49 pm" src="https://user-images.githubusercontent.com/526301/41533865-eb77ea82-7304-11e8-9e59-584b4e0420f1.png">

Here it's obvious that there is no need to work on `6:279m` and `6:255m` at the same time. It's better to dro

[2018-06-18 12:02] 0crat commented on #250
The job [#250](https://github.com/zold-io/zold/issues/250) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1691207881); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-18 12:03] 0crat commented on #250
Job `gh:zold-io/zold#250` already assigned to @yegor256, can't assign to @yegor256

[2018-06-18 12:04] yegor256 commented on #250
@rultor release, tag is `0.13.27`

[2018-06-18 12:04] 0crat commented on #250
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 12:04] 0crat commented on #250
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 12:04] 0crat commented on #250
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 12:05] rultor commented on #250
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14972-398031754)

[2018-06-18 12:13] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14972-398031754) (took me 8min)

[2018-06-18 12:34] yegor256 commented on #250
@rultor release, tag is `0.13.28`

[2018-06-18 12:36] rultor commented on #250
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14972-398039093)

[2018-06-18 12:45] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14972-398039093) (took me 9min)

[2018-06-18 12:48] #250 closed

[2018-06-18 12:48] yegor256 opened #251 "duplicate scores in the pipeline"
There are duplicate scores in the pipeline

[2018-06-18 13:07] yegor256 commented on #251
@rultor release, tag is `0.13.29`

[2018-06-18 13:09] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14974-398047743)

[2018-06-18 13:17] rultor commented on #251
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14974-398047743) (spent 8min)

[code]

[2018-06-18 13:27] sandiks opened #252 "TestZold#test_all_scripts failure"
Failure:
TestZold#test_all_scripts [test/test_zold.rb:49]:
push-and-pull.sh.
Expected: 0
  Actual: 65280

[2018-06-18 13:28] 0crat commented on #252
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-18 13:37] yegor256 opened #253 "NPE in remotes:128"
[code]

[2018-06-18 13:53] yegor256 commented on #253
@rultor release, tag is `0.13.30`

[2018-06-18 13:54] rultor commented on #253
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14976-398061544)

[2018-06-18 14:02] rultor commented on #253
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14976-398061544) (took me 8min)

[2018-06-18 14:02] #253 closed

[2018-06-18 14:04] 0crat commented on #232
The job [#232](https://github.com/zold-io/zold/issues/232) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1691404429); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-18 14:05] 0crat commented on #232
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 14:05] 0crat commented on #232
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 14:05] 0crat commented on #250
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 14:05] 0crat commented on #250
The job [#250](https://github.com/zold-io/zold/issues/250) is now out of scope

[2018-06-18 14:18] 0crat commented on #253
The job is not in WBS, won't close the order

[2018-06-18 14:18] 0crat commented on #253
Job `gh:zold-io/zold#253` is not assigned, can't get performer

[2018-06-18 14:19] yegor256 commented on #232
@rultor release, tag is `0.13.31`

[2018-06-18 14:19] yegor256 commented on #232
fixed in 4f54c33

[2018-06-18 14:21] rultor commented on #232
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14977-398070307)

[2018-06-18 14:30] rultor commented on #232
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14977-398070307) (took me 8min)

[2018-06-18 14:38] #232 closed

[2018-06-18 14:55] 0crat commented on #232
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 14:55] 0crat commented on #232
The job [#232](https://github.com/zold-io/zold/issues/232) is now out of scope

[2018-06-18 18:00] yegor256 opened #254 "synchronization lock"
Let's make sure only one operation can be done at the same time with wallets

[2018-06-18 18:32] yegor256 opened #255 "merge ignores too much"
Sometimes some transactions are getting ignored/lost

[2018-06-18 18:34] yegor256 opened #256 "NohupLog.print must be synchronized"
At the moment the log sometimes gets broken lines, because they clash when coming from different threads. Let's make sure the log is synchronized.

[2018-06-18 18:35] 0crat commented on #256
Job [#256](https://github.com/zold-io/zold/issues/256) is now in scope, role is `DEV`

[2018-06-18 18:36] 0crat commented on #256
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 18:50] yegor256 commented on #255
@rultor release, tag is `0.13.32`

[2018-06-18 18:51] rultor commented on #255
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14982-398157349)

[2018-06-18 18:58] rultor commented on #255
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14982-398157349) (took me 7min)

[2018-06-18 19:37] #255 closed

[2018-06-18 19:53] 0crat commented on #255
The job is not in WBS, won't close the order

[2018-06-18 19:53] 0crat commented on #255
Job `gh:zold-io/zold#255` is not assigned, can't get performer

[2018-06-19 05:10] yegor256 opened #257 "/mentronome"
Let's print it on the web

[2018-06-19 05:15] yegor256 opened #258 "fake positive transactions are possible"
A wallet can add a fake positive transaction and we will accept it on MERGE. That's wrong, we are simply missing the validation functionality in the code. `Patch` has to check the originating wallets and reject the incoming money if they are absent in paying wallets.

[2018-06-19 05:18] 0crat commented on #258
The job [#258](https://github.com/zold-io/zold/issues/258) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1700547234); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-19 05:18] 0crat commented on #258
Job `gh:zold-io/zold#258` already assigned to @yegor256, can't assign to @yegor256

[2018-06-19 05:18] 0crat commented on #258
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 05:19] 0crat commented on #258
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 05:19] 0crat commented on #258
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 05:19] #257 closed

[2018-06-19 05:35] 0crat commented on #257
The job is not in WBS, won't close the order

[2018-06-19 05:35] 0crat commented on #257
Job `gh:zold-io/zold#257` is not assigned, can't get performer

[2018-06-19 06:35] #258 closed

[2018-06-19 06:38] yegor256 opened #259 "MERGE can accept false positives in a new wallet"
When a wallet is new (has no score in the network), MERGE can, by mistake, accept all its fake positive transactions.

[2018-06-19 06:42] 0crat commented on #259
The job [#259](https://github.com/zold-io/zold/issues/259) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1700672255); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-19 06:42] 0crat commented on #259
Job `gh:zold-io/zold#259` already assigned to @yegor256, can't assign to @yegor256

[2018-06-19 06:45] 0crat commented on #259
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 06:45] 0crat commented on #259
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 06:46] 0crat commented on #259
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 06:54] 0crat commented on #258
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 06:54] 0crat commented on #258
The job [#258](https://github.com/zold-io/zold/issues/258) is now out of scope

[2018-06-19 07:03] yegor256 commented on #259
@rultor release, tag is `0.13.33`

[2018-06-19 07:04] rultor commented on #259
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14988-398295964)

[2018-06-19 07:10] rultor commented on #259
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14988-398295964) (took me 5min)

[2018-06-19 07:14] #259 closed

[2018-06-19 07:16] yegor256 opened #260 "Remotes.iterate in multiple threads"
Let's do `Remotes.iterate` in multiple threads. Also, let's make sure `Remotes` is a thread safe class. At the moment it sometimes crashes if, for example, `error` is called many times from different threads.

For example:

[code]

[2018-06-19 07:34] 0crat commented on #259
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 07:34] 0crat commented on #259
The job [#259](https://github.com/zold-io/zold/issues/259) is now out of scope

[2018-06-19 07:40] 0crat commented on #260
Job [#260](https://github.com/zold-io/zold/issues/260) is now in scope, role is `DEV`

[2018-06-19 07:42] 0crat commented on #260
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-19 07:49] yegor256 opened #261 "show metronome failures online"
Let's make them visiblre

[2018-06-19 09:09] yegor256 commented on #261
@rultor release, tag is `0.13.34`

[2018-06-19 09:10] rultor commented on #261
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14995-398330312)

[2018-06-19 09:17] rultor commented on #261
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14995-398330312) (took me 6min)

[2018-06-19 11:19] #261 closed

[2018-06-19 11:34] 0crat commented on #261
The job is not in WBS, won't close the order

[2018-06-19 11:34] 0crat commented on #261
Job `gh:zold-io/zold#261` is not assigned, can't get performer

[2018-06-19 14:15] yegor256 opened #262 "push queue is not getting emptied"
`modified` stays high

[2018-06-19 23:37] 0crat commented on #222
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-19 23:38] 0crat commented on #221
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 01:37] 0crat commented on #220
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 01:38] 0crat commented on #219
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 05:38] 0crat commented on #132
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 05:38] 0crat commented on #113
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 05:38] 0crat commented on #98
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 06:36] 0crat commented on #89
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 06:36] 0crat commented on #211
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 06:36] 0crat commented on #199
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 07:36] 0crat commented on #181
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 07:36] 0crat commented on #164
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 08:02] 0crat commented on #109
The user @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets) resigned from [#109](https://github.com/zold-io/zold/issues/109), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-20 08:02] 0crat commented on #109
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ilyaumanets[/z](https://www.0crat.com/u/ilyaumanets)

[2018-06-20 09:37] 0crat commented on #139
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 09:37] 0crat commented on #228
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 09:37] 0crat commented on #78
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 09:37] 0crat commented on #50
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-21 03:03] #262 closed

[2018-06-21 03:35] 0pdd opened #264 "test_atomic_file.rb:45-48: This test is skipped because..."
The puzzle `262-ee9602d6` from #262 has to be resolved:

https://github.com/zold-io/zold/blob/bfcf79cfb573220cf29de6e04f6275cb713758ab/test/test_atomic_file.rb#L45-L48

The puzzle was created by Yegor Bugayenko on 21-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the pu

[2018-06-21 03:35] 0pdd commented on #262
@yegor256 the puzzle [#264](https://github.com/zold-io/zold/issues/264) is still not solved.

[2018-06-21 03:35] 0crat commented on #264
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-21 03:36] yegor256 opened #265 "broken node names in the map"
This is what I see in the map now:

<img width="234" alt="screen shot 2018-06-21 at 6 35 31 am" src="https://user-images.githubusercontent.com/526301/41696566-6088e488-751d-11e8-8ded-a82074f78615.png">

I can't understand how is it possible. Why node names are broken? Whether they are coming broken or the node doesn't understand the incoming `X-Zold-Score` HTTP headers correctly. Let's investigate

[2018-06-21 03:37] yegor256 commented on #262
@rultor release, tag is `0.13.35`

[2018-06-21 03:40] yegor256 commented on #262
@rultor stop

[2018-06-21 03:44] rultor commented on #262
@yegor256 OK, I'll try to stop current task.

[2018-06-21 03:44] rultor commented on #262
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15025-398966428) (spent 3min)

[code]

[2018-06-21 03:47] yegor256 opened #266 "patch is making mistakes"
`Patch` is making mistakes in some corner cases. Let's test, reproduce and fix.

[2018-06-21 04:20] yegor256 commented on #266
@rultor release, tag is `0.13.35`

[2018-06-21 04:20] rultor commented on #266
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15026-398971405)

[2018-06-21 04:21] yegor256 commented on #266
@rultor stop

[2018-06-21 04:28] rultor commented on #266
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15026-398972353)

[2018-06-21 04:34] rultor commented on #266
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15026-398972353) (took me 5min)

[2018-06-21 04:35] #266 closed

[2018-06-21 04:38] yegor256 commented on #260
@0crat assign @vl3

[2018-06-21 04:38] yegor256 commented on #256
@0crat assign @vl3

[2018-06-21 04:38] #254 closed

[2018-06-21 04:39] #251 closed

[2018-06-21 04:39] yegor256 commented on #252
@sandiks I believe it's fine now, thanks

[2018-06-21 04:39] #252 closed

[2018-06-21 04:40] 0crat commented on #260
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): Issue: zold-io/zold#260, Comment: 398973723

[2018-06-21 04:40] 0crat commented on #260
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): Issue: zold-io/zold#260, Action: `created`

[2018-06-21 04:42] 0crat commented on #256
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): Issue: zold-io/zold#256, Comment: 398973757

[2018-06-21 04:42] 0crat commented on #260
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): Issue: zold-io/zold#260, Action: `created`

[2018-06-21 04:47] yegor256 opened #267 "positive and negative txns conflict by ID in Patch"
positive and negative txns conflict by ID in Patch

[2018-06-21 04:49] yegor256 commented on #267
@rultor merge, tag is `0.13.36`

[2018-06-21 04:50] rultor commented on #267
@yegor256 It is an issue, not a pull request

[2018-06-21 04:50] rultor commented on #267
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-21 04:52] yegor256 commented on #267
@rultor release, tag is 0.13.36

[2018-06-21 04:52] rultor commented on #267
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15027-398975526)

[2018-06-21 04:58] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15027-398975526) (took me 5min)

[2018-06-21 04:58] #267 closed

[2018-06-21 05:06] yegor256 opened #268 "ERROR: undefined method `error' for #<Zold::Node::WebrickLog:0x00000002ff5a58>"
[code]

[2018-06-21 05:14] yegor256 commented on #268
@rultor release, tag is `0.13.37`

[2018-06-21 05:16] yegor256 commented on #268
@rultor stop

[2018-06-21 05:16] rultor commented on #268
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15028-398978570)

[2018-06-21 05:18] yegor256 commented on #268
@rultor stop

[2018-06-21 05:19] rultor commented on #268
@yegor256 OK, I'll try to stop current task.

[2018-06-21 05:19] rultor commented on #268
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15028-398978768) (spent 3min)

[code]

[2018-06-21 05:19] yegor256 commented on #268
@rultor release, tag is `0.13.37`

[2018-06-21 05:21] rultor commented on #268
@yegor256 OK, I'll try to stop current task.

[2018-06-21 05:22] rultor commented on #268
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15028-398979071) (spent 32s)

[code]

[2018-06-21 05:32] rultor commented on #268
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15028-398979286) (took me 5min)

[2018-06-21 05:36] #268 closed

[2018-06-21 05:37] rultor commented on #268
@yegor256 Invalid release tag `0.13.37` specified. There is already a release `0.13.37` newer than the given release in this repository.

[2018-06-21 05:37] rultor commented on #268
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-21 05:47] 0crat commented on #262
Job `gh:zold-io/zold#262` is not assigned, can't get performer

[2018-06-21 05:49] 0crat commented on #262
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): CID: [1720304310](https://www.0crat.com/CAZPZR9FS/1720304310), Type: "Close job", Author: "yegor256"

[2018-06-21 05:55] yegor256 commented on #260
@0crat assign @vl3

[2018-06-21 05:56] 0crat commented on #264
Job [#264](https://github.com/zold-io/zold/issues/264) is now in scope, role is `DEV`

[2018-06-21 05:57] 0crat commented on #265
Job [#265](https://github.com/zold-io/zold/issues/265) is now in scope, role is `DEV`

[2018-06-21 06:05] 0crat commented on #266
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): CID: [1720421403](https://www.0crat.com/CAZPZR9FS/1720421403), Type: "Start order", Author: "yegor256"

[2018-06-21 06:05] 0crat commented on #266
Job `gh:zold-io/zold#266` is not assigned, can't get performer

[2018-06-21 06:05] 0crat commented on #252
Job `gh:zold-io/zold#252` is not assigned, can't get performer

[2018-06-21 06:05] 0crat commented on #252
The job is not in WBS, won't close the order

[2018-06-21 06:05] 0crat commented on #251
Job `gh:zold-io/zold#251` is not assigned, can't get performer

[2018-06-21 06:05] 0crat commented on #251
The job is not in WBS, won't close the order

[2018-06-21 06:05] 0crat commented on #254
Job `gh:zold-io/zold#254` is not assigned, can't get performer

[2018-06-21 06:05] 0crat commented on #254
The job is not in WBS, won't close the order

[2018-06-21 06:09] yegor256 commented on #260
@rultor release, tag is `0.13.38`

[2018-06-21 06:11] 0crat commented on #267
Job `gh:zold-io/zold#267` is not assigned, can't get performer

[2018-06-21 06:11] rultor commented on #260
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15029-398987387)

[2018-06-21 06:13] 0crat commented on #268
Job `gh:zold-io/zold#268` is not assigned, can't get performer

[2018-06-21 06:13] 0crat commented on #268
The job is not in WBS, won't close the order

[2018-06-21 06:17] rultor commented on #260
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15029-398987387) (took me 5min)

[2018-06-21 06:21] #260 closed

[2018-06-21 06:28] 0crat commented on #267
The job [#267](https://github.com/zold-io/zold/issues/267) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1720557019); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-21 06:28] 0crat commented on #267
@yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#267](https://github.com/zold-io/zold/issues/267), since the job is not in scope anymore

[2018-06-21 06:28] 0crat commented on #267
The job [#267](https://github.com/zold-io/zold/issues/267) is now out of scope

[2018-06-21 06:28] 0crat commented on #266
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-21 06:28] 0crat commented on #266
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-21 06:30] 0crat commented on #260
Job `gh:zold-io/zold#260` already assigned to @vl3, can't assign to @yegor256

[2018-06-21 06:38] 0crat commented on #260
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): CID: [1720621084](https://www.0crat.com/CAZPZR9FS/1720621084), Type: "Close job", Author: "yegor256"

[2018-06-21 06:42] 0crat commented on #265
Job `gh:zold-io/zold#265` is not assigned, can't get performer

[2018-06-21 06:42] 0crat commented on #265
The job [#265](https://github.com/zold-io/zold/issues/265) is now out of scope

[2018-06-21 10:30] yegor256 commented on #132
@rultor release, tag is `0.13.39`

[2018-06-21 10:31] rultor commented on #132
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15032-399054881)

[2018-06-21 10:37] rultor commented on #132
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15032-399054881) (took me 5min)

[2018-06-21 10:40] oltdaniel commented on #86
@yegor256 This is implemented, but eatch the test case numbers, because if the content grows, it will fail.

[2018-06-21 10:41] yegor256 commented on #132
@vl3 I made a temporary fix, but it only checks the `/version` URL and it's not tested. Let's make sure it is covered by test and checks `/`, validating the JSON and the presence of the "score" in it.

[2018-06-21 10:48] yegor256 opened #269 "don't pull if the wallet exists"
Node doesn't need to pull if the wallet is there already

[2018-06-21 10:50] yegor256 commented on #269
@rultor release, tag is `0.13.40`

[2018-06-21 10:52] rultor commented on #269
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15034-399059834)

[2018-06-21 10:57] rultor commented on #269
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15034-399059834) (took me 5min)

[2018-06-21 10:58] #269 closed

[2018-06-21 11:16] yegor256 opened #270 "network mismatch on REMOTE ADD"
Let's fix

[2018-06-21 11:32] rultor commented on #270
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15035-399070572) (took me 5min)

[2018-06-21 13:19] #270 closed

[2018-06-21 13:19] 0crat commented on #269
The job is not in WBS, won't close the order

[2018-06-21 13:19] 0crat commented on #269
Job `gh:zold-io/zold#269` is not assigned, can't get performer

[2018-06-21 13:19] yegor256 opened #271 "/wallet/id.txt"
Let's show it's text version

[2018-06-21 13:33] yegor256 commented on #271
@rultor release, tag is `0.13.42`

[2018-06-21 13:34] 0crat commented on #270
The job is not in WBS, won't close the order

[2018-06-21 13:34] 0crat commented on #270
Job `gh:zold-io/zold#270` is not assigned, can't get performer

[2018-06-21 13:35] rultor commented on #271
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15039-399104977)

[2018-06-21 13:42] rultor commented on #271
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15039-399104977) (took me 6min)

[2018-06-21 13:47] #271 closed

[2018-06-21 13:48] yegor256 opened #272 "RuntimeError: Invalid version name '1'"
[code]

[2018-06-21 13:48] 0crat commented on #271
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.26](https://github.com/zerocracy/farm): Issue: zold-io/zold#271, Action: `closed`

[2018-06-21 13:48] 0crat commented on #272
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.26](https://github.com/zerocracy/farm): Issue: zold-io/zold#272, Action: `opened`

[2018-06-21 13:57] yegor256 commented on #272
@rultor release, tag is `0.13.43`

[2018-06-21 14:00] 0crat commented on #272
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.27](https://github.com/zerocracy/farm): Issue: zold-io/zold#272, Action: `created`

[2018-06-21 14:00] rultor commented on #272
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15040-399112830)

[2018-06-21 14:06] rultor commented on #272
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15040-399112830) (spent 6min)

[code]

[2018-06-21 14:08] yegor256 commented on #272
@rultor release, tag is `0.13.43`

[2018-06-21 14:12] rultor commented on #272
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15040-399116540)

[2018-06-21 14:18] rultor commented on #272
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15040-399116540) (took me 5min)

[2018-06-21 14:21] #272 closed

[2018-06-21 14:23] 0crat commented on #271
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.28](https://github.com/zerocracy/farm): CID: [1721348101](https://www.0crat.com/CAZPZR9FS/1721348101), Type: "Close job", Author: "yegor256"

[2018-06-21 14:23] 0crat commented on #271
Job `gh:zold-io/zold#271` is not assigned, can't get performer

[2018-06-21 14:38] 0crat commented on #272
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.28](https://github.com/zerocracy/farm): CID: [1721421004](https://www.0crat.com/CAZPZR9FS/1721421004), Type: "Close job", Author: "yegor256"

[2018-06-21 14:38] 0crat commented on #272
Job `gh:zold-io/zold#272` is not assigned, can't get performer

[2018-06-21 21:16] pbenety commented on #139
@0crat waiting for review #273

[2018-06-21 21:18] 0crat commented on #139
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.31](https://github.com/zerocracy/farm): Issue: zold-io/zold#139, Comment: 399246033

[2018-06-21 21:18] 0crat commented on #139
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.31](https://github.com/zerocracy/farm): Issue: zold-io/zold#139, Action: `created`

[2018-06-21 23:37] 0crat commented on #72
@sandiks[/z](https://www.0crat.com/u/sandiks) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-21 23:37] 0crat commented on #61
@sandiks[/z](https://www.0crat.com/u/sandiks) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-22 00:01] pbenety commented on #139
@0crat waiting for review #273

[2018-06-22 00:04] 0crat commented on #139
@pbenety The impediment for [#139](https://github.com/zold-io/zold/issues/139) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-22 04:36] 0crat commented on #52
@sandiks[/z](https://www.0crat.com/u/sandiks) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-22 07:17] yegor256 opened #274 "MERGE is not tested properly"
It makes many small/big mistakes sometimes. Let's create a set of proper tests.

[2018-06-22 07:19] 0crat commented on #274
The job [#274](https://github.com/zold-io/zold/issues/274) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1730734868); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-22 07:19] 0crat commented on #274
Job `gh:zold-io/zold#274` already assigned to @yegor256, can't assign to @yegor256

[2018-06-22 07:21] 0crat commented on #274
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 07:22] 0crat commented on #274
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 13:50] yegor256 commented on #274
@rultor release, tag is `0.13.44`

[2018-06-22 13:54] yegor256 commented on #274
@rultor release, tag is `0.13.44`

[2018-06-22 13:55] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15051-399450265)

[2018-06-22 14:01] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15051-399450265) (took me 5min)

[2018-06-22 14:24] #274 closed

[2018-06-22 14:31] yegor256 opened #275 "prioritize requests in AsyncEntrance"
At the moment we process same wallets many times:

<img width="1420" alt="screen shot 2018-06-22 at 5 29 53 pm" src="https://user-images.githubusercontent.com/526301/41782134-0d9ea3ae-7642-11e8-9238-5eef238a0662.png">

I think it's not effective. Instead, we should keep a short-term history of requests in `AsyncEntrance` and  give priority to wallets that we haven't seen for a while. Others will g

[2018-06-22 14:32] 0crat commented on #275
Job [#275](https://github.com/zold-io/zold/issues/275) is now in scope, role is `DEV`

[2018-06-22 14:33] 0crat commented on #275
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 14:41] 0crat commented on #274
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 14:41] 0crat commented on #274
The job [#274](https://github.com/zold-io/zold/issues/274) is now out of scope

[2018-06-22 14:48] yegor256 opened #276 "replace waiting wallets in the queue"
AsyncEntrance should keep a queue of wallets coming it. When a new wallet arrives, it should check the queue. If a wallet with the same ID is already staying in the queue and waiting, it should just be replaced with the new content. No need to do the processing twice.

[2018-06-22 14:51] 0crat commented on #276
Job [#276](https://github.com/zold-io/zold/issues/276) is now in scope, role is `DEV`

[2018-06-22 14:52] yegor256 opened #277 "larger pool for AsyncEntrance"
Let's make it bigger

[2018-06-22 14:54] 0crat commented on #276
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 15:09] yegor256 commented on #81
@rultor release, tag is `0.13.45`

[2018-06-22 15:09] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15054-399475154)

[2018-06-22 15:16] rultor commented on #81
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15054-399475154) (took me 6min)

[2018-06-22 15:18] #81 closed

[2018-06-22 15:18] #277 closed

[2018-06-22 15:27] yegor256 opened #278 "no implicit conversion of Zold::Amount into String"
[code]

[2018-06-22 15:34] #278 closed

[2018-06-22 15:35] 0crat commented on #81
The job is not in WBS, won't close the order

[2018-06-22 15:35] 0crat commented on #81
Job `gh:zold-io/zold#81` is not assigned, can't get performer

[2018-06-22 15:35] 0crat commented on #277
The job is not in WBS, won't close the order

[2018-06-22 15:35] 0crat commented on #277
Job `gh:zold-io/zold#277` is not assigned, can't get performer

[2018-06-22 15:40] yegor256 opened #279 "wallet aliases"
Let's make it possible to assign aliases to wallets. Let's create a file `.zoldata/aliases` with two columns: wallet ID and alias. The alias has to match `/^[a-zA-Z0-9\-_]$/`. To assign it:

[code]

Here, the wallet `17737fee5b825835` will get alias `wts`. To remove it:

[code]

To show current alias of a wallet:

[code]

Or just

[code]

If the alias is set, it must be possible to use it everywhe

[2018-06-22 15:42] 0crat commented on #279
Job [#279](https://github.com/zold-io/zold/issues/279) is now in scope, role is `DEV`

[2018-06-22 15:44] 0crat commented on #279
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 15:50] yegor256 commented on #278
@rultor release, tag is `0.13.46`

[2018-06-22 15:50] rultor commented on #278
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15056-399488502)

[2018-06-22 15:51] 0crat commented on #278
The job is not in WBS, won't close the order

[2018-06-22 15:51] 0crat commented on #278
Job `gh:zold-io/zold#278` is not assigned, can't get performer

[2018-06-22 15:56] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15056-399488502) (took me 5min)

[2018-06-22 16:17] yegor256 opened #280 "pro-active pulling of wallets"
A node has to have a decorated version of `Wallets`. Every time `find()` is called, it has to see whether the returned wallet exists. If it's not, it has to put it into the queue and attempt to pull, as soon as possible.

[2018-06-22 16:18] 0crat commented on #280
Job [#280](https://github.com/zold-io/zold/issues/280) is now in scope, role is `DEV`

[2018-06-22 16:19] 0crat commented on #280
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 16:47] yegor256 opened #281 "AsyncEntrance queue persistence"
Currently, the entire queue stays in memory. If we restart a node, everything is lost. This is a serious threat to stability. Let's preserve the queue on disc and restore it from there on start.

[2018-06-22 16:49] 0crat commented on #281
Job [#281](https://github.com/zold-io/zold/issues/281) is now in scope, role is `DEV`

[2018-06-22 16:52] 0crat commented on #281
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 20:32] pbenety commented on #164
@0crat waiting for review #282

[2018-06-22 20:33] 0crat commented on #164
@pbenety The impediment for [#164](https://github.com/zold-io/zold/issues/164) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-23 15:48] llorllale opened #283 "Network JSON representation of wallets is not documented"
What is the JSON representation of wallets that is sent between nodes?

[2018-06-23 15:48] 0crat commented on #283
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-23 15:48] 0crat commented on #283
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-23 15:50] llorllale commented on #283
moved to zold-io/papers#26

[2018-06-23 15:50] #283 closed

[2018-06-23 16:05] 0crat commented on #283
Job `gh:zold-io/zold#283` is not assigned, can't get performer

[2018-06-23 16:05] 0crat commented on #283
The job is not in WBS, won't close the order

[2018-06-23 20:57] pbenety commented on #181
@0crat refuse

[2018-06-23 20:57] pbenety commented on #199
@0crat refuse

[2018-06-23 20:57] pbenety commented on #211
@0crat refuse

[2018-06-23 20:57] 0crat commented on #181
@pbenety The user @pbenety[/z](https://www.0crat.com/u/pbenety) resigned from [#181](https://github.com/zold-io/zold/issues/181), please stop working. Reason for job resignation: Order was cancelled

[2018-06-23 20:57] 0crat commented on #199
@pbenety The user @pbenety[/z](https://www.0crat.com/u/pbenety) resigned from [#199](https://github.com/zold-io/zold/issues/199), please stop working. Reason for job resignation: Order was cancelled

[2018-06-23 20:58] 0crat commented on #211
@pbenety The user @pbenety[/z](https://www.0crat.com/u/pbenety) resigned from [#211](https://github.com/zold-io/zold/issues/211), please stop working. Reason for job resignation: Order was cancelled

[2018-06-23 21:00] 0crat commented on #181
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-23 21:00] 0crat commented on #199
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-23 21:00] 0crat commented on #211
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-24 04:31] uurl commented on #50
@0crat wait

[2018-06-24 04:33] uurl commented on #78
@0crat wait

[2018-06-24 04:33] 0crat commented on #50
@uurl The impediment for [#50](https://github.com/zold-io/zold/issues/50) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-06-24 04:34] 0crat commented on #78
@yegor256 Job [#78](https://github.com/zold-io/zold/issues/78) is already in scope

[2018-06-24 04:34] 0crat commented on #78
@uurl The impediment for [#78](https://github.com/zold-io/zold/issues/78) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-06-24 04:34] yegor256 opened #285 "upgrade on start"
After releasing #282 all nodes will lose all wallets. This is unacceptable. Let's create a new routine, which will check the current version of files (let's keep in `.zoldata/version`) and compare it with the current one. Then, we should have a collection of `.rb` scripts in `upgrades/` directory. They should be executed one by one, for example:

[code]

When version jumps from, say, `0.12.46` to

[2018-06-24 04:36] 0crat commented on #285
Job [#285](https://github.com/zold-io/zold/issues/285) is now in scope, role is `DEV`

[2018-06-24 04:37] 0crat commented on #285
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 04:45] yegor256 commented on #285
@0crat assign @vl3

[2018-06-24 04:45] 0crat commented on #285
@yegor256 The job [#285](https://github.com/zold-io/zold/issues/285) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1750478084); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-24 04:46] yegor256 commented on #281
@0crat assign @vl3

[2018-06-24 04:46] 0crat commented on #285
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 04:46] 0crat commented on #281
@yegor256 The job [#281](https://github.com/zold-io/zold/issues/281) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1750479138); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-24 04:47] 0crat commented on #281
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 07:08] oltdaniel commented on #105
@yegor256 This will solve the issue with the slow front and timeouts as well, since the worker threads block the CPU totally.

[2018-06-24 07:52] yegor256 commented on #105
@oltdaniel indeed it will, but we have to merge this code somehow :( Now it breaks the build

[2018-06-24 07:54] oltdaniel commented on #105
@yegor256 I will check the conflicts and may find a solution.

[2018-06-24 07:55] yegor256 commented on #105
@oltdaniel thanks!

[2018-06-24 08:12] yegor256 commented on #86
@oltdaniel thanks!

[2018-06-24 08:12] #86 closed

[2018-06-24 08:29] 0crat commented on #86
Job `gh:zold-io/zold#86` is not assigned, can't get performer

[2018-06-24 08:29] 0crat commented on #86
The job [#86](https://github.com/zold-io/zold/issues/86) is now out of scope

[2018-06-24 09:59] yegor256 opened #286 "root node public key validation"
Let's embed a validation of a public key of the root node. `Patch` should do that. Let's keep the root node public key in the repository and raise an exception if root node has a different key.

[2018-06-24 10:02] yegor256 opened #287 "balance overflow"
It's possible now to add two big transactions to a wallet, so that its balance will go over 2^63 or -2^63. Let's make sure this never happens. I believe, we should add validation to `Patch.join()` and to `Wallet.add()`.

[2018-06-24 10:02] 0crat commented on #286
Job [#286](https://github.com/zold-io/zold/issues/286) is now in scope, role is `DEV`

[2018-06-24 10:02] 0crat commented on #287
Job [#287](https://github.com/zold-io/zold/issues/287) is now in scope, role is `DEV`

[2018-06-24 10:03] 0crat commented on #286
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 10:04] 0crat commented on #287
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 10:32] yegor256 commented on #287
@0crat assign @liligga

[2018-06-24 10:33] yegor256 commented on #286
@0crat assign @liligga

[2018-06-24 10:34] yegor256 commented on #286
@liligga let's make sure this happens only if `wallet.network` equals to `Wallet::MAIN_NETWORK`

[2018-06-24 10:35] 0crat commented on #287
@yegor256 The job [#287](https://github.com/zold-io/zold/issues/287) assigned to @liligga[/z](https://www.0crat.com/u/liligga), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1751040874); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-24 10:35] 0crat commented on #286
@yegor256 The job [#286](https://github.com/zold-io/zold/issues/286) assigned to @liligga[/z](https://www.0crat.com/u/liligga), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1751040875); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-24 10:38] 0crat commented on #287
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 10:38] 0crat commented on #286
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 17:09] 0crat commented on #222
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#222](https://github.com/zold-io/zold/issues/222), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 17:09] 0crat commented on #222
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-24 17:09] 0crat commented on #221
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#221](https://github.com/zold-io/zold/issues/221), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 17:09] 0crat commented on #221
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-24 17:14] 0crat commented on #220
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#220](https://github.com/zold-io/zold/issues/220), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 17:14] 0crat commented on #220
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-24 17:14] 0crat commented on #219
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#219](https://github.com/zold-io/zold/issues/219), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 17:14] 0crat commented on #219
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-24 17:14] 0crat commented on #132
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#132](https://github.com/zold-io/zold/issues/132), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 17:14] 0crat commented on #132
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-24 18:41] 0crat commented on #113
The user @mulev[/z](https://www.0crat.com/u/mulev) resigned from [#113](https://github.com/zold-io/zold/issues/113), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 18:42] 0crat commented on #113
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mulev[/z](https://www.0crat.com/u/mulev)

[2018-06-24 18:43] 0crat commented on #124
The job [#124](https://github.com/zold-io/zold/issues/124) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1751868299); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-24 18:47] 0crat commented on #98
The user @mulev[/z](https://www.0crat.com/u/mulev) resigned from [#98](https://github.com/zold-io/zold/issues/98), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 18:52] 0crat commented on #89
The user @mulev[/z](https://www.0crat.com/u/mulev) resigned from [#89](https://github.com/zold-io/zold/issues/89), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-24 18:52] 0crat commented on #89
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mulev[/z](https://www.0crat.com/u/mulev)

[2018-06-25 04:16] yegor256 opened #288 "return age of wallet in JSON"
Let's return the age of a wallet in JSON

[2018-06-25 04:34] #288 closed

[2018-06-25 04:41] yegor256 commented on #285
@vl3 this is pretty urgent, since we can't release anything until this is fixed. Thanks!

[2018-06-25 04:50] 0crat commented on #288
The job is not in WBS, won't close the order

[2018-06-25 04:50] 0crat commented on #288
Job `gh:zold-io/zold#288` is not assigned, can't get performer

[2018-06-25 05:41] 0crat commented on #228
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#228](https://github.com/zold-io/zold/issues/228), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-25 05:41] 0crat commented on #228
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-25 06:07] yegor256 opened #289 "md5 hash per wallet"
Let's calculate md5 hash of the entire wallet, for tracking purposes

[2018-06-25 06:31] yegor256 opened #290 "copies are not sorted by score"
It seems that they are not sorted

[2018-06-25 06:38] #290 closed

[2018-06-25 06:39] 0crat commented on #289
The job is not in WBS, won't close the order

[2018-06-25 06:39] 0crat commented on #289
Job `gh:zold-io/zold#289` is not assigned, can't get performer

[2018-06-25 06:54] 0crat commented on #290
The job is not in WBS, won't close the order

[2018-06-25 06:54] 0crat commented on #290
Job `gh:zold-io/zold#290` is not assigned, can't get performer

[2018-06-25 06:59] 0crat commented on #72
The user @sandiks[/z](https://www.0crat.com/u/sandiks) resigned from [#72](https://github.com/zold-io/zold/issues/72), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-25 06:59] 0crat commented on #72
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @sandiks[/z](https://www.0crat.com/u/sandiks)

[2018-06-25 07:06] 0crat commented on #61
The user @sandiks[/z](https://www.0crat.com/u/sandiks) resigned from [#61](https://github.com/zold-io/zold/issues/61), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-25 07:06] 0crat commented on #61
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @sandiks[/z](https://www.0crat.com/u/sandiks)

[2018-06-25 07:06] 0crat commented on #52
The user @sandiks[/z](https://www.0crat.com/u/sandiks) resigned from [#52](https://github.com/zold-io/zold/issues/52), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-25 07:07] 0crat commented on #52
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @sandiks[/z](https://www.0crat.com/u/sandiks)

[2018-06-25 07:09] 0crat commented on #113
The job [#113](https://github.com/zold-io/zold/issues/113) assigned to @sandiks[/z](https://www.0crat.com/u/sandiks), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1760725030); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-25 07:11] 0crat commented on #109
The job [#109](https://github.com/zold-io/zold/issues/109) assigned to @sandiks[/z](https://www.0crat.com/u/sandiks), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1760726144); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-25 07:13] 0crat commented on #98
The job [#98](https://github.com/zold-io/zold/issues/98) assigned to @sandiks[/z](https://www.0crat.com/u/sandiks), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1760728287); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-25 09:43] zeelich7 opened #291 "Load error after running remote reset and remote update in sequence"
See log below:
running the commands
`zold remote reset` and `zold remote update` in sequence resulted in the following error.
Did not manage to replicate after, the update functioned normally.
---------------------------------------------------------------
root@AlqoMN6:~# zold remote reset
root@AlqoMN6:~# zold remote update
/var/lib/gems/2.3.0/gems/zold-0.13.46/lib/zold/wallet.rb:23:in `require_re

[2018-06-25 09:43] 0crat commented on #291
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-25 09:43] 0crat commented on #291
@zeelich7[/z](https://www.0crat.com/u/zeelich7) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-25 10:44] yegor256 opened #292 "REMOTE UPDATE should limit the amount of nodes"
When we do `zold remote update` we fetch the entire list of remote nodes we can possibly find. If the network is big, this will create an overhead for the user, since it will push and pull to/from a large number of nodes. This is time consuming. Let's make sure `zole remote update` leaves just 16 nodes in the list, selecting the strongest ones.

There should also be a command line argument `--max-

[2018-06-25 10:44] 0crat commented on #292
Job [#292](https://github.com/zold-io/zold/issues/292) is now in scope, role is `DEV`

[2018-06-25 10:46] 0crat commented on #292
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-25 10:46] 0crat commented on #291
Job [#291](https://github.com/zold-io/zold/issues/291) is now in scope, role is `DEV`

[2018-06-25 10:46] 0crat commented on #291
Thanks for your contribution, @zeelich7[/z](https://www.0crat.com/u/zeelich7)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-06-25 13:59] yegor256 commented on #292
@0crat assign @botanicus

[2018-06-25 13:59] yegor256 commented on #280
@0crat assign @botanicus

[2018-06-25 13:59] 0crat commented on #113
The job [#113](https://github.com/zold-io/zold/issues/113) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1761389599); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-25 14:00] 0crat commented on #280
@yegor256 The job [#280](https://github.com/zold-io/zold/issues/280) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1761390640); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-25 14:00] 0crat commented on #292
@yegor256 The job [#292](https://github.com/zold-io/zold/issues/292) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1761390643); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-25 14:02] 0crat commented on #280
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-25 14:02] 0crat commented on #292
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-25 14:05] yegor256 commented on #279
@0crat assign @botanicus

[2018-06-25 14:05] 0crat commented on #279
@yegor256 The job [#279](https://github.com/zold-io/zold/issues/279) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1761436859); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-25 14:07] 0crat commented on #279
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 07:12] botanicus commented on #292
https://github.com/zold-io/zold/pull/295

[2018-06-26 07:57] botanicus commented on #280
@yegor256 can you please reference the class names? I don't want to be guessing which part of code to touch.

- node = ?
- queue = ?

So I'm supposed to create something like:

[code]

[2018-06-26 09:13] yegor256 opened #297 "farm fails if FARM file contains garbage"
[code]

This must not happen. Instead, we should just ignore the score and report it via `@log.error()`

[2018-06-26 09:13] 0crat commented on #297
Job [#297](https://github.com/zold-io/zold/issues/297) is now in scope, role is `DEV`

[2018-06-26 09:13] 0crat commented on #297
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 09:37] 0crat commented on #113
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2018-06-26 09:38] 0crat commented on #260
The job [#260](https://github.com/zold-io/zold/issues/260) is now out of scope

[2018-06-26 12:37] #237 closed

[2018-06-26 12:38] yegor256 commented on #264
@0crat assign @ledestin

[2018-06-26 12:38] 0crat commented on #264
@yegor256 The job [#264](https://github.com/zold-io/zold/issues/264) assigned to @ledestin[/z](https://www.0crat.com/u/ledestin), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1771250651); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-26 12:38] yegor256 commented on #220
@0crat assign @ledestin

[2018-06-26 12:38] 0crat commented on #264
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 12:38] 0crat commented on #220
@yegor256 The job [#220](https://github.com/zold-io/zold/issues/220) assigned to @ledestin[/z](https://www.0crat.com/u/ledestin), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1771250670); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-26 12:38] 0crat commented on #220
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 12:39] yegor256 commented on #79
@0crat assign @ledestin

[2018-06-26 12:39] 0crat commented on #109
The job [#109](https://github.com/zold-io/zold/issues/109) assigned to @ledestin[/z](https://www.0crat.com/u/ledestin), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1771251705); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-26 12:40] 0crat commented on #79
@yegor256 The job [#79](https://github.com/zold-io/zold/issues/79) assigned to @ledestin[/z](https://www.0crat.com/u/ledestin), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1771251710); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-26 12:40] 0crat commented on #79
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 12:40] 0crat commented on #79
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 12:53] 0crat commented on #237
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 12:53] 0crat commented on #237
The job [#237](https://github.com/zold-io/zold/issues/237) is now out of scope

[2018-06-26 17:16] yegor256 opened #298 "Remotes.error() should not fail if not found"
[code]

This is a regular exception. It's only logical that it happens, since the node may disappear from the list while update is running. I believe we should not fail in `error()` if the node is not found. Just silently return.

[2018-06-26 17:16] 0crat commented on #298
Job [#298](https://github.com/zold-io/zold/issues/298) is now in scope, role is `DEV`

[2018-06-26 17:17] ledestin commented on #79
@yegor256 I suppose taxes are to be reported for users that run nodes?

[2018-06-26 17:18] 0crat commented on #298
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 17:24] yegor256 commented on #79
@ledestin no, no. I mean, after I do `zold pay` in command line, I should see the result and then a new line with something like that:

[code]

[2018-06-26 17:27] ledestin opened #299 "Documentation on taxes is missing"
It would be nice to have an overview of how taxes accumulate and work between users and nodes. It's taking a long time to get that info from code.

[2018-06-26 17:28] ledestin opened #300 "Documentation on log levels is missing"
I can guess that probably info will get to the user, but an overview would be nice.

[2018-06-26 17:28] 0crat commented on #300
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-26 17:29] ledestin commented on #79
As per guidelines https://github.com/zold-io/zold/issues/300 and https://github.com/zold-io/zold/issues/299. Not sure if I'm doing it right, after all, no such docs exist at all yet.

[2018-06-26 17:33] 0crat commented on #300
The job [#300](https://github.com/zold-io/zold/issues/300) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1771732904); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-26 17:33] 0crat commented on #300
Job `gh:zold-io/zold#300` already assigned to @yegor256, can't assign to @yegor256

[2018-06-26 17:33] 0crat commented on #300
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-06-26 17:33] 0crat commented on #300
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 17:39] yegor256 commented on #300
@ledestin check e4a0b77 Good enough?

[2018-06-26 17:41] ledestin commented on #300
@yegor256 great, ty

[2018-06-26 17:43] ledestin commented on #300
@yegor256 I envisioned more of an overview document with such details, not code comments though. So you could point new contributors to it.

[2018-06-26 17:50] 0crat commented on #299
The job [#299](https://github.com/zold-io/zold/issues/299) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1771749177); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-26 17:50] 0crat commented on #299
Job `gh:zold-io/zold#299` already assigned to @yegor256, can't assign to @yegor256

[2018-06-26 17:50] 0crat commented on #299
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-06-26 17:50] 0crat commented on #299
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-26 18:02] yegor256 commented on #300
@ledestin please, close the ticket if the problem is solved

[2018-06-26 18:03] yegor256 commented on #300
@ledestin it's better to keep documentation close to the code. More contributors will easily modify this comment too.

[2018-06-26 19:32] yegor256 commented on #299
@ledestin check dea295c better now?

[2018-06-26 22:23] arun1595 commented on #229
@yegor256 What do you think of closing this issue as it has been fixed in https://github.com/zold-io/zold/commit/0d6af710a06da267d930674ae37729213c47266d?

[2018-06-27 08:03] ledestin commented on #299
@yegor256 thanks

[2018-06-27 08:03] #299 closed

[2018-06-27 08:04] ledestin commented on #300
@yegor256 Ok

[2018-06-27 08:04] #300 closed

[2018-06-27 08:06] ledestin commented on #79
@yegor256 not sure if it's a good idea to add it here, but here's my PR: https://github.com/zold-io/zold/pull/301

[2018-06-27 08:15] ledestin opened #302 "bundle update is broken with Rbenv"
[code]

Solution: add `.ruby-version` file.

[2018-06-27 08:15] 0crat commented on #302
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-27 08:20] 0crat commented on #299
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 08:20] 0crat commented on #299
The job [#299](https://github.com/zold-io/zold/issues/299) is now out of scope

[2018-06-27 08:20] 0crat commented on #300
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 08:20] 0crat commented on #300
The job [#300](https://github.com/zold-io/zold/issues/300) is now out of scope

[2018-06-27 08:45] ledestin commented on #264
@yegor256 `flock` doesn't block in the same process, it's a tool to use for separate processes.

[code]

You'd think the code above would block, but it doesn't.

Proposed fix: via `#synchronize`. Overall, multithread-safe code should be synchronized.

[2018-06-27 09:18] ledestin commented on #264
@0crat boost 3x

[2018-06-27 09:30] ledestin commented on #109
@yegor256 I have no access to the repository on Codecov.

[2018-06-27 13:11] yegor256 commented on #264
@ledestin got it. Please, go ahead and fix it the way you see it should be done.

[2018-06-27 13:17] yegor256 commented on #302
@ledestin fixed in cab5b6c Thanks!

[2018-06-27 13:17] #302 closed

[2018-06-27 13:19] 0crat commented on #302
The job [#302](https://github.com/zold-io/zold/issues/302) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1781326206); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-27 13:20] 0crat commented on #302
Job `gh:zold-io/zold#302` already assigned to @yegor256, can't assign to @yegor256

[2018-06-27 13:20] 0crat commented on #302
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-06-27 13:20] 0crat commented on #302
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 13:21] yegor256 commented on #109
@ledestin you don't need that access. Just run the build with `rake` and then open the `coverage/index.html` file. You will see the problem. Obviously, the report is not showing the right numbers.

[2018-06-27 13:34] 0crat commented on #302
The job [#302](https://github.com/zold-io/zold/issues/302) is now out of scope

[2018-06-27 13:40] 0crat commented on #229
Job `gh:zold-io/zold#229` is not assigned, can't get performer

[2018-06-27 13:40] 0crat commented on #229
The job [#229](https://github.com/zold-io/zold/issues/229) is now out of scope

[2018-06-27 14:17] 0crat commented on #98
The job [#98](https://github.com/zold-io/zold/issues/98) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1781431142); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-06-27 14:21] yegor256 commented on #298
@0crat assign emilianodellacasa

[2018-06-27 14:21] 0crat commented on #298
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.23.3](https://github.com/zerocracy/farm): CID: [1781435259](https://www.0crat.com/CAZPZR9FS/1781435259), Type: "Start order", Author: "yegor256"

[2018-06-27 14:21] 0crat commented on #298
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 14:21] yegor256 commented on #297
@0crat assign @emilianodellacasa

[2018-06-27 14:22] 0crat commented on #297
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.23.3](https://github.com/zerocracy/farm): CID: [1781436273](https://www.0crat.com/CAZPZR9FS/1781436273), Type: "Start order", Author: "yegor256"

[2018-06-27 14:22] 0crat commented on #297
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 14:40] yegor256 commented on #297
@0crat assign @emilianodellacasa

[2018-06-27 14:40] yegor256 commented on #298
@0crat assign @emilianodellacasa

[2018-06-27 14:41] 0crat commented on #297
@yegor256 Job [#297](https://github.com/zold-io/zold/issues/297) is already assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-06-27 16:33] yegor256 commented on #298
@0crat assign @emilianodellacasa

[2018-06-27 16:33] yegor256 commented on #297
@0crat refuse

[2018-06-27 16:34] 0crat commented on #297
@yegor256 The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#297](https://github.com/zold-io/zold/issues/297), please stop working. Reason for job resignation: Order was cancelled

[2018-06-27 16:34] 0crat commented on #298
@yegor256 Job [#298](https://github.com/zold-io/zold/issues/298) is already assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-06-27 16:34] 0crat commented on #298
@yegor256 Job [#298](https://github.com/zold-io/zold/issues/298) is already assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-06-27 18:06] yegor256 commented on #298
@0crat refuse

[2018-06-27 18:06] yegor256 commented on #230
@0crat assign @mgrassotti

[2018-06-27 18:06] yegor256 commented on #222
@0crat assign @mgrassotti

[2018-06-27 18:06] yegor256 commented on #222
@0crat refuse

[2018-06-27 18:06] #222 closed

[2018-06-27 18:07] #228 closed

[2018-06-27 18:07] #221 closed

[2018-06-27 18:07] yegor256 commented on #219
@0crat assign @mgrassotti

[2018-06-27 18:08] 0crat commented on #298
@yegor256 The user @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) resigned from [#298](https://github.com/zold-io/zold/issues/298), please stop working. Reason for job resignation: Order was cancelled

[2018-06-27 18:08] 0crat commented on #222
@yegor256 Job `gh:zold-io/zold#222` is not assigned, can't get performer

[2018-06-27 18:08] 0crat commented on #222
@yegor256 The job [#222](https://github.com/zold-io/zold/issues/222) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1781808997); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-27 18:08] 0crat commented on #219
@yegor256 The job [#219](https://github.com/zold-io/zold/issues/219) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1781809000); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-27 18:09] 0crat commented on #222
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 18:09] 0crat commented on #219
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 18:10] yegor256 commented on #298
@0crat assign @emilianodellacasa

[2018-06-27 18:10] yegor256 commented on #297
@0crat assign @emilianodellacasa

[2018-06-27 18:10] 0crat commented on #298
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.23.4](https://github.com/zerocracy/farm): CID: [1781811070](https://www.0crat.com/CAZPZR9FS/1781811070), Type: "Start order", Author: "yegor256"

[2018-06-27 18:11] 0crat commented on #298
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 18:11] 0crat commented on #297
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.23.4](https://github.com/zerocracy/farm): CID: [1781811082](https://www.0crat.com/CAZPZR9FS/1781811082), Type: "Start order", Author: "yegor256"

[2018-06-27 18:11] 0crat commented on #297
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 18:23] 0crat commented on #222
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-27 18:23] 0crat commented on #228
Job [#228](https://github.com/zold-io/zold/issues/228) is not in the agenda of @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), can't inspect

[2018-06-27 18:23] 0crat commented on #221
Job [#221](https://github.com/zold-io/zold/issues/221) is not in the agenda of @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), can't inspect

[2018-06-27 18:23] 0crat commented on #222
The job [#222](https://github.com/zold-io/zold/issues/222) is now out of scope

[2018-06-27 18:23] 0crat commented on #228
The job [#228](https://github.com/zold-io/zold/issues/228) is now out of scope

[2018-06-27 18:23] 0crat commented on #221
The job [#221](https://github.com/zold-io/zold/issues/221) is now out of scope

[2018-06-27 18:59] yegor256 commented on #298
@0crat assign @emilianodellacasa

[2018-06-27 19:00] yegor256 commented on #297
@0crat assign @emilianodellacasa

[2018-06-27 19:07] 0crat commented on #298
@yegor256 Job [#298](https://github.com/zold-io/zold/issues/298) is already assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-06-27 19:07] 0crat commented on #297
@yegor256 Job [#297](https://github.com/zold-io/zold/issues/297) is already assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-06-27 19:08] ypshenychka commented on #222
@0crat quality bad

[2018-06-27 19:09] 0crat commented on #222
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-06-27 19:09] 0crat commented on #222
@ypshenychka There is no quality review for [#222](https://github.com/zold-io/zold/issues/222), no performer

[2018-06-27 19:09] 0crat commented on #222
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-27 19:33] jsoroka opened #304 "Ethereum is mispelled in gemspec and whitepaper."
I expect to see 'ethereum' but I see 'etherium' instead, here in the gemspec: https://github.com/zold-io/zold/blob/6eaac8af81da7575157a40e251cb03cfda53d812/zold.gemspec#L40

Also in the whitepaper, [here](https://github.com/zold-io/papers/blob/f5561d96c879a0200296ce85921749b92487607a/tex/wp.tex#L44) and [here](https://github.com/zold-io/papers/blob/f5561d96c879a0200296ce85921749b92487607a/tex/wp.t

[2018-06-27 19:33] 0crat commented on #304
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-27 19:33] 0crat commented on #304
@jsoroka[/z](https://www.0crat.com/u/jsoroka) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-27 19:45] yegor256 commented on #304
@jsoroka fixed in 25ac9b6 thanks!

[2018-06-27 19:45] #304 closed

[2018-06-27 20:00] 0crat commented on #304
Job `gh:zold-io/zold#304` is not assigned, can't get performer

[2018-06-27 20:00] 0crat commented on #304
The job is not in WBS, won't close the order

[2018-06-28 03:38] yegor256 commented on #109
@ledestin see how it works in https://github.com/zold-io/wts.zold.io I believe the problem here is that Cucumber tests overwrite the results of Minitest tests.

[2018-06-28 05:25] botanicus opened #305 "Replace stdlib digest with digest from OpenSSL"
During the investigation of #113 I found out the stdlib digest is not thread safe and so I replaced it with digest from the OpenSSL library instead.

I did so only in the one place the bug was occurring, but there are more places where digest is still being used. So in order for no more bugs like #113 to pop up in the future, we need to replace these digest calls as well.

[2018-06-28 05:50] botanicus opened #306 "Do not lock to a certain Ruby version (Gemfile)"
As a library that's supposed to work for a wide range of users and their environments, it's only reasonable to demand that it runs on more Ruby versions than just `2.3.3`.

I don't have the aforementioned version of Ruby installed, so I commented out the version requirement and I'm running zold on `ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]` and it works well.

I'd like to suggest

[2018-06-28 05:50] 0crat commented on #306
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-28 06:05] 0crat commented on #305
Job [#305](https://github.com/zold-io/zold/issues/305) is now in scope, role is `DEV`

[2018-06-28 06:05] 0crat commented on #305
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-06-28 06:05] 0crat commented on #305
The job [#305](https://github.com/zold-io/zold/issues/305) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1790613629); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-28 06:06] 0crat commented on #306
Job [#306](https://github.com/zold-io/zold/issues/306) is now in scope, role is `DEV`

[2018-06-28 06:06] 0crat commented on #306
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-06-28 06:07] yegor256 commented on #285
@0crat assign @botanicus

[2018-06-28 06:07] yegor256 commented on #285
@0crat boost 4x

[2018-06-28 06:07] 0crat commented on #285
@yegor256 Boost 4x was set for [#285](https://github.com/zold-io/zold/issues/285)

[2018-06-28 06:07] 0crat commented on #285
@yegor256 The job [#285](https://github.com/zold-io/zold/issues/285) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1790615668); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-28 06:08] 0crat commented on #285
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-28 06:08] 0crat commented on #285
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-28 06:10] 0crat commented on #306
The job [#306](https://github.com/zold-io/zold/issues/306) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1790618731); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-28 12:46] botanicus opened #307 "Test output is chaotic and unusable"
I just run `rake test`. It failed with 4 failures, and I'm just not able to find them, because the output is very verbose and very confusing (failures from the CLI looks like failures from the tests).

**Next steps:**
- Output to the logger (and/or `$stdout`/`$stderr`) needs to be redirected.
- It'd be great if there would be failure summary at the very end of all output, linking files and lines o

[2018-06-28 12:46] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-28 13:22] yegor256 commented on #307
@botanicus you can go to `test__helper.rb` and replace the logger with a `Quiet` one. I think we should make it possible to suppress all logs from command line: `rake --quiet`. Let's implement this possibility.

[2018-06-28 13:22] 0crat commented on #307
Job [#307](https://github.com/zold-io/zold/issues/307) is now in scope, role is `DEV`

[2018-06-28 13:23] 0crat commented on #307
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-06-28 13:24] 0crat commented on #307
The job [#307](https://github.com/zold-io/zold/issues/307) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1791324846); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-28 13:32] botanicus commented on #113
@yegor256 please ^

[2018-06-28 13:33] yegor256 commented on #113
@botanicus thanks!

[2018-06-28 13:33] #113 closed

[2018-06-28 13:49] 0crat commented on #113
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.23.6](https://github.com/zerocracy/farm): CID: [1791334931](https://www.0crat.com/CAZPZR9FS/1791334931), Type: "Close job", Author: "yegor256"

[2018-06-28 13:49] 0crat commented on #113
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @botanicus[/z](https://www.0crat.com/u/botanicus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-28 13:49] 0crat commented on #113
The job [#113](https://github.com/zold-io/zold/issues/113) is now out of scope

[2018-06-28 13:52] botanicus commented on #113
@yegor256 _The job #113 is now out of scope_.(^) Is this a problem?

[2018-06-28 13:54] yegor256 commented on #113
@botanicus this is how it should be. The job is closed. Now it will be validated by our QA and paid.

[2018-06-28 14:28] botanicus commented on #113
@ypshenychka https://github.com/zold-io/zold/pull/294

[2018-06-28 14:39] yegor256 commented on #280
@botanicus I think we should create `HungryWallets` (why not) decorator, which will be instantiated in `node.rb` and will have its own internal pool, similar to what `SpreadEntrace` has. And it should do what you described above.

[2018-06-28 16:22] ypshenychka commented on #113
@botanicus thanks

[2018-06-28 16:23] ypshenychka commented on #113
@0crat quality acceptable

[2018-06-28 16:23] 0crat commented on #113
Order was finished, quality is "acceptable": +30 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-06-28 16:23] 0crat commented on #113
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-29 04:20] ledestin commented on #264
@yegor256 https://github.com/zold-io/zold/pull/303

[2018-06-29 05:37] 0crat commented on #281
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-29 09:57] emilianodellacasa commented on #305
The fix is in pull request #311

[2018-06-29 10:01] emilianodellacasa commented on #298
PR #309

[2018-06-29 10:37] 0crat commented on #287
@liligga[/z](https://www.0crat.com/u/liligga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-29 10:37] 0crat commented on #286
@liligga[/z](https://www.0crat.com/u/liligga) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-29 12:33] pbenety commented on #139
@yegor256 please close this issue. The PR #273 was merged.

[2018-06-29 20:37] 0crat commented on #124
@mulev[/z](https://www.0crat.com/u/mulev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-30 05:54] yegor256 opened #314 "Remotes.rb should ignore non-matching networks"
Let's add an extra validation step for `Remotes::Remote` to check that the `network` matches. If we fetch JSON that contains `network` that doesn't match what we have encapsulated, we should raise an exception.

[2018-06-30 05:55] 0crat commented on #314
Job [#314](https://github.com/zold-io/zold/issues/314) is now in scope, role is `DEV`

[2018-06-30 05:55] 0crat commented on #314
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-30 05:57] yegor256 opened #315 "Remotes.mtime"
Let's add a new method `mtime()` to `Remotes`, which will return the time of the latest update of the list of remotes. I think we should keep this time somewhere inside the file. Maybe at the last line?

[2018-06-30 05:58] 0crat commented on #315
Job [#315](https://github.com/zold-io/zold/issues/315) is now in scope, role is `DEV`

[2018-06-30 05:58] 0crat commented on #315
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-30 12:11] pbenety commented on #164
@llorllale please close this isssue. The PR #282 was merged.

[2018-06-30 12:32] mgrassotti commented on #307
I wrote a solution but I cannot push a new branch to create a new PR:
[code]

[2018-06-30 13:54] llorllale commented on #164
@pbenety thanks

[2018-06-30 13:54] #164 closed

[2018-06-30 14:01] yegor256 commented on #139
@pbenety thanks!

[2018-06-30 14:01] #139 closed

[2018-06-30 14:34] 0crat commented on #164
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @pbenety[/z](https://www.0crat.com/u/pbenety), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-30 14:34] 0crat commented on #164
The job [#164](https://github.com/zold-io/zold/issues/164) is now out of scope

[2018-06-30 14:39] 0crat commented on #314
The job [#314](https://github.com/zold-io/zold/issues/314) assigned to @mgrassotti[/z](https://www.0crat.com/u/mgrassotti), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1811448243); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-30 16:04] ypshenychka commented on #139
@0crat quality good

[2018-06-30 16:05] 0crat commented on #139
Order was finished, quality is "good": +38 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-30 16:05] 0crat commented on #139
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-30 16:11] ypshenychka commented on #164
@0crat quality good

[2018-06-30 16:15] 0crat commented on #164
Order was finished, quality is "good": +38 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-30 16:15] 0crat commented on #164
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-30 16:38] 0crat commented on #280
@botanicus[/z](https://www.0crat.com/u/botanicus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-30 16:38] 0crat commented on #292
@botanicus[/z](https://www.0crat.com/u/botanicus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-30 19:37] 0crat commented on #279
@botanicus[/z](https://www.0crat.com/u/botanicus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-01 05:03] 0pdd commented on #264
The puzzle `262-ee9602d6` has disappeared from the source code, that's why I closed this issue.

[2018-07-01 05:03] #264 closed

[2018-07-01 05:03] 0pdd commented on #262
@yegor256 the only puzzle [#264](https://github.com/zold-io/zold/issues/264) is solved here.

[2018-07-01 05:19] 0crat commented on #264
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @ledestin[/z](https://www.0crat.com/u/ledestin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-01 05:20] 0crat commented on #264
The job [#264](https://github.com/zold-io/zold/issues/264) is now out of scope

[2018-07-01 06:39] yegor256 opened #318 "API documentation"
Let's write it up

[2018-07-01 06:40] 0crat commented on #318
The job [#318](https://github.com/zold-io/zold/issues/318) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1820646139); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-01 06:40] 0crat commented on #318
Job `gh:zold-io/zold#318` already assigned to @yegor256, can't assign to @yegor256

[2018-07-01 06:40] 0crat commented on #318
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-01 06:40] 0crat commented on #318
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-01 06:40] 0crat commented on #318
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-01 06:45] ypshenychka commented on #264
@0crat quality good

[2018-07-01 06:50] 0crat commented on #264
Order was finished, quality is "good": +53 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-01 06:50] 0crat commented on #264
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-01 07:01] #318 closed

[2018-07-01 07:16] 0crat commented on #318
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-01 07:16] 0crat commented on #318
The job [#318](https://github.com/zold-io/zold/issues/318) is now out of scope

[2018-07-01 13:37] 0crat commented on #220
@ledestin[/z](https://www.0crat.com/u/ledestin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-01 13:37] 0crat commented on #109
@ledestin[/z](https://www.0crat.com/u/ledestin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-01 14:38] 0crat commented on #79
@ledestin[/z](https://www.0crat.com/u/ledestin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-01 17:01] ledestin commented on #264
@yegor256 I requested *boost 3x*, but got *2x*, according to 0crat Telegram.

[2018-07-01 19:31] yegor256 commented on #264
@ledestin you can't boost a task, only an architect or a product owner can do that. It was a bug in Zerocrat that it didn't inform you about access rights violation. When/if you want to boost a task, you should ask ARC or PO to do that, see: http://www.zerocracy.com/policy.html#5

[2018-07-01 22:51] botanicus commented on #306
@yegor256 what should be the lowest supported Ruby version?

Ruby 2.3 has some features that are pretty handy, such as the safe navigation operator `test&.method` (shortcut for `test.method if test`) and the whitespace-trimming heredoc `<<~EOF`.

[2018-07-01 23:01] botanicus opened #320 "Commands’ help is not indented properly (hence unreadable)"
Every single command has improperly aligned help banner: https://github.com/zold-io/zold/blob/master/lib/zold/commands/pay.rb#L43-L49

It doesn’t make sense and it’s hard to read. (And it’s [not just my opinion](https://github.com/zold-io/zold/pull/317#pullrequestreview-133458481).)

I [inquired about what’s the minimal Ruby version we support](https://github.com/zold-io/zold/issues/306#issuecomme

[2018-07-01 23:01] 0crat commented on #320
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 02:09] botanicus opened #321 "Travis build must fail if PDD fails"
Travis currently doesn’t fail if PDD does.

That means we’re all wasting our time if a PR looks good, everything’s green, but in fact PDD hasn’t been tested, as it happened in https://github.com/zold-io/zold/pull/295

That means 2 people have to do something and all is being held back and an unnecessary context switching introduces overhead and waste of time for the both of them.

[code]

[2018-07-02 02:09] 0crat commented on #321
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 03:01] ledestin commented on #264
@yegor256 ok, so what should be done with this PR's boost? Should I request it now?

[2018-07-02 03:42] ledestin commented on #220
@yegor256 I want to do `Pull.new(...).run`, but it requires `remotes` and `copies` that aren't passed to `Invoice`. Are there globals or should I require them for `Invoice`?

[2018-07-02 03:50] ledestin commented on #109
@0crat refuse

[2018-07-02 03:50] 0crat commented on #109
@ledestin The user @ledestin[/z](https://www.0crat.com/u/ledestin) resigned from [#109](https://github.com/zold-io/zold/issues/109), please stop working. Reason for job resignation: Order was cancelled

[2018-07-02 03:51] 0crat commented on #109
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-02 06:06] yegor256 commented on #320
@botanicus totally agree, thanks for the suggestion

[2018-07-02 06:06] 0crat commented on #320
Job [#320](https://github.com/zold-io/zold/issues/320) is now in scope, role is `DEV`

[2018-07-02 06:07] 0crat commented on #320
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-02 06:09] 0pdd opened #322 "test_alias.rb:3-5: Write unit tests for the alias..."
The puzzle `279-4664e37c` from #279 has to be resolved:

https://github.com/zold-io/zold/blob/bc98df8a4527bcce4ef88494de1b71c448b033bd/test/commands/test_alias.rb#L3-L5

The puzzle was created by rultor on 02-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is

[2018-07-02 06:09] 0pdd opened #323 "alias.rb:31-33: Implement command handling. As in other..."
The puzzle `279-d44ca5ec` from #279 has to be resolved:

https://github.com/zold-io/zold/blob/bc98df8a4527bcce4ef88494de1b71c448b033bd/lib/zold/commands/alias.rb#L31-L33

The puzzle was created by rultor on 02-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is

[2018-07-02 06:09] 0pdd commented on #279
@yegor256 2 puzzles [#322](https://github.com/zold-io/zold/issues/322), [#323](https://github.com/zold-io/zold/issues/323) are still not solved.

[2018-07-02 06:10] 0crat commented on #323
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 06:10] 0crat commented on #323
Job [#323](https://github.com/zold-io/zold/issues/323) is now in scope, role is `DEV`

[2018-07-02 06:10] 0crat commented on #322
Job [#322](https://github.com/zold-io/zold/issues/322) is now in scope, role is `DEV`

[2018-07-02 06:10] 0crat commented on #322
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 07:13] yegor256 commented on #323
@0crat assign @botanicus

[2018-07-02 07:13] yegor256 commented on #322
@0crat assign @botanicus

[2018-07-02 07:13] 0crat commented on #323
@yegor256 The job [#323](https://github.com/zold-io/zold/issues/323) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1830720544); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-02 07:14] 0crat commented on #323
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-02 07:14] 0crat commented on #322
@yegor256 The job [#322](https://github.com/zold-io/zold/issues/322) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1830721562); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-02 07:14] 0crat commented on #322
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-02 07:28] yegor256 commented on #220
@ledestin global variables are evil, we don't have at all. Of course, you should add them to the constructor.

[2018-07-02 08:44] ledestin opened #324 "Documentation on how to mock pulling a wallet is missing"
I'm writing a test checking that a wallet was successfully pulled from remotes. At this point, I'm at a loss of how to do that. If there were tests for `Pull`, I would have an idea.

[2018-07-02 08:44] 0crat commented on #324
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 08:59] ledestin commented on #220
@yegor256 Filed a bug https://github.com/zold-io/zold/pull/319/commits/19c78029d1bc725b2ee5dafc9e3c8effb020ba57

[2018-07-02 09:05] emilianodellacasa commented on #306
@yegor256 I think @botanicus is right, we should take a decision about which minimum version of Ruby should we support.

Ruby 2.2 is 4 years old but still used in many projects, based on recent statistics.

[2018-07-02 09:20] yegor256 commented on #324
@ledestin totally agree, we need `test/commands/test_pull.rb`

[2018-07-02 09:20] 0crat commented on #324
Job [#324](https://github.com/zold-io/zold/issues/324) is now in scope, role is `DEV`

[2018-07-02 09:21] 0crat commented on #324
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-07-02 09:21] 0crat commented on #321
The job [#321](https://github.com/zold-io/zold/issues/321) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1830929991); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-02 09:21] 0crat commented on #321
Job `gh:zold-io/zold#321` already assigned to @yegor256, can't assign to @yegor256

[2018-07-02 09:21] 0crat commented on #321
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-02 09:21] 0crat commented on #321
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-02 10:58] emilianodellacasa commented on #298
@yegor256 Should an absent node be removed by a "trim" command?

[2018-07-02 14:38] 0crat commented on #89
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 15:32] liligga opened #325 "Create test helper to populate wallet file with transactions(specified amount) without executing `sub` or `add`."
So I am testing  `Patch#join` and trying to make it fail when wallet has too big amount transactions:

          wallet = home.create_wallet
          wallet.add big_amount_txn
          patch = Zold::Patch.new(home.wallets, log: test_log)
          error = assert_raises RuntimeError do
              patch.join(wallet)
          end

 I can't  test `Patch#join` because the check on `wallet.add big

[2018-07-02 15:32] 0crat commented on #325
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 15:32] 0crat commented on #325
@liligga[/z](https://www.0crat.com/u/liligga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-02 15:37] 0crat commented on #72
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 15:37] 0crat commented on #61
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 16:28] #321 closed

[2018-07-02 16:37] 0crat commented on #52
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 16:45] botanicus commented on #279
@yegor256 please close this.

[2018-07-02 17:22] 0crat commented on #325
The job [#325](https://github.com/zold-io/zold/issues/325) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1831722235); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-02 17:27] 0pdd opened #326 "version_file.rb:12-14: Replace this stub with..."
The puzzle `285-7d7687a1` from #285 has to be resolved:

https://github.com/zold-io/zold/blob/90f141e718477fbbfcf49542726ad7204f70fcf7/lib/zold/version_file.rb#L12-L14

The puzzle was created by James C Russell on 02-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the pu

[2018-07-02 17:27] 0pdd opened #327 "upgrades.rb:12-15: Write the upgrade manager tests that..."
The puzzle `285-214c18b0` from #285 has to be resolved:

https://github.com/zold-io/zold/blob/90f141e718477fbbfcf49542726ad7204f70fcf7/lib/zold/upgrades.rb#L12-L15

The puzzle was created by James C Russell on 30-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle

[2018-07-02 17:28] 0crat commented on #327
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 17:28] 0crat commented on #326
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 17:29] 0crat commented on #326
Job [#326](https://github.com/zold-io/zold/issues/326) is now in scope, role is `DEV`

[2018-07-02 17:37] 0crat commented on #134
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 17:37] 0crat commented on #149
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 18:11] yegor256 commented on #327
@0crat assign @ledestin

[2018-07-02 18:11] 0crat commented on #327
@yegor256 The job [#327](https://github.com/zold-io/zold/issues/327) assigned to @ledestin[/z](https://www.0crat.com/u/ledestin), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/1831811811); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-02 18:11] yegor256 commented on #326
@0crat assign @ledestin

[2018-07-02 18:41] 0crat commented on #199
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 18:53] g4s8 commented on #306
@0crat status

[2018-07-02 20:43] yegor256 commented on #57
@0crat status

[2018-07-02 20:44] 0crat commented on #57
@yegor256 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#57](https://github.com/zold-io/zold/issues/57) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) for [5day

[2018-07-02 20:46] yegor256 commented on #57
@emilianodellacasa this is your job apparently...

[2018-07-02 20:46] yegor256 commented on #75
@g4s8 I believe this is fixed. If you still have questions, please submit it to zold-io/papers repository

[2018-07-02 20:49] #75 closed

[2018-07-02 20:50] yegor256 commented on #95
@g4s8 I believe it's fixed. If you have any further questions, please submit to zold-io/papers repo.

[2018-07-02 20:50] #95 closed

[2018-07-02 20:50] yegor256 commented on #112
@amihaiemil  I believe it's fixed. If you have any further questions, please submit to zold-io/papers repo.

[2018-07-02 20:50] #112 closed

[2018-07-02 21:04] 0crat commented on #75
Job `gh:zold-io/zold#75` is not assigned, can't get performer

[2018-07-02 21:04] 0crat commented on #75
The job is not in WBS, won't close the order

[2018-07-02 21:05] 0crat commented on #95
Job `gh:zold-io/zold#95` is not assigned, can't get performer

[2018-07-02 21:05] 0crat commented on #95
The job is not in WBS, won't close the order

[2018-07-02 21:06] 0crat commented on #112
Job `gh:zold-io/zold#112` is not assigned, can't get performer

[2018-07-02 21:06] 0crat commented on #112
The job is not in WBS, won't close the order

[2018-07-02 21:15] 0pdd opened #328 "remote.rb:95-103: Group options by subcommands Having all..."
The puzzle `292-732aceea` from #292 has to be resolved:

https://github.com/zold-io/zold/blob/c3f2f8dc1a46c3587026b1f4382fd657e425157a/lib/zold/commands/remote.rb#L95-L103

The puzzle was created by James C Russell on 30-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of th

[2018-07-02 21:15] 0pdd opened #329 "remote.rb:254-255: Implement the logic of selecting the..."
The puzzle `292-3bcf6540` from #292 has to be resolved:

https://github.com/zold-io/zold/blob/c3f2f8dc1a46c3587026b1f4382fd657e425157a/lib/zold/commands/remote.rb#L254-L255

The puzzle was created by James C Russell on 30-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of t

[2018-07-02 21:15] 0pdd commented on #292
@yegor256 2 puzzles [#328](https://github.com/zold-io/zold/issues/328), [#329](https://github.com/zold-io/zold/issues/329) are still not solved.

[2018-07-02 21:16] 0crat commented on #329
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 21:16] 0crat commented on #328
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-02 21:19] yegor256 commented on #279
@botanicus thanks!

[2018-07-02 21:19] #279 closed

[2018-07-02 21:21] yegor256 commented on #306
@botanicus I would say 2.3 is the minimum, but I'm not an expert...

[2018-07-02 21:21] 0crat commented on #329
Job [#329](https://github.com/zold-io/zold/issues/329) is now in scope, role is `DEV`

[2018-07-02 21:21] 0crat commented on #328
Job [#328](https://github.com/zold-io/zold/issues/328) is now in scope, role is `DEV`

[2018-07-02 21:23] yegor256 commented on #264
@ledestin you can, of course, but I don't see a reason for a boost here. It's a pretty standard pull request.

[2018-07-02 21:23] g4s8 commented on #95
@yegor256 thanks

[2018-07-02 21:23] g4s8 commented on #75
@yegor256 thanks

[2018-07-02 21:24] yegor256 commented on #298
@emilianodellacasa `trim` will remove some nodes, according to some logic. This is not important here. Here the problem is that we crash when the node is not in the list.

[2018-07-02 21:34] 0crat commented on #279
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @botanicus[/z](https://www.0crat.com/u/botanicus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-02 21:35] 0crat commented on #279
The job [#279](https://github.com/zold-io/zold/issues/279) is now out of scope

[2018-07-02 21:36] 0crat commented on #211
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 21:36] 0crat commented on #214
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 22:14] botanicus commented on #285
@yegor256 please close.

[2018-07-02 22:36] botanicus commented on #306
@yegor256 I agree, supporting 2.3+ is good enough and since it gives us quite a few pretty significant benefits, let’s go with it // cc @emilianodellacasa

[2018-07-02 22:38] 0crat commented on #176
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 22:38] 0crat commented on #231
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 23:38] 0crat commented on #235
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 23:38] 0crat commented on #241
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 00:38] 0crat commented on #256
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 00:38] 0crat commented on #275
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 01:37] 0crat commented on #276
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 01:37] 0crat commented on #291
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 02:36] 0crat commented on #107
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 02:36] 0crat commented on #96
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 03:37] 0crat commented on #85
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 03:37] 0crat commented on #129
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 04:37] 0crat commented on #130
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 04:37] 0crat commented on #60
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 05:36] 0crat commented on #57
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 05:56] botanicus commented on #329
@yegor256 may I have this ticket please?

[2018-07-03 05:59] botanicus commented on #320
@yegor256 may I have this ticket please?

[2018-07-03 06:30] theautobot opened #332 "uninstall old versions of zold when updating them"
make sure old versions of zold are uninstalled after nodes update themselves

[2018-07-03 06:30] 0crat commented on #332
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-03 06:30] 0crat commented on #332
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-03 06:36] 0crat commented on #55
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 06:36] 0crat commented on #132
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 06:43] 0crat commented on #332
Job [#332](https://github.com/zold-io/zold/issues/332) is now in scope, role is `DEV`

[2018-07-03 06:43] 0crat commented on #332
Thanks for your contribution, @theautobot[/z](https://www.0crat.com/u/theautobot)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-07-03 07:29] emilianodellacasa commented on #57
@yegor256 I have been assigned like 20 issues like that, if you see there is no comment about first assignment.

I have already created an issue for it https://github.com/zerocracy/farm/issues/1312 hope it will be taken care of soon

[2018-07-03 07:37] 0crat commented on #138
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 07:37] 0crat commented on #140
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 07:56] ypshenychka commented on #279
@0crat quality good

[2018-07-03 07:57] 0crat commented on #279
Order was finished, quality is "good": +38 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-03 07:57] 0crat commented on #279
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-03 07:58] emilianodellacasa commented on #306
@botanicus @yegor256 I agree with this decision, let's go to 2.3+ then

[2018-07-03 08:01] emilianodellacasa commented on #298
@yegor256 I have already resolved the crash problem, but the "trim" test is failing because the unavailability of the remote was the preocondition on the test.

Here the question is: if the remote is unavailable, should the "trim" command remove it from the list?

[2018-07-03 08:03] emilianodellacasa commented on #305
@botanicus @yegor256 The fix has been merged, what is left to be done with this issue?

[2018-07-03 08:16] botanicus commented on #305
@emilianodellacasa have you replaced everything? https://github.com/zold-io/zold/blob/master/lib/zold/tax.rb#L21

[2018-07-03 08:28] 0pdd opened #333 "hungry_wallets.rb:6-7: Add to the queue. Once in there,..."
The puzzle `280-c0152986` from #280 has to be resolved:

https://github.com/zold-io/zold/blob/9ff7be464a9e20ecfc31a3c9842a164dbf61a096/lib/zold/hungry_wallets.rb#L6-L7

The puzzle was created by rultor on 03-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _

[2018-07-03 08:29] 0crat commented on #333
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-03 08:30] yegor256 commented on #298
@emilianodellacasa what is "unavailable"? I don't understand the question.

[2018-07-03 08:36] 0crat commented on #333
Job [#333](https://github.com/zold-io/zold/issues/333) is now in scope, role is `DEV`

[2018-07-03 08:39] emilianodellacasa commented on #298
@yegor256 When I say "unavailable" I mean when the node is not found in the list, as you said in the description of the issue. I already fixed the issue and now the code is not throwing an error, just logging a message.

Noow I am asking if the "trim" command should remove the remote if this is not found in the list