[2018-08-03 15:28] oltdaniel commented on #202
@0crat refuse

[2018-08-03 15:34] 0crat commented on #202
@oltdaniel The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#202](https://github.com/zold-io/zold/issues/202), please stop working. Reason for job resignation: Order was cancelled

[2018-08-03 16:31] 0crat commented on #202
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-08-03 19:27] yegor256 commented on #445
@rultor release, tag is `0.14.27`

[2018-08-03 19:29] rultor commented on #445
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15582-410352990)

[2018-08-03 19:43] rultor commented on #445
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15582-410352990) (took me 13min)

[2018-08-04 13:26] #445 closed

[2018-08-04 13:26] 0crat commented on #445
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zold-io/zold#445, Action: `closed`

[2018-08-04 13:26] yegor256 opened #447 "/copies"
Let's show copies of a wallet, remotely

[2018-08-04 15:30] oltdaniel opened #448 "node - no new wallets received"
My node ([z.oltdaniel.tk](http://z.oltdaniel.tk:4096)) is not receiving any new wallets. It is listed in [b1.zold.io](http://b1.zold.io) and should receive some randomly pushed wallets, but my wallet count is at 4 since a week, which have been all fetched manually

[2018-08-04 15:30] 0crat commented on #448
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-04 15:33] oltdaniel commented on #419
@yegor256 Debugging the test cases would be a better solution, since a test case shouldn't run for more than 10minutes. Expanding the test time doesn't solves the problem.

[2018-08-04 16:53] 0pdd commented on #214
The puzzle `212-37109e23` has disappeared from the source code, that's why I closed this issue.

[2018-08-04 16:53] #214 closed

[2018-08-04 16:53] 0pdd commented on #212
@yegor256 the only puzzle [#214](https://github.com/zold-io/zold/issues/214) is solved here.

[2018-08-04 16:54] 0crat commented on #214
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.2](https://github.com/zerocracy/farm): Issue: zold-io/zold#214, Action: `closed`

[2018-08-04 16:56] yegor256 commented on #447
@rultor release, tag is `0.14.28`

[2018-08-04 16:56] rultor commented on #447
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15595-410462770)

[2018-08-04 17:10] rultor commented on #447
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15595-410462770) (took me 13min)

[2018-08-05 16:40] oltdaniel commented on #430
@theautobot ping

[2018-08-06 07:28] emilianodellacasa commented on #419
@oltdaniel There are already many issues addressing test cases problem, but I agree with you: modifying Travis configuration would be a temporary solution. My opinion is to update this issue to analyze test cases, identify the critical tests and adding a puzzle for each one (if it doesn't have one already).

Do you agree with it @yegor256?

[2018-08-06 08:56] emilianodellacasa commented on #231
@yegor256 This issue is not assigned to me, could you please try again?

[2018-08-06 09:30] yegor256 commented on #432
@theautobot this page is in this repo: https://github.com/zold-io/zold.github.io

[2018-08-06 09:30] #432 closed

[2018-08-06 09:34] yegor256 commented on #448
@oltdaniel it seems that the problem is that your score is too low (2). Other nodes will only discover you when your score is 4+. Below that number, they simply ignore you and don't add to their lists of remotes.

[2018-08-06 09:48] 0crat commented on #432
The job is not in WBS, won't close the order

[2018-08-06 09:48] 0crat commented on #432
Job `gh:zold-io/zold#432` is not assigned, can't get performer

[2018-08-06 12:32] yegor256 commented on #249
@emilianodellacasa thanks!

[2018-08-06 12:32] #249 closed

[2018-08-06 12:40] 0crat commented on #403
The job [#403](https://github.com/zold-io/zold/issues/403) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2181247408); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-08-06 12:47] 0crat commented on #403
Job `gh:zold-io/zold#403` already assigned to @yegor256, can't assign to @yegor256

[2018-08-06 12:47] 0crat commented on #403
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-06 12:48] 0crat commented on #403
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-06 12:48] 0crat commented on #403
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-06 12:49] 0crat commented on #249
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-06 12:50] 0crat commented on #249
The job [#249](https://github.com/zold-io/zold/issues/249) is now out of scope

[2018-08-06 12:56] #241 closed

[2018-08-06 12:56] 0pdd commented on #241
The puzzle `239-8451ca17` has disappeared from the source code, that's why I closed this issue.

[2018-08-06 12:56] 0pdd commented on #239
@yegor256 the only puzzle [#241](https://github.com/zold-io/zold/issues/241) is solved here.

[2018-08-06 13:12] 0crat commented on #241
Job `gh:zold-io/zold#241` is not assigned, can't get performer

[2018-08-06 13:13] 0crat commented on #241
The job [#241](https://github.com/zold-io/zold/issues/241) is now out of scope

[2018-08-06 13:25] ypshenychka commented on #249
@0crat quality good

[2018-08-06 13:28] 0crat commented on #249
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-08-06 13:29] 0crat commented on #249
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-06 20:01] llorllale opened #450 "Tax payment spread out among several remote nodes"
[Taxes](https://github.com/zold-io/zold/blob/de24951af760c7003b5ea96077f20c597d3c9399/lib/zold/commands/taxes.rb#L102-L121) are being paid out to several remote nodes. This contradicts the whitepaper (emphasis mine):

the network with a score of 16 or more.  Then, it has to take the invoice
from the score, request the node to lock the score for a minute, and send the
payment of 1 ZLD or less to th

[2018-08-06 20:01] 0crat commented on #450
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-06 20:01] 0crat commented on #450
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-07 06:08] yegor256 commented on #403
@rultor release, tag is `0.14.29`

[2018-08-07 06:09] rultor commented on #403
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15606-410944150)

[2018-08-07 06:11] yegor256 commented on #403
@rultor stop

[2018-08-07 06:12] rultor commented on #403
@yegor256 OK, I'll try to stop current task.

[2018-08-07 06:12] rultor commented on #403
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15606-410944698) (spent 3min)

[code]

[2018-08-07 06:54] yegor256 commented on #403
@rultor release, tag is `0.14.29`

[2018-08-07 06:55] rultor commented on #403
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15606-410953408)

[2018-08-07 08:27] yegor256 commented on #403
@rultor stop

[2018-08-07 08:28] rultor commented on #403
@yegor256 OK, I'll try to stop current task.

[2018-08-07 08:28] rultor commented on #403
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15606-410976953) (spent 2hr)

[code]

[2018-08-07 09:38] ledestin commented on #326
@emilianodellacasa I've closed the PR

[2018-08-07 13:37] emilianodellacasa opened #451 "TestZold#test_all_scripts failing randomly"
As demonstrated in PR https://github.com/zold-io/zold/pull/428#issuecomment-409963880, TestZold#test_all_scripts fail from time to time. We should maybe find another way to test those parts, to keep tests smaller and faster.

[2018-08-07 13:38] 0crat commented on #451
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-08 06:27] baybatu opened #452 "Wrong max_queue parameter value in AsyncEntrance"
in https://github.com/zold-io/zold/blob/1087688e10b43865d014c930864875971c0163c1/lib/zold/node/async_entrance.rb#L68

FixedThreadPool is initialized with `THREADS` constant for `max_queue` parameter. Instead, it must be created with already defined `MAX_QUEUE` constant for bigger queue size.

[2018-08-08 06:27] 0crat commented on #452
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-08 07:17] #448 closed

[2018-08-08 07:33] 0crat commented on #448
The job is not in WBS, won't close the order

[2018-08-08 07:33] 0crat commented on #448
Job `gh:zold-io/zold#448` is not assigned, can't get performer

[2018-08-08 08:48] emilianodellacasa commented on #231
@yegor256 ping

[2018-08-08 10:32] yegor256 commented on #231
@0crat assign @emilianodellacasa

[2018-08-08 10:32] yegor256 commented on #231
@emilianodellacasa Appveyor is designed to test in Windows OS

[2018-08-08 10:53] 0crat commented on #231
@yegor256 The job [#231](https://github.com/zold-io/zold/issues/231) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2201035516); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-08-08 11:09] 0crat commented on #231
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-08 14:07] emilianodellacasa opened #453 "Tests failing on appveyor"
After resolving issue #231 it would be necessary to partially rewrite a few tests that are failing on Appveyor, probably because Appveyor is running on a Windows OS and the tests are written for Linux.

Chech following link for a reference:

https://ci.appveyor.com/project/yegor256/zold-jhx6b/build/475/job/07853ak6b6unytdc

[2018-08-08 14:07] 0crat commented on #453
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-09 08:18] emilianodellacasa commented on #231
@yegor256 This issue has been solved on PR #443, please close this issue

[2018-08-10 08:07] emilianodellacasa commented on #231
@yegor256 ping

[2018-08-10 08:42] 0crat commented on #425
Job `gh:zold-io/zold#425` is not assigned, can't get performer

[2018-08-10 08:42] 0crat commented on #451
The job is not in WBS, won't close the order

[2018-08-10 08:42] 0crat commented on #451
Job `gh:zold-io/zold#451` is not assigned, can't get performer

[2018-08-10 08:42] 0crat commented on #425
The job [#425](https://github.com/zold-io/zold/issues/425) is now out of scope

[2018-08-10 10:08] 0crat commented on #214
The job [#214](https://github.com/zold-io/zold/issues/214) is now out of scope

[2018-08-10 10:08] 0crat commented on #214
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#214](https://github.com/zold-io/zold/issues/214), since the job is not in scope anymore

[2018-08-10 12:37] yegor256 commented on #231
@emilianodellacasa thanks!

[2018-08-10 12:37] #231 closed

[2018-08-10 13:15] 0crat commented on #231
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-10 13:17] 0crat commented on #231
The job [#231](https://github.com/zold-io/zold/issues/231) is now out of scope

[2018-08-10 13:37] ypshenychka commented on #231
@0crat quality good

[2018-08-10 14:29] 0crat commented on #231
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-08-10 14:39] 0crat commented on #231
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-10 15:16] yegor256 commented on #403
@rultor release, tag is `0.14.29`

[2018-08-10 15:17] rultor commented on #403
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15606-412114209)

[2018-08-10 15:28] rultor commented on #403
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15606-412114209) (took me 10min)

[2018-08-10 18:25] yegor256 opened #454 "remove current node from list of remotes on start"
Let's do it

[2018-08-10 18:52] yegor256 commented on #454
@rultor release, tag is `0.14.30`

[2018-08-10 18:53] rultor commented on #454
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15639-412173544)

[2018-08-10 19:03] rultor commented on #454
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15639-412173544) (took me 10min)

[2018-08-10 19:04] #454 closed

[2018-08-10 19:04] yegor256 opened #455 "SyncLog"
Let's make it synced

[2018-08-10 19:20] yegor256 commented on #455
@rultor release, tag is `0.14.31`

[2018-08-10 19:30] rultor commented on #455
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15640-412180384) (spent 9min)

[code]

[2018-08-10 19:50] yegor256 commented on #455
@rultor release, tag is `0.14.31`

[2018-08-10 19:52] rultor commented on #455
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15640-412187485)

[2018-08-10 20:02] rultor commented on #455
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15640-412187485) (took me 10min)

[2018-08-10 20:11] #455 closed

[2018-08-10 20:28] 0crat commented on #455
The job is not in WBS, won't close the order

[2018-08-10 20:28] 0crat commented on #455
Job `gh:zold-io/zold#455` is not assigned, can't get performer

[2018-08-11 04:53] #403 closed

[2018-08-11 04:53] yegor256 opened #456 "show errors in X-Zold-Error HTTP header"
Let show errors in `X-Zold-Error` header

[2018-08-11 05:12] 0crat commented on #403
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-11 05:12] 0crat commented on #403
The job [#403](https://github.com/zold-io/zold/issues/403) is now out of scope

[2018-08-11 05:26] yegor256 commented on #456
@rultor release, tag is `0.14.32`

[2018-08-11 05:27] rultor commented on #456
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15645-412252164)

[2018-08-11 05:36] rultor commented on #456
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15645-412252164) (took me 9min)

[2018-08-11 05:42] #456 closed

[2018-08-11 05:47] yegor256 opened #457 "queue size is calculated incorrectly"
Let's fix

[2018-08-11 05:57] yegor256 commented on #457
@rultor release, tag is `0.14.33`

[2018-08-11 05:58] rultor commented on #457
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15646-412253840)

[2018-08-11 05:58] 0crat commented on #456
The job is not in WBS, won't close the order

[2018-08-11 05:58] 0crat commented on #456
Job `gh:zold-io/zold#456` is not assigned, can't get performer

[2018-08-11 06:09] rultor commented on #457
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15646-412253840) (took me 10min)

[2018-08-11 06:09] #457 closed

[2018-08-11 06:25] 0crat commented on #457
The job is not in WBS, won't close the order

[2018-08-11 06:25] 0crat commented on #457
Job `gh:zold-io/zold#457` is not assigned, can't get performer

[2018-08-11 07:54] stepan-romankov opened #458 "Node not starting with ERROR: #1/sinatra can't get exclusive access to the wallet 4e1c0b133e8141a4 because of the lock at /.zoldata/locks/4e1c0b133e8141a4: #1/sinatra (RuntimeError)"
Logs are below.

[code]

[2018-08-11 07:54] 0crat commented on #458
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-11 07:54] 0crat commented on #458
@stepan-romankov[/z](https://www.0crat.com/u/stepan-romankov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-11 08:01] theautobot opened #459 "create fully punctional web wallet API"
subj

[2018-08-11 08:01] 0crat commented on #459
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-11 08:01] 0crat commented on #459
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-13 04:46] liligga commented on #287
@0crat  wait

[2018-08-13 04:47] 0crat commented on #287
@liligga The impediment for [#287](https://github.com/zold-io/zold/issues/287) was registered successfully by @liligga[/z](https://www.0crat.com/u/liligga)

[2018-08-13 04:47] 0crat commented on #287
@liligga Job [#287](https://github.com/zold-io/zold/issues/287) is not in the agenda of @liligga[/z](https://www.0crat.com/u/liligga), can't set impediment

[2018-08-13 07:30] liligga commented on #287
@yegor256 I am confused. I have done my PR but it is not merged

[2018-08-14 10:14] yegor256 opened #460 "pay in multiple threads fails"
It seems that PAY is not thread-safe

[2018-08-14 11:37] #460 closed

[2018-08-14 11:53] 0crat commented on #460
Job `gh:zold-io/zold#460` is not assigned, can't get performer

[2018-08-14 11:53] 0crat commented on #460
The job is not in WBS, won't close the order

[2018-08-15 08:35] yegor256 opened #461 "no implicit conversion of String into Integer"
[code]

[2018-08-15 11:33] #461 closed

[2018-08-15 11:49] 0crat commented on #461
Job `gh:zold-io/zold#461` is not assigned, can't get performer

[2018-08-15 14:14] yegor256 commented on #458
@rultor release, tag is `0.14.34`

[2018-08-15 14:17] rultor commented on #458
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15698-413210964)

[2018-08-15 14:27] rultor commented on #458
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15698-413210964) (took me 9min)

[2018-08-15 14:28] stepan-romankov commented on #458
@yegor256 I'm trying an update!

[2018-08-15 15:03] stepan-romankov commented on #458
@yegor256 ,

This problem disappeared but I still can't get the nod up. Now with
[code]

[2018-08-15 15:12] stepan-romankov commented on #458
starting node as
[code]
also doesn't help

[2018-08-15 19:06] yegor256 commented on #458
@rultor release, tag is `0.14.35`

[2018-08-15 19:07] rultor commented on #458
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15698-413302227)

[2018-08-15 19:18] rultor commented on #458
@stepan-romankov @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15698-413302227) (spent 10min)

[code]

[2018-08-16 05:21] yegor256 opened #462 "TestFront#test_renders_wallet_pages is not stable"
[code]

[2018-08-16 05:32] rultor commented on #458
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15698-413429010) (took me 10min)

[2018-08-16 05:34] yegor256 commented on #458
@stepan-romankov please, try 0.14.35

[2018-08-16 07:31] yegor256 opened #463 "show load average"
Let's show it in the front

[2018-08-16 08:01] stepan-romankov commented on #458
Hi, @yegor256, still the same
[code]

[2018-08-16 08:59] stepan-romankov commented on #458
@yegor256 not too much difference
[code]

[2018-08-16 10:33] 0crat commented on #463
The job is not in WBS, won't close the order

[2018-08-16 10:33] 0crat commented on #463
Job `gh:zold-io/zold#463` is not assigned, can't get performer

[2018-08-16 11:26] yegor256 commented on #463
@rultor release, tag is `0.14.35`

[2018-08-16 11:27] rultor commented on #463
@yegor256 Invalid release tag `0.14.35` specified. There is already a release `0.14.35` newer than the given release in this repository.

[2018-08-16 11:27] rultor commented on #463
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-08-16 11:33] yegor256 commented on #463
@rultor release, tag is `0.14.36`

[2018-08-16 11:34] rultor commented on #463
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15706-413515273)

[2018-08-16 11:45] rultor commented on #463
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15706-413515273) (spent 10min)

[code]

[2018-08-16 11:46] yegor256 commented on #463
@rultor release, tag is `0.14.36`

[2018-08-16 11:50] rultor commented on #463
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15706-413518370)

[2018-08-16 12:32] rultor commented on #463
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15706-413526675) (took me 10min)

[2018-08-16 12:35] yegor256 commented on #458
@stepan-romankov please, try version 0.14.36

[2018-08-16 12:36] #463 closed

[2018-08-16 12:53] 0crat commented on #463
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.30.4](https://github.com/zerocracy/farm): CID: [2281249063](https://www.0crat.com/CAZPZR9FS/2281249063), Type: "Close job", Author: "yegor256"

[2018-08-16 12:53] 0crat commented on #463
Job `gh:zold-io/zold#463` is not assigned, can't get performer

[2018-08-17 05:32] yegor256 commented on #452
@baybatu fixed, thanks!

[2018-08-17 05:32] #452 closed

[2018-08-17 05:33] yegor256 commented on #202
@0crat assign me

[2018-08-17 05:50] 0crat commented on #202
@yegor256 The job [#202](https://github.com/zold-io/zold/issues/202) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2290549670); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-17 06:08] 0crat commented on #452
The job is not in WBS, won't close the order

[2018-08-17 06:08] 0crat commented on #452
Job `gh:zold-io/zold#452` is not assigned, can't get performer

[2018-08-17 06:15] 0crat commented on #202
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-17 07:30] yegor256 commented on #202
@rultor release, tag is `0.14.37`

[2018-08-17 07:31] rultor commented on #202
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15714-413782275)

[2018-08-17 07:35] yegor256 opened #464 "cache wallets counter"
Let's cache it

[2018-08-17 07:41] rultor commented on #202
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15714-413782275) (spent 9min)

[code]

[2018-08-17 07:41] 0crat commented on #202
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-17 07:42] 0crat commented on #202
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-17 07:42] 0crat commented on #202
The job [#202](https://github.com/zold-io/zold/issues/202) is now out of scope

[2018-08-17 07:55] yegor256 opened #465 "FarmTest#test_renders_in_text is not stable"
[code]

[2018-08-17 08:05] stepan-romankov commented on #458
@yegor256 Hi, works fine now. Issue can be closed.

[2018-08-17 08:06] stepan-romankov commented on #458
@0crat close the issue.

[2018-08-17 08:07] 0crat commented on #458
@stepan-romankov Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign fro

[2018-08-17 08:48] yegor256 commented on #202
@rultor release, tag is `0.14.37`

[2018-08-17 08:48] #464 closed

[2018-08-17 08:48] rultor commented on #202
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15714-413800411)

[2018-08-17 08:59] rultor commented on #202
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15714-413800411) (took me 10min)

[2018-08-17 09:07] 0crat commented on #464
The job is not in WBS, won't close the order

[2018-08-17 09:07] 0crat commented on #464
Job `gh:zold-io/zold#464` is not assigned, can't get performer

[2018-08-17 10:44] yegor256 opened #466 "different names for copy files"
Let's give them different suffixes

[2018-08-17 12:17] #466 closed

[2018-08-17 12:37] yegor256 opened #467 "make nohup log downloadable"
Let's make it loadable

[2018-08-17 12:58] yegor256 commented on #458
@stepan-romankov just close the GitHub ticket

[2018-08-17 12:59] 0crat commented on #466
The job is not in WBS, won't close the order

[2018-08-17 13:00] 0crat commented on #466
Job `gh:zold-io/zold#466` is not assigned, can't get performer

[2018-08-17 14:58] yegor256 commented on #467
@rultor release, tag is `0.14.38`

[2018-08-17 15:01] rultor commented on #467
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15717-413892916)

[2018-08-17 15:14] rultor commented on #467
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15717-413892916) (took me 12min)

[2018-08-19 19:40] oltdaniel opened #468 "empty remotes - every remote will be droped"
At some point of time, the nodes will drop every remote. _(Observed on the `wts.zold.io` node and my own one)_

[2018-08-19 19:41] 0crat commented on #468
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-20 04:55] #467 closed

[2018-08-20 05:11] 0crat commented on #467
The job is not in WBS, won't close the order

[2018-08-20 05:11] 0crat commented on #467
Job `gh:zold-io/zold#467` is not assigned, can't get performer

[2018-08-20 08:10] #458 closed

[2018-08-20 08:27] 0crat commented on #458
The job is not in WBS, won't close the order

[2018-08-20 08:27] 0crat commented on #458
Job `gh:zold-io/zold#458` is not assigned, can't get performer

[2018-08-22 07:19] alekseysotnikov opened #469 "Cannot create a new wallet - ERROR: Permission denied @ fptr_finalize_flush"
Here is a log

[2018-08-22 07:19] 0crat commented on #469
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-22 07:19] 0crat commented on #469
@alekseysotnikov[/z](https://www.0crat.com/u/alekseysotnikov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-22 15:28] liligga opened #470 "Add Documentation on a per class/module/method basis"
Add documentation Inside source code for each method like in Rails for instance. Good starting point for this purpose is [YARD](https://github.com/lsegal/yard) which generates it.
This task seems to be pretty big though, so maybe it would be better to divide it into separate subtasks per class

- age
- amount
- atomic_file
etc

[2018-08-22 15:28] 0crat commented on #470
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-22 15:28] 0crat commented on #470
@liligga[/z](https://www.0crat.com/u/liligga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-22 15:32] liligga opened #471 "Check documentation coverage"
Lets add some gems and rake tasks that will help checking documentation coverage. I suggested to choose YARD as a documentation generation tool #https://github.com/zold-io/zold/issues/470 so [yardstick](https://github.com/dkubb/yardstick) could manage that

[2018-08-22 15:32] 0crat commented on #471
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-22 15:32] 0crat commented on #471
@liligga[/z](https://www.0crat.com/u/liligga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-23 07:42] uurl commented on #50
@0crat resign

[2018-08-23 07:43] 0crat commented on #50
@uurl The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#50](https://github.com/zold-io/zold/issues/50), please stop working. Reason for job resignation: Order was cancelled

[2018-08-23 07:44] uurl commented on #78
@0crat resign

[2018-08-23 07:44] 0crat commented on #50
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2018-08-23 07:44] 0crat commented on #78
@uurl Job `gh:zold-io/zold#78` is not assigned, can't get performer

[2018-08-24 18:05] 0crat commented on #78
The job [#78](https://github.com/zold-io/zold/issues/78) assigned to @hl-a-k[/z](https://www.0crat.com/u/hl-a-k), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2361811057); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-08-25 22:14] baybatu commented on #134
@yegor256 can you close the issue if it's fixed?

[2018-08-25 23:51] hl-a-k commented on #78
@yegor256 , I have created a pull Request:
 https://github.com/zold-io/zold/pull/472

[2018-08-27 19:55] DronMDF opened #474 "X-Zold-Score format parsing error"
This is example request...

[code]

Cause error
[code]

This is strange, because server response contain X-Zlod-Score in same format:
[code]

[2018-08-27 19:55] 0crat commented on #474
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-27 19:55] 0crat commented on #474
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-28 14:21] oltdaniel opened #475 "pull #473 - C extension windows support"
Required by https://github.com/zold-io/zold/pull/473

### Notes
The C extension is only made for unix systems. There a few things left that need to be solved in order to make this new extension work on every system.

### Todo

- [ ] `Process#fork` is not supported on windows systems ([see here](https://ruby-doc.org/core-2.1.2/Process.html#method-c-fork))
- [ ] The Rake task `:compile` is using `cl

[2018-08-29 19:07] 0crat commented on #78
@hl-a-k[/z](https://www.0crat.com/u/hl-a-k) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-30 10:49] hl-a-k commented on #78
@0crat close

[2018-08-30 11:06] 0crat commented on #78
@hl-a-k Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this is

[2018-09-04 10:09] emilianodellacasa opened #478 "Timestamp in logs"
Right now the log file is really messy and when searching for an issue it is difficult to investigate basing on time.

In the log file the timestamp should be included in the beginning of the line, it should be used the standard linux log format

[2018-09-04 10:09] 0crat commented on #478
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-13 10:09] 0crat commented on #50
The job [#50](https://github.com/zold-io/zold/issues/50) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2560955623); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [thi

[2018-09-13 10:12] 0crat commented on #176
The job [#176](https://github.com/zold-io/zold/issues/176) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2561009977); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-09-13 10:16] 0crat commented on #235
The job [#235](https://github.com/zold-io/zold/issues/235) assigned to @mulev[/z](https://www.0crat.com/u/mulev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2561017036); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-09-18 06:26] yegor256 commented on #475
@oltdaniel is it a bug or what is it? I didn't get it...

[2018-09-18 06:26] 0crat commented on #478
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-09-18 06:29] 0crat commented on #474
Job [#474](https://github.com/zold-io/zold/issues/474) is now in scope, role is `DEV`

[2018-09-18 06:29] 0crat commented on #471
Job [#471](https://github.com/zold-io/zold/issues/471) is now in scope, role is `DEV`

[2018-09-18 06:29] 0crat commented on #470
Job [#470](https://github.com/zold-io/zold/issues/470) is now in scope, role is `DEV`

[2018-09-18 06:29] yegor256 commented on #468
@oltdaniel can you explain how to reproduce this?

[2018-09-18 06:29] 0crat commented on #474
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-09-18 06:29] 0crat commented on #469
Job [#469](https://github.com/zold-io/zold/issues/469) is now in scope, role is `DEV`

[2018-09-18 06:29] 0crat commented on #471
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @liligga[/z](https://www.0crat.com/u/liligga)

[2018-09-18 06:30] 0crat commented on #469
Thanks for your contribution, @alekseysotnikov[/z](https://www.0crat.com/u/alekseysotnikov)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-09-18 06:30] 0crat commented on #470
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @liligga[/z](https://www.0crat.com/u/liligga)

[2018-09-18 06:30] yegor256 opened #479 "expired scores are not removed from the farm"
For some reason...

[2018-09-18 06:40] yegor256 commented on #134
@baybatu thanks!

[2018-09-18 06:40] #134 closed

[2018-09-18 06:45] yegor256 commented on #479
@rultor release, tag `0.14.39`

[2018-09-18 06:46] rultor commented on #479
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15950-422274691)

[2018-09-18 06:47] rultor commented on #479
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15950-422274691) (spent 26s)

[code]

[2018-09-18 06:49] yegor256 commented on #479
@rultor release, tag is `0.14.39`

[2018-09-18 06:52] rultor commented on #479
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15950-422275555)

[2018-09-18 06:55] yegor256 commented on #430
@theautobot this won't work, I'm closing

[2018-09-18 06:55] #430 closed

[2018-09-18 06:59] emilianodellacasa commented on #181
@yegor256 PR merged, please close this issue

[2018-09-18 07:01] yegor256 commented on #181
@emilianodellacasa thanks!

[2018-09-18 07:01] #181 closed

[2018-09-18 07:05] rultor commented on #479
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15950-422275555) (took me 12min)

[2018-09-18 07:05] 0crat commented on #134
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @baybatu[/z](https://www.0crat.com/u/baybatu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-18 07:10] 0crat commented on #134
The job [#134](https://github.com/zold-io/zold/issues/134) is now out of scope

[2018-09-18 07:11] #479 closed

[2018-09-18 07:15] 0crat commented on #430
Job `gh:zold-io/zold#430` is not assigned, can't get performer

[2018-09-18 07:28] 0crat commented on #181
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-18 07:32] 0crat commented on #181
The job [#181](https://github.com/zold-io/zold/issues/181) is now out of scope

[2018-09-18 07:32] 0crat commented on #479
Job `gh:zold-io/zold#479` is not assigned, can't get performer

[2018-09-18 07:33] emilianodellacasa commented on #315
@yegor256 PR has been merged, please close this issue

[2018-09-18 07:38] 0crat commented on #134
Order was finished, quality is "good": +35 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2018-09-18 07:39] 0crat commented on #134
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-18 07:48] ypshenychka commented on #181
@0crat quality good

[2018-09-18 07:50] 0crat commented on #50
The job [#50](https://github.com/zold-io/zold/issues/50) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2610761388); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-18 07:51] 0crat commented on #181
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-09-18 07:52] 0crat commented on #181
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-18 09:39] oltdaniel commented on #475
It is an issue for the pull request adding the C Extension.

[2018-09-18 13:46] yegor256 commented on #475
@oltdaniel how a pull request may have an issue? :) Let's deal with the pull request issues inside the pull request, please

[2018-09-18 13:46] #475 closed

[2018-09-18 13:46] yegor256 commented on #315
@emilianodellacasa thanks

[2018-09-18 13:46] #315 closed

[2018-09-18 14:02] 0crat commented on #475
Job `gh:zold-io/zold#475` is not assigned, can't get performer

[2018-09-18 14:05] 0crat commented on #315
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-18 14:05] 0crat commented on #315
The job [#315](https://github.com/zold-io/zold/issues/315) is now out of scope

[2018-09-18 15:04] ypshenychka commented on #315
@0crat quality good

[2018-09-18 15:12] 0crat commented on #315
Order was finished, quality is "good": +35 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-09-18 15:12] 0crat commented on #315
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-19 08:00] emilianodellacasa commented on #176
@0crat wait - this issue seems to be assigned to two different users, opening an issue

[2018-09-19 08:02] 0crat commented on #176
@emilianodellacasa The impediment for [#176](https://github.com/zold-io/zold/issues/176) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-09-19 08:38] g4s8 commented on #176
@0crat status

[2018-09-19 08:49] emilianodellacasa opened #480 "Remote update command is not working"
I have noticed that my node didn't have any remote but b1.zold.io so I tried a _zold remote update_ command but it yielded:

b1.zold.io:80: JSON is empty, can't parse in 0s

However, if I call _b1.zold.io:80/remotes_ I can see the correct JSON

[2018-09-19 08:49] 0crat commented on #480
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-19 09:00] 0crat commented on #176
@g4s8 This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#176](https://github.com/zold-io/zold/issues/176) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) for [16hr](

[2018-09-23 09:16] 0crat commented on #50
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-24 08:02] emilianodellacasa commented on #176
@yegor256 What does it mean to make "http.rb more reactive"? Is it something related to its speed and performance or do you have something specific in mind?

[2018-10-01 11:19] 0crat commented on #328
The job [#328](https://github.com/zold-io/zold/issues/328) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2740952459); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-10-01 12:00] oltdaniel commented on #328
@yegor256 Should this apply to every command, that supports some kind of subcommands?

[2018-10-01 13:01] 0crat commented on #333
The job [#333](https://github.com/zold-io/zold/issues/333) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2741120343); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-10-01 13:33] oltdaniel commented on #333
@yegor256 Should the changes in https://github.com/zold-io/zold/pull/319/files be re-activated in order to implement this?

[2018-10-01 13:44] 0crat commented on #107
Job `gh:zold-io/zold#107` already assigned to @oltdaniel, can't assign to @oltdaniel

[2018-10-03 07:17] yegor256 commented on #480
@emilianodellacasa this is the problem:

[code]

[2018-10-03 07:47] 0crat commented on #480
The job [#480](https://github.com/zold-io/zold/issues/480) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2760722623); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-10-03 08:01] emilianodellacasa commented on #480
@yegor256 Itt is surely related to the http call to rubygems

[2018-10-03 08:09] 0crat commented on #480
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-10-03 08:12] 0crat commented on #480
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-03 11:41] yegor256 commented on #480
@rultor release, tag is `0.14.40`

[2018-10-03 11:41] #480 closed

[2018-10-03 11:43] rultor commented on #480
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16061-426605799)

[2018-10-03 11:46] rultor commented on #480
@emilianodellacasa @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16061-426605799) (spent 3min)

[code]

[2018-10-03 11:47] yegor256 commented on #480
@rultor release, tag is `0.14.40`

[2018-10-03 11:51] rultor commented on #480
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16061-426607340)

[2018-10-03 12:16] 0crat commented on #480
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-03 12:19] 0crat commented on #480
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-03 12:19] 0crat commented on #480
The job [#480](https://github.com/zold-io/zold/issues/480) is now out of scope

[2018-10-03 13:52] rultor commented on #480
@emilianodellacasa @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16061-426607340) (spent 2hr)

[code]

[2018-10-03 14:27] yegor256 commented on #480
@rultor release, tag is `0.14.40`

[2018-10-03 14:30] rultor commented on #480
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16061-426658082)

[2018-10-03 14:44] yegor256 commented on #480
@rultor stop

[2018-10-03 14:45] rultor commented on #480
@yegor256 OK, I'll try to stop current task.

[2018-10-03 14:45] rultor commented on #480
@emilianodellacasa @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16061-426664170) (spent 15min)

[code]

[2018-10-03 15:37] yegor256 commented on #480
@rultor release, tag is `0.14.40`

[2018-10-03 15:39] rultor commented on #480
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16061-426683954)

[2018-10-03 15:53] rultor commented on #480
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16061-426683954) (took me 12min)

[2018-10-04 10:05] yegor256 opened #482 "node home should be configurable"
Now it's `Dir.pwd`

[2018-10-04 10:16] yegor256 commented on #482
@rultor release, tag is `0.14.41`

[2018-10-04 10:18] rultor commented on #482
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16079-426963720)

[2018-10-04 10:53] 0crat commented on #482
The job [#482](https://github.com/zold-io/zold/issues/482) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2771031115); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-10-04 11:02] rultor commented on #482
@yegor256 OK, I'll try to stop current task.

[2018-10-04 11:03] rultor commented on #482
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16079-426976464) (spent 45min)

[code]

[2018-10-04 11:03] yegor256 commented on #482
@rultor release, tag is `0.14.41`

[2018-10-04 11:12] yegor256 commented on #482
@rultor release, tag is `0.14.41`

[2018-10-04 11:13] rultor commented on #482
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16079-426980133)

[2018-10-04 14:12] 0crat commented on #482
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-04 14:12] 0crat commented on #482
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-04 14:12] 0crat commented on #482
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-04 16:52] #482 closed

[2018-10-04 17:49] 0crat commented on #482
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-04 17:49] 0crat commented on #482
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-04 17:49] 0crat commented on #482
The job [#482](https://github.com/zold-io/zold/issues/482) is now out of scope

[2018-10-05 13:07] yegor256 opened #483 "hard timeout on HTTP delays"
Let's make sure the timeout is strict

[2018-10-05 13:21] yegor256 commented on #483
@rultor release, tag is `0.14.42`

[2018-10-05 13:32] rultor commented on #483
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16104-427363857) (took me 10min)

[2018-10-05 13:33] #483 closed

[2018-10-05 13:51] 0crat commented on #483
Job `gh:zold-io/zold#483` is not assigned, can't get performer

[2018-10-05 13:51] 0crat commented on #483
This job is not in scope

[2018-10-05 16:31] yegor256 opened #484 "wallet.rb is too slow"
It reads the file and parses it multiple times.

[2018-10-06 10:12] 0crat commented on #286
The job [#286](https://github.com/zold-io/zold/issues/286) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2791004066); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-10-06 10:15] 0crat commented on #332
The job [#332](https://github.com/zold-io/zold/issues/332) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2791008173); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-10-06 10:37] 0crat commented on #328
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-06 11:38] 0crat commented on #333
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-06 11:38] 0crat commented on #107
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-09 13:57] emilianodellacasa commented on #286
@yegor256 I don't clearly understand what is it required in this issue; what is it supposed to be achieved? What's the reason of this validation?

[2018-10-10 09:31] ypshenychka commented on #260
@0crat status

[2018-10-10 09:31] ypshenychka commented on #228
@0crat status

[2018-10-10 09:31] ypshenychka commented on #221
@0crat status

[2018-10-10 09:31] ypshenychka commented on #327
@0crat status

[2018-10-10 09:32] 0crat commented on #260
@ypshenychka This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#260](https://github.com/zold-io/zold/issues/260) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 4mon
  * @vl3[/z](https://www.0crat.com/u/vl3) will receive

[2018-10-10 09:32] 0crat commented on #228
@ypshenychka This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#228](https://github.com/zold-io/zold/issues/228) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3mon
  * @emilianodellacasa[/z](https://www.0crat.com/u/emil

[2018-10-10 09:32] 0crat commented on #221
@ypshenychka This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#221](https://github.com/zold-io/zold/issues/221) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3mon
  * @emilianodellacasa[/z](https://www.0crat.com/u/emil

[2018-10-10 09:32] 0crat commented on #327
@ypshenychka This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#327](https://github.com/zold-io/zold/issues/327) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 3mon
  * @ledestin[/z](https://www.0crat.com/u/ledestin) wil

[2018-10-10 09:41] emilianodellacasa commented on #342
@0crat wait - PR created #485 waiting for review

[2018-10-10 09:59] 0crat commented on #342
@emilianodellacasa The impediment for [#342](https://github.com/zold-io/zold/issues/342) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-10-10 10:15] emilianodellacasa commented on #286
@0crat - waiting for an answer regarding the issue

[2018-10-10 12:30] DronMDF opened #486 "Wrong prefix in transactions"
[code]

prefix XC1Vk4CU is not contain in 00000000000ff1ce public key...
This transaction are wrong:
[code]

[2018-10-10 12:30] 0crat commented on #486
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-10 12:30] 0crat commented on #486
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-10 17:13] yegor256 commented on #484
@rultor release, tag is `0.14.43`

[2018-10-10 17:14] rultor commented on #484
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16154-428654767)

[2018-10-10 17:48] yegor256 commented on #484
@rultor release, tag is `0.14.43`

[2018-10-10 17:50] rultor commented on #484
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16154-428666834)

[2018-10-10 18:01] rultor commented on #484
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16154-428666834) (spent 11min)

[code]

[2018-10-10 18:08] yegor256 commented on #484
@rultor release, tag is `0.14.43`

[2018-10-10 18:09] rultor commented on #484
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16154-428673709)

[2018-10-10 18:17] rultor commented on #484
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16154-428673709) (spent 8min)

[code]

[2018-10-10 18:34] rultor commented on #484
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16154-428679152) (took me 8min)

[2018-10-10 19:44] ypshenychka commented on #327
@0crat quality good

[2018-10-10 19:46] ypshenychka commented on #221
@vl3 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Your commit doesn't contain link to this issue. Plese confirm you'll try to avoid this mistake in future.

[2018-10-10 19:47] ypshenychka commented on #228
@0crat quality bad

[2018-10-10 19:48] ypshenychka commented on #260
@yegor256 You self-assigned your own issue and didn't submit any PR for review. Please confirm you'll try to avoid such mistakes in future.

[2018-10-10 20:01] 0crat commented on #228
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-10-10 20:03] 0crat commented on #327
Order was finished, quality is "good": +35 point(s) just awarded to @ledestin[/z](https://www.0crat.com/u/ledestin)

[2018-10-10 20:03] 0crat commented on #327
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-10 20:03] 0crat commented on #228
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-11 09:11] #484 closed

[2018-10-11 09:11] yegor256 opened #487 "patch.rb is too slow"
Let's fix

[2018-10-11 09:28] 0crat commented on #484
Job `gh:zold-io/zold#484` is not assigned, can't get performer

[2018-10-11 09:28] 0crat commented on #484
This job is not in scope

[2018-10-11 09:53] yegor256 commented on #487
@rultor release, tag is `0.14.44`

[2018-10-11 09:55] rultor commented on #487
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16163-428894404)

[2018-10-11 10:04] rultor commented on #487
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16163-428894404) (took me 9min)

[2018-10-11 10:07] #487 closed

[2018-10-11 10:37] 0crat commented on #286
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-11 10:37] 0crat commented on #332
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-11 10:54] yegor256 opened #488 "RuntimeError: The tax payment already exists"
[code]

[2018-10-11 11:46] yegor256 commented on #488
@rultor release, tag is `0.14.45`

[2018-10-11 11:48] rultor commented on #488
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16166-428924999)

[2018-10-11 11:58] rultor commented on #488
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16166-428924999) (took me 9min)

[2018-10-11 12:00] #488 closed

[2018-10-11 12:07] yegor256 opened #489 "RuntimeError: The tax payment already exists in 221255bc9af7baec"
[code]

[2018-10-11 12:16] 0crat commented on #488
Job `gh:zold-io/zold#488` is not assigned, can't get performer

[2018-10-11 12:16] 0crat commented on #488
This job is not in scope

[2018-10-11 13:30] emilianodellacasa commented on #286
@0crat wait - waiting for an answer regarding the issue

[2018-10-11 13:33] 0crat commented on #286
@emilianodellacasa The impediment for [#286](https://github.com/zold-io/zold/issues/286) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-10-11 14:35] yegor256 commented on #489
@rultor release, tag is `0.14.46`

[2018-10-11 14:50] rultor commented on #489
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16169-428979419)

[2018-10-11 14:59] rultor commented on #489
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16169-428979419) (took me 8min)

[2018-10-12 08:06] ypshenychka commented on #260
@yegor256 ping

[2018-10-12 08:06] ypshenychka commented on #221
@vl3 ping

[2018-10-12 15:30] yegor256 commented on #486
@DronMDF yes, it's a defect in the root wallet. We did have a bug at that time in our software and the transaction has been added there with a mistake. It seems we can't get rid of it anymore... But I will think what we can do.

[2018-10-12 15:44] 0crat commented on #489
Job `gh:zold-io/zold#489` is not assigned, can't get performer

[2018-10-12 15:44] 0crat commented on #489
This job is not in scope

[2018-10-12 18:34] yegor256 opened #490 "NPE in Metronome"
[code]

[2018-10-12 18:44] yegor256 commented on #490
@rultor release, tag is `0.14.47`

[2018-10-12 18:46] rultor commented on #490
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16186-429422552)

[2018-10-12 18:51] yegor256 opened #491 "wallets.all must return instances of class Id"
`wallets.all` must return instances of class `Id`

[2018-10-12 18:56] rultor commented on #490
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16186-429422552) (took me 9min)

[2018-10-14 07:43] 0crat commented on #490
Job `gh:zold-io/zold#490` is not assigned, can't get performer

[2018-10-14 07:43] 0crat commented on #490
This job is not in scope

[2018-10-15 14:58] yegor256 commented on #469
@alekseysotnikov I can't reproduce it. Looks like it's a local problem with permissions. Are you sure this directory is write-accessible?

[2018-10-15 14:59] yegor256 opened #492 "dependencies relaxed versions"
Let's make them less strict

[2018-10-15 15:12] yegor256 commented on #492
@rultor release, tag is `0.14.48`

[2018-10-15 15:14] rultor commented on #492
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16218-429894030)

[2018-10-15 16:10] emilianodellacasa commented on #332
@theautobot Created PR #493

[2018-10-15 16:10] emilianodellacasa commented on #332
@0crat wait - waiting for PR to be approved

[2018-10-15 16:42] #492 closed

[2018-10-15 17:00] 0crat commented on #492
Job `gh:zold-io/zold#492` is not assigned, can't get performer

[2018-10-15 17:00] 0crat commented on #492
This job is not in scope

[2018-10-15 17:54] yegor256 opened #494 "amount.div()"
Let's implement

[2018-10-15 18:35] #494 closed

[2018-10-15 19:16] 0crat commented on #494
Job `gh:zold-io/zold#494` is not assigned, can't get performer

[2018-10-15 19:34] yegor256 commented on #491
@rultor release, tag is `0.14.49`

[2018-10-15 19:35] rultor commented on #491
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16220-429984597)

[2018-10-15 19:43] rultor commented on #491
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16220-429984597) (took me 8min)

[2018-10-15 19:44] #491 closed

[2018-10-15 20:04] 0crat commented on #491
Job `gh:zold-io/zold#491` is not assigned, can't get performer

[2018-10-15 20:05] 0crat commented on #491
This job is not in scope

[2018-10-16 07:07] emilianodellacasa commented on #332
@0crat wait

[2018-10-16 07:40] 0crat commented on #332
@emilianodellacasa The impediment for [#332](https://github.com/zold-io/zold/issues/332) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-10-16 07:40] 0crat commented on #332
@emilianodellacasa Job [#332](https://github.com/zold-io/zold/issues/332) is already on hold

[2018-10-16 11:27] ypshenychka commented on #260
@0crat quality acceptable

[2018-10-16 11:38] 0crat commented on #221
Order was finished, quality is "acceptable": +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-10-16 11:38] 0crat commented on #221
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-16 11:45] 0crat commented on #260
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-10-16 11:46] 0crat commented on #260
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-17 09:47] yegor256 opened #495 "wallet dup checking is too tight"
Let's fix

[2018-10-17 09:48] yegor256 commented on #495
@rultor release, tag is `0.14.50`

[2018-10-17 09:48] rultor commented on #495
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16246-430563908)

[2018-10-17 09:58] rultor commented on #495
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16246-430563908) (took me 9min)

[2018-10-17 15:20] yegor256 commented on #495
@rultor release, tag is `0.14.51`

[2018-10-17 15:21] rultor commented on #495
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16246-430671908)

[2018-10-17 15:33] rultor commented on #495
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16246-430671908) (took me 11min)

[2018-10-17 15:40] emilianodellacasa commented on #326
PR #496 created

[2018-10-17 18:37] #495 closed

[2018-10-17 18:37] yegor256 opened #497 "low priority for score calculating sub-processes"
Let's try to set it

[2018-10-17 18:45] yegor256 commented on #497
@rultor release, tag is `0.14.52`

[2018-10-17 18:46] rultor commented on #497
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16251-430744042)

[2018-10-17 18:55] 0crat commented on #495
Job `gh:zold-io/zold#495` is not assigned, can't get performer

[2018-10-17 18:55] 0crat commented on #495
This job is not in scope

[2018-10-17 18:55] rultor commented on #497
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16251-430744042) (took me 8min)

[2018-10-17 18:56] #497 closed

[2018-10-18 15:56] alekseysotnikov commented on #469
Yes. All CRUD commands works fine in the directory. Moreover, the folder `.zoldata` created by Zold.

[2018-10-18 19:46] DronMDF opened #498 "Lost transactions"
Example:

Wallet d6a26bb10d56746b have one transactions from 221255bc9af7baec:
[code]
Wallet 221255bc9af7baec does not have this transactions.

This creates a situation where the recipient’s wallet can dispose of money that it has not received.
Incoming transaction must be recognized as invalid and must be removed from the wallet.

[2018-10-18 19:46] 0crat commented on #498
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-18 19:46] 0crat commented on #498
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-19 11:37] yegor256 opened #499 "--disable-pull and --disable-push"
Let's make it possible to disable pull and push

[2018-10-21 16:47] yegor256 commented on #499
@rultor release, tag is `0.14.53`

[2018-10-21 16:48] rultor commented on #499
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16285-431684396)

[2018-10-21 16:54] rultor commented on #499
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16285-431684396) (spent 5min)

[code]

[2018-10-21 17:06] yegor256 commented on #499
@rultor release, tag is `0.14.53`

[2018-10-21 17:07] rultor commented on #499
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16285-431685851)

[2018-10-21 17:12] rultor commented on #499
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16285-431685851) (spent 6min)

[code]

[2018-10-21 17:20] yegor256 commented on #499
@rultor release, tag is `0.14.53`

[2018-10-21 17:33] rultor commented on #499
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16285-431686864) (took me 12min)

[2018-10-21 18:07] #499 closed

[2018-10-21 18:07] yegor256 opened #500 "remote defaults"
Let's use `remote defaults` instead `remote reset`

[2018-10-21 18:19] yegor256 commented on #500
@rultor release, tag is `0.15.0`

[2018-10-21 18:19] rultor commented on #500
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16286-431691397)

[2018-10-21 18:20] yegor256 commented on #500
@rultor stop

[2018-10-21 18:48] yegor256 commented on #500
@rultor release, tag is `0.15.0`

[2018-10-21 18:50] rultor commented on #500
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16286-431693736)

[2018-10-21 18:55] 0crat commented on #499
Job `gh:zold-io/zold#499` is not assigned, can't get performer

[2018-10-21 18:57] 0crat commented on #499
This job is not in scope

[2018-10-21 19:00] rultor commented on #500
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16286-431693736) (took me 9min)

[2018-10-22 05:58] #500 closed

[2018-10-22 05:59] yegor256 opened #501 "show node current traffic"
Let's collect the traffic metrics and show them in the front JSON

[2018-10-22 06:45] 0crat commented on #500
Job `gh:zold-io/zold#500` is not assigned, can't get performer

[2018-10-23 08:44] 0crat commented on #107
The job [#107](https://github.com/zold-io/zold/issues/107) assigned to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/abd22c9d-dfa8-40af-a990-3b9cc9156025); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-10-23 08:54] 0crat commented on #96
The job [#96](https://github.com/zold-io/zold/issues/96) assigned to @babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/324e6bbb-3eac-48aa-8d83-fcb3d7411aec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-10-23 09:00] 0crat commented on #85
The job [#85](https://github.com/zold-io/zold/issues/85) assigned to @babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/d12ba288-75a6-49fe-855b-30ac2ffbd792); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-10-23 09:09] 0crat commented on #328
The job [#328](https://github.com/zold-io/zold/issues/328) assigned to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/3e2ae1d0-a10c-49d7-b6ff-5c22fea4855b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-10-23 18:44] SergeyKutsko opened #502 "Why it is should stay as run time dependency?"
https://github.com/zold-io/zold/blob/e4332805ab78db66eb1157485ba9190048c5e3a0/zold.gemspec#L60

[2018-10-23 18:44] 0crat commented on #502
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-24 20:05] SergeyKutsko commented on #328
@yegor256

git push origin HEAD
ERROR: Permission to zold-io/zold.git denied to SergeyKutsko.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2018-10-25 04:57] oltdaniel commented on #328
@SergeyKutsko You do a fork of zold, commit to the fork and open a new pull request. No direct pushes to zold. That are git basics...

[2018-10-25 05:37] SergeyKutsko commented on #107
@yegor256 @oltdaniel It is not clear why

  s.add_runtime_dependency 'rubocop', '0.58.1' # has to stay here for Heroku
  s.add_runtime_dependency 'rubocop-rspec', '~>1.27' # has to stay here for Heroku
s.add_runtime_dependency 'cucumber', '~>3.1'

has to stay here for Heroku

[2018-10-25 05:40] SergeyKutsko commented on #328
@0crat wait

[2018-10-25 05:41] SergeyKutsko commented on #107
@0crat wait

[2018-10-25 05:42] 0crat commented on #107
@SergeyKutsko The impediment for [#107](https://github.com/zold-io/zold/issues/107) was registered successfully by @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko)

[2018-10-27 17:45] SergeyKutsko opened #504 "Use compact instead of reject(&:nil?)"
https://github.com/zold-io/zold/blob/e4332805ab78db66eb1157485ba9190048c5e3a0/lib/zold/tax.rb#L89

[2018-10-27 17:46] 0crat commented on #504
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-27 18:15] SergeyKutsko opened #505 "Dry out #get and #put methods as they have identicall parts"
https://github.com/zold-io/zold/blob/e4332805ab78db66eb1157485ba9190048c5e3a0/lib/zold/http.rb#L74-L79

[2018-10-27 18:15] 0crat commented on #505
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-27 18:59] SergeyKutsko opened #506 "Propose to replace list.map { |r| r[:score] }.max || 0 by max_score = list.empty? ? 0 : list.max_by { |r| r[:score] }[:score]"
https://github.com/zold-io/zold/blob/e4332805ab78db66eb1157485ba9190048c5e3a0/lib/zold/remotes.rb#L124-L126

[2018-10-27 18:59] 0crat commented on #506
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-28 10:05] 0crat commented on #96
@babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-28 10:05] 0crat commented on #85
@babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-29 06:34] 0crat commented on #333
The job [#333](https://github.com/zold-io/zold/issues/333) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/0705aa00-e222-4e77-8801-7b60cec0dcda); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-10-29 06:44] 0crat commented on #129
The job [#129](https://github.com/zold-io/zold/issues/129) assigned to @tsuhachev[/z](https://www.0crat.com/u/tsuhachev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2ba49736-7542-4e83-b6da-9b1025e76eec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-10-29 06:54] 0crat commented on #60
The job [#60](https://github.com/zold-io/zold/issues/60) assigned to @tsuhachev[/z](https://www.0crat.com/u/tsuhachev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/d1af10b5-4172-4d6c-a193-cb2469785192); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-10-29 07:04] 0crat commented on #366
The job [#366](https://github.com/zold-io/zold/issues/366) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/680c3129-f09e-47b6-ab9f-050754944f21); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-10-29 07:15] 0crat commented on #365
The job [#365](https://github.com/zold-io/zold/issues/365) assigned to @lastk[/z](https://www.0crat.com/u/lastk), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/ce22852b-dd20-4f3b-ad79-754b84d82517); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-10-29 15:47] yegor256 commented on #501
@rultor release, tag is `0.16.0`

[2018-10-29 15:56] yegor256 commented on #506
@SergeyKutsko I don't get it... Can you please explain what you want in the description of the ticket, not in the title? :)

[2018-10-29 15:57] yegor256 commented on #505
@SergeyKutsko I don't understand what do you want to replace with what?

[2018-10-29 16:06] rultor commented on #501
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16380-433962558) (spent 13min)

[code]

[2018-10-29 16:22] yegor256 commented on #501
@rultor release, tag is `0.16.1`

[2018-10-29 16:30] rultor commented on #501
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16380-433976359)

[2018-10-29 16:47] rultor commented on #501
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16380-433976359) (spent 16min)

[code]

[2018-10-29 16:53] yegor256 commented on #501
@rultor release, tag is `0.16.1`

[2018-10-29 16:58] yegor256 commented on #328
@SergeyKutsko yes, this should be implemented for all commands we have

[2018-10-29 16:59] rultor commented on #501
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16380-433988980)

[2018-10-29 17:06] yegor256 commented on #286
@yegor256 we have to make sure that public key of the root wallet (if the network is `zold`) is always the say (hardcoded in the repository).

[2018-10-29 17:06] SergeyKutsko commented on #506
@yegor256 I propose to replace this line of code:
`max_score = list.map { |r| r[:score] }.max || 0 `
by:
`max_score = list.empty? ? 0 : list.max_by { |r| r[:score] }[:score]`

[2018-10-29 17:13] yegor256 commented on #176
@emilianodellacasa would be great to make it work like this:

[code]

I'm not sure whether we need it now though...

[2018-10-29 17:17] SergeyKutsko commented on #505
We have same code in get and put methods:
`def get
      _**http = Net::HTTP.new(uri.host, uri.port)
      http.use_ssl = uri.scheme == 'https'
      http.read_timeout = Http::READ_TIMEOUT
      http.open_timeout = Http::CONNECT_TIMEOUT
      path = uri.path
      path += '?' + uri.query if uri.query
      Timeout.timeout(Http::READ_TIMEOUT + Http::CONNECT_TIMEOUT) do**_
        http.request_get(p

[2018-10-29 17:46] yegor256 commented on #501
@rultor stop

[2018-10-29 17:54] rultor commented on #501
@yegor256 OK, I'll try to stop current task.

[2018-10-29 17:55] rultor commented on #501
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16380-434010039) (spent 31s)

[code]

[2018-10-29 17:56] yegor256 commented on #501
@rultor release, tag is `0.16.1`

[2018-10-29 17:57] rultor commented on #501
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16380-434014085)

[2018-10-29 18:31] rultor commented on #501
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16380-434014085) (took me 33min)

[2018-10-29 18:47] yegor256 commented on #501
@rultor release, tag is `0.16.2`

[2018-10-29 18:53] rultor commented on #501
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16380-434033687)

[2018-10-29 19:06] rultor commented on #501
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16380-434033687) (took me 12min)

[2018-10-29 19:07] #501 closed

[2018-10-29 19:23] 0crat commented on #501
Job `gh:zold-io/zold#501` is not assigned, can't get performer

[2018-10-29 19:23] 0crat commented on #501
This job is not in scope

[2018-10-30 05:30] yegor256 opened #507 "--farmer=thread"
Let's make it configurable:

 *  `--farmer=ruby-thread`
 *  `--farmer=ruby-process`
 *  `--farmer=c-process`

etc.

[2018-10-30 10:06] emilianodellacasa commented on #176
@yegor256 If you think this issue is not needed anymore we can close it, I won't mind

[2018-10-30 10:07] emilianodellacasa commented on #286
@yegor256 Maybe I should open an issue asking to document everything we need to know about this topic

[2018-10-30 12:25] yegor256 opened #508 "Errno::ENOMEM: Cannot allocate memory - find"
[code]

[2018-10-30 12:31] 0crat commented on #508
Job `gh:zold-io/zold#508` already assigned to @yegor256, can't assign to @yegor256

[2018-10-30 12:31] 0crat commented on #507
The job [#507](https://github.com/zold-io/zold/issues/507) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/4d7d79cc-7041-49a5-9d16-a1f36cea4a81); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-10-30 12:31] 0crat commented on #508
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-30 12:31] 0crat commented on #508
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-30 12:31] 0crat commented on #508
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-30 12:32] 0crat commented on #507
Job `gh:zold-io/zold#507` already assigned to @yegor256, can't assign to @yegor256

[2018-10-30 12:32] 0crat commented on #507
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-30 12:32] 0crat commented on #507
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-30 12:32] 0crat commented on #507
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-30 14:27] SergeyKutsko opened #509 "BUG"
[code]
Time: 2018-10-30T14:25:43Z
Home directory: /home/serg/projects/zold
Ruby version: 2.3.0
Zold gem version: 0.0.0
Zold protocol version: 2
Network ID: test
Node location: localhost:60127
Local address: http://localhost:60127/
Remote nodes (6): b1.zold.io:80, b2.zold.io:4096, 159.203.63.90:4096, 167.99.77.100:4096, 159.203.19.189:4096, 138.197.140.42:4096
Wallets at: /home/serg/projects/zold
R

[2018-10-30 14:58] SergeyKutsko opened #510 "MASTER tests failing"
[code]

[2018-10-30 14:58] 0crat commented on #510
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-30 15:14] 0pdd opened #511 "test_dir_items.rb:54-56: I don't understand why this test..."
The puzzle `507-040930f5` from #507 has to be resolved:

https://github.com/zold-io/zold/blob/e98bc5cdaff46f0f7ac85af2bc8145549d9984ec/test/test_dir_items.rb#L54-L56

The puzzle was created by Yegor Bugayenko on 30-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2018-10-30 15:14] 0pdd commented on #507
@yegor256 the puzzle [#511](https://github.com/zold-io/zold/issues/511) is still not solved.

[2018-10-30 15:14] 0crat commented on #511
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-30 15:15] 0crat commented on #511
Job [#511](https://github.com/zold-io/zold/issues/511) is now in scope, role is `DEV`

[2018-10-30 15:18] yegor256 commented on #508
@rultor release, tag is `0.16.3`

[2018-10-30 15:18] yegor256 commented on #510
@SergeyKutsko please, use Markdown to format your reports

[2018-10-30 15:19] yegor256 commented on #510
@SergeyKutsko I can't reproduce the bug now, maybe it was a temporary problem. Now master is clean.

[2018-10-30 15:19] #510 closed

[2018-10-30 15:20] yegor256 commented on #509
@SergeyKutsko please, try to pick more descriptive titles for your bug reports. Also, please, use Markdown to format the description.

[2018-10-30 15:20] #509 closed

[2018-10-30 15:24] rultor commented on #508
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16401-434343124)

[2018-10-30 15:25] rultor commented on #508
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16401-434343124) (spent 28s)

[code]

[2018-10-30 15:28] yegor256 commented on #508
@rultor release, tag is `0.16.3`

[2018-10-30 15:34] rultor commented on #508
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16401-434347481)

[2018-10-30 15:37] 0crat commented on #510
Job `gh:zold-io/zold#510` is not assigned, can't get performer

[2018-10-30 15:37] rultor commented on #508
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16401-434347481) (spent 3min)

[code]

[2018-10-30 15:39] 0crat commented on #509
Job `gh:zold-io/zold#509` is not assigned, can't get performer

[2018-10-30 15:43] 0crat commented on #510
This job is not in scope

[2018-10-30 15:44] 0crat commented on #509
This job is not in scope

[2018-10-30 16:41] yegor256 commented on #508
@rultor release, tag is `0.16.3`

[2018-10-30 16:47] rultor commented on #508
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16401-434377554)

[2018-10-30 16:55] rultor commented on #508
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16401-434377554) (spent 7min)

[code]

[2018-10-30 21:08] yegor256 commented on #508
@rultor release, tag is `0.16.3`

[2018-10-30 21:12] rultor commented on #508
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16401-434470441)

[2018-10-31 05:26] #508 closed, assigned to yegor256

[2018-10-31 05:27] yegor256 opened #512 "PUT is still slow"
PUT request is still slow

[2018-10-31 05:39] yegor256 commented on #512
@rultor release, tag is `0.16.4`

[2018-10-31 05:41] rultor commented on #512
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16406-434567532)

[2018-10-31 05:49] 0crat commented on #508
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-31 05:52] rultor commented on #512
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16406-434567532) (took me 10min)

[2018-10-31 05:53] #512 closed

[2018-10-31 05:54] 0crat commented on #508
The job [#508](https://github.com/zold-io/zold/issues/508) is now out of scope

[2018-10-31 05:56] 0crat commented on #508
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-31 06:10] 0crat commented on #512
Job `gh:zold-io/zold#512` is not assigned, can't get performer

[2018-10-31 06:10] 0crat commented on #512
This job is not in scope

[2018-10-31 08:28] yegor256 opened #513 "score is not growing up in some nodes"
Let's investigate and fix

[2018-10-31 08:32] 0crat commented on #506
Job [#506](https://github.com/zold-io/zold/issues/506) is now in scope, role is `DEV`

[2018-10-31 08:32] 0crat commented on #505
Job [#505](https://github.com/zold-io/zold/issues/505) is now in scope, role is `DEV`

[2018-10-31 08:55] 0crat commented on #506
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko)

[2018-10-31 08:55] 0crat commented on #505
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko)

[2018-10-31 09:00] 0crat commented on #507
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-31 09:06] 0crat commented on #507
The job [#507](https://github.com/zold-io/zold/issues/507) is now out of scope

[2018-10-31 09:06] 0crat commented on #507
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-31 12:29] 0pdd opened #514 "front.rb:430-432: This method is temporarily disabled..."
The puzzle `513-3d9ea123` from #513 has to be resolved:

https://github.com/zold-io/zold/blob/4938e9b0612d924793300fa23a4834fcfd683461/lib/zold/node/front.rb#L430-L432

The puzzle was created by Yegor Bugayenko on 31-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fro

[2018-10-31 12:29] 0pdd commented on #513
@yegor256 the puzzle [#514](https://github.com/zold-io/zold/issues/514) is still not solved.

[2018-10-31 12:30] 0crat commented on #514
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-31 12:34] 0crat commented on #514
Job [#514](https://github.com/zold-io/zold/issues/514) is now in scope, role is `DEV`

[2018-10-31 15:46] yegor256 commented on #513
@rultor release, tag is `0.16.5`

[2018-10-31 15:58] rultor commented on #513
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16413-434738926)

[2018-10-31 16:10] rultor commented on #513
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16413-434738926) (took me 9min)

[2018-10-31 17:38] #513 closed

[2018-10-31 17:57] 0crat commented on #513
Job `gh:zold-io/zold#513` is not assigned, can't get performer

[2018-10-31 17:57] 0crat commented on #513
This job is not in scope

[2018-11-01 09:30] yegor256 opened #515 "allow larger tax payments"
Let's allow larger payments, since we don't have enough nodes in the network for smaller micro payments.

[2018-11-01 09:35] yegor256 opened #516 "not all Farm threads are used"
For some reason, only one thread is working, while all of them should: http://b2.zold.io:4096/farm

[2018-11-01 09:38] yegor256 commented on #504
@SergeyKutsko fixed in 6510404 thanks!

[2018-11-01 09:38] #504 closed

[2018-11-01 09:38] yegor256 commented on #515
@rultor release, tag is `0.16.6`

[2018-11-01 09:41] rultor commented on #515
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16419-434986099)

[2018-11-01 09:51] rultor commented on #515
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16419-434986099) (took me 9min)

[2018-11-01 09:55] #515 closed

[2018-11-01 09:58] yegor256 opened #517 "add "default" marker to the list of /remotes"
Let's show them

[2018-11-01 10:14] 0crat commented on #504
Job `gh:zold-io/zold#504` is not assigned, can't get performer

[2018-11-01 10:17] 0crat commented on #515
The job [#515](https://github.com/zold-io/zold/issues/515) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/603fc512-70cd-40f1-b1b4-e3735c1892a8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-01 10:17] 0crat commented on #504
This job is not in scope

[2018-11-01 10:19] 0crat commented on #515
Job `gh:zold-io/zold#515` already assigned to @yegor256, can't assign to @yegor256

[2018-11-01 10:20] 0crat commented on #515
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-01 10:20] 0crat commented on #515
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-01 10:20] 0crat commented on #515
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-01 10:20] 0crat commented on #515
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-01 10:20] 0crat commented on #515
The job [#515](https://github.com/zold-io/zold/issues/515) is now out of scope

[2018-11-01 10:21] 0crat commented on #515
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-01 12:17] #517 closed

[2018-11-01 12:17] 0pdd commented on #393
The puzzle `98-ed836320` has disappeared from the source code, that's why I closed this issue.

[2018-11-01 12:17] #393 closed

[2018-11-01 12:17] #421 closed

[2018-11-01 12:17] 0pdd commented on #421
The puzzle `394-fda9e6d8` has disappeared from the source code, that's why I closed this issue.

[2018-11-01 12:17] 0pdd commented on #98
@yegor256 all 3 puzzles are solved here: [#393](https://github.com/zold-io/zold/issues/393), [#394](https://github.com/zold-io/zold/issues/394), [#421](https://github.com/zold-io/zold/issues/421).

[2018-11-01 12:17] 0pdd commented on #394
@0pdd the only puzzle [#421](https://github.com/zold-io/zold/issues/421) is solved here.

[2018-11-01 12:35] 0crat commented on #393
Job `gh:zold-io/zold#393` is not assigned, can't get performer

[2018-11-01 12:35] 0crat commented on #517
Job `gh:zold-io/zold#517` is not assigned, can't get performer

[2018-11-01 12:35] 0crat commented on #421
Job `gh:zold-io/zold#421` is not assigned, can't get performer

[2018-11-01 12:35] 0crat commented on #393
The job [#393](https://github.com/zold-io/zold/issues/393) is now out of scope

[2018-11-01 12:35] 0crat commented on #517
This job is not in scope

[2018-11-01 12:35] 0crat commented on #421
The job [#421](https://github.com/zold-io/zold/issues/421) is now out of scope

[2018-11-01 13:06] yegor256 opened #518 "show more details for taxes"
Let's show them

[2018-11-01 13:16] yegor256 commented on #518
@rultor release, tag is `0.16.7`

[2018-11-01 13:53] 0crat commented on #379
The job [#379](https://github.com/zold-io/zold/issues/379) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/3e0ad075-b3e7-476b-b278-f647d949c6ab); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-11-01 13:57] yegor256 commented on #518
@rultor hello

[2018-11-01 14:03] rultor commented on #518
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16420-435037753)

[2018-11-01 14:03] 0crat commented on #378
The job [#378](https://github.com/zold-io/zold/issues/378) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/89f22cc6-80bc-44f2-b0e1-1bf05ec88adc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-11-01 14:05] rultor commented on #518
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2018-11-01 14:09] rultor commented on #518
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16420-435037753) (spent 6min)

[code]

[2018-11-01 14:11] yegor256 commented on #518
@rultor release, tag is `0.16.7`

[2018-11-01 14:13] 0crat commented on #377
The job [#377](https://github.com/zold-io/zold/issues/377) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/133ad9c2-26de-42f8-8282-ad65573bd334); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-11-01 14:35] rultor commented on #518
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16420-435052568) (took me 9min)

[2018-11-01 14:36] #518 closed

[2018-11-01 14:54] 0crat commented on #518
Job `gh:zold-io/zold#518` is not assigned, can't get performer

[2018-11-02 06:08] yegor256 opened #519 "taxes calculation is broken"
There are some weird issues:

[code]

[2018-11-02 07:36] yegor256 commented on #519
@rultor release, tag is `0.16.8`

[2018-11-02 07:37] rultor commented on #519
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16429-435295843)

[2018-11-02 07:47] rultor commented on #519
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16429-435295843) (took me 9min)

[2018-11-02 07:49] #519 closed

[2018-11-02 07:50] yegor256 commented on #439
@holly-fingers This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-02 07:50] #439 closed

[2018-11-02 08:06] 0crat commented on #519
Job `gh:zold-io/zold#519` is not assigned, can't get performer

[2018-11-02 08:06] 0crat commented on #439
Job `gh:zold-io/zold#439` is not assigned, can't get performer

[2018-11-02 08:06] 0crat commented on #519
This job is not in scope

[2018-11-02 08:06] 0crat commented on #439
This job is not in scope

[2018-11-02 10:34] SergeyKutsko commented on #328
@0crat wait

[2018-11-02 10:34] 0crat commented on #328
@SergeyKutsko Job [#328](https://github.com/zold-io/zold/issues/328) is already on hold

[2018-11-02 12:21] yegor256 opened #520 "too many taxes are paid in one go"
We pay too much in each increment

[2018-11-02 15:01] #342 closed

[2018-11-02 15:01] 0pdd commented on #342
The puzzle `79-aed0d144` has disappeared from the source code, that's why I closed this issue.

[2018-11-02 15:01] 0pdd commented on #79
@yegor256 the only puzzle [#342](https://github.com/zold-io/zold/issues/342) is solved here.

[2018-11-02 15:05] yegor256 commented on #520
@rultor release, tag is `0.16.9`

[2018-11-02 15:07] rultor commented on #520
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16434-435410083)

[2018-11-02 15:19] 0crat commented on #342
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-02 15:19] 0crat commented on #342
The job [#342](https://github.com/zold-io/zold/issues/342) is now out of scope

[2018-11-02 15:41] yegor256 commented on #520
@rultor stop

[2018-11-02 15:42] rultor commented on #520
@yegor256 OK, I'll try to stop current task.

[2018-11-02 15:43] rultor commented on #520
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16434-435421755) (spent 35min)

[code]

[2018-11-02 16:02] yegor256 commented on #520
@rultor release, tag is `0.16.9`

[2018-11-02 16:13] rultor commented on #520
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16434-435428555)

[2018-11-02 17:31] #520 closed

[2018-11-02 17:40] yegor256 opened #521 "Failed to open TCP connection"
Take a look: https://travis-ci.org/zold-io/zold/jobs/449935947

For some reason:

[code]

The node was started correctly. There is absolutely no functional reason for this failure. Why than?

Same here: https://travis-ci.org/zold-io/zold/jobs/449935949

[2018-11-02 17:41] yegor256 opened #522 "TestAsyncEntrance#test_handles_broken_entrance_gracefully"
[code]

This happens once in a while. For example, here: https://travis-ci.org/zold-io/zold/jobs/449935949 Let's try to fix.

[2018-11-02 17:47] 0crat commented on #521
Job [#521](https://github.com/zold-io/zold/issues/521) is now in scope, role is `DEV`

[2018-11-02 17:47] 0crat commented on #522
Job [#522](https://github.com/zold-io/zold/issues/522) is now in scope, role is `DEV`

[2018-11-02 17:47] 0crat commented on #520
Job `gh:zold-io/zold#520` is not assigned, can't get performer

[2018-11-02 17:47] 0crat commented on #520
This job is not in scope

[2018-11-02 17:49] 0crat commented on #521
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-02 17:49] 0crat commented on #522
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-02 19:44] ypshenychka commented on #342
@emilianodellacasa Why PR wasn't merged but this ticket is closed?

[2018-11-03 06:40] 0crat commented on #333
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-03 07:40] 0crat commented on #129
@tsuhachev[/z](https://www.0crat.com/u/tsuhachev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-03 07:40] 0crat commented on #366
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-03 07:40] 0crat commented on #365
@lastk[/z](https://www.0crat.com/u/lastk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-03 12:38] denis-konovalyenko opened #523 "NameError: uninitialized constant Zold::Front::Usagewatch on requesting host.ip.address:4096"
[code]

Please contact me if more informaton is needed.

[2018-11-03 12:38] 0crat commented on #523
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-03 12:38] 0crat commented on #523
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-03 20:42] 0crat commented on #385
The job [#385](https://github.com/zold-io/zold/issues/385) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/776c8c18-8ab9-443c-9809-3fe77bc939bc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-11-03 20:51] 0crat commented on #388
The job [#388](https://github.com/zold-io/zold/issues/388) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2e3d9836-8df5-41b5-8093-66c506e77fed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-11-03 21:02] 0crat commented on #389
The job [#389](https://github.com/zold-io/zold/issues/389) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/998d27be-d695-4100-8c53-597c5f016719); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-11-04 09:11] #176 closed

[2018-11-04 09:12] yegor256 commented on #176
@0crat refuse

[2018-11-04 09:28] 0crat commented on #176
Job `gh:zold-io/zold#176` is not assigned, can't get performer

[2018-11-04 09:28] 0crat commented on #176
The job [#176](https://github.com/zold-io/zold/issues/176) is now out of scope

[2018-11-04 11:03] emilianodellacasa commented on #342
@ypshenychka From the commits I see @yegor256 removed th puzzle, this is the reason why this ticket is closed

[2018-11-04 12:48] strogiyotec opened #524 "Error with zold pay command"
I got the following error when I try to run zold pay command

[code]

[2018-11-04 12:48] 0crat commented on #524
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-04 12:48] 0crat commented on #524
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-04 14:35] #107 closed

[2018-11-04 14:53] 0crat commented on #107
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-04 14:54] 0crat commented on #107
The job [#107](https://github.com/zold-io/zold/issues/107) is now out of scope

[2018-11-04 15:38] rultor commented on #516
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16443-435678627) (took me 10min)

[2018-11-04 15:45] #516 closed

[2018-11-04 16:00] 0crat commented on #524
The job [#524](https://github.com/zold-io/zold/issues/524) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/8f03fe68-2776-4811-ab3a-6cda3d202357); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-04 16:02] 0crat commented on #524
Job `gh:zold-io/zold#524` already assigned to @yegor256, can't assign to @yegor256

[2018-11-04 16:02] 0crat commented on #516
Job `gh:zold-io/zold#516` is not assigned, can't get performer

[2018-11-04 16:02] 0crat commented on #524
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-04 16:02] 0crat commented on #524
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @strogiyotec[/z](https://www.0crat.com/u/strogiyotec)

[2018-11-04 16:02] 0crat commented on #516
This job is not in scope

[2018-11-04 16:45] yegor256 commented on #523
@rultor release, tag is `0.16.11`

[2018-11-04 16:49] rultor commented on #523
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16447-435685334)

[2018-11-04 16:53] denis-konovalyenko opened #525 "ThisOS is not supported in this version."
I am getting  the "ThisOS is not supported in this version." when launching zold as a node:
[code]
I am wondering wherether something is going wrong here?

My OS is:
[code]

[2018-11-04 16:54] 0crat commented on #525
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-04 17:01] rultor commented on #523
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16447-435685334) (took me 11min)

[2018-11-04 17:02] yegor256 commented on #523
@denis-konovalyenko I believe it's fixed now

[2018-11-04 17:06] yegor256 commented on #525
@denis-konovalyenko this is just a warning, you can ignore it

[2018-11-04 17:08] denis-konovalyenko commented on #525
@yegor256 , thanks for the clarification! I am closing the ticket then.

[2018-11-04 17:08] #525 closed

[2018-11-04 17:12] yegor256 opened #526 "we don't kill processes on reboot"
Farming processes are not killed on reboot, let's fix.

[2018-11-04 17:38] ypshenychka commented on #107
@SergeyKutsko As far as there was no work done by you in this ticket, I should mark it as of "bad" quality, since the actual performer of the PR is not assigned anymore. Agree?

[2018-11-04 17:45] SergeyKutsko commented on #107
no, because here is solutuon that already proposed.

вс, 4 нояб. 2018 г., 19:38 Yuliya Bodak <notifications@github.com>:

[2018-11-04 17:46] SergeyKutsko commented on #107
Somebody said it is should not be here, but architect said it should be
here, so ticket is no sence.

вс, 4 нояб. 2018 г., 19:44 Sergey Kutsko <kutsko86@gmail.com>:

[2018-11-04 17:46] SergeyKutsko commented on #107
no

вс, 4 нояб. 2018 г., 19:44 Sergey Kutsko <kutsko86@gmail.com>:

[2018-11-04 17:47] SergeyKutsko commented on #107
Somebody said it is should not be here, but architect said it should be
here, so ticket is no sence.

вс, 4 нояб. 2018 г., 19:38 Yuliya Bodak <notifications@github.com>:

[2018-11-04 17:49] ypshenychka commented on #107
@SergeyKutsko But there is no work done by you, for which you should be paid in this ticket. All work was done by @oltdaniel but since he is not assigned here anymore, I have to mark ticket as "bad".

[2018-11-04 17:50] SergeyKutsko commented on #107
lol.

[2018-11-04 17:51] SergeyKutsko commented on #107
this tiket no sence. Https://github.com/zold-io/zold/issues/502

[2018-11-04 18:00] yegor256 commented on #526
@rultor release, tag is `0.16.12`

[2018-11-04 18:02] denis-konovalyenko commented on #523
@yegor256 , many thanks for addressing the issue!

[2018-11-04 18:03] rultor commented on #526
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16448-435691456)

[2018-11-04 18:32] rultor commented on #526
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16448-435693524)

[2018-11-04 18:43] ypshenychka commented on #107
@0crat quality bad

[2018-11-04 18:43] rultor commented on #526
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16448-435693524) (took me 10min)

[2018-11-04 18:44] 0crat commented on #107
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-11-04 18:45] 0crat commented on #107
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-04 19:00] #526 closed

[2018-11-04 19:17] 0crat commented on #526
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-04 19:17] 0crat commented on #526
The job [#526](https://github.com/zold-io/zold/issues/526) is now out of scope

[2018-11-04 19:17] 0crat commented on #526
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 05:11] yegor256 opened #527 "farm is locked too much"
It seems that the farm is locked too much because of the cleanup thread.

[2018-11-05 05:12] 0crat commented on #527
The job [#527](https://github.com/zold-io/zold/issues/527) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/daec31d6-bdad-425c-b12c-8851cd22c316); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-05 05:12] 0crat commented on #527
Job `gh:zold-io/zold#527` already assigned to @yegor256, can't assign to @yegor256

[2018-11-05 05:13] 0crat commented on #527
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 05:13] 0crat commented on #527
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 05:13] 0crat commented on #527
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 07:19] yegor256 opened #528 "rb_file_s_mtime in async_entrance"
[code]

[2018-11-05 07:20] 0crat commented on #528
Job [#528](https://github.com/zold-io/zold/issues/528) is now in scope, role is `DEV`

[2018-11-05 07:21] 0pdd opened #529 "test_farm.rb:62-67: This test takes too long. The speed..."
The puzzle `527-2b511bc2` from #527 has to be resolved:

https://github.com/zold-io/zold/blob/637dc9f631d4b650aae2bca5d76eb3f5243075a5/test/node/test_farm.rb#L62-L67

The puzzle was created by Yegor Bugayenko on 05-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2018-11-05 07:21] 0pdd commented on #527
@yegor256 the puzzle [#529](https://github.com/zold-io/zold/issues/529) is still not solved.

[2018-11-05 07:21] 0crat commented on #529
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-05 07:21] 0crat commented on #528
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 07:33] denis-konovalyenko commented on #523
@yegor256 it looks like the issue is still reproducible.
[code]
Feel free to see this in action on [this node](http://91.211.13.180:4096).

[2018-11-05 07:41] emilianodellacasa commented on #342
@ypshenychka I guess so

[2018-11-05 07:48] denis-konovalyenko opened #530 "A node is not been ever able to get into the list of remotes"
[My node](http://91.211.13.180:4096) has not been ever able to get either into [the list of remotes](https://wts.zold.io/remotes) or to appear on [the health page](http://www.zold.io/health.html) since it was started 2-3 days ago for the first time.

I am wondering whether this is an abnormal situation or there is something I am not aware of?

[2018-11-05 07:48] 0crat commented on #530
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-05 07:48] 0crat commented on #530
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-05 07:51] 0crat commented on #528
The job [#528](https://github.com/zold-io/zold/issues/528) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/944e2735-6fe2-4751-817a-44c5a545094c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-05 07:51] 0crat commented on #528
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 07:51] 0crat commented on #528
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 07:53] denis-konovalyenko commented on #523
@yegor256 , by the way, do I have to create a new ticket or it is eligible to reopen this one?

[2018-11-05 08:20] #527 closed

[2018-11-05 08:31] ypshenychka commented on #342
@0crat quality bad

[2018-11-05 08:33] yegor256 commented on #528
@rultor release, tag is `0.16.13`

[2018-11-05 08:35] rultor commented on #528
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16452-435792649)

[2018-11-05 08:37] 0crat commented on #342
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-11-05 08:40] 0crat commented on #527
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-05 08:41] 0crat commented on #342
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-05 08:41] 0crat commented on #527
The job [#527](https://github.com/zold-io/zold/issues/527) is now out of scope

[2018-11-05 08:41] 0crat commented on #527
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 08:48] rultor commented on #528
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16452-435792649) (took me 12min)

[2018-11-05 10:20] #528 closed

[2018-11-05 10:41] 0crat commented on #528
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-05 10:42] 0crat commented on #528
The job [#528](https://github.com/zold-io/zold/issues/528) is now out of scope

[2018-11-05 10:42] 0crat commented on #528
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-05 14:44] tsuhachev commented on #129
@0crat wait

[2018-11-05 14:46] 0crat commented on #129
@tsuhachev The impediment for [#129](https://github.com/zold-io/zold/issues/129) was registered successfully by @tsuhachev[/z](https://www.0crat.com/u/tsuhachev)

[2018-11-06 06:44] yegor256 opened #531 "Errno::ENOMEM: Cannot allocate memory"
[code]

[2018-11-06 07:38] yegor256 commented on #531
@rultor release, tag is `0.16.14`

[2018-11-06 07:39] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16465-436158157)

[2018-11-06 07:49] rultor commented on #531
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16465-436158157) (spent 10min)

[code]

[2018-11-06 07:54] yegor256 commented on #531
@rultor release, tag is `0.16.14`

[2018-11-06 07:57] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16465-436161614)

[2018-11-06 08:05] rultor commented on #531
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16465-436161614) (spent 8min)

[code]

[2018-11-06 08:10] yegor256 commented on #531
@rultor release, tag is `0.16.14`

[2018-11-06 08:12] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16465-436165542)

[2018-11-06 08:29] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16465-436169687)

[2018-11-06 08:40] rultor commented on #531
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16465-436169687) (took me 10min)

[2018-11-06 08:41] #531 closed

[2018-11-06 08:58] 0crat commented on #531
Job `gh:zold-io/zold#531` is not assigned, can't get performer

[2018-11-06 08:58] 0crat commented on #531
This job is not in scope

[2018-11-06 14:47] 0crat commented on #379
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-06 14:47] 0crat commented on #378
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-06 14:47] 0crat commented on #377
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-06 14:47] 0crat commented on #57
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-06 17:37] yegor256 commented on #523
@rultor release, tag is `0.16.15`

[2018-11-06 17:39] rultor commented on #523
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16447-436341145)

[2018-11-06 17:47] rultor commented on #523
@denis-konovalyenko @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16447-436341145) (spent 8min)

[code]

[2018-11-06 17:49] yegor256 commented on #523
@rultor release, tag is `0.16.15`

[2018-11-06 17:52] rultor commented on #523
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16447-436344765)

[2018-11-06 18:02] yegor256 commented on #523
@denis-konovalyenko please, try again, with version 0.16.15

[2018-11-06 18:03] rultor commented on #523
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16447-436344765) (took me 10min)

[2018-11-06 18:09] denis-konovalyenko commented on #523
@yegor256 , the node has been updated to 0.16.15, but the issue is still persisting. Do I need to provide more information on that?

[2018-11-06 18:13] yegor256 commented on #523
@denis-konovalyenko this is a mystery... let me investigate

[2018-11-06 18:16] yegor256 commented on #523
@denis-konovalyenko what is your operating system?

[2018-11-06 19:15] yegor256 commented on #523
@rultor release, tag is `0.16.16`

[2018-11-06 19:18] denis-konovalyenko commented on #523
@yegor256 my system is FreeBSD:
[code]

[2018-11-06 19:18] rultor commented on #523
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16447-436374011)

[2018-11-06 19:31] rultor commented on #523
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16447-436374011) (took me 11min)

[2018-11-06 19:32] yegor256 commented on #523
@denis-konovalyenko I believe it's fixed in 0.16.16, please try

[2018-11-06 19:32] 0crat commented on #523
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-06 19:32] 0crat commented on #523
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-06 19:53] denis-konovalyenko commented on #523
@yegor256 , it is working so far. Will see how it goes.

[2018-11-06 20:25] denis-konovalyenko opened #532 "ERROR: Can't detect your IP address, you have to specify it in --host (RuntimeError)"
Do we have undocumented limitations or this has to be considered an issue?

[code]

[2018-11-07 02:51] yegor256 commented on #523
@denis-konovalyenko it's stable, won't appear again, thanks for reporting!

[2018-11-07 02:51] #523 closed

[2018-11-07 03:08] 0crat commented on #523
Job `gh:zold-io/zold#523` is not assigned, can't get performer

[2018-11-07 03:08] 0crat commented on #523
This job is not in scope

[2018-11-08 06:50] denis-konovalyenko opened #534 "RuntimeError on pulling a wallet"
[code]
More details:
[code]

[2018-11-08 06:50] 0crat commented on #534
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-08 06:50] 0crat commented on #534
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-08 14:47] yegor256 opened #535 "minor changes for stress testing"
There are some changes required...

[2018-11-08 20:51] yegor256 commented on #535
@rultor release, tag is `0.16.17`

[2018-11-08 20:54] rultor commented on #535
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16495-437151113)

[2018-11-08 21:06] rultor commented on #535
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16495-437151113) (took me 10min)

[2018-11-08 21:39] 0crat commented on #385
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-08 21:39] 0crat commented on #388
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-08 21:39] 0crat commented on #389
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-09 05:42] 0crat commented on #535
Job `gh:zold-io/zold#535` is not assigned, can't get performer

[2018-11-09 05:42] 0crat commented on #535
This job is not in scope

[2018-11-09 08:09] yegor256 opened #536 "async_entrace may keep the queue in memory"
To make things faster

[2018-11-09 08:10] 0crat commented on #536
The job [#536](https://github.com/zold-io/zold/issues/536) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/f9873cc2-c25d-4480-8af9-c42b0b6e3787); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-09 08:10] 0crat commented on #536
Job `gh:zold-io/zold#536` already assigned to @yegor256, can't assign to @yegor256

[2018-11-09 08:10] 0crat commented on #536
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-09 08:10] 0crat commented on #536
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-09 08:10] 0crat commented on #536
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-09 08:30] yegor256 opened #537 "--threads for PUSH and FETCH"
Let's make it possible to configure the amount of threads to use in PUSH and FETCH, when many wallets are provided in the command line. Maybe we can use https://github.com/junegunn/parallelize

[2018-11-09 08:41] 0crat commented on #511
The job [#511](https://github.com/zold-io/zold/issues/511) assigned to @babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/02ca6e9a-a8cf-4339-a388-2d343ee01ef6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-09 17:32] yegor256 commented on #536
@rultor release, tag is `0.16.18`

[2018-11-09 17:34] rultor commented on #536
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16502-437434786)

[2018-11-09 17:44] rultor commented on #536
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16502-437434786) (took me 9min)

[2018-11-09 22:08] denis-konovalyenko commented on #530
@yegor256, for some reasons (I am not aware of what that might be) the node has been being shown on the health page for 2 days. Closing the ticket for now.

[2018-11-09 22:08] #530 closed

[2018-11-10 06:42] 0crat commented on #536
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.37.6](https://github.com/zerocracy/farm): CID: [38cba2bc-1b76-4486-a2f8-ffff3168d93c](https://www.0crat.com/footprint/CAZPZR9FS/38cba2bc-1b76-4486-a2f8-ffff3168d93c), Type: "Close job"

[2018-11-10 06:42] 0crat commented on #536
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-10 06:43] 0crat commented on #536
The job [#536](https://github.com/zold-io/zold/issues/536) is now out of scope

[2018-11-10 06:43] 0crat commented on #536
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-10 06:59] yegor256 opened #538 "too many remotes.add"
We add remotes too frequently, even if they already exist

[2018-11-10 09:31] SergeyKutsko commented on #55
@yegor256 Now this task realted to another repo as you extracted Score to separate gem, right?

[2018-11-10 09:31] SergeyKutsko commented on #55
@0crat wait

[2018-11-10 09:32] 0crat commented on #55
@SergeyKutsko The impediment for [#55](https://github.com/zold-io/zold/issues/55) was registered successfully by @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko)

[2018-11-10 11:39] yegor256 opened #539 ""next" background processes don't get KILLed on reboot"
Let's test and make sure they die correctly.

[2018-11-10 11:40] 0crat commented on #539
The job [#539](https://github.com/zold-io/zold/issues/539) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/5d470abb-5074-4159-9105-749c7a4d3075); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-10 11:40] 0crat commented on #539
Job `gh:zold-io/zold#539` already assigned to @yegor256, can't assign to @yegor256

[2018-11-10 11:41] 0crat commented on #539
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-10 11:41] 0crat commented on #539
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-10 11:42] 0crat commented on #539
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-11 10:47] denis-konovalyenko commented on #534
@yegor256 , thanks for looking at this! My node has been running the 0.16.18 version for about 1.5  days (below you may find the relevant health page information at the time of writing) and the same problem has been spotted today:
[code]

[code]
What is more, I think, the root cause of the issue is not 100% on the zold side, as I am observing some sort of improper NAT and port fowarding coexistenc

[2018-11-11 10:47] #534 closed

[2018-11-11 11:10] 0crat commented on #534
Job `gh:zold-io/zold#534` is not assigned, can't get performer

[2018-11-11 11:13] 0crat commented on #534
This job is not in scope

[2018-11-11 11:40] denis-konovalyenko commented on #532
@yegor256 , in my opinion, the use case of the `--host` option has to be documented better. There is nothing mentioned in the list of zold options to run with, i.e.:
[code]
In addition, the "[How to Start a Node](https://github.com/zold-io/zold#how-to-start-a-node)" readme section does not make the situation ever clear.

[2018-11-11 13:11] yegor256 opened #540 "recursive locking in Front.score()"
[code]

[2018-11-11 13:13] 0crat commented on #540
Job [#540](https://github.com/zold-io/zold/issues/540) is now in scope, role is `DEV`

[2018-11-11 13:14] 0crat commented on #540
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-11 15:37] yegor256 commented on #540
@rultor release, tag is `0.16.19`

[2018-11-11 15:39] rultor commented on #540
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16511-437680358)

[2018-11-11 15:49] rultor commented on #540
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16511-437680358) (took me 9min)

[2018-11-11 15:51] #540 closed

[2018-11-11 16:09] 0crat commented on #540
Job `gh:zold-io/zold#540` is not assigned, can't get performer

[2018-11-11 19:22] yegor256 opened #541 "avoid duplicate farmer processes"
Let's avoid them

[2018-11-11 19:53] yegor256 commented on #541
@rultor release, tag is `0.16.20`

[2018-11-11 19:55] rultor commented on #541
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16513-437699303)

[2018-11-11 20:03] rultor commented on #541
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16513-437699303) (spent 7min)

[code]

[2018-11-11 20:41] yegor256 commented on #541
@rultor release, tag is `0.16.20`

[2018-11-11 20:43] rultor commented on #541
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16513-437702890)

[2018-11-11 20:53] rultor commented on #541
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16513-437702890) (took me 9min)

[2018-11-12 05:43] #541 closed

[2018-11-12 05:43] #539 closed

[2018-11-12 05:43] #538 closed

[2018-11-12 05:44] yegor256 commented on #532
@denis-konovalyenko try `zold node --help`

[2018-11-12 05:49] 0crat commented on #537
Job [#537](https://github.com/zold-io/zold/issues/537) is now in scope, role is `DEV`

[2018-11-12 05:50] yegor256 commented on #532
@denis-konovalyenko I made some changes, should be better now, thanks for reporting!

[2018-11-12 05:50] #532 closed

[2018-11-12 05:51] yegor256 commented on #524
@strogiyotec This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-12 05:51] #524 closed

[2018-11-12 05:53] yegor256 commented on #474
@DronMDF This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-12 05:53] #474 closed

[2018-11-12 05:57] 0crat commented on #537
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-12 06:08] 0crat commented on #538
Job `gh:zold-io/zold#538` is not assigned, can't get performer

[2018-11-12 06:12] 0crat commented on #541
Job was finished in 10 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-12 06:13] 0crat commented on #539
Job was finished in 42 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-12 06:13] 0crat commented on #538
This job is not in scope

[2018-11-12 06:14] 0crat commented on #532
Job `gh:zold-io/zold#532` is not assigned, can't get performer

[2018-11-12 06:15] 0crat commented on #474
Job `gh:zold-io/zold#474` is not assigned, can't get performer

[2018-11-12 06:15] 0crat commented on #532
This job is not in scope

[2018-11-12 06:15] 0crat commented on #541
The job [#541](https://github.com/zold-io/zold/issues/541) is now out of scope

[2018-11-12 06:15] 0crat commented on #539
The job [#539](https://github.com/zold-io/zold/issues/539) is now out of scope

[2018-11-12 06:15] 0crat commented on #474
The job [#474](https://github.com/zold-io/zold/issues/474) is now out of scope

[2018-11-12 06:15] 0crat commented on #541
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-12 06:15] 0crat commented on #539
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-12 06:15] 0crat commented on #524
The job [#524](https://github.com/zold-io/zold/issues/524) is now out of scope

[2018-11-12 06:16] 0crat commented on #524
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-12 06:19] yegor256 opened #542 "memory leakage?"
Nodes are consuming too much memory

[2018-11-12 07:21] DronMDF commented on #474
@yegor256 Thank's

[2018-11-12 11:47] paulodamaso commented on #377
@0crat refuse

[2018-11-12 11:48] paulodamaso commented on #378
@0crat refuse

[2018-11-12 11:48] paulodamaso commented on #379
@0crat refuse

[2018-11-12 11:49] 0crat commented on #377
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#377](https://github.com/zold-io/zold/issues/377), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 11:49] 0crat commented on #378
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#378](https://github.com/zold-io/zold/issues/378), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 11:50] 0crat commented on #379
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#379](https://github.com/zold-io/zold/issues/379), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 11:50] paulodamaso commented on #57
@0crat refuse

[2018-11-12 11:50] 0crat commented on #377
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-12 11:50] 0crat commented on #378
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-12 11:50] 0crat commented on #379
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-12 11:51] 0crat commented on #57
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#57](https://github.com/zold-io/zold/issues/57), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 11:51] 0crat commented on #57
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-12 13:26] yegor256 opened #543 "ThreadError: deadlock; recursive locking"
[code]

[2018-11-12 13:36] yegor256 commented on #542
@rultor release, tag is `0.16.21`

[2018-11-12 13:39] rultor commented on #542
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16521-437882611)

[2018-11-12 13:43] #542 closed

[2018-11-12 13:47] rultor commented on #542
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16521-437882611) (spent 8min)

[code]

[2018-11-12 13:55] yegor256 commented on #542
@rultor release, tag is `0.16.21`

[2018-11-12 13:58] rultor commented on #542
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16521-437889360)

[2018-11-12 14:01] 0crat commented on #542
Job `gh:zold-io/zold#542` is not assigned, can't get performer

[2018-11-12 14:02] 0crat commented on #542
This job is not in scope

[2018-11-12 14:08] rultor commented on #542
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16521-437889360) (spent 10min)

[code]

[2018-11-12 15:48] yegor256 commented on #542
@rultor release, tag is `0.16.21`

[2018-11-12 15:50] rultor commented on #542
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16521-437929798)

[2018-11-12 15:58] rultor commented on #542
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16521-437929798) (spent 8min)

[code]

[2018-11-12 15:59] yegor256 commented on #542
@rultor release, tag is `0.16.21`

[2018-11-12 16:03] rultor commented on #542
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16521-437933530)

[2018-11-12 16:13] rultor commented on #542
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16521-437933530) (took me 9min)

[2018-11-12 16:35] #521 closed

[2018-11-12 16:52] 0crat commented on #521
Job `gh:zold-io/zold#521` is not assigned, can't get performer

[2018-11-12 16:52] 0crat commented on #521
The job [#521](https://github.com/zold-io/zold/issues/521) is now out of scope

[2018-11-12 17:30] radimchorba opened #544 "Throttle on certain load average"
In certain conditions node becomes overwhelmed due to high system load (which can be caused by many reasons)
In this situation adding new requests to the queue is pointless because node is not capable to process them in reasonable time.
The idea is to define the threshold for the throttling based on the LoadAverage.
Preferable approach is to allow configuration via the commandLine, like --throttle

[2018-11-12 17:30] 0crat commented on #544
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-12 17:30] 0crat commented on #544
@radimchorba[/z](https://www.0crat.com/u/radimchorba) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZPZR9FS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-12 17:49] SergeyKutsko opened #545 "Install the New Relic Ruby agent"
In order to have better information about ruby application it is beter to install tools to make it easier.

Good start https://docs.newrelic.com/docs/agents/ruby-agent/installation/install-new-relic-ruby-agent

[2018-11-12 17:49] 0crat commented on #545
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-12 19:08] yegor256 commented on #545
@SergeyKutsko we have no control over our nodes, can't install anything there. We can only add something to our Ruby code. Any ideas?

[2018-11-12 19:08] #545 closed

[2018-11-12 19:09] yegor256 opened #546 "patch is too strict"
And wrong...

[2018-11-12 19:09] yegor256 commented on #546
@rultor release, tag is `0.16.22`

[2018-11-12 19:11] rultor commented on #546
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16524-437995264)

[2018-11-12 19:21] rultor commented on #546
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16524-437995264) (took me 9min)

[2018-11-12 19:21] #546 closed

[2018-11-12 19:30] 0crat commented on #545
This job is not in scope

[2018-11-12 19:38] 0crat commented on #546
Job `gh:zold-io/zold#546` is not assigned, can't get performer

[2018-11-12 19:39] 0crat commented on #546
This job is not in scope

[2018-11-13 06:12] SergeyKutsko commented on #545
@yegor256 gem 'newrelic_rpm' is piece of ruby code.

[2018-11-13 06:27] yegor256 opened #547 "stricter timeouts for push and fetch"
Let's set them straight

[2018-11-13 06:28] 0crat commented on #547
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-13 06:28] 0crat commented on #547
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-13 07:10] yegor256 commented on #547
@rultor release, tag is `0.16.23`

[2018-11-13 07:12] rultor commented on #547
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16529-438160604)

[2018-11-13 07:19] rultor commented on #547
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16529-438160604) (spent 7min)

[code]

[2018-11-13 09:06] yegor256 commented on #547
@rultor release, tag is `0.16.23`

[2018-11-13 09:08] rultor commented on #547
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16529-438189741)

[2018-11-13 09:12] yegor256 opened #548 "memory leakage in most nodes"
Our nodes, when they start, consume around 35-40 Mb of RAM. However, after a few hours of work they start to consume 1-2Gb. What's going on? Let's investigate and solve the problem. Just 40Mb should be enough, since we keep everything in files. What RAM is being used for?

[2018-11-13 09:12] 0crat commented on #548
Job [#548](https://github.com/zold-io/zold/issues/548) is now in scope, role is `DEV`

[2018-11-13 09:13] 0crat commented on #548
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-13 09:17] rultor commented on #547
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16529-438189741) (took me 9min)

[2018-11-13 09:18] #547 closed

[2018-11-13 09:52] 0crat commented on #547
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-13 10:01] 0crat commented on #547
The job [#547](https://github.com/zold-io/zold/issues/547) is now out of scope

[2018-11-13 10:01] 0crat commented on #547
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-13 11:25] yegor256 opened #549 "--memory-dump"
Let's dump memory at the end of node lifecycle

[2018-11-13 12:08] yegor256 commented on #549
@rultor release, tag is `0.16.24`

[2018-11-13 12:09] rultor commented on #549
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16532-438243741)

[2018-11-13 12:19] rultor commented on #549
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16532-438243741) (took me 9min)

[2018-11-13 12:20] #549 closed

[2018-11-13 12:37] 0crat commented on #549
Job `gh:zold-io/zold#549` is not assigned, can't get performer

[2018-11-13 12:37] 0crat commented on #549
This job is not in scope

[2018-11-13 12:45] yegor256 opened #550 "wallets.find(exclusive: true)"
Let's make it possible to lock with `exclusive` status.

[2018-11-13 15:14] denis-konovalyenko commented on #548
@yegor256 , I am not a Ruby expert, however, I do have some thoughts on the way to approach the problem. As you probably heard, there is [a dynamic tracing capability - DTrace](http://dtrace.org/blogs/about/) in some operation systems (Solaris, Mac OS X and FreeBSD). So, in my opinion, this tool can be used for taking a look into the Zold internals (memory leak at the moment). [Here](https://vaney

[2018-11-13 16:46] tsuhachev commented on #129
@0crat refuse

[2018-11-13 16:48] 0crat commented on #129
@tsuhachev The user @tsuhachev[/z](https://www.0crat.com/u/tsuhachev) resigned from [#129](https://github.com/zold-io/zold/issues/129), please stop working. Reason for job resignation: Order was cancelled

[2018-11-13 16:49] 0crat commented on #129
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @tsuhachev[/z](https://www.0crat.com/u/tsuhachev)

[2018-11-13 16:51] 0crat commented on #57
The job [#57](https://github.com/zold-io/zold/issues/57) assigned to @tsuhachev[/z](https://www.0crat.com/u/tsuhachev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/ea1745a6-3ba5-4f3e-bd94-790a1d43ba85); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-14 08:23] #51 closed, assigned to nobody

[2018-11-14 08:25] #56 closed, assigned to nobody

[2018-11-14 08:29] yegor256 commented on #61
@yegor256 this seems to be fixed

[2018-11-14 08:29] #61 closed

[2018-11-14 08:31] yegor256 commented on #82
@biboran  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:31] #82 closed

[2018-11-14 08:31] #85 closed

[2018-11-14 08:32] yegor256 commented on #57
@0crat refuse

[2018-11-14 08:33] yegor256 commented on #57
@tsuhachev I fixed it already, don't bother

[2018-11-14 08:33] #57 closed

[2018-11-14 08:34] yegor256 commented on #105
@yegor256 will be done [here](https://github.com/zold-io/zold-score/issues/2)

[2018-11-14 08:34] #105 closed

[2018-11-14 08:35] #129 closed

[2018-11-14 08:35] #132 closed

[2018-11-14 08:35] yegor256 commented on #149
@oltdaniel  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:35] #149 closed

[2018-11-14 08:36] yegor256 commented on #157
@DronMDF you are right, we don't need this

[2018-11-14 08:36] #157 closed

[2018-11-14 08:39] yegor256 commented on #60
@tsuhachev I guess, the best approach here would be to introduce a new option for `bin/zold`. Let's call it `--storage` and then we can specify which one to use:

  * `--storage=files`: `Wallets.new`
  * `--storage=tree`: `TreeWallets.new`
  * `--storage=sqlite:foo.db`: `SqliteWallets.new("foo.db")`

When it's `SqliteWallets`, we keep them in the database.

[2018-11-14 08:40] yegor256 commented on #137
@oltdaniel that would be a very time/space/traffic consuming operation. We won't do that.

[2018-11-14 08:40] #137 closed

[2018-11-14 08:41] yegor256 commented on #99
@yegor256 we'll do it in the papers repo

[2018-11-14 08:41] #99 closed

[2018-11-14 08:41] yegor256 commented on #435
@ljrossi This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:41] #435 closed

[2018-11-14 08:42] yegor256 commented on #422
@oltdaniel This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:42] #422 closed

[2018-11-14 08:42] yegor256 commented on #419
@emilianodellacasa  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:42] #419 closed

[2018-11-14 08:43] yegor256 commented on #391
@emilianodellacasa fixed in e999b8f thanks!

[2018-11-14 08:43] #391 closed

[2018-11-14 08:44] yegor256 commented on #386
@DronMDF This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:44] #386 closed

[2018-11-14 08:46] yegor256 commented on #364
@botanicus explained in d3cec1d thanks!

[2018-11-14 08:46] #364 closed

[2018-11-14 08:46] yegor256 commented on #361
@botanicus
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:46] #361 closed

[2018-11-14 08:48] yegor256 commented on #348
@botanicus  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:48] #348 closed

[2018-11-14 08:48] yegor256 commented on #334
@emilianodellacasa  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-14 08:48] #334 closed

[2018-11-14 08:50] 0crat commented on #379
The job [#379](https://github.com/zold-io/zold/issues/379) assigned to @jedediah[/z](https://www.0crat.com/u/jedediah), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/b61928af-b7a9-46c7-b391-5617e757e709); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-14 09:04] 0crat commented on #51
Job `gh:zold-io/zold#51` is not assigned, can't get performer

[2018-11-14 09:04] 0crat commented on #56
Job [#56](https://github.com/zold-io/zold/issues/56) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't retrieve data and time of add

[2018-11-14 09:05] 0crat commented on #57
@yegor256 The user @tsuhachev[/z](https://www.0crat.com/u/tsuhachev) resigned from [#57](https://github.com/zold-io/zold/issues/57), please stop working. Reason for job resignation: Order was cancelled

[2018-11-14 09:05] 0crat commented on #82
Job `gh:zold-io/zold#82` is not assigned, can't get performer

[2018-11-14 09:06] 0crat commented on #57
Job `gh:zold-io/zold#57` is not assigned, can't get performer

[2018-11-14 09:06] 0crat commented on #105
Job `gh:zold-io/zold#105` is not assigned, can't get performer

[2018-11-14 09:06] 0crat commented on #129
Job `gh:zold-io/zold#129` is not assigned, can't get performer

[2018-11-14 09:06] 0crat commented on #132
Job `gh:zold-io/zold#132` is not assigned, can't get performer

[2018-11-14 09:06] 0crat commented on #157
Job `gh:zold-io/zold#157` is not assigned, can't get performer

[2018-11-14 09:06] 0crat commented on #51
The job [#51](https://github.com/zold-io/zold/issues/51) is now out of scope

[2018-11-14 09:07] 0crat commented on #137
Job `gh:zold-io/zold#137` is not assigned, can't get performer

[2018-11-14 09:07] 0crat commented on #99
Job `gh:zold-io/zold#99` is not assigned, can't get performer

[2018-11-14 09:07] 0crat commented on #435
Job `gh:zold-io/zold#435` is not assigned, can't get performer

[2018-11-14 09:07] 0crat commented on #422
Job `gh:zold-io/zold#422` is not assigned, can't get performer

[2018-11-14 09:07] 0crat commented on #419
Job `gh:zold-io/zold#419` is not assigned, can't get performer

[2018-11-14 09:07] 0crat commented on #391
Job `gh:zold-io/zold#391` is not assigned, can't get performer

[2018-11-14 09:08] 0crat commented on #386
Job `gh:zold-io/zold#386` is not assigned, can't get performer

[2018-11-14 09:08] 0crat commented on #82
This job is not in scope

[2018-11-14 09:08] 0crat commented on #364
Job `gh:zold-io/zold#364` is not assigned, can't get performer

[2018-11-14 09:08] 0crat commented on #361
Job `gh:zold-io/zold#361` is not assigned, can't get performer

[2018-11-14 09:08] 0crat commented on #544
Job [#544](https://github.com/zold-io/zold/issues/544) is now in scope, role is `DEV`

[2018-11-14 09:09] 0crat commented on #348
Job `gh:zold-io/zold#348` is not assigned, can't get performer

[2018-11-14 09:09] 0crat commented on #334
Job `gh:zold-io/zold#334` is not assigned, can't get performer

[2018-11-14 09:09] 0crat commented on #57
The job [#57](https://github.com/zold-io/zold/issues/57) is now out of scope

[2018-11-14 09:09] 0crat commented on #105
This job is not in scope

[2018-11-14 09:09] 0crat commented on #129
The job [#129](https://github.com/zold-io/zold/issues/129) is now out of scope

[2018-11-14 09:09] 0crat commented on #132
The job [#132](https://github.com/zold-io/zold/issues/132) is now out of scope

[2018-11-14 09:09] 0crat commented on #157
The job [#157](https://github.com/zold-io/zold/issues/157) is now out of scope

[2018-11-14 09:09] 0crat commented on #56
Job [#56](https://github.com/zold-io/zold/issues/56) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2018-11-14 09:09] 0crat commented on #137
The job [#137](https://github.com/zold-io/zold/issues/137) is now out of scope

[2018-11-14 09:09] 0crat commented on #99
This job is not in scope

[2018-11-14 09:09] 0crat commented on #435
This job is not in scope

[2018-11-14 09:09] 0crat commented on #422
The job [#422](https://github.com/zold-io/zold/issues/422) is now out of scope

[2018-11-14 09:09] 0crat commented on #419
This job is not in scope

[2018-11-14 09:09] 0crat commented on #391
This job is not in scope

[2018-11-14 09:09] 0crat commented on #386
This job is not in scope

[2018-11-14 09:09] 0crat commented on #61
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @jedediah[/z](https://www.0crat.com/u/jedediah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-14 09:09] 0crat commented on #364
The job [#364](https://github.com/zold-io/zold/issues/364) is now out of scope

[2018-11-14 09:09] 0crat commented on #361
The job [#361](https://github.com/zold-io/zold/issues/361) is now out of scope

[2018-11-14 09:09] 0crat commented on #85
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-14 09:10] 0crat commented on #544
Thanks for your contribution, @radimchorba[/z](https://www.0crat.com/u/radimchorba)! If you would be a member of [the project](https://www.0crat.com/p/CAZPZR9FS), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-11-14 09:10] 0crat commented on #348
The job [#348](https://github.com/zold-io/zold/issues/348) is now out of scope

[2018-11-14 09:10] 0crat commented on #334
The job [#334](https://github.com/zold-io/zold/issues/334) is now out of scope

[2018-11-14 09:10] 0crat commented on #149
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @baybatu[/z](https://www.0crat.com/u/baybatu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-14 09:10] 0crat commented on #56
The job [#56](https://github.com/zold-io/zold/issues/56) is now out of scope

[2018-11-14 09:10] 0crat commented on #61
The job [#61](https://github.com/zold-io/zold/issues/61) is now out of scope

[2018-11-14 09:10] 0crat commented on #149
The job [#149](https://github.com/zold-io/zold/issues/149) is now out of scope

[2018-11-14 09:11] 0crat commented on #378
The job [#378](https://github.com/zold-io/zold/issues/378) assigned to @tsuhachev[/z](https://www.0crat.com/u/tsuhachev), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/4087f53a-9024-4b5c-a00c-92ead7c9d814); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-14 09:43] ypshenychka commented on #149
@baybatu As far as there was no work done by you in scope of this issue (no PR created etc.), I should mark this ticket as of "bad" quality. Agree?

[2018-11-14 09:46] ypshenychka commented on #85
@babbarkrishan There was no work done by you in scope of this issue, right? Correct me if I'm missing anything.

[2018-11-14 09:49] babbarkrishan commented on #85
Correct, I couldn't work on this because I was stuck withone issue during
project installation/setup.

On Wed 14 Nov, 2018, 3:16 PM Yuliya Bodak <notifications@github.com wrote:

[2018-11-14 09:51] ypshenychka commented on #85
@babbarkrishan OK, thanks. Next time please address your messages to someone :)

[2018-11-14 09:51] ypshenychka commented on #85
@0crat quality bad

[2018-11-14 09:55] 0crat commented on #511
@babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-14 10:00] 0crat commented on #85
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-11-14 10:03] 0crat commented on #85
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-14 10:17] 0crat commented on #138
The job [#138](https://github.com/zold-io/zold/issues/138) assigned to @babbarkrishan[/z](https://www.0crat.com/u/babbarkrishan), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/2dfdaf45-dbf2-42ee-b512-6e19063fddf2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-14 11:51] SergeyKutsko opened #552 "Make faster test suit."
We can make tests fails fast, that will help faster get errors.

https://github.com/teoljungberg/minitest-fail-fast

[2018-11-14 11:51] 0crat commented on #552
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-15 07:11] yegor256 commented on #545
@SergeyKutsko yes, but we will need to install NewRelic agent to the system

[2018-11-15 08:34] yegor256 opened #553 "Errno::ENOTEMPTY: Directory not empty @ dir_s_rmdir"
[code]

Happens sometimes, no always.

[2018-11-15 08:35] 0crat commented on #553
Job [#553](https://github.com/zold-io/zold/issues/553) is now in scope, role is `DEV`

[2018-11-15 08:38] 0crat commented on #553
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-15 08:46] yegor256 commented on #552
@SergeyKutsko done in 6b3f9d8 thanks!

[2018-11-15 08:46] #552 closed

[2018-11-15 08:49] 0crat commented on #552
The job [#552](https://github.com/zold-io/zold/issues/552) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/5a6b725a-9e01-424f-a907-203e97023bc2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-15 08:51] 0crat commented on #552
Job `gh:zold-io/zold#552` already assigned to @yegor256, can't assign to @yegor256

[2018-11-15 08:56] yegor256 commented on #548
@rultor release, tag is `0.16.25`

[2018-11-15 08:57] 0crat commented on #552
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-15 08:57] 0crat commented on #552
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko)

[2018-11-15 08:58] yegor256 opened #554 "Farmers::Fork"
Let's create a new implementation of a farmer, which will use [Ruby fork](https://ruby-doc.org/core-2.1.2/Process.html#method-c-fork).

[2018-11-15 08:59] rultor commented on #548
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16552-438965700)

[2018-11-15 09:00] yegor256 commented on #554
@emilianodellacasa interested?

[2018-11-15 09:02] 0crat commented on #552
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-15 09:02] 0crat commented on #552
The job [#552](https://github.com/zold-io/zold/issues/552) is now out of scope

[2018-11-15 09:04] 0crat commented on #552
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-15 09:10] rultor commented on #548
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16552-438965700) (spent 11min)

[code]

[2018-11-15 09:13] yegor256 opened #555 "cannot load such file -- patron"
[code]

[2018-11-15 09:15] yegor256 commented on #555
@rultor release, tag is `0.16.26`

[2018-11-15 09:15] yegor256 commented on #555
fixed: 93fd3c4

[2018-11-15 09:16] rultor commented on #555
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16553-438971106)

[2018-11-15 09:19] yegor256 opened #556 "integration test is missing"
See the bug in #555

It happened because we were not testing our gem after the build. We need to add an extra layer of validation to `.rultor.yml`. It should create a local isolated RVM environment, with no gems inside. Then, install `zold-0.0.0.gem` into it and run something like `zold remote update`. If it works, we are good.

[2018-11-15 09:19] yegor256 commented on #556
@emilianodellacasa interested?

[2018-11-15 10:04] 0crat commented on #548
Job was finished in 25 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-15 10:06] 0crat commented on #548
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-15 10:07] 0crat commented on #548
The job [#548](https://github.com/zold-io/zold/issues/548) is now out of scope

[2018-11-15 10:08] #555 closed

[2018-11-15 10:10] ypshenychka commented on #548
@0crat quality good

[2018-11-15 13:29] yegor256 opened #557 "non-exclusive wallets read"
Let's make it less strict, and faster.

[2018-11-15 13:54] yegor256 commented on #557
@rultor release, tag is `0.16.27`

[2018-11-15 13:56] rultor commented on #557
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16557-439047272)

[2018-11-15 14:12] rultor commented on #557
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16557-439047272) (took me 14min)

[2018-11-15 14:14] #557 closed

[2018-11-15 14:31] 0crat commented on #557
Job `gh:zold-io/zold#557` is not assigned, can't get performer

[2018-11-15 14:31] 0crat commented on #557
This job is not in scope

[2018-11-16 05:05] baybatu commented on #149
Actually, we don't know when this issue was resolved. If the issue is resolved before assigned to me, then it's totally normal that I could not create a PR and resolve issue :) Otherwise, it's ok to me. I think we need "neutral" thing instead of "bad" quality because it seems not depend on me :)

[2018-11-16 07:19] baybatu commented on #149
ok then, thanks

[2018-11-16 08:01] ypshenychka commented on #149
@0crat quality bad

[2018-11-16 08:01] 0crat commented on #149
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-11-16 08:02] 0crat commented on #149
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-16 08:09] 0crat commented on #377
The job [#377](https://github.com/zold-io/zold/issues/377) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/7888e792-7305-4853-82ac-0bc2265c9e73); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-11-16 11:16] yegor256 commented on #554
@0crat assign @emilianodellacasa

[2018-11-16 11:16] yegor256 commented on #556
@0crat assign @emilianodellacasa

[2018-11-16 11:18] 0crat commented on #554
@yegor256 The job [#554](https://github.com/zold-io/zold/issues/554) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/f338347c-8b43-4244-a7a9-c4c7d97d0dce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2018-11-16 11:18] 0crat commented on #556
@yegor256 The job [#556](https://github.com/zold-io/zold/issues/556) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/86460b17-bb2d-40ec-8cd1-5476c4d0e992); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2018-11-16 11:18] 0crat commented on #554
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-16 11:19] 0crat commented on #554
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-16 11:19] 0crat commented on #556
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-16 11:19] 0crat commented on #556
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-16 11:21] ypshenychka commented on #56
@0crat status

[2018-11-16 11:21] ypshenychka commented on #61
@jedediah ping

[2018-11-16 11:21] 0crat commented on #56
@ypshenychka This is what I know about this job in [CAZPZR9FS](https://www.0crat.com/p/CAZPZR9FS), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#56](https://github.com/zold-io/zold/issues/56) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2days
  * @paulodamaso[/z](https://www.0crat.com/u/paulodamaso

[2018-11-16 11:31] yegor256 commented on #553
@0crat assign @emilianodellacasa

[2018-11-16 11:31] yegor256 commented on #550
done

[2018-11-16 11:31] #550 closed

[2018-11-16 11:32] yegor256 commented on #543
doesn't show up anymore

[2018-11-16 11:32] #543 closed

[2018-11-16 11:38] yegor256 commented on #537
@0crat assign @emilianodellacasa

[2018-11-16 11:40] 0crat commented on #553
@yegor256 The job [#553](https://github.com/zold-io/zold/issues/553) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/e71b8ed5-fb12-4b51-b449-8125a05cb193); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2018-11-16 11:45] 0crat commented on #553
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-16 11:48] 0crat commented on #537
@yegor256 The job [#537](https://github.com/zold-io/zold/issues/537) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/e0f4229d-15db-4ca9-bb42-cf4bd149c1a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2018-11-16 11:48] 0crat commented on #550
Job `gh:zold-io/zold#550` is not assigned, can't get performer

[2018-11-16 11:48] 0crat commented on #543
Job `gh:zold-io/zold#543` is not assigned, can't get performer

[2018-11-16 11:49] 0crat commented on #537
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-16 11:49] 0crat commented on #550
This job is not in scope

[2018-11-16 11:49] 0crat commented on #543
This job is not in scope

[2018-11-16 11:55] yegor256 opened #558 "memory leakage (continued)"
We tried to fix it in #548 but failed.

We are still leaking memory. Our nodes are pretty small and should be able to run with a very small memory footprint, like 30-40Mb, not more. However, they consume 2Gb+.

[2018-11-16 11:55] yegor256 commented on #558
@0crat assign @emilianodellacasa

[2018-11-16 11:56] 0crat commented on #558
@yegor256 The job [#558](https://github.com/zold-io/zold/issues/558) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/e6a11ead-8628-41dd-b23b-ac4a472683c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2018-11-16 11:56] 0crat commented on #558
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-16 11:56] 0crat commented on #558
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-17 21:13] vl3 commented on #388
#559

[2018-11-17 21:21] vl3 commented on #388
@0crat waiting for review #559

[2018-11-17 21:21] 0crat commented on #388
@vl3 The impediment for [#388](https://github.com/zold-io/zold/issues/388) was registered successfully by @vl3[/z](https://www.0crat.com/u/vl3)

[2018-11-18 20:47] ypshenychka commented on #56
@paulodamaso ping

[2018-11-18 21:00] paulodamaso commented on #56
@ypshenychka you are right, I did not even touched this issue

[2018-11-19 00:38] vl3 commented on #385
@0crat resign

[2018-11-19 00:39] vl3 commented on #389
@0crat resign

[2018-11-19 00:41] 0crat commented on #385
@vl3 The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#385](https://github.com/zold-io/zold/issues/385), please stop working. Reason for job resignation: Order was cancelled

[2018-11-19 00:41] 0crat commented on #389
@vl3 The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#389](https://github.com/zold-io/zold/issues/389), please stop working. Reason for job resignation: Order was cancelled

[2018-11-19 00:42] 0crat commented on #385
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-11-19 00:42] 0crat commented on #389
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-11-19 00:46] 0crat commented on #511
The job [#511](https://github.com/zold-io/zold/issues/511) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/16af0d51-ea3b-45cb-ab8d-6873b1761054); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-11-19 00:56] 0crat commented on #514
The job [#514](https://github.com/zold-io/zold/issues/514) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/f7d453ef-bd55-412d-9684-c438d5e3ee5d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-11-19 07:01] yegor256 commented on #498
@DronMDF
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-19 07:01] #498 closed

[2018-11-19 07:02] yegor256 commented on #469
@alekseysotnikov This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-19 07:02] #469 closed

[2018-11-19 07:03] #462 closed

[2018-11-19 07:03] #465 closed

[2018-11-19 07:03] yegor256 commented on #468
@oltdaniel This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-19 07:03] #468 closed

[2018-11-19 07:04] yegor256 commented on #450
@llorllale This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-19 07:04] #450 closed

[2018-11-19 07:09] #388 closed

[2018-11-19 07:09] 0pdd commented on #388
The puzzle `329-08487f44` has disappeared from the source code, that's why I closed this issue.

[2018-11-19 07:09] 0pdd commented on #292
@yegor256 the puzzle [#328](https://github.com/zold-io/zold/issues/328) is still not solved; solved: [#329](https://github.com/zold-io/zold/issues/329), [#388](https://github.com/zold-io/zold/issues/388).

[2018-11-19 07:09] 0pdd commented on #329
@0pdd the only puzzle [#388](https://github.com/zold-io/zold/issues/388) is solved here.

[2018-11-19 07:09] 0crat commented on #453
Job [#453](https://github.com/zold-io/zold/issues/453) is now in scope, role is `DEV`

[2018-11-19 07:15] yegor256 commented on #420
@emilianodellacasa will do when this closes: https://github.com/yegor256/pdd/issues/114

[2018-11-19 07:17] ypshenychka commented on #56
@paulodamaso thanks

[2018-11-19 07:17] ypshenychka commented on #56
@0crat quality bad

[2018-11-19 07:29] 0crat commented on #56
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-11-19 07:29] 0crat commented on #498
This job is not in scope

[2018-11-19 07:29] 0crat commented on #469
The job [#469](https://github.com/zold-io/zold/issues/469) is now out of scope

[2018-11-19 07:30] 0crat commented on #462
This job is not in scope

[2018-11-19 07:30] 0crat commented on #465
This job is not in scope

[2018-11-19 07:30] 0crat commented on #468
This job is not in scope

[2018-11-19 07:30] 0crat commented on #450
This job is not in scope

[2018-11-19 07:30] 0crat commented on #453
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-19 07:31] 0crat commented on #388
The job [#388](https://github.com/zold-io/zold/issues/388) is now out of scope

[2018-11-19 07:31] 0crat commented on #56
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-19 08:37] 0crat commented on #379
@jedediah[/z](https://www.0crat.com/u/jedediah) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-19 09:58] 0crat commented on #378
@tsuhachev[/z](https://www.0crat.com/u/tsuhachev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-19 10:40] ypshenychka commented on #388
@vl3 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to appropriate PR (e.g. by referencing this issue in PR's description). #559 seems to be fixing another issue.

[2018-11-19 10:42] ypshenychka commented on #388
@vl3 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please indicate addressee in the beginning of your [message](https://github.com/zold-io/zold/issues/388#issuecomment-439648083).

[2018-11-19 13:32] 0pdd opened #560 "test_http.rb:114-118: It's obvious that the test works (I..."
The puzzle `444-c6c7b248` from #444 has to be resolved:

https://github.com/zold-io/zold/blob/41e6f0525b4c46b159174a1245ec0529f2ac18eb/test/test_http.rb#L114-L118

The puzzle was created by Yegor Bugayenko on 19-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the

[2018-11-19 13:32] 0pdd commented on #444
@DronMDF the puzzle [#560](https://github.com/zold-io/zold/issues/560) is still not solved.

[2018-11-19 13:33] 0crat commented on #560
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-19 13:33] yegor256 commented on #444
@DronMDF  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-11-19 13:33] #444 closed

[2018-11-19 13:42] 0crat commented on #560
Job [#560](https://github.com/zold-io/zold/issues/560) is now in scope, role is `DEV`

[2018-11-19 13:51] 0crat commented on #286
The job [#286](https://github.com/zold-io/zold/issues/286) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/77daf667-b713-4438-b9e4-38c33639ad54); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-19 13:51] 0crat commented on #444
Job `gh:zold-io/zold#444` is not assigned, can't get performer

[2018-11-19 13:56] 0crat commented on #444
The job [#444](https://github.com/zold-io/zold/issues/444) is now out of scope

[2018-11-19 13:56] 0crat commented on #286
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-19 13:56] 0crat commented on #286
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-19 14:00] #286 closed

[2018-11-19 14:17] 0crat commented on #286
The job [#286](https://github.com/zold-io/zold/issues/286) is now out of scope

[2018-11-19 14:17] 0crat commented on #286
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-19 14:38] ypshenychka commented on #388
@vl3 Thanks. Please also correct your message by indicating addressee, so we could proceed with this ticket.

[2018-11-19 15:10] SergeyKutsko opened #561 "Add pragma to each file: frozen_string_literal: true. To reduce memory usage."
frozen_string_literal: true

Follow guide: https://samsaffron.com/archive/2018/02/16/reducing-string-duplication-in-ruby

[2018-11-19 15:10] 0crat commented on #561
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-19 16:05] vl3 commented on #388
@ypshenychka I removed it.

[2018-11-20 08:42] ypshenychka commented on #61
@0crat quality bad

[2018-11-20 10:18] yegor256 commented on #561
@SergeyKutsko we have them already

[2018-11-20 10:18] #561 closed

[2018-11-20 12:00] yegor256 commented on #199
@0crat refuse

[2018-11-20 12:00] #199 closed

[2018-11-20 12:32] 0crat commented on #61
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-11-20 12:32] 0crat commented on #561
Job `gh:zold-io/zold#561` is not assigned, can't get performer

[2018-11-20 12:33] 0crat commented on #199
@yegor256 The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#199](https://github.com/zold-io/zold/issues/199), please stop working. Reason for job resignation: Order was cancelled

[2018-11-20 12:33] 0crat commented on #199
Job `gh:zold-io/zold#199` is not assigned, can't get performer

[2018-11-20 12:33] 0crat commented on #561
This job is not in scope

[2018-11-20 12:33] 0crat commented on #199
The job [#199](https://github.com/zold-io/zold/issues/199) is now out of scope

[2018-11-20 12:34] 0crat commented on #61
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-20 12:34] 0crat commented on #96
The job [#96](https://github.com/zold-io/zold/issues/96) assigned to @jedediah[/z](https://www.0crat.com/u/jedediah), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/03c42dfd-65de-4ba4-ada5-171cb88493a3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-11-20 12:35] 0crat commented on #138
The job [#138](https://github.com/zold-io/zold/issues/138) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/8b4614db-2d60-4686-8844-eaa3a08d19d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-11-20 16:43] 0crat commented on #486
Job `gh:zold-io/zold#486` is not assigned, can't get performer

[2018-11-20 16:43] 0crat commented on #459
Job `gh:zold-io/zold#459` is not assigned, can't get performer

[2018-11-20 16:44] 0crat commented on #486
This job is not in scope

[2018-11-20 16:44] 0crat commented on #459
This job is not in scope

[2018-11-21 07:34] yegor256 opened #562 "default Ruby logging"
Let's replace our custom logging with the default Ruby.

[2018-11-21 08:38] 0crat commented on #377
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-21 10:58] emilianodellacasa commented on #558
@yegor256 by analyzing the working node, we had the following output

retained memory by gem
-----------------------------------
  22064071  open3
  16548545  zold-0.16.27
    310503  rubygems
    168770  mustermann-1.0.2
    103066  uri
     96972  sinatra-2.0.4
     72303  resolv
     55030  rack-2.0.4
     49112  erb
     44737  eventmachine-1.2.7
     35789  optparse
     24744  thin-1.7.2

[2018-11-21 11:37] 0crat commented on #554
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-21 11:37] 0crat commented on #556
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-21 11:37] 0crat commented on #553
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-21 11:52] emilianodellacasa commented on #553
@yegor256 I updated my code with the last commits and I cannot reproduce this anymore, you can close this issue

[2018-11-21 12:38] 0crat commented on #537
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-21 12:38] 0crat commented on #558
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-21 14:13] #558 closed

[2018-11-21 14:13] yegor256 commented on #558
@emilianodellacasa thanks!

[2018-11-21 14:30] 0crat commented on #558
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-21 14:30] 0crat commented on #558
The job [#558](https://github.com/zold-io/zold/issues/558) is now out of scope

[2018-11-21 14:33] yegor256 commented on #478
@emilianodellacasa implemented, via `--pretty` argument

[2018-11-21 14:33] #478 closed

[2018-11-21 14:50] 0crat commented on #478
Job `gh:zold-io/zold#478` is not assigned, can't get performer

[2018-11-21 14:50] 0crat commented on #478
The job [#478](https://github.com/zold-io/zold/issues/478) is now out of scope

[2018-11-21 14:51] ypshenychka commented on #558
@emilianodellacasa Since there was no solution provided, I can't evaluate this ticket as 'good'. However you spent some time on investigation, so I guess I can mark it as 'acceptable'. Agree?

[2018-11-21 15:45] ypshenychka commented on #558
@0crat quality acceptable

[2018-11-21 15:48] 0crat commented on #558
Order was finished, quality is "acceptable": +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-21 15:48] 0crat commented on #558
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-21 16:47] emilianodellacasa commented on #553
@yegor256 you are right, I will check it

[2018-11-22 05:12] yegor256 commented on #562
@rultor release, tag is `0.16.28`

[2018-11-22 05:14] rultor commented on #562
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16614-440914708)

[2018-11-22 05:42] 0crat commented on #562
Job `gh:zold-io/zold#562` is not assigned, can't get performer

[2018-11-22 05:42] 0crat commented on #562
This job is not in scope

[2018-11-22 07:54] yegor256 opened #563 "deadlocks"
Under heavy load we experience locking deadlocks, while merging

[2018-11-22 07:55] 0crat commented on #563
The job [#563](https://github.com/zold-io/zold/issues/563) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZPZR9FS/0bc3bbc6-8930-4697-aae7-3dabebae4763); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-11-22 07:55] 0crat commented on #563
Job `gh:zold-io/zold#563` already assigned to @yegor256, can't assign to @yegor256

[2018-11-22 07:55] 0crat commented on #563
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-22 07:55] 0crat commented on #563
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-22 07:55] 0crat commented on #563
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-22 08:39] yegor256 commented on #563
@rultor release, tag is `0.16.29`

[2018-11-22 08:41] rultor commented on #563
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16618-440953409)

[2018-11-22 08:50] emilianodellacasa commented on #553
@yegor256 I created PR #564

[2018-11-22 08:50] emilianodellacasa commented on #553
@0crat wait - pull request created, waiting for approval or rejection

[2018-11-22 08:51] 0crat commented on #553
@emilianodellacasa The impediment for [#553](https://github.com/zold-io/zold/issues/553) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-22 08:52] rultor commented on #563
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16618-440953409) (took me 9min)

[2018-11-22 09:00] #563 closed

[2018-11-22 09:18] 0crat commented on #563
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-22 09:19] 0crat commented on #563
The job [#563](https://github.com/zold-io/zold/issues/563) is now out of scope

[2018-11-22 09:19] 0crat commented on #563
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-22 09:37] emilianodellacasa opened #565 "Error with new logging system"
Now a couple of tests are failing, probably due to the new logging system.

A sample error is:

Error:
TestZold#test_redeploy_on_upgrade:
ArgumentError: invalid byte sequence in US-ASCII
    /home/emiliano/zold/lib/zold/log.rb:67:in `gsub'
...
    /home/emiliano/zold/test/test_zold.rb:40:in `block (2 levels) in <class:TestZold>'

[2018-11-22 09:37] 0crat commented on #565
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-22 11:02] yegor256 opened #566 "self loops in remotes"
`Remotes.defaults()` don't take into account `--ignore-nodes`

[2018-11-22 11:08] #566 closed